@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Viz.Charts.BaseChartOptions>

<div id="@Id"></div>

@functions {
	public BaseChart() : base("BaseChart") { }
	protected override DevExpress.Viz.Charts.BaseChartOptions CreateOptions() {
		return new DevExpress.Viz.Charts.BaseChartOptions {
			adaptiveLayout = adaptiveLayout,
			animation = animation,
			customizeLabel = customizeLabel,
			customizePoint = customizePoint,
			dataSource = dataSource,
			legend = legend,
			palette = palette,
			paletteExtensionMode = paletteExtensionMode,
			pointSelectionMode = pointSelectionMode,
			series = series,
			tooltip = tooltip,
			onDoneEnabled = onDoneEnabled,
			onPointClickEnabled = onPointClickEnabled,
			onPointHoverChangedEnabled = onPointHoverChangedEnabled,
			onPointSelectionChangedEnabled = onPointSelectionChangedEnabled,
			onTooltipHiddenEnabled = onTooltipHiddenEnabled,
			onTooltipShownEnabled = onTooltipShownEnabled,
		};
	}
	protected override void Init(DevExpress.Viz.Charts.BaseChartOptions options) {
		DevExpress.Viz.BaseChartInterop.Init(Id, options);
	}
	object adaptiveLayout;
	public object AdaptiveLayout {
		get => isInitialized ? DevExpress.Viz.BaseChartInterop.GetAdaptiveLayout(Id) : adaptiveLayout;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseChartInterop.SetAdaptiveLayout(Id, value);
			} else {
				this.adaptiveLayout = value;
			}
		}
	}
	object animation;
	public object Animation {
		get => isInitialized ? DevExpress.Viz.BaseChartInterop.GetAnimation(Id) : animation;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseChartInterop.SetAnimation(Id, value);
			} else {
				this.animation = value;
			}
		}
	}
	object customizeLabel;
	public object CustomizeLabel {
		get => isInitialized ? DevExpress.Viz.BaseChartInterop.GetCustomizeLabel(Id) : customizeLabel;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseChartInterop.SetCustomizeLabel(Id, value);
			} else {
				this.customizeLabel = value;
			}
		}
	}
	object customizePoint;
	public object CustomizePoint {
		get => isInitialized ? DevExpress.Viz.BaseChartInterop.GetCustomizePoint(Id) : customizePoint;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseChartInterop.SetCustomizePoint(Id, value);
			} else {
				this.customizePoint = value;
			}
		}
	}
	object dataSource;
	public object DataSource {
		get => isInitialized ? DevExpress.Viz.BaseChartInterop.GetDataSource(Id) : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseChartInterop.SetDataSource(Id, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	object legend;
	public object Legend {
		get => isInitialized ? DevExpress.Viz.BaseChartInterop.GetLegend(Id) : legend;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseChartInterop.SetLegend(Id, value);
			} else {
				this.legend = value;
			}
		}
	}
	object palette;
	public object Palette {
		get => isInitialized ? DevExpress.Viz.BaseChartInterop.GetPalette(Id) : palette;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseChartInterop.SetPalette(Id, value);
			} else {
				this.palette = value;
			}
		}
	}
	string paletteExtensionMode;
	public string PaletteExtensionMode {
		get => isInitialized ? DevExpress.Viz.BaseChartInterop.GetPaletteExtensionMode(Id) : paletteExtensionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseChartInterop.SetPaletteExtensionMode(Id, value);
			} else {
				this.paletteExtensionMode = value;
			}
		}
	}
	string pointSelectionMode;
	public string PointSelectionMode {
		get => isInitialized ? DevExpress.Viz.BaseChartInterop.GetPointSelectionMode(Id) : pointSelectionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseChartInterop.SetPointSelectionMode(Id, value);
			} else {
				this.pointSelectionMode = value;
			}
		}
	}
	object series;
	public object Series {
		get => isInitialized ? DevExpress.Viz.BaseChartInterop.GetSeries(Id) : series;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseChartInterop.SetSeries(Id, value);
			} else {
				this.series = value;
			}
		}
	}
	object tooltip;
	public object Tooltip {
		get => isInitialized ? DevExpress.Viz.BaseChartInterop.GetTooltip(Id) : tooltip;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseChartInterop.SetTooltip(Id, value);
			} else {
				this.tooltip = value;
			}
		}
	}
	bool? onDoneEnabled;
	public bool? OnDoneEnabled {
		get => onDoneEnabled;
		set => this.onDoneEnabled = value;
	}
	bool? onPointClickEnabled;
	public bool? OnPointClickEnabled {
		get => onPointClickEnabled;
		set => this.onPointClickEnabled = value;
	}
	bool? onPointHoverChangedEnabled;
	public bool? OnPointHoverChangedEnabled {
		get => onPointHoverChangedEnabled;
		set => this.onPointHoverChangedEnabled = value;
	}
	bool? onPointSelectionChangedEnabled;
	public bool? OnPointSelectionChangedEnabled {
		get => onPointSelectionChangedEnabled;
		set => this.onPointSelectionChangedEnabled = value;
	}
	bool? onTooltipHiddenEnabled;
	public bool? OnTooltipHiddenEnabled {
		get => onTooltipHiddenEnabled;
		set => this.onTooltipHiddenEnabled = value;
	}
	bool? onTooltipShownEnabled;
	public bool? OnTooltipShownEnabled {
		get => onTooltipShownEnabled;
		set => this.onTooltipShownEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Viz.BaseChartInterop.Done += BaseChart_Done;
		DevExpress.Viz.BaseChartInterop.PointClick += BaseChart_PointClick;
		DevExpress.Viz.BaseChartInterop.PointHoverChanged += BaseChart_PointHoverChanged;
		DevExpress.Viz.BaseChartInterop.PointSelectionChanged += BaseChart_PointSelectionChanged;
		DevExpress.Viz.BaseChartInterop.TooltipHidden += BaseChart_TooltipHidden;
		DevExpress.Viz.BaseChartInterop.TooltipShown += BaseChart_TooltipShown;
	}
	public Action Done { get; set; }
	void BaseChart_Done(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Done?.Invoke();
		}
	}
	public Action PointClick { get; set; }
	void BaseChart_PointClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			PointClick?.Invoke();
		}
	}
	public Action PointHoverChanged { get; set; }
	void BaseChart_PointHoverChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			PointHoverChanged?.Invoke();
		}
	}
	public Action PointSelectionChanged { get; set; }
	void BaseChart_PointSelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			PointSelectionChanged?.Invoke();
		}
	}
	public Action TooltipHidden { get; set; }
	void BaseChart_TooltipHidden(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TooltipHidden?.Invoke();
		}
	}
	public Action TooltipShown { get; set; }
	void BaseChart_TooltipShown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TooltipShown?.Invoke();
		}
	}
	public void ClearSelection() {
		DevExpress.Viz.BaseChartInterop.ClearSelection(Id);
	}
	public object GetAllSeries() {
		return DevExpress.Viz.BaseChartInterop.GetAllSeries(Id);
	}
	public object GetDataSourceEx() {
		return DevExpress.Viz.BaseChartInterop.GetDataSourceEx(Id);
	}
	public object GetSeriesByName(object seriesName) {
		return DevExpress.Viz.BaseChartInterop.GetSeriesByName(Id, seriesName);
	}
	public object GetSeriesByPos(float seriesIndex) {
		return DevExpress.Viz.BaseChartInterop.GetSeriesByPos(Id, seriesIndex);
	}
	public void HideTooltip() {
		DevExpress.Viz.BaseChartInterop.HideTooltip(Id);
	}
	public void Render() {
		DevExpress.Viz.BaseChartInterop.Render(Id);
	}
	public void Render(object renderOptions) {
		DevExpress.Viz.BaseChartInterop.Render(Id, renderOptions);
	}
	public void Dispose() {
		DevExpress.Viz.BaseChartInterop.Done -= BaseChart_Done;
		DevExpress.Viz.BaseChartInterop.PointClick -= BaseChart_PointClick;
		DevExpress.Viz.BaseChartInterop.PointHoverChanged -= BaseChart_PointHoverChanged;
		DevExpress.Viz.BaseChartInterop.PointSelectionChanged -= BaseChart_PointSelectionChanged;
		DevExpress.Viz.BaseChartInterop.TooltipHidden -= BaseChart_TooltipHidden;
		DevExpress.Viz.BaseChartInterop.TooltipShown -= BaseChart_TooltipShown;
	}
}
