@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Viz.Sparklines.BaseSparklineOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public BaseSparkline() : base("BaseSparkline") { }
	protected override DevExpress.Viz.Sparklines.BaseSparklineOptions CreateOptions() {
		return new DevExpress.Viz.Sparklines.BaseSparklineOptions {
			tooltip = tooltip,
			onTooltipHiddenEnabled = onTooltipHiddenEnabled,
			onTooltipShownEnabled = onTooltipShownEnabled,
		};
	}
	protected override Task Init(DevExpress.Viz.Sparklines.BaseSparklineOptions options) {
return 		DevExpress.Viz.BaseSparklineInterop.Init(dxTarget, options);
	}
	object tooltip;
	[Parameter]
	object Tooltip {
		get => isInitialized ? DevExpress.Viz.BaseSparklineInterop.GetTooltip(dxTarget).Result : tooltip;
		set {
			if (isInitialized) {
				DevExpress.Viz.BaseSparklineInterop.SetTooltip(dxTarget, value);
			} else {
				this.tooltip = value;
			}
		}
	}
	bool? onTooltipHiddenEnabled;
	[Parameter]
	bool? OnTooltipHiddenEnabled {
		get => onTooltipHiddenEnabled;
		set => this.onTooltipHiddenEnabled = value;
	}
	bool? onTooltipShownEnabled;
	[Parameter]
	bool? OnTooltipShownEnabled {
		get => onTooltipShownEnabled;
		set => this.onTooltipShownEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Viz.BaseSparklineInterop.TooltipHidden += BaseSparkline_TooltipHidden;
		DevExpress.Viz.BaseSparklineInterop.TooltipShown += BaseSparkline_TooltipShown;
	}
	[Parameter]
	Action TooltipHidden { get; set; }
	void BaseSparkline_TooltipHidden(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TooltipHidden?.Invoke();
		}
	}
	[Parameter]
	Action TooltipShown { get; set; }
	void BaseSparkline_TooltipShown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TooltipShown?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Viz.BaseSparklineInterop.TooltipHidden -= BaseSparkline_TooltipHidden;
		DevExpress.Viz.BaseSparklineInterop.TooltipShown -= BaseSparkline_TooltipShown;
	}
}
