
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxAccordionOptions>

<div id="@Id"  @ref="dxTarget"></div>

@functions {
	ElementReference dxTarget;
	public DxAccordion() : base("DxAccordion") { }
	protected override DevExpress.Ui.DxAccordionOptions CreateOptions() {
		return new DevExpress.Ui.DxAccordionOptions {
			animationDuration = animationDuration,
			collapsible = collapsible,
			deferRendering = deferRendering,
			focusStateEnabled = focusStateEnabled,
			height = height,
			hoverStateEnabled = hoverStateEnabled,
			itemTemplate = itemTemplate,
			itemTitleTemplate = itemTitleTemplate,
			multiple = multiple,
			selectedIndex = selectedIndex,
			dataSource = dataSource,
			itemHoldTimeout = itemHoldTimeout,
			items = items,
			keyExpr = keyExpr,
			noDataText = noDataText,
			selectedItem = selectedItem,
			selectedItemKeys = selectedItemKeys,
			selectedItems = selectedItems,
			accessKey = accessKey,
			activeStateEnabled = activeStateEnabled,
			disabled = disabled,
			hint = hint,
			tabIndex = tabIndex,
			visible = visible,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			rtlEnabled = rtlEnabled,
			width = width,
			onItemTitleClickEnabled = onItemTitleClickEnabled,
			onItemClickEnabled = onItemClickEnabled,
			onItemContextMenuEnabled = onItemContextMenuEnabled,
			onItemHoldEnabled = onItemHoldEnabled,
			onItemRenderedEnabled = onItemRenderedEnabled,
			onSelectionChangedEnabled = onSelectionChangedEnabled,
			onContentReadyEnabled = onContentReadyEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override ValueTask<object> Init(DevExpress.Ui.DxAccordionOptions options) {
		return DevExpress.Ui.DxAccordionInterop.Init(dxTarget, options);
	}
	float? animationDuration;
	[Parameter] public
	float? AnimationDuration {
		get => isInitialized ? (float?)DevExpress.Ui.DxAccordionInterop.GetAnimationDuration(dxTarget).Result : animationDuration;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetAnimationDuration(dxTarget, value);
			} else {
				this.animationDuration = value;
			}
		}
	}
	bool? collapsible;
	[Parameter] public
	bool? Collapsible {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetCollapsible(dxTarget).Result : collapsible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetCollapsible(dxTarget, value);
			} else {
				this.collapsible = value;
			}
		}
	}
	bool? deferRendering;
	[Parameter] public
	bool? DeferRendering {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetDeferRendering(dxTarget).Result : deferRendering;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetDeferRendering(dxTarget, value);
			} else {
				this.deferRendering = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter] public
	bool? FocusStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetFocusStateEnabled(dxTarget).Result : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetFocusStateEnabled(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	object height;
	[Parameter] public
	object Height {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetHeight(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetHeight(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter] public
	bool? HoverStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetHoverStateEnabled(dxTarget).Result : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetHoverStateEnabled(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	object itemTemplate;
	[Parameter] public
	object ItemTemplate {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetItemTemplate(dxTarget).Result : itemTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetItemTemplate(dxTarget, value);
			} else {
				this.itemTemplate = value;
			}
		}
	}
	object itemTitleTemplate;
	[Parameter] public
	object ItemTitleTemplate {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetItemTitleTemplate(dxTarget).Result : itemTitleTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetItemTitleTemplate(dxTarget, value);
			} else {
				this.itemTitleTemplate = value;
			}
		}
	}
	bool? multiple;
	[Parameter] public
	bool? Multiple {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetMultiple(dxTarget).Result : multiple;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetMultiple(dxTarget, value);
			} else {
				this.multiple = value;
			}
		}
	}
	float? selectedIndex;
	[Parameter] public
	float? SelectedIndex {
		get => isInitialized ? (float?)DevExpress.Ui.DxAccordionInterop.GetSelectedIndex(dxTarget).Result : selectedIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetSelectedIndex(dxTarget, value);
			} else {
				this.selectedIndex = value;
			}
		}
	}
	object dataSource;
	[Parameter] public
	object DataSource {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetDataSource(dxTarget).Result : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetDataSource(dxTarget, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	float? itemHoldTimeout;
	[Parameter] public
	float? ItemHoldTimeout {
		get => isInitialized ? (float?)DevExpress.Ui.DxAccordionInterop.GetItemHoldTimeout(dxTarget).Result : itemHoldTimeout;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetItemHoldTimeout(dxTarget, value);
			} else {
				this.itemHoldTimeout = value;
			}
		}
	}
	object items;
	[Parameter] public
	object Items {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetItems(dxTarget).Result : items;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetItems(dxTarget, value);
			} else {
				this.items = value;
			}
		}
	}
	object keyExpr;
	[Parameter] public
	object KeyExpr {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetKeyExpr(dxTarget).Result : keyExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetKeyExpr(dxTarget, value);
			} else {
				this.keyExpr = value;
			}
		}
	}
	string noDataText;
	[Parameter] public
	string NoDataText {
		get => isInitialized ? (string)DevExpress.Ui.DxAccordionInterop.GetNoDataText(dxTarget).Result : noDataText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetNoDataText(dxTarget, value);
			} else {
				this.noDataText = value;
			}
		}
	}
	object selectedItem;
	[Parameter] public
	object SelectedItem {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetSelectedItem(dxTarget).Result : selectedItem;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetSelectedItem(dxTarget, value);
			} else {
				this.selectedItem = value;
			}
		}
	}
	object selectedItemKeys;
	[Parameter] public
	object SelectedItemKeys {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetSelectedItemKeys(dxTarget).Result : selectedItemKeys;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetSelectedItemKeys(dxTarget, value);
			} else {
				this.selectedItemKeys = value;
			}
		}
	}
	object selectedItems;
	[Parameter] public
	object SelectedItems {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetSelectedItems(dxTarget).Result : selectedItems;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetSelectedItems(dxTarget, value);
			} else {
				this.selectedItems = value;
			}
		}
	}
	string accessKey;
	[Parameter] public
	string AccessKey {
		get => isInitialized ? (string)DevExpress.Ui.DxAccordionInterop.GetAccessKey(dxTarget).Result : accessKey;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetAccessKey(dxTarget, value);
			} else {
				this.accessKey = value;
			}
		}
	}
	bool? activeStateEnabled;
	[Parameter] public
	bool? ActiveStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetActiveStateEnabled(dxTarget).Result : activeStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetActiveStateEnabled(dxTarget, value);
			} else {
				this.activeStateEnabled = value;
			}
		}
	}
	bool? disabled;
	[Parameter] public
	bool? Disabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetDisabled(dxTarget).Result : disabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetDisabled(dxTarget, value);
			} else {
				this.disabled = value;
			}
		}
	}
	string hint;
	[Parameter] public
	string Hint {
		get => isInitialized ? (string)DevExpress.Ui.DxAccordionInterop.GetHint(dxTarget).Result : hint;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetHint(dxTarget, value);
			} else {
				this.hint = value;
			}
		}
	}
	float? tabIndex;
	[Parameter] public
	float? TabIndex {
		get => isInitialized ? (float?)DevExpress.Ui.DxAccordionInterop.GetTabIndex(dxTarget).Result : tabIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetTabIndex(dxTarget, value);
			} else {
				this.tabIndex = value;
			}
		}
	}
	bool? visible;
	[Parameter] public
	bool? Visible {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetVisible(dxTarget).Result : visible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetVisible(dxTarget, value);
			} else {
				this.visible = value;
			}
		}
	}
	object bindingOptions;
	[Parameter] public
	object BindingOptions {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetBindingOptions(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter] public
	object ElementAttr {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetElementAttr(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetElementAttr(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter] public
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetRtlEnabled(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object width;
	[Parameter] public
	object Width {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetWidth(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetWidth(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onItemTitleClickEnabled;
	[Parameter] public
	bool? OnItemTitleClickEnabled {
		get => onItemTitleClickEnabled;
		set => this.onItemTitleClickEnabled = value;
	}
	bool? onItemClickEnabled;
	[Parameter] public
	bool? OnItemClickEnabled {
		get => onItemClickEnabled;
		set => this.onItemClickEnabled = value;
	}
	bool? onItemContextMenuEnabled;
	[Parameter] public
	bool? OnItemContextMenuEnabled {
		get => onItemContextMenuEnabled;
		set => this.onItemContextMenuEnabled = value;
	}
	bool? onItemHoldEnabled;
	[Parameter] public
	bool? OnItemHoldEnabled {
		get => onItemHoldEnabled;
		set => this.onItemHoldEnabled = value;
	}
	bool? onItemRenderedEnabled;
	[Parameter] public
	bool? OnItemRenderedEnabled {
		get => onItemRenderedEnabled;
		set => this.onItemRenderedEnabled = value;
	}
	bool? onSelectionChangedEnabled;
	[Parameter] public
	bool? OnSelectionChangedEnabled {
		get => onSelectionChangedEnabled;
		set => this.onSelectionChangedEnabled = value;
	}
	bool? onContentReadyEnabled;
	[Parameter] public
	bool? OnContentReadyEnabled {
		get => onContentReadyEnabled;
		set => this.onContentReadyEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter] public
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter] public
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter] public
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		DevExpress.Ui.DxAccordionInterop.ItemTitleClick += DxAccordion_ItemTitleClick;
		DevExpress.Ui.DxAccordionInterop.ItemClick += DxAccordion_ItemClick;
		DevExpress.Ui.DxAccordionInterop.ItemContextMenu += DxAccordion_ItemContextMenu;
		DevExpress.Ui.DxAccordionInterop.ItemHold += DxAccordion_ItemHold;
		DevExpress.Ui.DxAccordionInterop.ItemRendered += DxAccordion_ItemRendered;
		DevExpress.Ui.DxAccordionInterop.SelectionChanged += DxAccordion_SelectionChanged;
		DevExpress.Ui.DxAccordionInterop.ContentReady += DxAccordion_ContentReady;
		DevExpress.Ui.DxAccordionInterop.Disposing += DxAccordion_Disposing;
		DevExpress.Ui.DxAccordionInterop.OptionChanged += DxAccordion_OptionChanged;
		DevExpress.Ui.DxAccordionInterop.Initialized += DxAccordion_Initialized;
	}
	[Parameter] public
	Action ItemTitleClick { get; set; }
	void DxAccordion_ItemTitleClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemTitleClick?.Invoke();
		}
	}
	[Parameter] public
	Action ItemClick { get; set; }
	void DxAccordion_ItemClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemClick?.Invoke();
		}
	}
	[Parameter] public
	Action ItemContextMenu { get; set; }
	void DxAccordion_ItemContextMenu(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemContextMenu?.Invoke();
		}
	}
	[Parameter] public
	Action ItemHold { get; set; }
	void DxAccordion_ItemHold(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemHold?.Invoke();
		}
	}
	[Parameter] public
	Action ItemRendered { get; set; }
	void DxAccordion_ItemRendered(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemRendered?.Invoke();
		}
	}
	[Parameter] public
	Action SelectionChanged { get; set; }
	void DxAccordion_SelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SelectionChanged?.Invoke();
		}
	}
	[Parameter] public
	Action ContentReady { get; set; }
	void DxAccordion_ContentReady(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContentReady?.Invoke();
		}
	}
	[Parameter] public
	Action Disposing { get; set; }
	void DxAccordion_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter] public
	Action OptionChanged { get; set; }
	void DxAccordion_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter] public
	Action Initialized { get; set; }
	void DxAccordion_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public object CollapseItem(float index) {
		return DevExpress.Ui.DxAccordionInterop.CollapseItem(dxTarget, index).Result;
	}
	public object ExpandItem(float index) {
		return DevExpress.Ui.DxAccordionInterop.ExpandItem(dxTarget, index).Result;
	}
	public object UpdateDimensions() {
		return DevExpress.Ui.DxAccordionInterop.UpdateDimensions(dxTarget).Result;
	}
	public void Dispose() {
		DevExpress.Ui.DxAccordionInterop.ItemTitleClick -= DxAccordion_ItemTitleClick;
		DevExpress.Ui.DxAccordionInterop.ItemClick -= DxAccordion_ItemClick;
		DevExpress.Ui.DxAccordionInterop.ItemContextMenu -= DxAccordion_ItemContextMenu;
		DevExpress.Ui.DxAccordionInterop.ItemHold -= DxAccordion_ItemHold;
		DevExpress.Ui.DxAccordionInterop.ItemRendered -= DxAccordion_ItemRendered;
		DevExpress.Ui.DxAccordionInterop.SelectionChanged -= DxAccordion_SelectionChanged;
		DevExpress.Ui.DxAccordionInterop.ContentReady -= DxAccordion_ContentReady;
		DevExpress.Ui.DxAccordionInterop.Disposing -= DxAccordion_Disposing;
		DevExpress.Ui.DxAccordionInterop.OptionChanged -= DxAccordion_OptionChanged;
		DevExpress.Ui.DxAccordionInterop.Initialized -= DxAccordion_Initialized;
	}
}
