@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxAccordionOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxAccordion() : base("DxAccordion") { }
	protected override DevExpress.Ui.DxAccordionOptions CreateOptions() {
		return new DevExpress.Ui.DxAccordionOptions {
			animationDuration = animationDuration,
			collapsible = collapsible,
			deferRendering = deferRendering,
			focusStateEnabled = focusStateEnabled,
			height = height,
			hoverStateEnabled = hoverStateEnabled,
			itemTemplate = itemTemplate,
			itemTitleTemplate = itemTitleTemplate,
			multiple = multiple,
			repaintChangesOnly = repaintChangesOnly,
			selectedIndex = selectedIndex,
			dataSource = dataSource,
			itemHoldTimeout = itemHoldTimeout,
			items = items,
			keyExpr = keyExpr,
			noDataText = noDataText,
			selectedItem = selectedItem,
			selectedItemKeys = selectedItemKeys,
			selectedItems = selectedItems,
			accessKey = accessKey,
			activeStateEnabled = activeStateEnabled,
			disabled = disabled,
			hint = hint,
			tabIndex = tabIndex,
			visible = visible,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			rtlEnabled = rtlEnabled,
			width = width,
			onItemTitleClickEnabled = onItemTitleClickEnabled,
			onItemClickEnabled = onItemClickEnabled,
			onItemContextMenuEnabled = onItemContextMenuEnabled,
			onItemHoldEnabled = onItemHoldEnabled,
			onItemRenderedEnabled = onItemRenderedEnabled,
			onSelectionChangedEnabled = onSelectionChangedEnabled,
			onContentReadyEnabled = onContentReadyEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.DxAccordionOptions options) {
		return DevExpress.Ui.DxAccordionInterop.Init(dxTarget, options);
	}
	float? animationDuration;
	[Parameter]
	float? AnimationDuration {
		get => isInitialized ? (float?)DevExpress.Ui.DxAccordionInterop.GetAnimationDurationOption(dxTarget).Result : animationDuration;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetAnimationDurationOption(dxTarget, value);
			} else {
				this.animationDuration = value;
			}
		}
	}
	bool? collapsible;
	[Parameter]
	bool? Collapsible {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetCollapsibleOption(dxTarget).Result : collapsible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetCollapsibleOption(dxTarget, value);
			} else {
				this.collapsible = value;
			}
		}
	}
	bool? deferRendering;
	[Parameter]
	bool? DeferRendering {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetDeferRenderingOption(dxTarget).Result : deferRendering;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetDeferRenderingOption(dxTarget, value);
			} else {
				this.deferRendering = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter]
	bool? FocusStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetFocusStateEnabledOption(dxTarget).Result : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetFocusStateEnabledOption(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	object height;
	[Parameter]
	object Height {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetHeightOption(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetHeightOption(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter]
	bool? HoverStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetHoverStateEnabledOption(dxTarget).Result : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetHoverStateEnabledOption(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	object itemTemplate;
	[Parameter]
	object ItemTemplate {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetItemTemplateOption(dxTarget).Result : itemTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetItemTemplateOption(dxTarget, value);
			} else {
				this.itemTemplate = value;
			}
		}
	}
	object itemTitleTemplate;
	[Parameter]
	object ItemTitleTemplate {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetItemTitleTemplateOption(dxTarget).Result : itemTitleTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetItemTitleTemplateOption(dxTarget, value);
			} else {
				this.itemTitleTemplate = value;
			}
		}
	}
	bool? multiple;
	[Parameter]
	bool? Multiple {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetMultipleOption(dxTarget).Result : multiple;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetMultipleOption(dxTarget, value);
			} else {
				this.multiple = value;
			}
		}
	}
	bool? repaintChangesOnly;
	[Parameter]
	bool? RepaintChangesOnly {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetRepaintChangesOnlyOption(dxTarget).Result : repaintChangesOnly;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetRepaintChangesOnlyOption(dxTarget, value);
			} else {
				this.repaintChangesOnly = value;
			}
		}
	}
	float? selectedIndex;
	[Parameter]
	float? SelectedIndex {
		get => isInitialized ? (float?)DevExpress.Ui.DxAccordionInterop.GetSelectedIndexOption(dxTarget).Result : selectedIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetSelectedIndexOption(dxTarget, value);
			} else {
				this.selectedIndex = value;
			}
		}
	}
	object dataSource;
	[Parameter]
	object DataSource {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetDataSourceOption(dxTarget).Result : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetDataSourceOption(dxTarget, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	float? itemHoldTimeout;
	[Parameter]
	float? ItemHoldTimeout {
		get => isInitialized ? (float?)DevExpress.Ui.DxAccordionInterop.GetItemHoldTimeoutOption(dxTarget).Result : itemHoldTimeout;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetItemHoldTimeoutOption(dxTarget, value);
			} else {
				this.itemHoldTimeout = value;
			}
		}
	}
	object items;
	[Parameter]
	object Items {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetItemsOption(dxTarget).Result : items;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetItemsOption(dxTarget, value);
			} else {
				this.items = value;
			}
		}
	}
	object keyExpr;
	[Parameter]
	object KeyExpr {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetKeyExprOption(dxTarget).Result : keyExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetKeyExprOption(dxTarget, value);
			} else {
				this.keyExpr = value;
			}
		}
	}
	string noDataText;
	[Parameter]
	string NoDataText {
		get => isInitialized ? (string)DevExpress.Ui.DxAccordionInterop.GetNoDataTextOption(dxTarget).Result : noDataText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetNoDataTextOption(dxTarget, value);
			} else {
				this.noDataText = value;
			}
		}
	}
	object selectedItem;
	[Parameter]
	object SelectedItem {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetSelectedItemOption(dxTarget).Result : selectedItem;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetSelectedItemOption(dxTarget, value);
			} else {
				this.selectedItem = value;
			}
		}
	}
	object selectedItemKeys;
	[Parameter]
	object SelectedItemKeys {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetSelectedItemKeysOption(dxTarget).Result : selectedItemKeys;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetSelectedItemKeysOption(dxTarget, value);
			} else {
				this.selectedItemKeys = value;
			}
		}
	}
	object selectedItems;
	[Parameter]
	object SelectedItems {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetSelectedItemsOption(dxTarget).Result : selectedItems;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetSelectedItemsOption(dxTarget, value);
			} else {
				this.selectedItems = value;
			}
		}
	}
	string accessKey;
	[Parameter]
	string AccessKey {
		get => isInitialized ? (string)DevExpress.Ui.DxAccordionInterop.GetAccessKeyOption(dxTarget).Result : accessKey;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetAccessKeyOption(dxTarget, value);
			} else {
				this.accessKey = value;
			}
		}
	}
	bool? activeStateEnabled;
	[Parameter]
	bool? ActiveStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetActiveStateEnabledOption(dxTarget).Result : activeStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetActiveStateEnabledOption(dxTarget, value);
			} else {
				this.activeStateEnabled = value;
			}
		}
	}
	bool? disabled;
	[Parameter]
	bool? Disabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetDisabledOption(dxTarget).Result : disabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetDisabledOption(dxTarget, value);
			} else {
				this.disabled = value;
			}
		}
	}
	string hint;
	[Parameter]
	string Hint {
		get => isInitialized ? (string)DevExpress.Ui.DxAccordionInterop.GetHintOption(dxTarget).Result : hint;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetHintOption(dxTarget, value);
			} else {
				this.hint = value;
			}
		}
	}
	float? tabIndex;
	[Parameter]
	float? TabIndex {
		get => isInitialized ? (float?)DevExpress.Ui.DxAccordionInterop.GetTabIndexOption(dxTarget).Result : tabIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetTabIndexOption(dxTarget, value);
			} else {
				this.tabIndex = value;
			}
		}
	}
	bool? visible;
	[Parameter]
	bool? Visible {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetVisibleOption(dxTarget).Result : visible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetVisibleOption(dxTarget, value);
			} else {
				this.visible = value;
			}
		}
	}
	object bindingOptions;
	[Parameter]
	object BindingOptions {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetBindingOptionsOption(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetBindingOptionsOption(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter]
	object ElementAttr {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetElementAttrOption(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetElementAttrOption(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter]
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxAccordionInterop.GetRtlEnabledOption(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetRtlEnabledOption(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object width;
	[Parameter]
	object Width {
		get => isInitialized ? DevExpress.Ui.DxAccordionInterop.GetWidthOption(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAccordionInterop.SetWidthOption(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onItemTitleClickEnabled;
	[Parameter]
	bool? OnItemTitleClickEnabled {
		get => onItemTitleClickEnabled;
		set => this.onItemTitleClickEnabled = value;
	}
	bool? onItemClickEnabled;
	[Parameter]
	bool? OnItemClickEnabled {
		get => onItemClickEnabled;
		set => this.onItemClickEnabled = value;
	}
	bool? onItemContextMenuEnabled;
	[Parameter]
	bool? OnItemContextMenuEnabled {
		get => onItemContextMenuEnabled;
		set => this.onItemContextMenuEnabled = value;
	}
	bool? onItemHoldEnabled;
	[Parameter]
	bool? OnItemHoldEnabled {
		get => onItemHoldEnabled;
		set => this.onItemHoldEnabled = value;
	}
	bool? onItemRenderedEnabled;
	[Parameter]
	bool? OnItemRenderedEnabled {
		get => onItemRenderedEnabled;
		set => this.onItemRenderedEnabled = value;
	}
	bool? onSelectionChangedEnabled;
	[Parameter]
	bool? OnSelectionChangedEnabled {
		get => onSelectionChangedEnabled;
		set => this.onSelectionChangedEnabled = value;
	}
	bool? onContentReadyEnabled;
	[Parameter]
	bool? OnContentReadyEnabled {
		get => onContentReadyEnabled;
		set => this.onContentReadyEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter]
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter]
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter]
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxAccordionInterop.ItemTitleClick += DxAccordion_ItemTitleClick;
		DevExpress.Ui.DxAccordionInterop.ItemClick += DxAccordion_ItemClick;
		DevExpress.Ui.DxAccordionInterop.ItemContextMenu += DxAccordion_ItemContextMenu;
		DevExpress.Ui.DxAccordionInterop.ItemHold += DxAccordion_ItemHold;
		DevExpress.Ui.DxAccordionInterop.ItemRendered += DxAccordion_ItemRendered;
		DevExpress.Ui.DxAccordionInterop.SelectionChanged += DxAccordion_SelectionChanged;
		DevExpress.Ui.DxAccordionInterop.ContentReady += DxAccordion_ContentReady;
		DevExpress.Ui.DxAccordionInterop.Disposing += DxAccordion_Disposing;
		DevExpress.Ui.DxAccordionInterop.OptionChanged += DxAccordion_OptionChanged;
		DevExpress.Ui.DxAccordionInterop.Initialized += DxAccordion_Initialized;
	}
	[Parameter]
	Action ItemTitleClick { get; set; }
	void DxAccordion_ItemTitleClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemTitleClick?.Invoke();
		}
	}
	[Parameter]
	Action ItemClick { get; set; }
	void DxAccordion_ItemClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemClick?.Invoke();
		}
	}
	[Parameter]
	Action ItemContextMenu { get; set; }
	void DxAccordion_ItemContextMenu(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemContextMenu?.Invoke();
		}
	}
	[Parameter]
	Action ItemHold { get; set; }
	void DxAccordion_ItemHold(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemHold?.Invoke();
		}
	}
	[Parameter]
	Action ItemRendered { get; set; }
	void DxAccordion_ItemRendered(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemRendered?.Invoke();
		}
	}
	[Parameter]
	Action SelectionChanged { get; set; }
	void DxAccordion_SelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SelectionChanged?.Invoke();
		}
	}
	[Parameter]
	Action ContentReady { get; set; }
	void DxAccordion_ContentReady(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContentReady?.Invoke();
		}
	}
	[Parameter]
	Action Disposing { get; set; }
	void DxAccordion_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter]
	Action OptionChanged { get; set; }
	void DxAccordion_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter]
	Action Initialized { get; set; }
	void DxAccordion_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public object CollapseItem(float index) {
		return DevExpress.Ui.DxAccordionInterop.CollapseItem(dxTarget, index).Result;
	}
	public object ExpandItem(float index) {
		return DevExpress.Ui.DxAccordionInterop.ExpandItem(dxTarget, index).Result;
	}
	public object UpdateDimensions() {
		return DevExpress.Ui.DxAccordionInterop.UpdateDimensions(dxTarget).Result;
	}
	public void Dispose() {
		DevExpress.Ui.DxAccordionInterop.ItemTitleClick -= DxAccordion_ItemTitleClick;
		DevExpress.Ui.DxAccordionInterop.ItemClick -= DxAccordion_ItemClick;
		DevExpress.Ui.DxAccordionInterop.ItemContextMenu -= DxAccordion_ItemContextMenu;
		DevExpress.Ui.DxAccordionInterop.ItemHold -= DxAccordion_ItemHold;
		DevExpress.Ui.DxAccordionInterop.ItemRendered -= DxAccordion_ItemRendered;
		DevExpress.Ui.DxAccordionInterop.SelectionChanged -= DxAccordion_SelectionChanged;
		DevExpress.Ui.DxAccordionInterop.ContentReady -= DxAccordion_ContentReady;
		DevExpress.Ui.DxAccordionInterop.Disposing -= DxAccordion_Disposing;
		DevExpress.Ui.DxAccordionInterop.OptionChanged -= DxAccordion_OptionChanged;
		DevExpress.Ui.DxAccordionInterop.Initialized -= DxAccordion_Initialized;
	}
}
