@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxActionSheetOptions>

<div id="@Id"></div>

@functions {
	public DxActionSheet() : base("DxActionSheet") { }
	protected override DevExpress.Ui.DxActionSheetOptions CreateOptions() {
		return new DevExpress.Ui.DxActionSheetOptions {
			cancelText = cancelText,
			showCancelButton = showCancelButton,
			showTitle = showTitle,
			target = target,
			title = title,
			usePopover = usePopover,
			visible = visible,
			onCancelClickEnabled = onCancelClickEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxActionSheetOptions options) {
		DevExpress.Ui.DxActionSheetInterop.Init(Id, options);
	}
	string cancelText;
	public string CancelText {
		get => isInitialized ? DevExpress.Ui.DxActionSheetInterop.GetCancelText(Id) : cancelText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxActionSheetInterop.SetCancelText(Id, value);
			} else {
				this.cancelText = value;
			}
		}
	}
	bool? showCancelButton;
	public bool? ShowCancelButton {
		get => isInitialized ? DevExpress.Ui.DxActionSheetInterop.GetShowCancelButton(Id) : showCancelButton;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxActionSheetInterop.SetShowCancelButton(Id, value);
			} else {
				this.showCancelButton = value;
			}
		}
	}
	bool? showTitle;
	public bool? ShowTitle {
		get => isInitialized ? DevExpress.Ui.DxActionSheetInterop.GetShowTitle(Id) : showTitle;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxActionSheetInterop.SetShowTitle(Id, value);
			} else {
				this.showTitle = value;
			}
		}
	}
	object target;
	public object Target {
		get => isInitialized ? DevExpress.Ui.DxActionSheetInterop.GetTarget(Id) : target;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxActionSheetInterop.SetTarget(Id, value);
			} else {
				this.target = value;
			}
		}
	}
	string title;
	public string Title {
		get => isInitialized ? DevExpress.Ui.DxActionSheetInterop.GetTitle(Id) : title;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxActionSheetInterop.SetTitle(Id, value);
			} else {
				this.title = value;
			}
		}
	}
	bool? usePopover;
	public bool? UsePopover {
		get => isInitialized ? DevExpress.Ui.DxActionSheetInterop.GetUsePopover(Id) : usePopover;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxActionSheetInterop.SetUsePopover(Id, value);
			} else {
				this.usePopover = value;
			}
		}
	}
	bool? visible;
	public bool? Visible {
		get => isInitialized ? DevExpress.Ui.DxActionSheetInterop.GetVisible(Id) : visible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxActionSheetInterop.SetVisible(Id, value);
			} else {
				this.visible = value;
			}
		}
	}
	bool? onCancelClickEnabled;
	public bool? OnCancelClickEnabled {
		get => onCancelClickEnabled;
		set => this.onCancelClickEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxActionSheetInterop.CancelClick += DxActionSheet_CancelClick;
	}
	public Action CancelClick { get; set; }
	void DxActionSheet_CancelClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			CancelClick?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Ui.DxActionSheetInterop.CancelClick -= DxActionSheet_CancelClick;
	}
}
