@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxAutocompleteOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxAutocomplete() : base("DxAutocomplete") { }
	protected override DevExpress.Ui.DxAutocompleteOptions CreateOptions() {
		return new DevExpress.Ui.DxAutocompleteOptions {
			maxItemCount = maxItemCount,
			minSearchLength = minSearchLength,
			value = value,
		};
	}
	protected override void Init(DevExpress.Ui.DxAutocompleteOptions options) {
		DevExpress.Ui.DxAutocompleteInterop.Init(dxTarget, options);
	}
	float? maxItemCount;
	[Parameter]
	float? MaxItemCount {
		get => isInitialized ? DevExpress.Ui.DxAutocompleteInterop.GetMaxItemCount(dxTarget) : maxItemCount;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAutocompleteInterop.SetMaxItemCount(dxTarget, value);
			} else {
				this.maxItemCount = value;
			}
		}
	}
	float? minSearchLength;
	[Parameter]
	float? MinSearchLength {
		get => isInitialized ? DevExpress.Ui.DxAutocompleteInterop.GetMinSearchLength(dxTarget) : minSearchLength;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAutocompleteInterop.SetMinSearchLength(dxTarget, value);
			} else {
				this.minSearchLength = value;
			}
		}
	}
	string value;
	[Parameter]
	string Value {
		get => isInitialized ? DevExpress.Ui.DxAutocompleteInterop.GetValue(dxTarget) : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxAutocompleteInterop.SetValue(dxTarget, value);
			} else {
				this.value = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
