@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxBoxOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxBox() : base("DxBox") { }
	protected override DevExpress.Ui.DxBoxOptions CreateOptions() {
		return new DevExpress.Ui.DxBoxOptions {
			align = align,
			crossAlign = crossAlign,
			direction = direction,
		};
	}
	protected override void Init(DevExpress.Ui.DxBoxOptions options) {
		DevExpress.Ui.DxBoxInterop.Init(dxTarget, options);
	}
	string align;
	[Parameter]
	string Align {
		get => isInitialized ? DevExpress.Ui.DxBoxInterop.GetAlign(dxTarget) : align;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxBoxInterop.SetAlign(dxTarget, value);
			} else {
				this.align = value;
			}
		}
	}
	string crossAlign;
	[Parameter]
	string CrossAlign {
		get => isInitialized ? DevExpress.Ui.DxBoxInterop.GetCrossAlign(dxTarget) : crossAlign;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxBoxInterop.SetCrossAlign(dxTarget, value);
			} else {
				this.crossAlign = value;
			}
		}
	}
	string direction;
	[Parameter]
	string Direction {
		get => isInitialized ? DevExpress.Ui.DxBoxInterop.GetDirection(dxTarget) : direction;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxBoxInterop.SetDirection(dxTarget, value);
			} else {
				this.direction = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
