@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxBoxOptions>

<div id="@Id"></div>

@functions {
	public DxBox() : base("DxBox") { }
	protected override DevExpress.Ui.DxBoxOptions CreateOptions() {
		return new DevExpress.Ui.DxBoxOptions {
			align = align,
			crossAlign = crossAlign,
			direction = direction,
		};
	}
	protected override void Init(DevExpress.Ui.DxBoxOptions options) {
		DxBoxInterop.Init(Id, options);
	}
	string align;
	public string Align {
		get => isInitialized ? DxBoxInterop.GetAlign(Id) : align;
		set {
			if (isInitialized) {
				DxBoxInterop.SetAlign(Id, value);
			} else {
				this.align = value;
			}
		}
	}
	string crossAlign;
	public string CrossAlign {
		get => isInitialized ? DxBoxInterop.GetCrossAlign(Id) : crossAlign;
		set {
			if (isInitialized) {
				DxBoxInterop.SetCrossAlign(Id, value);
			} else {
				this.crossAlign = value;
			}
		}
	}
	string direction;
	public string Direction {
		get => isInitialized ? DxBoxInterop.GetDirection(Id) : direction;
		set {
			if (isInitialized) {
				DxBoxInterop.SetDirection(Id, value);
			} else {
				this.direction = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
