
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxButtonOptions>

<div id="@Id"  @ref="dxTarget"></div>

@functions {
    ElementReference dxTarget;
    public DxButton() : base("DxButton") { }
    protected override DevExpress.Ui.DxButtonOptions CreateOptions()
    {
        return new DevExpress.Ui.DxButtonOptions
        {
            activeStateEnabled = activeStateEnabled,
            focusStateEnabled = focusStateEnabled,
            hoverStateEnabled = hoverStateEnabled,
            icon = icon,
            template = template,
            text = text,
            type = type,
            useSubmitBehavior = useSubmitBehavior,
            validationGroup = validationGroup,
            accessKey = accessKey,
            disabled = disabled,
            hint = hint,
            tabIndex = tabIndex,
            visible = visible,
            bindingOptions = bindingOptions,
            elementAttr = elementAttr,
            height = height,
            rtlEnabled = rtlEnabled,
            width = width,
            onClickEnabled = onClickEnabled,
            onContentReadyEnabled = onContentReadyEnabled,
            onDisposingEnabled = onDisposingEnabled,
            onOptionChangedEnabled = onOptionChangedEnabled,
            onInitializedEnabled = onInitializedEnabled,
        };
    }
    protected override ValueTask<object> Init(DevExpress.Ui.DxButtonOptions options)
    {
        return DevExpress.Ui.DxButtonInterop.Init(dxTarget, options);
    }
    bool? activeStateEnabled;
    [Parameter] public
    bool? ActiveStateEnabled
    {
        get => isInitialized ? (bool?)DevExpress.Ui.DxButtonInterop.GetActiveStateEnabled(dxTarget).Result : activeStateEnabled;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetActiveStateEnabled(dxTarget, value);
            }
            else
            {
                this.activeStateEnabled = value;
            }
        }
    }
    bool? focusStateEnabled;
    [Parameter] public
    bool? FocusStateEnabled
    {
        get => isInitialized ? (bool?)DevExpress.Ui.DxButtonInterop.GetFocusStateEnabled(dxTarget).Result : focusStateEnabled;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetFocusStateEnabled(dxTarget, value);
            }
            else
            {
                this.focusStateEnabled = value;
            }
        }
    }
    bool? hoverStateEnabled;
    [Parameter] public
    bool? HoverStateEnabled
    {
        get => isInitialized ? (bool?)DevExpress.Ui.DxButtonInterop.GetHoverStateEnabled(dxTarget).Result : hoverStateEnabled;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetHoverStateEnabled(dxTarget, value);
            }
            else
            {
                this.hoverStateEnabled = value;
            }
        }
    }
    string icon;
    [Parameter] public
    string Icon
    {
        get => isInitialized ? (string)DevExpress.Ui.DxButtonInterop.GetIcon(dxTarget).Result : icon;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetIcon(dxTarget, value);
            }
            else
            {
                this.icon = value;
            }
        }
    }
    object template;
    [Parameter] public
    object Template
    {
        get => isInitialized ? DevExpress.Ui.DxButtonInterop.GetTemplate(dxTarget).Result : template;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetTemplate(dxTarget, value);
            }
            else
            {
                this.template = value;
            }
        }
    }
    string text;
    [Parameter] public
    string Text
    {
        get => isInitialized ? (string)DevExpress.Ui.DxButtonInterop.GetText(dxTarget).Result : text;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetText(dxTarget, value);
            }
            else
            {
                this.text = value;
            }
        }
    }
    string type;
    [Parameter] public
    string Type
    {
        get => isInitialized ? (string)DevExpress.Ui.DxButtonInterop.GetType(dxTarget).Result : type;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetType(dxTarget, value);
            }
            else
            {
                this.type = value;
            }
        }
    }
    bool? useSubmitBehavior;
    [Parameter] public
    bool? UseSubmitBehavior
    {
        get => isInitialized ? (bool?)DevExpress.Ui.DxButtonInterop.GetUseSubmitBehavior(dxTarget).Result : useSubmitBehavior;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetUseSubmitBehavior(dxTarget, value);
            }
            else
            {
                this.useSubmitBehavior = value;
            }
        }
    }
    string validationGroup;
    [Parameter] public
    string ValidationGroup
    {
        get => isInitialized ? (string)DevExpress.Ui.DxButtonInterop.GetValidationGroup(dxTarget).Result : validationGroup;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetValidationGroup(dxTarget, value);
            }
            else
            {
                this.validationGroup = value;
            }
        }
    }
    string accessKey;
    [Parameter] public
    string AccessKey
    {
        get => isInitialized ? (string)DevExpress.Ui.DxButtonInterop.GetAccessKey(dxTarget).Result : accessKey;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetAccessKey(dxTarget, value);
            }
            else
            {
                this.accessKey = value;
            }
        }
    }
    bool? disabled;
    [Parameter] public
    bool? Disabled
    {
        get => isInitialized ? (bool?)DevExpress.Ui.DxButtonInterop.GetDisabled(dxTarget).Result : disabled;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetDisabled(dxTarget, value);
            }
            else
            {
                this.disabled = value;
            }
        }
    }
    string hint;
    [Parameter] public
    string Hint
    {
        get => isInitialized ? (string)DevExpress.Ui.DxButtonInterop.GetHint(dxTarget).Result : hint;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetHint(dxTarget, value);
            }
            else
            {
                this.hint = value;
            }
        }
    }
    float? tabIndex;
    [Parameter] public
    float? TabIndex
    {
        get => isInitialized ? (float?)DevExpress.Ui.DxButtonInterop.GetTabIndex(dxTarget).Result : tabIndex;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetTabIndex(dxTarget, value);
            }
            else
            {
                this.tabIndex = value;
            }
        }
    }
    bool? visible;
    [Parameter] public
    bool? Visible
    {
        get => isInitialized ? (bool?)DevExpress.Ui.DxButtonInterop.GetVisible(dxTarget).Result : visible;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetVisible(dxTarget, value);
            }
            else
            {
                this.visible = value;
            }
        }
    }
    object bindingOptions;
    [Parameter] public
    object BindingOptions
    {
        get => isInitialized ? DevExpress.Ui.DxButtonInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetBindingOptions(dxTarget, value);
            }
            else
            {
                this.bindingOptions = value;
            }
        }
    }
    object elementAttr;
    [Parameter] public
    object ElementAttr
    {
        get => isInitialized ? DevExpress.Ui.DxButtonInterop.GetElementAttr(dxTarget).Result : elementAttr;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetElementAttr(dxTarget, value);
            }
            else
            {
                this.elementAttr = value;
            }
        }
    }
    object height;
    [Parameter] public
    object Height
    {
        get => isInitialized ? DevExpress.Ui.DxButtonInterop.GetHeight(dxTarget).Result : height;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetHeight(dxTarget, value);
            }
            else
            {
                this.height = value;
            }
        }
    }
    bool? rtlEnabled;
    [Parameter] public
    bool? RtlEnabled
    {
        get => isInitialized ? (bool?)DevExpress.Ui.DxButtonInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetRtlEnabled(dxTarget, value);
            }
            else
            {
                this.rtlEnabled = value;
            }
        }
    }
    object width;
    [Parameter] public
    object Width
    {
        get => isInitialized ? DevExpress.Ui.DxButtonInterop.GetWidth(dxTarget).Result : width;
        set
        {
            if (isInitialized)
            {
                DevExpress.Ui.DxButtonInterop.SetWidth(dxTarget, value);
            }
            else
            {
                this.width = value;
            }
        }
    }
    bool? onClickEnabled;
    [Parameter] public
    bool? OnClickEnabled
    {
        get => onClickEnabled;
        set => this.onClickEnabled = value;
    }
    bool? onContentReadyEnabled;
    [Parameter] public
    bool? OnContentReadyEnabled
    {
        get => onContentReadyEnabled;
        set => this.onContentReadyEnabled = value;
    }
    bool? onDisposingEnabled;
    [Parameter] public
    bool? OnDisposingEnabled
    {
        get => onDisposingEnabled;
        set => this.onDisposingEnabled = value;
    }
    bool? onOptionChangedEnabled;
    [Parameter] public
    bool? OnOptionChangedEnabled
    {
        get => onOptionChangedEnabled;
        set => this.onOptionChangedEnabled = value;
    }
    bool? onInitializedEnabled;
    [Parameter] public
    bool? OnInitializedEnabled
    {
        get => onInitializedEnabled;
        set => this.onInitializedEnabled = value;
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        DevExpress.Ui.DxButtonInterop.Click += DxButton_Click;
        DevExpress.Ui.DxButtonInterop.ContentReady += DxButton_ContentReady;
        DevExpress.Ui.DxButtonInterop.Disposing += DxButton_Disposing;
        DevExpress.Ui.DxButtonInterop.OptionChanged += DxButton_OptionChanged;
        DevExpress.Ui.DxButtonInterop.Initialized += DxButton_Initialized;
    }
    [Parameter] public
    Action Click { get; set; }
    void DxButton_Click(object sender, JQueryEventArgs e)
    {
        if (e.Identifier == Id)
        {
            Click?.Invoke();
        }
    }
    [Parameter] public
    Action ContentReady { get; set; }
    void DxButton_ContentReady(object sender, JQueryEventArgs e)
    {
        if (e.Identifier == Id)
        {
            ContentReady?.Invoke();
        }
    }
    [Parameter] public
    Action Disposing { get; set; }
    void DxButton_Disposing(object sender, JQueryEventArgs e)
    {
        if (e.Identifier == Id)
        {
            Disposing?.Invoke();
        }
    }
    [Parameter] public
    Action OptionChanged { get; set; }
    void DxButton_OptionChanged(object sender, JQueryEventArgs e)
    {
        if (e.Identifier == Id)
        {
            OptionChanged?.Invoke();
        }
    }
    [Parameter] public
    Action Initialized { get; set; }
    void DxButton_Initialized(object sender, JQueryEventArgs e)
    {
        if (e.Identifier == Id)
        {
            Initialized?.Invoke();
        }
    }
    public void Dispose()
    {
        DevExpress.Ui.DxButtonInterop.Click -= DxButton_Click;
        DevExpress.Ui.DxButtonInterop.ContentReady -= DxButton_ContentReady;
        DevExpress.Ui.DxButtonInterop.Disposing -= DxButton_Disposing;
        DevExpress.Ui.DxButtonInterop.OptionChanged -= DxButton_OptionChanged;
        DevExpress.Ui.DxButtonInterop.Initialized -= DxButton_Initialized;
    }
}
