
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Viz.Charts.DxChartOptions>

<div id="@Id" @ref:suppressField @ref="dxTarget"></div>

@functions {
	ElementReference dxTarget;
	public DxChart() : base("DxChart") { }
	protected override DevExpress.Viz.Charts.DxChartOptions CreateOptions() {
		return new DevExpress.Viz.Charts.DxChartOptions {
			adjustOnZoom = adjustOnZoom,
			argumentAxis = argumentAxis,
			barGroupPadding = barGroupPadding,
			barGroupWidth = barGroupWidth,
			barWidth = barWidth,
			commonAxisSettings = commonAxisSettings,
			commonPaneSettings = commonPaneSettings,
			commonSeriesSettings = commonSeriesSettings,
			containerBackgroundColor = containerBackgroundColor,
			crosshair = crosshair,
			dataPrepareSettings = dataPrepareSettings,
			defaultPane = defaultPane,
			equalBarWidth = equalBarWidth,
			legend = legend,
			maxBubbleSize = maxBubbleSize,
			minBubbleSize = minBubbleSize,
			negativesAsZeroes = negativesAsZeroes,
			panes = panes,
			resolveLabelOverlapping = resolveLabelOverlapping,
			rotated = rotated,
			scrollBar = scrollBar,
			scrollingMode = scrollingMode,
			series = series,
			seriesSelectionMode = seriesSelectionMode,
			seriesTemplate = seriesTemplate,
			synchronizeMultiAxes = synchronizeMultiAxes,
			tooltip = tooltip,
			useAggregation = useAggregation,
			valueAxis = valueAxis,
			zoomingMode = zoomingMode,
			adaptiveLayout = adaptiveLayout,
			animation = animation,
			customizeLabel = customizeLabel,
			customizePoint = customizePoint,
			dataSource = dataSource,
			palette = palette,
			paletteExtensionMode = paletteExtensionMode,
			pointSelectionMode = pointSelectionMode,
			export = export,
			loadingIndicator = loadingIndicator,
			margin = margin,
			pathModified = pathModified,
			redrawOnResize = redrawOnResize,
			rtlEnabled = rtlEnabled,
			size = size,
			theme = theme,
			title = title,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			height = height,
			width = width,
			onArgumentAxisClickEnabled = onArgumentAxisClickEnabled,
			onLegendClickEnabled = onLegendClickEnabled,
			onSeriesClickEnabled = onSeriesClickEnabled,
			onSeriesHoverChangedEnabled = onSeriesHoverChangedEnabled,
			onSeriesSelectionChangedEnabled = onSeriesSelectionChangedEnabled,
			onZoomEndEnabled = onZoomEndEnabled,
			onZoomStartEnabled = onZoomStartEnabled,
			onDoneEnabled = onDoneEnabled,
			onPointClickEnabled = onPointClickEnabled,
			onPointHoverChangedEnabled = onPointHoverChangedEnabled,
			onPointSelectionChangedEnabled = onPointSelectionChangedEnabled,
			onTooltipHiddenEnabled = onTooltipHiddenEnabled,
			onTooltipShownEnabled = onTooltipShownEnabled,
			onDrawnEnabled = onDrawnEnabled,
			onExportedEnabled = onExportedEnabled,
			onExportingEnabled = onExportingEnabled,
			onFileSavingEnabled = onFileSavingEnabled,
			onIncidentOccurredEnabled = onIncidentOccurredEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override Task Init(DevExpress.Viz.Charts.DxChartOptions options) {
		return DevExpress.Viz.DxChartInterop.Init(dxTarget, options);
	}
	bool? adjustOnZoom;
	[Parameter]
	bool? AdjustOnZoom {
		get => isInitialized ? (bool?)DevExpress.Viz.DxChartInterop.GetAdjustOnZoom(dxTarget).Result : adjustOnZoom;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetAdjustOnZoom(dxTarget, value);
			} else {
				this.adjustOnZoom = value;
			}
		}
	}
	object argumentAxis;
	[Parameter]
	object ArgumentAxis {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetArgumentAxis(dxTarget).Result : argumentAxis;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetArgumentAxis(dxTarget, value);
			} else {
				this.argumentAxis = value;
			}
		}
	}
	float? barGroupPadding;
	[Parameter]
	float? BarGroupPadding {
		get => isInitialized ? (float?)DevExpress.Viz.DxChartInterop.GetBarGroupPadding(dxTarget).Result : barGroupPadding;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetBarGroupPadding(dxTarget, value);
			} else {
				this.barGroupPadding = value;
			}
		}
	}
	float? barGroupWidth;
	[Parameter]
	float? BarGroupWidth {
		get => isInitialized ? (float?)DevExpress.Viz.DxChartInterop.GetBarGroupWidth(dxTarget).Result : barGroupWidth;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetBarGroupWidth(dxTarget, value);
			} else {
				this.barGroupWidth = value;
			}
		}
	}
	float? barWidth;
	[Parameter]
	float? BarWidth {
		get => isInitialized ? (float?)DevExpress.Viz.DxChartInterop.GetBarWidth(dxTarget).Result : barWidth;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetBarWidth(dxTarget, value);
			} else {
				this.barWidth = value;
			}
		}
	}
	object commonAxisSettings;
	[Parameter]
	object CommonAxisSettings {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetCommonAxisSettings(dxTarget).Result : commonAxisSettings;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetCommonAxisSettings(dxTarget, value);
			} else {
				this.commonAxisSettings = value;
			}
		}
	}
	object commonPaneSettings;
	[Parameter]
	object CommonPaneSettings {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetCommonPaneSettings(dxTarget).Result : commonPaneSettings;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetCommonPaneSettings(dxTarget, value);
			} else {
				this.commonPaneSettings = value;
			}
		}
	}
	object commonSeriesSettings;
	[Parameter]
	object CommonSeriesSettings {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetCommonSeriesSettings(dxTarget).Result : commonSeriesSettings;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetCommonSeriesSettings(dxTarget, value);
			} else {
				this.commonSeriesSettings = value;
			}
		}
	}
	string containerBackgroundColor;
	[Parameter]
	string ContainerBackgroundColor {
		get => isInitialized ? (string)DevExpress.Viz.DxChartInterop.GetContainerBackgroundColor(dxTarget).Result : containerBackgroundColor;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetContainerBackgroundColor(dxTarget, value);
			} else {
				this.containerBackgroundColor = value;
			}
		}
	}
	object crosshair;
	[Parameter]
	object Crosshair {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetCrosshair(dxTarget).Result : crosshair;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetCrosshair(dxTarget, value);
			} else {
				this.crosshair = value;
			}
		}
	}
	object dataPrepareSettings;
	[Parameter]
	object DataPrepareSettings {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetDataPrepareSettings(dxTarget).Result : dataPrepareSettings;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetDataPrepareSettings(dxTarget, value);
			} else {
				this.dataPrepareSettings = value;
			}
		}
	}
	string defaultPane;
	[Parameter]
	string DefaultPane {
		get => isInitialized ? (string)DevExpress.Viz.DxChartInterop.GetDefaultPane(dxTarget).Result : defaultPane;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetDefaultPane(dxTarget, value);
			} else {
				this.defaultPane = value;
			}
		}
	}
	bool? equalBarWidth;
	[Parameter]
	bool? EqualBarWidth {
		get => isInitialized ? (bool?)DevExpress.Viz.DxChartInterop.GetEqualBarWidth(dxTarget).Result : equalBarWidth;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetEqualBarWidth(dxTarget, value);
			} else {
				this.equalBarWidth = value;
			}
		}
	}
	object legend;
	[Parameter]
	object Legend {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetLegend(dxTarget).Result : legend;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetLegend(dxTarget, value);
			} else {
				this.legend = value;
			}
		}
	}
	float? maxBubbleSize;
	[Parameter]
	float? MaxBubbleSize {
		get => isInitialized ? (float?)DevExpress.Viz.DxChartInterop.GetMaxBubbleSize(dxTarget).Result : maxBubbleSize;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetMaxBubbleSize(dxTarget, value);
			} else {
				this.maxBubbleSize = value;
			}
		}
	}
	float? minBubbleSize;
	[Parameter]
	float? MinBubbleSize {
		get => isInitialized ? (float?)DevExpress.Viz.DxChartInterop.GetMinBubbleSize(dxTarget).Result : minBubbleSize;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetMinBubbleSize(dxTarget, value);
			} else {
				this.minBubbleSize = value;
			}
		}
	}
	bool? negativesAsZeroes;
	[Parameter]
	bool? NegativesAsZeroes {
		get => isInitialized ? (bool?)DevExpress.Viz.DxChartInterop.GetNegativesAsZeroes(dxTarget).Result : negativesAsZeroes;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetNegativesAsZeroes(dxTarget, value);
			} else {
				this.negativesAsZeroes = value;
			}
		}
	}
	object panes;
	[Parameter]
	object Panes {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetPanes(dxTarget).Result : panes;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetPanes(dxTarget, value);
			} else {
				this.panes = value;
			}
		}
	}
	string resolveLabelOverlapping;
	[Parameter]
	string ResolveLabelOverlapping {
		get => isInitialized ? (string)DevExpress.Viz.DxChartInterop.GetResolveLabelOverlapping(dxTarget).Result : resolveLabelOverlapping;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetResolveLabelOverlapping(dxTarget, value);
			} else {
				this.resolveLabelOverlapping = value;
			}
		}
	}
	bool? rotated;
	[Parameter]
	bool? Rotated {
		get => isInitialized ? (bool?)DevExpress.Viz.DxChartInterop.GetRotated(dxTarget).Result : rotated;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetRotated(dxTarget, value);
			} else {
				this.rotated = value;
			}
		}
	}
	object scrollBar;
	[Parameter]
	object ScrollBar {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetScrollBar(dxTarget).Result : scrollBar;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetScrollBar(dxTarget, value);
			} else {
				this.scrollBar = value;
			}
		}
	}
	string scrollingMode;
	[Parameter]
	string ScrollingMode {
		get => isInitialized ? (string)DevExpress.Viz.DxChartInterop.GetScrollingMode(dxTarget).Result : scrollingMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetScrollingMode(dxTarget, value);
			} else {
				this.scrollingMode = value;
			}
		}
	}
	object series;
	[Parameter]
	object Series {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetSeries(dxTarget).Result : series;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetSeries(dxTarget, value);
			} else {
				this.series = value;
			}
		}
	}
	string seriesSelectionMode;
	[Parameter]
	string SeriesSelectionMode {
		get => isInitialized ? (string)DevExpress.Viz.DxChartInterop.GetSeriesSelectionMode(dxTarget).Result : seriesSelectionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetSeriesSelectionMode(dxTarget, value);
			} else {
				this.seriesSelectionMode = value;
			}
		}
	}
	object seriesTemplate;
	[Parameter]
	object SeriesTemplate {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetSeriesTemplate(dxTarget).Result : seriesTemplate;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetSeriesTemplate(dxTarget, value);
			} else {
				this.seriesTemplate = value;
			}
		}
	}
	bool? synchronizeMultiAxes;
	[Parameter]
	bool? SynchronizeMultiAxes {
		get => isInitialized ? (bool?)DevExpress.Viz.DxChartInterop.GetSynchronizeMultiAxes(dxTarget).Result : synchronizeMultiAxes;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetSynchronizeMultiAxes(dxTarget, value);
			} else {
				this.synchronizeMultiAxes = value;
			}
		}
	}
	object tooltip;
	[Parameter]
	object Tooltip {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetTooltip(dxTarget).Result : tooltip;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetTooltip(dxTarget, value);
			} else {
				this.tooltip = value;
			}
		}
	}
	bool? useAggregation;
	[Parameter]
	bool? UseAggregation {
		get => isInitialized ? (bool?)DevExpress.Viz.DxChartInterop.GetUseAggregation(dxTarget).Result : useAggregation;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetUseAggregation(dxTarget, value);
			} else {
				this.useAggregation = value;
			}
		}
	}
	object valueAxis;
	[Parameter]
	object ValueAxis {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetValueAxis(dxTarget).Result : valueAxis;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetValueAxis(dxTarget, value);
			} else {
				this.valueAxis = value;
			}
		}
	}
	string zoomingMode;
	[Parameter]
	string ZoomingMode {
		get => isInitialized ? (string)DevExpress.Viz.DxChartInterop.GetZoomingMode(dxTarget).Result : zoomingMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetZoomingMode(dxTarget, value);
			} else {
				this.zoomingMode = value;
			}
		}
	}
	object adaptiveLayout;
	[Parameter]
	object AdaptiveLayout {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetAdaptiveLayout(dxTarget).Result : adaptiveLayout;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetAdaptiveLayout(dxTarget, value);
			} else {
				this.adaptiveLayout = value;
			}
		}
	}
	object animation;
	[Parameter]
	object Animation {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetAnimation(dxTarget).Result : animation;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetAnimation(dxTarget, value);
			} else {
				this.animation = value;
			}
		}
	}
	object customizeLabel;
	[Parameter]
	object CustomizeLabel {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetCustomizeLabel(dxTarget).Result : customizeLabel;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetCustomizeLabel(dxTarget, value);
			} else {
				this.customizeLabel = value;
			}
		}
	}
	object customizePoint;
	[Parameter]
	object CustomizePoint {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetCustomizePoint(dxTarget).Result : customizePoint;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetCustomizePoint(dxTarget, value);
			} else {
				this.customizePoint = value;
			}
		}
	}
	object dataSource;
	[Parameter]
	object DataSource {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetDataSource(dxTarget).Result : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetDataSource(dxTarget, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	object palette;
	[Parameter]
	object Palette {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetPalette(dxTarget).Result : palette;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetPalette(dxTarget, value);
			} else {
				this.palette = value;
			}
		}
	}
	string paletteExtensionMode;
	[Parameter]
	string PaletteExtensionMode {
		get => isInitialized ? (string)DevExpress.Viz.DxChartInterop.GetPaletteExtensionMode(dxTarget).Result : paletteExtensionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetPaletteExtensionMode(dxTarget, value);
			} else {
				this.paletteExtensionMode = value;
			}
		}
	}
	string pointSelectionMode;
	[Parameter]
	string PointSelectionMode {
		get => isInitialized ? (string)DevExpress.Viz.DxChartInterop.GetPointSelectionMode(dxTarget).Result : pointSelectionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetPointSelectionMode(dxTarget, value);
			} else {
				this.pointSelectionMode = value;
			}
		}
	}
	object export;
	[Parameter]
	object Export {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetExport(dxTarget).Result : export;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetExport(dxTarget, value);
			} else {
				this.export = value;
			}
		}
	}
	object loadingIndicator;
	[Parameter]
	object LoadingIndicator {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetLoadingIndicator(dxTarget).Result : loadingIndicator;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetLoadingIndicator(dxTarget, value);
			} else {
				this.loadingIndicator = value;
			}
		}
	}
	object margin;
	[Parameter]
	object Margin {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetMargin(dxTarget).Result : margin;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetMargin(dxTarget, value);
			} else {
				this.margin = value;
			}
		}
	}
	bool? pathModified;
	[Parameter]
	bool? PathModified {
		get => isInitialized ? (bool?)DevExpress.Viz.DxChartInterop.GetPathModified(dxTarget).Result : pathModified;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetPathModified(dxTarget, value);
			} else {
				this.pathModified = value;
			}
		}
	}
	bool? redrawOnResize;
	[Parameter]
	bool? RedrawOnResize {
		get => isInitialized ? (bool?)DevExpress.Viz.DxChartInterop.GetRedrawOnResize(dxTarget).Result : redrawOnResize;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetRedrawOnResize(dxTarget, value);
			} else {
				this.redrawOnResize = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter]
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Viz.DxChartInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetRtlEnabled(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object size;
	[Parameter]
	object Size {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetSize(dxTarget).Result : size;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetSize(dxTarget, value);
			} else {
				this.size = value;
			}
		}
	}
	string theme;
	[Parameter]
	string Theme {
		get => isInitialized ? (string)DevExpress.Viz.DxChartInterop.GetTheme(dxTarget).Result : theme;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetTheme(dxTarget, value);
			} else {
				this.theme = value;
			}
		}
	}
	object title;
	[Parameter]
	object Title {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetTitle(dxTarget).Result : title;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetTitle(dxTarget, value);
			} else {
				this.title = value;
			}
		}
	}
	object bindingOptions;
	[Parameter]
	object BindingOptions {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetBindingOptions(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter]
	object ElementAttr {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetElementAttr(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetElementAttr(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	object height;
	[Parameter]
	object Height {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetHeight(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetHeight(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	object width;
	[Parameter]
	object Width {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetWidth(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetWidth(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onArgumentAxisClickEnabled;
	[Parameter]
	bool? OnArgumentAxisClickEnabled {
		get => onArgumentAxisClickEnabled;
		set => this.onArgumentAxisClickEnabled = value;
	}
	bool? onLegendClickEnabled;
	[Parameter]
	bool? OnLegendClickEnabled {
		get => onLegendClickEnabled;
		set => this.onLegendClickEnabled = value;
	}
	bool? onSeriesClickEnabled;
	[Parameter]
	bool? OnSeriesClickEnabled {
		get => onSeriesClickEnabled;
		set => this.onSeriesClickEnabled = value;
	}
	bool? onSeriesHoverChangedEnabled;
	[Parameter]
	bool? OnSeriesHoverChangedEnabled {
		get => onSeriesHoverChangedEnabled;
		set => this.onSeriesHoverChangedEnabled = value;
	}
	bool? onSeriesSelectionChangedEnabled;
	[Parameter]
	bool? OnSeriesSelectionChangedEnabled {
		get => onSeriesSelectionChangedEnabled;
		set => this.onSeriesSelectionChangedEnabled = value;
	}
	bool? onZoomEndEnabled;
	[Parameter]
	bool? OnZoomEndEnabled {
		get => onZoomEndEnabled;
		set => this.onZoomEndEnabled = value;
	}
	bool? onZoomStartEnabled;
	[Parameter]
	bool? OnZoomStartEnabled {
		get => onZoomStartEnabled;
		set => this.onZoomStartEnabled = value;
	}
	bool? onDoneEnabled;
	[Parameter]
	bool? OnDoneEnabled {
		get => onDoneEnabled;
		set => this.onDoneEnabled = value;
	}
	bool? onPointClickEnabled;
	[Parameter]
	bool? OnPointClickEnabled {
		get => onPointClickEnabled;
		set => this.onPointClickEnabled = value;
	}
	bool? onPointHoverChangedEnabled;
	[Parameter]
	bool? OnPointHoverChangedEnabled {
		get => onPointHoverChangedEnabled;
		set => this.onPointHoverChangedEnabled = value;
	}
	bool? onPointSelectionChangedEnabled;
	[Parameter]
	bool? OnPointSelectionChangedEnabled {
		get => onPointSelectionChangedEnabled;
		set => this.onPointSelectionChangedEnabled = value;
	}
	bool? onTooltipHiddenEnabled;
	[Parameter]
	bool? OnTooltipHiddenEnabled {
		get => onTooltipHiddenEnabled;
		set => this.onTooltipHiddenEnabled = value;
	}
	bool? onTooltipShownEnabled;
	[Parameter]
	bool? OnTooltipShownEnabled {
		get => onTooltipShownEnabled;
		set => this.onTooltipShownEnabled = value;
	}
	bool? onDrawnEnabled;
	[Parameter]
	bool? OnDrawnEnabled {
		get => onDrawnEnabled;
		set => this.onDrawnEnabled = value;
	}
	bool? onExportedEnabled;
	[Parameter]
	bool? OnExportedEnabled {
		get => onExportedEnabled;
		set => this.onExportedEnabled = value;
	}
	bool? onExportingEnabled;
	[Parameter]
	bool? OnExportingEnabled {
		get => onExportingEnabled;
		set => this.onExportingEnabled = value;
	}
	bool? onFileSavingEnabled;
	[Parameter]
	bool? OnFileSavingEnabled {
		get => onFileSavingEnabled;
		set => this.onFileSavingEnabled = value;
	}
	bool? onIncidentOccurredEnabled;
	[Parameter]
	bool? OnIncidentOccurredEnabled {
		get => onIncidentOccurredEnabled;
		set => this.onIncidentOccurredEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter]
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter]
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter]
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		DevExpress.Viz.DxChartInterop.ArgumentAxisClick += DxChart_ArgumentAxisClick;
		DevExpress.Viz.DxChartInterop.LegendClick += DxChart_LegendClick;
		DevExpress.Viz.DxChartInterop.SeriesClick += DxChart_SeriesClick;
		DevExpress.Viz.DxChartInterop.SeriesHoverChanged += DxChart_SeriesHoverChanged;
		DevExpress.Viz.DxChartInterop.SeriesSelectionChanged += DxChart_SeriesSelectionChanged;
		DevExpress.Viz.DxChartInterop.ZoomEnd += DxChart_ZoomEnd;
		DevExpress.Viz.DxChartInterop.ZoomStart += DxChart_ZoomStart;
		DevExpress.Viz.DxChartInterop.Done += DxChart_Done;
		DevExpress.Viz.DxChartInterop.PointClick += DxChart_PointClick;
		DevExpress.Viz.DxChartInterop.PointHoverChanged += DxChart_PointHoverChanged;
		DevExpress.Viz.DxChartInterop.PointSelectionChanged += DxChart_PointSelectionChanged;
		DevExpress.Viz.DxChartInterop.TooltipHidden += DxChart_TooltipHidden;
		DevExpress.Viz.DxChartInterop.TooltipShown += DxChart_TooltipShown;
		DevExpress.Viz.DxChartInterop.Drawn += DxChart_Drawn;
		DevExpress.Viz.DxChartInterop.Exported += DxChart_Exported;
		DevExpress.Viz.DxChartInterop.Exporting += DxChart_Exporting;
		DevExpress.Viz.DxChartInterop.FileSaving += DxChart_FileSaving;
		DevExpress.Viz.DxChartInterop.IncidentOccurred += DxChart_IncidentOccurred;
		DevExpress.Viz.DxChartInterop.Disposing += DxChart_Disposing;
		DevExpress.Viz.DxChartInterop.OptionChanged += DxChart_OptionChanged;
		DevExpress.Viz.DxChartInterop.Initialized += DxChart_Initialized;
	}
	[Parameter]
	Action ArgumentAxisClick { get; set; }
	void DxChart_ArgumentAxisClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ArgumentAxisClick?.Invoke();
		}
	}
	[Parameter]
	Action LegendClick { get; set; }
	void DxChart_LegendClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			LegendClick?.Invoke();
		}
	}
	[Parameter]
	Action SeriesClick { get; set; }
	void DxChart_SeriesClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SeriesClick?.Invoke();
		}
	}
	[Parameter]
	Action SeriesHoverChanged { get; set; }
	void DxChart_SeriesHoverChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SeriesHoverChanged?.Invoke();
		}
	}
	[Parameter]
	Action SeriesSelectionChanged { get; set; }
	void DxChart_SeriesSelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SeriesSelectionChanged?.Invoke();
		}
	}
	[Parameter]
	Action ZoomEnd { get; set; }
	void DxChart_ZoomEnd(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ZoomEnd?.Invoke();
		}
	}
	[Parameter]
	Action ZoomStart { get; set; }
	void DxChart_ZoomStart(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ZoomStart?.Invoke();
		}
	}
	[Parameter]
	Action Done { get; set; }
	void DxChart_Done(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Done?.Invoke();
		}
	}
	[Parameter]
	Action PointClick { get; set; }
	void DxChart_PointClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			PointClick?.Invoke();
		}
	}
	[Parameter]
	Action PointHoverChanged { get; set; }
	void DxChart_PointHoverChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			PointHoverChanged?.Invoke();
		}
	}
	[Parameter]
	Action PointSelectionChanged { get; set; }
	void DxChart_PointSelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			PointSelectionChanged?.Invoke();
		}
	}
	[Parameter]
	Action TooltipHidden { get; set; }
	void DxChart_TooltipHidden(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TooltipHidden?.Invoke();
		}
	}
	[Parameter]
	Action TooltipShown { get; set; }
	void DxChart_TooltipShown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TooltipShown?.Invoke();
		}
	}
	[Parameter]
	Action Drawn { get; set; }
	void DxChart_Drawn(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Drawn?.Invoke();
		}
	}
	[Parameter]
	Action Exported { get; set; }
	void DxChart_Exported(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exported?.Invoke();
		}
	}
	[Parameter]
	Action Exporting { get; set; }
	void DxChart_Exporting(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exporting?.Invoke();
		}
	}
	[Parameter]
	Action FileSaving { get; set; }
	void DxChart_FileSaving(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FileSaving?.Invoke();
		}
	}
	[Parameter]
	Action IncidentOccurred { get; set; }
	void DxChart_IncidentOccurred(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			IncidentOccurred?.Invoke();
		}
	}
	[Parameter]
	Action Disposing { get; set; }
	void DxChart_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter]
	Action OptionChanged { get; set; }
	void DxChart_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter]
	Action Initialized { get; set; }
	void DxChart_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public void ZoomArgument(object startValue, object endValue) {
		DevExpress.Viz.DxChartInterop.ZoomArgument(dxTarget, startValue, endValue);
	}
	public void Dispose() {
		DevExpress.Viz.DxChartInterop.ArgumentAxisClick -= DxChart_ArgumentAxisClick;
		DevExpress.Viz.DxChartInterop.LegendClick -= DxChart_LegendClick;
		DevExpress.Viz.DxChartInterop.SeriesClick -= DxChart_SeriesClick;
		DevExpress.Viz.DxChartInterop.SeriesHoverChanged -= DxChart_SeriesHoverChanged;
		DevExpress.Viz.DxChartInterop.SeriesSelectionChanged -= DxChart_SeriesSelectionChanged;
		DevExpress.Viz.DxChartInterop.ZoomEnd -= DxChart_ZoomEnd;
		DevExpress.Viz.DxChartInterop.ZoomStart -= DxChart_ZoomStart;
		DevExpress.Viz.DxChartInterop.Done -= DxChart_Done;
		DevExpress.Viz.DxChartInterop.PointClick -= DxChart_PointClick;
		DevExpress.Viz.DxChartInterop.PointHoverChanged -= DxChart_PointHoverChanged;
		DevExpress.Viz.DxChartInterop.PointSelectionChanged -= DxChart_PointSelectionChanged;
		DevExpress.Viz.DxChartInterop.TooltipHidden -= DxChart_TooltipHidden;
		DevExpress.Viz.DxChartInterop.TooltipShown -= DxChart_TooltipShown;
		DevExpress.Viz.DxChartInterop.Drawn -= DxChart_Drawn;
		DevExpress.Viz.DxChartInterop.Exported -= DxChart_Exported;
		DevExpress.Viz.DxChartInterop.Exporting -= DxChart_Exporting;
		DevExpress.Viz.DxChartInterop.FileSaving -= DxChart_FileSaving;
		DevExpress.Viz.DxChartInterop.IncidentOccurred -= DxChart_IncidentOccurred;
		DevExpress.Viz.DxChartInterop.Disposing -= DxChart_Disposing;
		DevExpress.Viz.DxChartInterop.OptionChanged -= DxChart_OptionChanged;
		DevExpress.Viz.DxChartInterop.Initialized -= DxChart_Initialized;
	}
}
