@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Viz.Charts.DxChartOptions>

<div id="@Id"></div>

@functions {
	public DxChart() : base("DxChart") { }
	protected override DevExpress.Viz.Charts.DxChartOptions CreateOptions() {
		return new DevExpress.Viz.Charts.DxChartOptions {
			adjustOnZoom = adjustOnZoom,
			argumentAxis = argumentAxis,
			barGroupPadding = barGroupPadding,
			barGroupWidth = barGroupWidth,
			barWidth = barWidth,
			commonAxisSettings = commonAxisSettings,
			commonPaneSettings = commonPaneSettings,
			commonSeriesSettings = commonSeriesSettings,
			containerBackgroundColor = containerBackgroundColor,
			crosshair = crosshair,
			dataPrepareSettings = dataPrepareSettings,
			defaultPane = defaultPane,
			equalBarWidth = equalBarWidth,
			legend = legend,
			maxBubbleSize = maxBubbleSize,
			minBubbleSize = minBubbleSize,
			negativesAsZeroes = negativesAsZeroes,
			panes = panes,
			resolveLabelOverlapping = resolveLabelOverlapping,
			rotated = rotated,
			scrollBar = scrollBar,
			scrollingMode = scrollingMode,
			series = series,
			seriesSelectionMode = seriesSelectionMode,
			seriesTemplate = seriesTemplate,
			synchronizeMultiAxes = synchronizeMultiAxes,
			tooltip = tooltip,
			useAggregation = useAggregation,
			valueAxis = valueAxis,
			zoomingMode = zoomingMode,
			onArgumentAxisClickEnabled = onArgumentAxisClickEnabled,
			onLegendClickEnabled = onLegendClickEnabled,
			onSeriesClickEnabled = onSeriesClickEnabled,
			onSeriesHoverChangedEnabled = onSeriesHoverChangedEnabled,
			onSeriesSelectionChangedEnabled = onSeriesSelectionChangedEnabled,
			onZoomEndEnabled = onZoomEndEnabled,
			onZoomStartEnabled = onZoomStartEnabled,
		};
	}
	protected override void Init(DevExpress.Viz.Charts.DxChartOptions options) {
		DevExpress.Viz.DxChartInterop.Init(Id, options);
	}
	bool? adjustOnZoom;
	public bool? AdjustOnZoom {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetAdjustOnZoom(Id) : adjustOnZoom;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetAdjustOnZoom(Id, value);
			} else {
				this.adjustOnZoom = value;
			}
		}
	}
	object argumentAxis;
	public object ArgumentAxis {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetArgumentAxis(Id) : argumentAxis;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetArgumentAxis(Id, value);
			} else {
				this.argumentAxis = value;
			}
		}
	}
	float? barGroupPadding;
	public float? BarGroupPadding {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetBarGroupPadding(Id) : barGroupPadding;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetBarGroupPadding(Id, value);
			} else {
				this.barGroupPadding = value;
			}
		}
	}
	float? barGroupWidth;
	public float? BarGroupWidth {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetBarGroupWidth(Id) : barGroupWidth;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetBarGroupWidth(Id, value);
			} else {
				this.barGroupWidth = value;
			}
		}
	}
	float? barWidth;
	public float? BarWidth {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetBarWidth(Id) : barWidth;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetBarWidth(Id, value);
			} else {
				this.barWidth = value;
			}
		}
	}
	object commonAxisSettings;
	public object CommonAxisSettings {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetCommonAxisSettings(Id) : commonAxisSettings;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetCommonAxisSettings(Id, value);
			} else {
				this.commonAxisSettings = value;
			}
		}
	}
	object commonPaneSettings;
	public object CommonPaneSettings {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetCommonPaneSettings(Id) : commonPaneSettings;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetCommonPaneSettings(Id, value);
			} else {
				this.commonPaneSettings = value;
			}
		}
	}
	object commonSeriesSettings;
	public object CommonSeriesSettings {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetCommonSeriesSettings(Id) : commonSeriesSettings;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetCommonSeriesSettings(Id, value);
			} else {
				this.commonSeriesSettings = value;
			}
		}
	}
	string containerBackgroundColor;
	public string ContainerBackgroundColor {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetContainerBackgroundColor(Id) : containerBackgroundColor;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetContainerBackgroundColor(Id, value);
			} else {
				this.containerBackgroundColor = value;
			}
		}
	}
	object crosshair;
	public object Crosshair {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetCrosshair(Id) : crosshair;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetCrosshair(Id, value);
			} else {
				this.crosshair = value;
			}
		}
	}
	object dataPrepareSettings;
	public object DataPrepareSettings {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetDataPrepareSettings(Id) : dataPrepareSettings;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetDataPrepareSettings(Id, value);
			} else {
				this.dataPrepareSettings = value;
			}
		}
	}
	string defaultPane;
	public string DefaultPane {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetDefaultPane(Id) : defaultPane;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetDefaultPane(Id, value);
			} else {
				this.defaultPane = value;
			}
		}
	}
	bool? equalBarWidth;
	public bool? EqualBarWidth {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetEqualBarWidth(Id) : equalBarWidth;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetEqualBarWidth(Id, value);
			} else {
				this.equalBarWidth = value;
			}
		}
	}
	object legend;
	public object Legend {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetLegend(Id) : legend;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetLegend(Id, value);
			} else {
				this.legend = value;
			}
		}
	}
	float? maxBubbleSize;
	public float? MaxBubbleSize {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetMaxBubbleSize(Id) : maxBubbleSize;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetMaxBubbleSize(Id, value);
			} else {
				this.maxBubbleSize = value;
			}
		}
	}
	float? minBubbleSize;
	public float? MinBubbleSize {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetMinBubbleSize(Id) : minBubbleSize;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetMinBubbleSize(Id, value);
			} else {
				this.minBubbleSize = value;
			}
		}
	}
	bool? negativesAsZeroes;
	public bool? NegativesAsZeroes {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetNegativesAsZeroes(Id) : negativesAsZeroes;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetNegativesAsZeroes(Id, value);
			} else {
				this.negativesAsZeroes = value;
			}
		}
	}
	object panes;
	public object Panes {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetPanes(Id) : panes;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetPanes(Id, value);
			} else {
				this.panes = value;
			}
		}
	}
	string resolveLabelOverlapping;
	public string ResolveLabelOverlapping {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetResolveLabelOverlapping(Id) : resolveLabelOverlapping;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetResolveLabelOverlapping(Id, value);
			} else {
				this.resolveLabelOverlapping = value;
			}
		}
	}
	bool? rotated;
	public bool? Rotated {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetRotated(Id) : rotated;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetRotated(Id, value);
			} else {
				this.rotated = value;
			}
		}
	}
	object scrollBar;
	public object ScrollBar {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetScrollBar(Id) : scrollBar;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetScrollBar(Id, value);
			} else {
				this.scrollBar = value;
			}
		}
	}
	string scrollingMode;
	public string ScrollingMode {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetScrollingMode(Id) : scrollingMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetScrollingMode(Id, value);
			} else {
				this.scrollingMode = value;
			}
		}
	}
	object series;
	public object Series {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetSeries(Id) : series;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetSeries(Id, value);
			} else {
				this.series = value;
			}
		}
	}
	string seriesSelectionMode;
	public string SeriesSelectionMode {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetSeriesSelectionMode(Id) : seriesSelectionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetSeriesSelectionMode(Id, value);
			} else {
				this.seriesSelectionMode = value;
			}
		}
	}
	object seriesTemplate;
	public object SeriesTemplate {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetSeriesTemplate(Id) : seriesTemplate;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetSeriesTemplate(Id, value);
			} else {
				this.seriesTemplate = value;
			}
		}
	}
	bool? synchronizeMultiAxes;
	public bool? SynchronizeMultiAxes {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetSynchronizeMultiAxes(Id) : synchronizeMultiAxes;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetSynchronizeMultiAxes(Id, value);
			} else {
				this.synchronizeMultiAxes = value;
			}
		}
	}
	object tooltip;
	public object Tooltip {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetTooltip(Id) : tooltip;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetTooltip(Id, value);
			} else {
				this.tooltip = value;
			}
		}
	}
	bool? useAggregation;
	public bool? UseAggregation {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetUseAggregation(Id) : useAggregation;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetUseAggregation(Id, value);
			} else {
				this.useAggregation = value;
			}
		}
	}
	object valueAxis;
	public object ValueAxis {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetValueAxis(Id) : valueAxis;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetValueAxis(Id, value);
			} else {
				this.valueAxis = value;
			}
		}
	}
	string zoomingMode;
	public string ZoomingMode {
		get => isInitialized ? DevExpress.Viz.DxChartInterop.GetZoomingMode(Id) : zoomingMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxChartInterop.SetZoomingMode(Id, value);
			} else {
				this.zoomingMode = value;
			}
		}
	}
	bool? onArgumentAxisClickEnabled;
	public bool? OnArgumentAxisClickEnabled {
		get => onArgumentAxisClickEnabled;
		set => this.onArgumentAxisClickEnabled = value;
	}
	bool? onLegendClickEnabled;
	public bool? OnLegendClickEnabled {
		get => onLegendClickEnabled;
		set => this.onLegendClickEnabled = value;
	}
	bool? onSeriesClickEnabled;
	public bool? OnSeriesClickEnabled {
		get => onSeriesClickEnabled;
		set => this.onSeriesClickEnabled = value;
	}
	bool? onSeriesHoverChangedEnabled;
	public bool? OnSeriesHoverChangedEnabled {
		get => onSeriesHoverChangedEnabled;
		set => this.onSeriesHoverChangedEnabled = value;
	}
	bool? onSeriesSelectionChangedEnabled;
	public bool? OnSeriesSelectionChangedEnabled {
		get => onSeriesSelectionChangedEnabled;
		set => this.onSeriesSelectionChangedEnabled = value;
	}
	bool? onZoomEndEnabled;
	public bool? OnZoomEndEnabled {
		get => onZoomEndEnabled;
		set => this.onZoomEndEnabled = value;
	}
	bool? onZoomStartEnabled;
	public bool? OnZoomStartEnabled {
		get => onZoomStartEnabled;
		set => this.onZoomStartEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Viz.DxChartInterop.ArgumentAxisClick += DxChart_ArgumentAxisClick;
		DevExpress.Viz.DxChartInterop.LegendClick += DxChart_LegendClick;
		DevExpress.Viz.DxChartInterop.SeriesClick += DxChart_SeriesClick;
		DevExpress.Viz.DxChartInterop.SeriesHoverChanged += DxChart_SeriesHoverChanged;
		DevExpress.Viz.DxChartInterop.SeriesSelectionChanged += DxChart_SeriesSelectionChanged;
		DevExpress.Viz.DxChartInterop.ZoomEnd += DxChart_ZoomEnd;
		DevExpress.Viz.DxChartInterop.ZoomStart += DxChart_ZoomStart;
	}
	public Action ArgumentAxisClick { get; set; }
	void DxChart_ArgumentAxisClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ArgumentAxisClick?.Invoke();
		}
	}
	public Action LegendClick { get; set; }
	void DxChart_LegendClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			LegendClick?.Invoke();
		}
	}
	public Action SeriesClick { get; set; }
	void DxChart_SeriesClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SeriesClick?.Invoke();
		}
	}
	public Action SeriesHoverChanged { get; set; }
	void DxChart_SeriesHoverChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SeriesHoverChanged?.Invoke();
		}
	}
	public Action SeriesSelectionChanged { get; set; }
	void DxChart_SeriesSelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SeriesSelectionChanged?.Invoke();
		}
	}
	public Action ZoomEnd { get; set; }
	void DxChart_ZoomEnd(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ZoomEnd?.Invoke();
		}
	}
	public Action ZoomStart { get; set; }
	void DxChart_ZoomStart(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ZoomStart?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Viz.DxChartInterop.ArgumentAxisClick -= DxChart_ArgumentAxisClick;
		DevExpress.Viz.DxChartInterop.LegendClick -= DxChart_LegendClick;
		DevExpress.Viz.DxChartInterop.SeriesClick -= DxChart_SeriesClick;
		DevExpress.Viz.DxChartInterop.SeriesHoverChanged -= DxChart_SeriesHoverChanged;
		DevExpress.Viz.DxChartInterop.SeriesSelectionChanged -= DxChart_SeriesSelectionChanged;
		DevExpress.Viz.DxChartInterop.ZoomEnd -= DxChart_ZoomEnd;
		DevExpress.Viz.DxChartInterop.ZoomStart -= DxChart_ZoomStart;
	}
}
