@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Viz.DxCircularGaugeOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxCircularGauge() : base("DxCircularGauge") { }
	protected override DevExpress.Viz.DxCircularGaugeOptions CreateOptions() {
		return new DevExpress.Viz.DxCircularGaugeOptions {
			geometry = geometry,
			rangeContainer = rangeContainer,
			scale = scale,
			subvalueIndicator = subvalueIndicator,
			valueIndicator = valueIndicator,
			animation = animation,
			containerBackgroundColor = containerBackgroundColor,
			subvalues = subvalues,
			tooltip = tooltip,
			value = value,
			disabled = disabled,
			export = export,
			loadingIndicator = loadingIndicator,
			margin = margin,
			pathModified = pathModified,
			redrawOnResize = redrawOnResize,
			rtlEnabled = rtlEnabled,
			size = size,
			theme = theme,
			title = title,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			height = height,
			width = width,
			onTooltipHiddenEnabled = onTooltipHiddenEnabled,
			onTooltipShownEnabled = onTooltipShownEnabled,
			onDrawnEnabled = onDrawnEnabled,
			onExportedEnabled = onExportedEnabled,
			onExportingEnabled = onExportingEnabled,
			onFileSavingEnabled = onFileSavingEnabled,
			onIncidentOccurredEnabled = onIncidentOccurredEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override Task Init(DevExpress.Viz.DxCircularGaugeOptions options) {
		return DevExpress.Viz.DxCircularGaugeInterop.Init(dxTarget, options);
	}
	object geometry;
	[Parameter]
	object Geometry {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetGeometryOption(dxTarget).Result : geometry;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetGeometryOption(dxTarget, value);
			} else {
				this.geometry = value;
			}
		}
	}
	object rangeContainer;
	[Parameter]
	object RangeContainer {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetRangeContainerOption(dxTarget).Result : rangeContainer;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetRangeContainerOption(dxTarget, value);
			} else {
				this.rangeContainer = value;
			}
		}
	}
	object scale;
	[Parameter]
	object Scale {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetScaleOption(dxTarget).Result : scale;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetScaleOption(dxTarget, value);
			} else {
				this.scale = value;
			}
		}
	}
	object subvalueIndicator;
	[Parameter]
	object SubvalueIndicator {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetSubvalueIndicatorOption(dxTarget).Result : subvalueIndicator;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetSubvalueIndicatorOption(dxTarget, value);
			} else {
				this.subvalueIndicator = value;
			}
		}
	}
	object valueIndicator;
	[Parameter]
	object ValueIndicator {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetValueIndicatorOption(dxTarget).Result : valueIndicator;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetValueIndicatorOption(dxTarget, value);
			} else {
				this.valueIndicator = value;
			}
		}
	}
	object animation;
	[Parameter]
	object Animation {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetAnimationOption(dxTarget).Result : animation;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetAnimationOption(dxTarget, value);
			} else {
				this.animation = value;
			}
		}
	}
	string containerBackgroundColor;
	[Parameter]
	string ContainerBackgroundColor {
		get => isInitialized ? (string)DevExpress.Viz.DxCircularGaugeInterop.GetContainerBackgroundColorOption(dxTarget).Result : containerBackgroundColor;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetContainerBackgroundColorOption(dxTarget, value);
			} else {
				this.containerBackgroundColor = value;
			}
		}
	}
	object subvalues;
	[Parameter]
	object Subvalues {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetSubvaluesOption(dxTarget).Result : subvalues;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetSubvaluesOption(dxTarget, value);
			} else {
				this.subvalues = value;
			}
		}
	}
	object tooltip;
	[Parameter]
	object Tooltip {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetTooltipOption(dxTarget).Result : tooltip;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetTooltipOption(dxTarget, value);
			} else {
				this.tooltip = value;
			}
		}
	}
	float? value;
	[Parameter]
	float? Value {
		get => isInitialized ? (float?)DevExpress.Viz.DxCircularGaugeInterop.GetValueOption(dxTarget).Result : value;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetValueOption(dxTarget, value);
			} else {
				this.value = value;
			}
		}
	}
	bool? disabled;
	[Parameter]
	bool? Disabled {
		get => isInitialized ? (bool?)DevExpress.Viz.DxCircularGaugeInterop.GetDisabledOption(dxTarget).Result : disabled;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetDisabledOption(dxTarget, value);
			} else {
				this.disabled = value;
			}
		}
	}
	object export;
	[Parameter]
	object Export {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetExportOption(dxTarget).Result : export;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetExportOption(dxTarget, value);
			} else {
				this.export = value;
			}
		}
	}
	object loadingIndicator;
	[Parameter]
	object LoadingIndicator {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetLoadingIndicatorOption(dxTarget).Result : loadingIndicator;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetLoadingIndicatorOption(dxTarget, value);
			} else {
				this.loadingIndicator = value;
			}
		}
	}
	object margin;
	[Parameter]
	object Margin {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetMarginOption(dxTarget).Result : margin;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetMarginOption(dxTarget, value);
			} else {
				this.margin = value;
			}
		}
	}
	bool? pathModified;
	[Parameter]
	bool? PathModified {
		get => isInitialized ? (bool?)DevExpress.Viz.DxCircularGaugeInterop.GetPathModifiedOption(dxTarget).Result : pathModified;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetPathModifiedOption(dxTarget, value);
			} else {
				this.pathModified = value;
			}
		}
	}
	bool? redrawOnResize;
	[Parameter]
	bool? RedrawOnResize {
		get => isInitialized ? (bool?)DevExpress.Viz.DxCircularGaugeInterop.GetRedrawOnResizeOption(dxTarget).Result : redrawOnResize;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetRedrawOnResizeOption(dxTarget, value);
			} else {
				this.redrawOnResize = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter]
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Viz.DxCircularGaugeInterop.GetRtlEnabledOption(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetRtlEnabledOption(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object size;
	[Parameter]
	object Size {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetSizeOption(dxTarget).Result : size;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetSizeOption(dxTarget, value);
			} else {
				this.size = value;
			}
		}
	}
	string theme;
	[Parameter]
	string Theme {
		get => isInitialized ? (string)DevExpress.Viz.DxCircularGaugeInterop.GetThemeOption(dxTarget).Result : theme;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetThemeOption(dxTarget, value);
			} else {
				this.theme = value;
			}
		}
	}
	object title;
	[Parameter]
	object Title {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetTitleOption(dxTarget).Result : title;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetTitleOption(dxTarget, value);
			} else {
				this.title = value;
			}
		}
	}
	object bindingOptions;
	[Parameter]
	object BindingOptions {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetBindingOptionsOption(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetBindingOptionsOption(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter]
	object ElementAttr {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetElementAttrOption(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetElementAttrOption(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	object height;
	[Parameter]
	object Height {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetHeightOption(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetHeightOption(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	object width;
	[Parameter]
	object Width {
		get => isInitialized ? DevExpress.Viz.DxCircularGaugeInterop.GetWidthOption(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxCircularGaugeInterop.SetWidthOption(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onTooltipHiddenEnabled;
	[Parameter]
	bool? OnTooltipHiddenEnabled {
		get => onTooltipHiddenEnabled;
		set => this.onTooltipHiddenEnabled = value;
	}
	bool? onTooltipShownEnabled;
	[Parameter]
	bool? OnTooltipShownEnabled {
		get => onTooltipShownEnabled;
		set => this.onTooltipShownEnabled = value;
	}
	bool? onDrawnEnabled;
	[Parameter]
	bool? OnDrawnEnabled {
		get => onDrawnEnabled;
		set => this.onDrawnEnabled = value;
	}
	bool? onExportedEnabled;
	[Parameter]
	bool? OnExportedEnabled {
		get => onExportedEnabled;
		set => this.onExportedEnabled = value;
	}
	bool? onExportingEnabled;
	[Parameter]
	bool? OnExportingEnabled {
		get => onExportingEnabled;
		set => this.onExportingEnabled = value;
	}
	bool? onFileSavingEnabled;
	[Parameter]
	bool? OnFileSavingEnabled {
		get => onFileSavingEnabled;
		set => this.onFileSavingEnabled = value;
	}
	bool? onIncidentOccurredEnabled;
	[Parameter]
	bool? OnIncidentOccurredEnabled {
		get => onIncidentOccurredEnabled;
		set => this.onIncidentOccurredEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter]
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter]
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter]
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Viz.DxCircularGaugeInterop.TooltipHidden += DxCircularGauge_TooltipHidden;
		DevExpress.Viz.DxCircularGaugeInterop.TooltipShown += DxCircularGauge_TooltipShown;
		DevExpress.Viz.DxCircularGaugeInterop.Drawn += DxCircularGauge_Drawn;
		DevExpress.Viz.DxCircularGaugeInterop.Exported += DxCircularGauge_Exported;
		DevExpress.Viz.DxCircularGaugeInterop.Exporting += DxCircularGauge_Exporting;
		DevExpress.Viz.DxCircularGaugeInterop.FileSaving += DxCircularGauge_FileSaving;
		DevExpress.Viz.DxCircularGaugeInterop.IncidentOccurred += DxCircularGauge_IncidentOccurred;
		DevExpress.Viz.DxCircularGaugeInterop.Disposing += DxCircularGauge_Disposing;
		DevExpress.Viz.DxCircularGaugeInterop.OptionChanged += DxCircularGauge_OptionChanged;
		DevExpress.Viz.DxCircularGaugeInterop.Initialized += DxCircularGauge_Initialized;
	}
	[Parameter]
	Action TooltipHidden { get; set; }
	void DxCircularGauge_TooltipHidden(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TooltipHidden?.Invoke();
		}
	}
	[Parameter]
	Action TooltipShown { get; set; }
	void DxCircularGauge_TooltipShown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TooltipShown?.Invoke();
		}
	}
	[Parameter]
	Action Drawn { get; set; }
	void DxCircularGauge_Drawn(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Drawn?.Invoke();
		}
	}
	[Parameter]
	Action Exported { get; set; }
	void DxCircularGauge_Exported(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exported?.Invoke();
		}
	}
	[Parameter]
	Action Exporting { get; set; }
	void DxCircularGauge_Exporting(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exporting?.Invoke();
		}
	}
	[Parameter]
	Action FileSaving { get; set; }
	void DxCircularGauge_FileSaving(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FileSaving?.Invoke();
		}
	}
	[Parameter]
	Action IncidentOccurred { get; set; }
	void DxCircularGauge_IncidentOccurred(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			IncidentOccurred?.Invoke();
		}
	}
	[Parameter]
	Action Disposing { get; set; }
	void DxCircularGauge_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter]
	Action OptionChanged { get; set; }
	void DxCircularGauge_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter]
	Action Initialized { get; set; }
	void DxCircularGauge_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Viz.DxCircularGaugeInterop.TooltipHidden -= DxCircularGauge_TooltipHidden;
		DevExpress.Viz.DxCircularGaugeInterop.TooltipShown -= DxCircularGauge_TooltipShown;
		DevExpress.Viz.DxCircularGaugeInterop.Drawn -= DxCircularGauge_Drawn;
		DevExpress.Viz.DxCircularGaugeInterop.Exported -= DxCircularGauge_Exported;
		DevExpress.Viz.DxCircularGaugeInterop.Exporting -= DxCircularGauge_Exporting;
		DevExpress.Viz.DxCircularGaugeInterop.FileSaving -= DxCircularGauge_FileSaving;
		DevExpress.Viz.DxCircularGaugeInterop.IncidentOccurred -= DxCircularGauge_IncidentOccurred;
		DevExpress.Viz.DxCircularGaugeInterop.Disposing -= DxCircularGauge_Disposing;
		DevExpress.Viz.DxCircularGaugeInterop.OptionChanged -= DxCircularGauge_OptionChanged;
		DevExpress.Viz.DxCircularGaugeInterop.Initialized -= DxCircularGauge_Initialized;
	}
}
