@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Viz.Gauges.DxCircularGaugeOptions>

<div id="@Id"></div>

@functions {
	public DxCircularGauge() : base("DxCircularGauge") { }
	protected override DevExpress.Viz.Gauges.DxCircularGaugeOptions CreateOptions() {
		return new DevExpress.Viz.Gauges.DxCircularGaugeOptions {
		};
	}
	protected override void Init(DevExpress.Viz.Gauges.DxCircularGaugeOptions options) {
		DxCircularGaugeInterop.Init(Id, options);
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
