
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Framework.DxCommandOptions>

<div id="@Id"  @ref="dxTarget"></div>

@functions {
	ElementReference dxTarget;
	public DxCommand() : base("DxCommand") { }
	protected override DevExpress.Framework.DxCommandOptions CreateOptions() {
		return new DevExpress.Framework.DxCommandOptions {
			disabled = disabled,
			icon = icon,
			iconSrc = iconSrc,
			id = id,
			renderStage = renderStage,
			title = title,
			type = type,
			visible = visible,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			height = height,
			rtlEnabled = rtlEnabled,
			width = width,
			onExecuteEnabled = onExecuteEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override ValueTask<object> Init(DevExpress.Framework.DxCommandOptions options) {
		return DevExpress.Framework.DxCommandInterop.Init(dxTarget, options);
	}
	bool? disabled;
	[Parameter] public
	bool? Disabled {
		get => isInitialized ? (bool?)DevExpress.Framework.DxCommandInterop.GetDisabled(dxTarget).Result : disabled;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetDisabled(dxTarget, value);
			} else {
				this.disabled = value;
			}
		}
	}
	string icon;
	[Parameter] public
	string Icon {
		get => isInitialized ? (string)DevExpress.Framework.DxCommandInterop.GetIcon(dxTarget).Result : icon;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetIcon(dxTarget, value);
			} else {
				this.icon = value;
			}
		}
	}
	object iconSrc;
	[Parameter] public
	object IconSrc {
		get => isInitialized ? DevExpress.Framework.DxCommandInterop.GetIconSrc(dxTarget).Result : iconSrc;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetIconSrc(dxTarget, value);
			} else {
				this.iconSrc = value;
			}
		}
	}
	string id;
	[Parameter] public
	string Id {
		get => isInitialized ? (string)DevExpress.Framework.DxCommandInterop.GetId(dxTarget).Result : id;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetId(dxTarget, value);
			} else {
				this.id = value;
			}
		}
	}
	string renderStage;
	[Parameter] public
	string RenderStage {
		get => isInitialized ? (string)DevExpress.Framework.DxCommandInterop.GetRenderStage(dxTarget).Result : renderStage;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetRenderStage(dxTarget, value);
			} else {
				this.renderStage = value;
			}
		}
	}
	string title;
	[Parameter] public
	string Title {
		get => isInitialized ? (string)DevExpress.Framework.DxCommandInterop.GetTitle(dxTarget).Result : title;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetTitle(dxTarget, value);
			} else {
				this.title = value;
			}
		}
	}
	string type;
	[Parameter] public
	string Type {
		get => isInitialized ? (string)DevExpress.Framework.DxCommandInterop.GetType(dxTarget).Result : type;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetType(dxTarget, value);
			} else {
				this.type = value;
			}
		}
	}
	bool? visible;
	[Parameter] public
	bool? Visible {
		get => isInitialized ? (bool?)DevExpress.Framework.DxCommandInterop.GetVisible(dxTarget).Result : visible;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetVisible(dxTarget, value);
			} else {
				this.visible = value;
			}
		}
	}
	object bindingOptions;
	[Parameter] public
	object BindingOptions {
		get => isInitialized ? DevExpress.Framework.DxCommandInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetBindingOptions(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter] public
	object ElementAttr {
		get => isInitialized ? DevExpress.Framework.DxCommandInterop.GetElementAttr(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetElementAttr(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	object height;
	[Parameter] public
	object Height {
		get => isInitialized ? DevExpress.Framework.DxCommandInterop.GetHeight(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetHeight(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter] public
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Framework.DxCommandInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetRtlEnabled(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object width;
	[Parameter] public
	object Width {
		get => isInitialized ? DevExpress.Framework.DxCommandInterop.GetWidth(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Framework.DxCommandInterop.SetWidth(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onExecuteEnabled;
	[Parameter] public
	bool? OnExecuteEnabled {
		get => onExecuteEnabled;
		set => this.onExecuteEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter] public
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter] public
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter] public
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		DevExpress.Framework.DxCommandInterop.Execute += DxCommand_Execute;
		DevExpress.Framework.DxCommandInterop.Disposing += DxCommand_Disposing;
		DevExpress.Framework.DxCommandInterop.OptionChanged += DxCommand_OptionChanged;
		DevExpress.Framework.DxCommandInterop.Initialized += DxCommand_Initialized;
	}
	[Parameter] public
	Action Execute { get; set; }
	void DxCommand_Execute(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Execute?.Invoke();
		}
	}
	[Parameter] public
	Action Disposing { get; set; }
	void DxCommand_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter] public
	Action OptionChanged { get; set; }
	void DxCommand_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter] public
	Action Initialized { get; set; }
	void DxCommand_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public void DoExecute() {
		DevExpress.Framework.DxCommandInterop.DoExecute(dxTarget);
	}
	public void Dispose() {
		DevExpress.Framework.DxCommandInterop.Execute -= DxCommand_Execute;
		DevExpress.Framework.DxCommandInterop.Disposing -= DxCommand_Disposing;
		DevExpress.Framework.DxCommandInterop.OptionChanged -= DxCommand_OptionChanged;
		DevExpress.Framework.DxCommandInterop.Initialized -= DxCommand_Initialized;
	}
}
