@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxContextMenuOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxContextMenu() : base("DxContextMenu") { }
	protected override DevExpress.Ui.DxContextMenuOptions CreateOptions() {
		return new DevExpress.Ui.DxContextMenuOptions {
			closeOnOutsideClick = closeOnOutsideClick,
			items = items,
			position = position,
			showEvent = showEvent,
			submenuDirection = submenuDirection,
			target = target,
			visible = visible,
			onHiddenEnabled = onHiddenEnabled,
			onHidingEnabled = onHidingEnabled,
			onPositioningEnabled = onPositioningEnabled,
			onShowingEnabled = onShowingEnabled,
			onShownEnabled = onShownEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxContextMenuOptions options) {
		DevExpress.Ui.DxContextMenuInterop.Init(dxTarget, options);
	}
	object closeOnOutsideClick;
	[Parameter]
	object CloseOnOutsideClick {
		get => isInitialized ? DevExpress.Ui.DxContextMenuInterop.GetCloseOnOutsideClick(dxTarget) : closeOnOutsideClick;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxContextMenuInterop.SetCloseOnOutsideClick(dxTarget, value);
			} else {
				this.closeOnOutsideClick = value;
			}
		}
	}
	object items;
	[Parameter]
	object Items {
		get => isInitialized ? DevExpress.Ui.DxContextMenuInterop.GetItems(dxTarget) : items;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxContextMenuInterop.SetItems(dxTarget, value);
			} else {
				this.items = value;
			}
		}
	}
	object position;
	[Parameter]
	object Position {
		get => isInitialized ? DevExpress.Ui.DxContextMenuInterop.GetPosition(dxTarget) : position;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxContextMenuInterop.SetPosition(dxTarget, value);
			} else {
				this.position = value;
			}
		}
	}
	object showEvent;
	[Parameter]
	object ShowEvent {
		get => isInitialized ? DevExpress.Ui.DxContextMenuInterop.GetShowEvent(dxTarget) : showEvent;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxContextMenuInterop.SetShowEvent(dxTarget, value);
			} else {
				this.showEvent = value;
			}
		}
	}
	string submenuDirection;
	[Parameter]
	string SubmenuDirection {
		get => isInitialized ? DevExpress.Ui.DxContextMenuInterop.GetSubmenuDirection(dxTarget) : submenuDirection;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxContextMenuInterop.SetSubmenuDirection(dxTarget, value);
			} else {
				this.submenuDirection = value;
			}
		}
	}
	object target;
	[Parameter]
	object Target {
		get => isInitialized ? DevExpress.Ui.DxContextMenuInterop.GetTarget(dxTarget) : target;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxContextMenuInterop.SetTarget(dxTarget, value);
			} else {
				this.target = value;
			}
		}
	}
	bool? visible;
	[Parameter]
	bool? Visible {
		get => isInitialized ? DevExpress.Ui.DxContextMenuInterop.GetVisible(dxTarget) : visible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxContextMenuInterop.SetVisible(dxTarget, value);
			} else {
				this.visible = value;
			}
		}
	}
	bool? onHiddenEnabled;
	[Parameter]
	bool? OnHiddenEnabled {
		get => onHiddenEnabled;
		set => this.onHiddenEnabled = value;
	}
	bool? onHidingEnabled;
	[Parameter]
	bool? OnHidingEnabled {
		get => onHidingEnabled;
		set => this.onHidingEnabled = value;
	}
	bool? onPositioningEnabled;
	[Parameter]
	bool? OnPositioningEnabled {
		get => onPositioningEnabled;
		set => this.onPositioningEnabled = value;
	}
	bool? onShowingEnabled;
	[Parameter]
	bool? OnShowingEnabled {
		get => onShowingEnabled;
		set => this.onShowingEnabled = value;
	}
	bool? onShownEnabled;
	[Parameter]
	bool? OnShownEnabled {
		get => onShownEnabled;
		set => this.onShownEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxContextMenuInterop.Hidden += DxContextMenu_Hidden;
		DevExpress.Ui.DxContextMenuInterop.Hiding += DxContextMenu_Hiding;
		DevExpress.Ui.DxContextMenuInterop.Positioning += DxContextMenu_Positioning;
		DevExpress.Ui.DxContextMenuInterop.Showing += DxContextMenu_Showing;
		DevExpress.Ui.DxContextMenuInterop.Shown += DxContextMenu_Shown;
	}
	[Parameter]
	Action Hidden { get; set; }
	void DxContextMenu_Hidden(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Hidden?.Invoke();
		}
	}
	[Parameter]
	Action Hiding { get; set; }
	void DxContextMenu_Hiding(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Hiding?.Invoke();
		}
	}
	[Parameter]
	Action Positioning { get; set; }
	void DxContextMenu_Positioning(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Positioning?.Invoke();
		}
	}
	[Parameter]
	Action Showing { get; set; }
	void DxContextMenu_Showing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Showing?.Invoke();
		}
	}
	[Parameter]
	Action Shown { get; set; }
	void DxContextMenu_Shown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Shown?.Invoke();
		}
	}
	public object Hide() {
		return DevExpress.Ui.DxContextMenuInterop.Hide(dxTarget);
	}
	public object Show() {
		return DevExpress.Ui.DxContextMenuInterop.Show(dxTarget);
	}
	public object Toggle(bool showing) {
		return DevExpress.Ui.DxContextMenuInterop.Toggle(dxTarget, showing);
	}
	public void Dispose() {
		DevExpress.Ui.DxContextMenuInterop.Hidden -= DxContextMenu_Hidden;
		DevExpress.Ui.DxContextMenuInterop.Hiding -= DxContextMenu_Hiding;
		DevExpress.Ui.DxContextMenuInterop.Positioning -= DxContextMenu_Positioning;
		DevExpress.Ui.DxContextMenuInterop.Showing -= DxContextMenu_Showing;
		DevExpress.Ui.DxContextMenuInterop.Shown -= DxContextMenu_Shown;
	}
}
