@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxColorBoxOptions>

<div id="@Id"></div>

@functions {
	public DxColorBox() : base("DxColorBox") { }
	protected override DevExpress.Ui.DxColorBoxOptions CreateOptions() {
		return new DevExpress.Ui.DxColorBoxOptions {
			applyButtonText = applyButtonText,
			applyValueMode = applyValueMode,
			cancelButtonText = cancelButtonText,
			editAlphaChannel = editAlphaChannel,
			keyStep = keyStep,
			value = value,
		};
	}
	protected override void Init(DevExpress.Ui.DxColorBoxOptions options) {
		DxColorBoxInterop.Init(Id, options);
	}
	string applyButtonText;
	public string ApplyButtonText {
		get => isInitialized ? DxColorBoxInterop.GetApplyButtonText(Id) : applyButtonText;
		set {
			if (isInitialized) {
				DxColorBoxInterop.SetApplyButtonText(Id, value);
			} else {
				this.applyButtonText = value;
			}
		}
	}
	string applyValueMode;
	public string ApplyValueMode {
		get => isInitialized ? DxColorBoxInterop.GetApplyValueMode(Id) : applyValueMode;
		set {
			if (isInitialized) {
				DxColorBoxInterop.SetApplyValueMode(Id, value);
			} else {
				this.applyValueMode = value;
			}
		}
	}
	string cancelButtonText;
	public string CancelButtonText {
		get => isInitialized ? DxColorBoxInterop.GetCancelButtonText(Id) : cancelButtonText;
		set {
			if (isInitialized) {
				DxColorBoxInterop.SetCancelButtonText(Id, value);
			} else {
				this.cancelButtonText = value;
			}
		}
	}
	bool? editAlphaChannel;
	public bool? EditAlphaChannel {
		get => isInitialized ? DxColorBoxInterop.GetEditAlphaChannel(Id) : editAlphaChannel;
		set {
			if (isInitialized) {
				DxColorBoxInterop.SetEditAlphaChannel(Id, value);
			} else {
				this.editAlphaChannel = value;
			}
		}
	}
	float? keyStep;
	public float? KeyStep {
		get => isInitialized ? DxColorBoxInterop.GetKeyStep(Id) : keyStep;
		set {
			if (isInitialized) {
				DxColorBoxInterop.SetKeyStep(Id, value);
			} else {
				this.keyStep = value;
			}
		}
	}
	string value;
	public string Value {
		get => isInitialized ? DxColorBoxInterop.GetValue(Id) : value;
		set {
			if (isInitialized) {
				DxColorBoxInterop.SetValue(Id, value);
			} else {
				this.value = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
