@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxDataGridOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxDataGrid() : base("DxDataGrid") { }
	protected override DevExpress.Ui.DxDataGridOptions CreateOptions() {
		return new DevExpress.Ui.DxDataGridOptions {
			columns = columns,
			customizeColumns = customizeColumns,
			customizeExportData = customizeExportData,
			editing = editing,
			export = export,
			grouping = grouping,
			groupPanel = groupPanel,
			keyExpr = keyExpr,
			masterDetail = masterDetail,
			remoteOperations = remoteOperations,
			rowTemplate = rowTemplate,
			scrolling = scrolling,
			selection = selection,
			selectionFilter = selectionFilter,
			sortByGroupSummaryInfo = sortByGroupSummaryInfo,
			summary = summary,
			onCellClickEnabled = onCellClickEnabled,
			onCellHoverChangedEnabled = onCellHoverChangedEnabled,
			onCellPreparedEnabled = onCellPreparedEnabled,
			onContextMenuPreparingEnabled = onContextMenuPreparingEnabled,
			onEditingStartEnabled = onEditingStartEnabled,
			onEditorPreparedEnabled = onEditorPreparedEnabled,
			onEditorPreparingEnabled = onEditorPreparingEnabled,
			onExportedEnabled = onExportedEnabled,
			onExportingEnabled = onExportingEnabled,
			onFileSavingEnabled = onFileSavingEnabled,
			onRowClickEnabled = onRowClickEnabled,
			onRowPreparedEnabled = onRowPreparedEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxDataGridOptions options) {
		DevExpress.Ui.DxDataGridInterop.Init(dxTarget, options);
	}
	object columns;
	[Parameter]
	object Columns {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetColumns(dxTarget) : columns;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetColumns(dxTarget, value);
			} else {
				this.columns = value;
			}
		}
	}
	object customizeColumns;
	[Parameter]
	object CustomizeColumns {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetCustomizeColumns(dxTarget) : customizeColumns;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetCustomizeColumns(dxTarget, value);
			} else {
				this.customizeColumns = value;
			}
		}
	}
	object customizeExportData;
	[Parameter]
	object CustomizeExportData {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetCustomizeExportData(dxTarget) : customizeExportData;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetCustomizeExportData(dxTarget, value);
			} else {
				this.customizeExportData = value;
			}
		}
	}
	object editing;
	[Parameter]
	object Editing {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetEditing(dxTarget) : editing;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetEditing(dxTarget, value);
			} else {
				this.editing = value;
			}
		}
	}
	object export;
	[Parameter]
	object Export {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetExport(dxTarget) : export;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetExport(dxTarget, value);
			} else {
				this.export = value;
			}
		}
	}
	object grouping;
	[Parameter]
	object Grouping {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetGrouping(dxTarget) : grouping;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetGrouping(dxTarget, value);
			} else {
				this.grouping = value;
			}
		}
	}
	object groupPanel;
	[Parameter]
	object GroupPanel {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetGroupPanel(dxTarget) : groupPanel;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetGroupPanel(dxTarget, value);
			} else {
				this.groupPanel = value;
			}
		}
	}
	object keyExpr;
	[Parameter]
	object KeyExpr {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetKeyExpr(dxTarget) : keyExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetKeyExpr(dxTarget, value);
			} else {
				this.keyExpr = value;
			}
		}
	}
	object masterDetail;
	[Parameter]
	object MasterDetail {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetMasterDetail(dxTarget) : masterDetail;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetMasterDetail(dxTarget, value);
			} else {
				this.masterDetail = value;
			}
		}
	}
	object remoteOperations;
	[Parameter]
	object RemoteOperations {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetRemoteOperations(dxTarget) : remoteOperations;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetRemoteOperations(dxTarget, value);
			} else {
				this.remoteOperations = value;
			}
		}
	}
	object rowTemplate;
	[Parameter]
	object RowTemplate {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetRowTemplate(dxTarget) : rowTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetRowTemplate(dxTarget, value);
			} else {
				this.rowTemplate = value;
			}
		}
	}
	object scrolling;
	[Parameter]
	object Scrolling {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetScrolling(dxTarget) : scrolling;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetScrolling(dxTarget, value);
			} else {
				this.scrolling = value;
			}
		}
	}
	object selection;
	[Parameter]
	object Selection {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetSelection(dxTarget) : selection;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetSelection(dxTarget, value);
			} else {
				this.selection = value;
			}
		}
	}
	object selectionFilter;
	[Parameter]
	object SelectionFilter {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetSelectionFilter(dxTarget) : selectionFilter;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetSelectionFilter(dxTarget, value);
			} else {
				this.selectionFilter = value;
			}
		}
	}
	object sortByGroupSummaryInfo;
	[Parameter]
	object SortByGroupSummaryInfo {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetSortByGroupSummaryInfo(dxTarget) : sortByGroupSummaryInfo;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetSortByGroupSummaryInfo(dxTarget, value);
			} else {
				this.sortByGroupSummaryInfo = value;
			}
		}
	}
	object summary;
	[Parameter]
	object Summary {
		get => isInitialized ? DevExpress.Ui.DxDataGridInterop.GetSummary(dxTarget) : summary;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDataGridInterop.SetSummary(dxTarget, value);
			} else {
				this.summary = value;
			}
		}
	}
	bool? onCellClickEnabled;
	[Parameter]
	bool? OnCellClickEnabled {
		get => onCellClickEnabled;
		set => this.onCellClickEnabled = value;
	}
	bool? onCellHoverChangedEnabled;
	[Parameter]
	bool? OnCellHoverChangedEnabled {
		get => onCellHoverChangedEnabled;
		set => this.onCellHoverChangedEnabled = value;
	}
	bool? onCellPreparedEnabled;
	[Parameter]
	bool? OnCellPreparedEnabled {
		get => onCellPreparedEnabled;
		set => this.onCellPreparedEnabled = value;
	}
	bool? onContextMenuPreparingEnabled;
	[Parameter]
	bool? OnContextMenuPreparingEnabled {
		get => onContextMenuPreparingEnabled;
		set => this.onContextMenuPreparingEnabled = value;
	}
	bool? onEditingStartEnabled;
	[Parameter]
	bool? OnEditingStartEnabled {
		get => onEditingStartEnabled;
		set => this.onEditingStartEnabled = value;
	}
	bool? onEditorPreparedEnabled;
	[Parameter]
	bool? OnEditorPreparedEnabled {
		get => onEditorPreparedEnabled;
		set => this.onEditorPreparedEnabled = value;
	}
	bool? onEditorPreparingEnabled;
	[Parameter]
	bool? OnEditorPreparingEnabled {
		get => onEditorPreparingEnabled;
		set => this.onEditorPreparingEnabled = value;
	}
	bool? onExportedEnabled;
	[Parameter]
	bool? OnExportedEnabled {
		get => onExportedEnabled;
		set => this.onExportedEnabled = value;
	}
	bool? onExportingEnabled;
	[Parameter]
	bool? OnExportingEnabled {
		get => onExportingEnabled;
		set => this.onExportingEnabled = value;
	}
	bool? onFileSavingEnabled;
	[Parameter]
	bool? OnFileSavingEnabled {
		get => onFileSavingEnabled;
		set => this.onFileSavingEnabled = value;
	}
	bool? onRowClickEnabled;
	[Parameter]
	bool? OnRowClickEnabled {
		get => onRowClickEnabled;
		set => this.onRowClickEnabled = value;
	}
	bool? onRowPreparedEnabled;
	[Parameter]
	bool? OnRowPreparedEnabled {
		get => onRowPreparedEnabled;
		set => this.onRowPreparedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxDataGridInterop.CellClick += DxDataGrid_CellClick;
		DevExpress.Ui.DxDataGridInterop.CellHoverChanged += DxDataGrid_CellHoverChanged;
		DevExpress.Ui.DxDataGridInterop.CellPrepared += DxDataGrid_CellPrepared;
		DevExpress.Ui.DxDataGridInterop.ContextMenuPreparing += DxDataGrid_ContextMenuPreparing;
		DevExpress.Ui.DxDataGridInterop.EditingStart += DxDataGrid_EditingStart;
		DevExpress.Ui.DxDataGridInterop.EditorPrepared += DxDataGrid_EditorPrepared;
		DevExpress.Ui.DxDataGridInterop.EditorPreparing += DxDataGrid_EditorPreparing;
		DevExpress.Ui.DxDataGridInterop.Exported += DxDataGrid_Exported;
		DevExpress.Ui.DxDataGridInterop.Exporting += DxDataGrid_Exporting;
		DevExpress.Ui.DxDataGridInterop.FileSaving += DxDataGrid_FileSaving;
		DevExpress.Ui.DxDataGridInterop.RowClick += DxDataGrid_RowClick;
		DevExpress.Ui.DxDataGridInterop.RowPrepared += DxDataGrid_RowPrepared;
	}
	[Parameter]
	Action CellClick { get; set; }
	void DxDataGrid_CellClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			CellClick?.Invoke();
		}
	}
	[Parameter]
	Action CellHoverChanged { get; set; }
	void DxDataGrid_CellHoverChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			CellHoverChanged?.Invoke();
		}
	}
	[Parameter]
	Action CellPrepared { get; set; }
	void DxDataGrid_CellPrepared(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			CellPrepared?.Invoke();
		}
	}
	[Parameter]
	Action ContextMenuPreparing { get; set; }
	void DxDataGrid_ContextMenuPreparing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContextMenuPreparing?.Invoke();
		}
	}
	[Parameter]
	Action EditingStart { get; set; }
	void DxDataGrid_EditingStart(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			EditingStart?.Invoke();
		}
	}
	[Parameter]
	Action EditorPrepared { get; set; }
	void DxDataGrid_EditorPrepared(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			EditorPrepared?.Invoke();
		}
	}
	[Parameter]
	Action EditorPreparing { get; set; }
	void DxDataGrid_EditorPreparing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			EditorPreparing?.Invoke();
		}
	}
	[Parameter]
	Action Exported { get; set; }
	void DxDataGrid_Exported(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exported?.Invoke();
		}
	}
	[Parameter]
	Action Exporting { get; set; }
	void DxDataGrid_Exporting(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exporting?.Invoke();
		}
	}
	[Parameter]
	Action FileSaving { get; set; }
	void DxDataGrid_FileSaving(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FileSaving?.Invoke();
		}
	}
	[Parameter]
	Action RowClick { get; set; }
	void DxDataGrid_RowClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowClick?.Invoke();
		}
	}
	[Parameter]
	Action RowPrepared { get; set; }
	void DxDataGrid_RowPrepared(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowPrepared?.Invoke();
		}
	}
	public void AddColumn(object columnOptions) {
		DevExpress.Ui.DxDataGridInterop.AddColumn(dxTarget, columnOptions);
	}
	public void AddRow() {
		DevExpress.Ui.DxDataGridInterop.AddRow(dxTarget);
	}
	public void ClearGrouping() {
		DevExpress.Ui.DxDataGridInterop.ClearGrouping(dxTarget);
	}
	public void CollapseAll(float groupIndex) {
		DevExpress.Ui.DxDataGridInterop.CollapseAll(dxTarget, groupIndex);
	}
	public object CollapseRow(object key) {
		return DevExpress.Ui.DxDataGridInterop.CollapseRow(dxTarget, key);
	}
	public void ExpandAll(float groupIndex) {
		DevExpress.Ui.DxDataGridInterop.ExpandAll(dxTarget, groupIndex);
	}
	public object ExpandRow(object key) {
		return DevExpress.Ui.DxDataGridInterop.ExpandRow(dxTarget, key);
	}
	public void ExportToExcel(bool selectionOnly) {
		DevExpress.Ui.DxDataGridInterop.ExportToExcel(dxTarget, selectionOnly);
	}
	public object GetSelectedRowKeys() {
		return DevExpress.Ui.DxDataGridInterop.GetSelectedRowKeys(dxTarget);
	}
	public object GetSelectedRowsData() {
		return DevExpress.Ui.DxDataGridInterop.GetSelectedRowsData(dxTarget);
	}
	public object GetTotalSummaryValue(string summaryItemName) {
		return DevExpress.Ui.DxDataGridInterop.GetTotalSummaryValue(dxTarget, summaryItemName);
	}
	public object GetVisibleColumns() {
		return DevExpress.Ui.DxDataGridInterop.GetVisibleColumns(dxTarget);
	}
	public object GetVisibleColumns(float headerLevel) {
		return DevExpress.Ui.DxDataGridInterop.GetVisibleColumns(dxTarget, headerLevel);
	}
	public object GetVisibleRows() {
		return DevExpress.Ui.DxDataGridInterop.GetVisibleRows(dxTarget);
	}
	public void InsertRow() {
		DevExpress.Ui.DxDataGridInterop.InsertRow(dxTarget);
	}
	public bool IsRowExpanded(object key) {
		return DevExpress.Ui.DxDataGridInterop.IsRowExpanded(dxTarget, key);
	}
	public bool IsRowSelected(object data) {
		return DevExpress.Ui.DxDataGridInterop.IsRowSelected(dxTarget, data);
	}
	public void RemoveRow(float rowIndex) {
		DevExpress.Ui.DxDataGridInterop.RemoveRow(dxTarget, rowIndex);
	}
	public float TotalCount() {
		return DevExpress.Ui.DxDataGridInterop.TotalCount(dxTarget);
	}
	public void Dispose() {
		DevExpress.Ui.DxDataGridInterop.CellClick -= DxDataGrid_CellClick;
		DevExpress.Ui.DxDataGridInterop.CellHoverChanged -= DxDataGrid_CellHoverChanged;
		DevExpress.Ui.DxDataGridInterop.CellPrepared -= DxDataGrid_CellPrepared;
		DevExpress.Ui.DxDataGridInterop.ContextMenuPreparing -= DxDataGrid_ContextMenuPreparing;
		DevExpress.Ui.DxDataGridInterop.EditingStart -= DxDataGrid_EditingStart;
		DevExpress.Ui.DxDataGridInterop.EditorPrepared -= DxDataGrid_EditorPrepared;
		DevExpress.Ui.DxDataGridInterop.EditorPreparing -= DxDataGrid_EditorPreparing;
		DevExpress.Ui.DxDataGridInterop.Exported -= DxDataGrid_Exported;
		DevExpress.Ui.DxDataGridInterop.Exporting -= DxDataGrid_Exporting;
		DevExpress.Ui.DxDataGridInterop.FileSaving -= DxDataGrid_FileSaving;
		DevExpress.Ui.DxDataGridInterop.RowClick -= DxDataGrid_RowClick;
		DevExpress.Ui.DxDataGridInterop.RowPrepared -= DxDataGrid_RowPrepared;
	}
}
