@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxDateBoxOptions>

<div id="@Id"></div>

@functions {
	public DxDateBox() : base("DxDateBox") { }
	protected override DevExpress.Ui.DxDateBoxOptions CreateOptions() {
		return new DevExpress.Ui.DxDateBoxOptions {
			adaptivityEnabled = adaptivityEnabled,
			applyButtonText = applyButtonText,
			calendarOptions = calendarOptions,
			cancelButtonText = cancelButtonText,
			dateOutOfRangeMessage = dateOutOfRangeMessage,
			dateSerializationFormat = dateSerializationFormat,
			disabledDates = disabledDates,
			displayFormat = displayFormat,
			interval = interval,
			invalidDateMessage = invalidDateMessage,
			max = max,
			maxZoomLevel = maxZoomLevel,
			min = min,
			minZoomLevel = minZoomLevel,
			pickerType = pickerType,
			placeholder = placeholder,
			showAnalogClock = showAnalogClock,
			type = type,
			value = value,
		};
	}
	protected override void Init(DevExpress.Ui.DxDateBoxOptions options) {
		DevExpress.Ui.DxDateBoxInterop.Init(Id, options);
	}
	bool? adaptivityEnabled;
	public bool? AdaptivityEnabled {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetAdaptivityEnabled(Id) : adaptivityEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetAdaptivityEnabled(Id, value);
			} else {
				this.adaptivityEnabled = value;
			}
		}
	}
	string applyButtonText;
	public string ApplyButtonText {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetApplyButtonText(Id) : applyButtonText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetApplyButtonText(Id, value);
			} else {
				this.applyButtonText = value;
			}
		}
	}
	object calendarOptions;
	public object CalendarOptions {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetCalendarOptions(Id) : calendarOptions;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetCalendarOptions(Id, value);
			} else {
				this.calendarOptions = value;
			}
		}
	}
	string cancelButtonText;
	public string CancelButtonText {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetCancelButtonText(Id) : cancelButtonText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetCancelButtonText(Id, value);
			} else {
				this.cancelButtonText = value;
			}
		}
	}
	string dateOutOfRangeMessage;
	public string DateOutOfRangeMessage {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetDateOutOfRangeMessage(Id) : dateOutOfRangeMessage;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetDateOutOfRangeMessage(Id, value);
			} else {
				this.dateOutOfRangeMessage = value;
			}
		}
	}
	string dateSerializationFormat;
	public string DateSerializationFormat {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetDateSerializationFormat(Id) : dateSerializationFormat;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetDateSerializationFormat(Id, value);
			} else {
				this.dateSerializationFormat = value;
			}
		}
	}
	object disabledDates;
	public object DisabledDates {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetDisabledDates(Id) : disabledDates;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetDisabledDates(Id, value);
			} else {
				this.disabledDates = value;
			}
		}
	}
	object displayFormat;
	public object DisplayFormat {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetDisplayFormat(Id) : displayFormat;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetDisplayFormat(Id, value);
			} else {
				this.displayFormat = value;
			}
		}
	}
	float? interval;
	public float? Interval {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetInterval(Id) : interval;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetInterval(Id, value);
			} else {
				this.interval = value;
			}
		}
	}
	string invalidDateMessage;
	public string InvalidDateMessage {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetInvalidDateMessage(Id) : invalidDateMessage;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetInvalidDateMessage(Id, value);
			} else {
				this.invalidDateMessage = value;
			}
		}
	}
	object max;
	public object Max {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetMax(Id) : max;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetMax(Id, value);
			} else {
				this.max = value;
			}
		}
	}
	string maxZoomLevel;
	public string MaxZoomLevel {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetMaxZoomLevel(Id) : maxZoomLevel;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetMaxZoomLevel(Id, value);
			} else {
				this.maxZoomLevel = value;
			}
		}
	}
	object min;
	public object Min {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetMin(Id) : min;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetMin(Id, value);
			} else {
				this.min = value;
			}
		}
	}
	string minZoomLevel;
	public string MinZoomLevel {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetMinZoomLevel(Id) : minZoomLevel;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetMinZoomLevel(Id, value);
			} else {
				this.minZoomLevel = value;
			}
		}
	}
	string pickerType;
	public string PickerType {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetPickerType(Id) : pickerType;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetPickerType(Id, value);
			} else {
				this.pickerType = value;
			}
		}
	}
	string placeholder;
	public string Placeholder {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetPlaceholder(Id) : placeholder;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetPlaceholder(Id, value);
			} else {
				this.placeholder = value;
			}
		}
	}
	bool? showAnalogClock;
	public bool? ShowAnalogClock {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetShowAnalogClock(Id) : showAnalogClock;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetShowAnalogClock(Id, value);
			} else {
				this.showAnalogClock = value;
			}
		}
	}
	string type;
	public string Type {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetType(Id) : type;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetType(Id, value);
			} else {
				this.type = value;
			}
		}
	}
	object value;
	public object Value {
		get => isInitialized ? DevExpress.Ui.DxDateBoxInterop.GetValue(Id) : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDateBoxInterop.SetValue(Id, value);
			} else {
				this.value = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Close() {
		DevExpress.Ui.DxDateBoxInterop.Close(Id);
	}
	public void Open() {
		DevExpress.Ui.DxDateBoxInterop.Open(Id);
	}
	public void Dispose() {
	}
}
