
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxDeferRenderingOptions>

<div id="@Id"  @ref="dxTarget"></div>

@functions {
	ElementReference dxTarget;
	public DxDeferRendering() : base("DxDeferRendering") { }
	protected override DevExpress.Ui.DxDeferRenderingOptions CreateOptions() {
		return new DevExpress.Ui.DxDeferRenderingOptions {
			animation = animation,
			renderWhen = renderWhen,
			showLoadIndicator = showLoadIndicator,
			staggerItemSelector = staggerItemSelector,
			accessKey = accessKey,
			activeStateEnabled = activeStateEnabled,
			disabled = disabled,
			focusStateEnabled = focusStateEnabled,
			hint = hint,
			hoverStateEnabled = hoverStateEnabled,
			tabIndex = tabIndex,
			visible = visible,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			height = height,
			rtlEnabled = rtlEnabled,
			width = width,
			onRenderedEnabled = onRenderedEnabled,
			onShownEnabled = onShownEnabled,
			onContentReadyEnabled = onContentReadyEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override ValueTask<object> Init(DevExpress.Ui.DxDeferRenderingOptions options) {
		return DevExpress.Ui.DxDeferRenderingInterop.Init(dxTarget, options);
	}
	object animation;
	[Parameter] public
	object Animation {
		get => isInitialized ? DevExpress.Ui.DxDeferRenderingInterop.GetAnimation(dxTarget).Result : animation;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetAnimation(dxTarget, value);
			} else {
				this.animation = value;
			}
		}
	}
	object renderWhen;
	[Parameter] public
	object RenderWhen {
		get => isInitialized ? DevExpress.Ui.DxDeferRenderingInterop.GetRenderWhen(dxTarget).Result : renderWhen;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetRenderWhen(dxTarget, value);
			} else {
				this.renderWhen = value;
			}
		}
	}
	bool? showLoadIndicator;
	[Parameter] public
	bool? ShowLoadIndicator {
		get => isInitialized ? (bool?)DevExpress.Ui.DxDeferRenderingInterop.GetShowLoadIndicator(dxTarget).Result : showLoadIndicator;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetShowLoadIndicator(dxTarget, value);
			} else {
				this.showLoadIndicator = value;
			}
		}
	}
	string staggerItemSelector;
	[Parameter] public
	string StaggerItemSelector {
		get => isInitialized ? (string)DevExpress.Ui.DxDeferRenderingInterop.GetStaggerItemSelector(dxTarget).Result : staggerItemSelector;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetStaggerItemSelector(dxTarget, value);
			} else {
				this.staggerItemSelector = value;
			}
		}
	}
	string accessKey;
	[Parameter] public
	string AccessKey {
		get => isInitialized ? (string)DevExpress.Ui.DxDeferRenderingInterop.GetAccessKey(dxTarget).Result : accessKey;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetAccessKey(dxTarget, value);
			} else {
				this.accessKey = value;
			}
		}
	}
	bool? activeStateEnabled;
	[Parameter] public
	bool? ActiveStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxDeferRenderingInterop.GetActiveStateEnabled(dxTarget).Result : activeStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetActiveStateEnabled(dxTarget, value);
			} else {
				this.activeStateEnabled = value;
			}
		}
	}
	bool? disabled;
	[Parameter] public
	bool? Disabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxDeferRenderingInterop.GetDisabled(dxTarget).Result : disabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetDisabled(dxTarget, value);
			} else {
				this.disabled = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter] public
	bool? FocusStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxDeferRenderingInterop.GetFocusStateEnabled(dxTarget).Result : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetFocusStateEnabled(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	string hint;
	[Parameter] public
	string Hint {
		get => isInitialized ? (string)DevExpress.Ui.DxDeferRenderingInterop.GetHint(dxTarget).Result : hint;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetHint(dxTarget, value);
			} else {
				this.hint = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter] public
	bool? HoverStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxDeferRenderingInterop.GetHoverStateEnabled(dxTarget).Result : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetHoverStateEnabled(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	float? tabIndex;
	[Parameter] public
	float? TabIndex {
		get => isInitialized ? (float?)DevExpress.Ui.DxDeferRenderingInterop.GetTabIndex(dxTarget).Result : tabIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetTabIndex(dxTarget, value);
			} else {
				this.tabIndex = value;
			}
		}
	}
	bool? visible;
	[Parameter] public
	bool? Visible {
		get => isInitialized ? (bool?)DevExpress.Ui.DxDeferRenderingInterop.GetVisible(dxTarget).Result : visible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetVisible(dxTarget, value);
			} else {
				this.visible = value;
			}
		}
	}
	object bindingOptions;
	[Parameter] public
	object BindingOptions {
		get => isInitialized ? DevExpress.Ui.DxDeferRenderingInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetBindingOptions(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter] public
	object ElementAttr {
		get => isInitialized ? DevExpress.Ui.DxDeferRenderingInterop.GetElementAttr(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetElementAttr(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	object height;
	[Parameter] public
	object Height {
		get => isInitialized ? DevExpress.Ui.DxDeferRenderingInterop.GetHeight(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetHeight(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter] public
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxDeferRenderingInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetRtlEnabled(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object width;
	[Parameter] public
	object Width {
		get => isInitialized ? DevExpress.Ui.DxDeferRenderingInterop.GetWidth(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDeferRenderingInterop.SetWidth(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onRenderedEnabled;
	[Parameter] public
	bool? OnRenderedEnabled {
		get => onRenderedEnabled;
		set => this.onRenderedEnabled = value;
	}
	bool? onShownEnabled;
	[Parameter] public
	bool? OnShownEnabled {
		get => onShownEnabled;
		set => this.onShownEnabled = value;
	}
	bool? onContentReadyEnabled;
	[Parameter] public
	bool? OnContentReadyEnabled {
		get => onContentReadyEnabled;
		set => this.onContentReadyEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter] public
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter] public
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter] public
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		DevExpress.Ui.DxDeferRenderingInterop.Rendered += DxDeferRendering_Rendered;
		DevExpress.Ui.DxDeferRenderingInterop.Shown += DxDeferRendering_Shown;
		DevExpress.Ui.DxDeferRenderingInterop.ContentReady += DxDeferRendering_ContentReady;
		DevExpress.Ui.DxDeferRenderingInterop.Disposing += DxDeferRendering_Disposing;
		DevExpress.Ui.DxDeferRenderingInterop.OptionChanged += DxDeferRendering_OptionChanged;
		DevExpress.Ui.DxDeferRenderingInterop.Initialized += DxDeferRendering_Initialized;
	}
	[Parameter] public
	Action Rendered { get; set; }
	void DxDeferRendering_Rendered(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Rendered?.Invoke();
		}
	}
	[Parameter] public
	Action Shown { get; set; }
	void DxDeferRendering_Shown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Shown?.Invoke();
		}
	}
	[Parameter] public
	Action ContentReady { get; set; }
	void DxDeferRendering_ContentReady(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContentReady?.Invoke();
		}
	}
	[Parameter] public
	Action Disposing { get; set; }
	void DxDeferRendering_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter] public
	Action OptionChanged { get; set; }
	void DxDeferRendering_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter] public
	Action Initialized { get; set; }
	void DxDeferRendering_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Ui.DxDeferRenderingInterop.Rendered -= DxDeferRendering_Rendered;
		DevExpress.Ui.DxDeferRenderingInterop.Shown -= DxDeferRendering_Shown;
		DevExpress.Ui.DxDeferRenderingInterop.ContentReady -= DxDeferRendering_ContentReady;
		DevExpress.Ui.DxDeferRenderingInterop.Disposing -= DxDeferRendering_Disposing;
		DevExpress.Ui.DxDeferRenderingInterop.OptionChanged -= DxDeferRendering_OptionChanged;
		DevExpress.Ui.DxDeferRenderingInterop.Initialized -= DxDeferRendering_Initialized;
	}
}
