@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxDropDownMenuOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxDropDownMenu() : base("DxDropDownMenu") { }
	protected override DevExpress.Ui.DxDropDownMenuOptions CreateOptions() {
		return new DevExpress.Ui.DxDropDownMenuOptions {
			activeStateEnabled = activeStateEnabled,
			buttonIcon = buttonIcon,
			buttonText = buttonText,
			dataSource = dataSource,
			hoverStateEnabled = hoverStateEnabled,
			items = items,
			itemTemplate = itemTemplate,
			opened = isOpened,
			popupHeight = popupHeight,
			popupWidth = popupWidth,
			usePopover = usePopover,
			onButtonClickEnabled = onButtonClickEnabled,
			onItemClickEnabled = onItemClickEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.DxDropDownMenuOptions options) {
return 		DevExpress.Ui.DxDropDownMenuInterop.Init(dxTarget, options);
	}
	bool? activeStateEnabled;
	[Parameter]
	bool? ActiveStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxDropDownMenuInterop.GetActiveStateEnabled(dxTarget).Result : activeStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDropDownMenuInterop.SetActiveStateEnabled(dxTarget, value);
			} else {
				this.activeStateEnabled = value;
			}
		}
	}
	string buttonIcon;
	[Parameter]
	string ButtonIcon {
		get => isInitialized ? DevExpress.Ui.DxDropDownMenuInterop.GetButtonIcon(dxTarget).Result : buttonIcon;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDropDownMenuInterop.SetButtonIcon(dxTarget, value);
			} else {
				this.buttonIcon = value;
			}
		}
	}
	string buttonText;
	[Parameter]
	string ButtonText {
		get => isInitialized ? DevExpress.Ui.DxDropDownMenuInterop.GetButtonText(dxTarget).Result : buttonText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDropDownMenuInterop.SetButtonText(dxTarget, value);
			} else {
				this.buttonText = value;
			}
		}
	}
	object dataSource;
	[Parameter]
	object DataSource {
		get => isInitialized ? DevExpress.Ui.DxDropDownMenuInterop.GetDataSource(dxTarget).Result : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDropDownMenuInterop.SetDataSource(dxTarget, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter]
	bool? HoverStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxDropDownMenuInterop.GetHoverStateEnabled(dxTarget).Result : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDropDownMenuInterop.SetHoverStateEnabled(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	object items;
	[Parameter]
	object Items {
		get => isInitialized ? DevExpress.Ui.DxDropDownMenuInterop.GetItems(dxTarget).Result : items;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDropDownMenuInterop.SetItems(dxTarget, value);
			} else {
				this.items = value;
			}
		}
	}
	object itemTemplate;
	[Parameter]
	object ItemTemplate {
		get => isInitialized ? DevExpress.Ui.DxDropDownMenuInterop.GetItemTemplate(dxTarget).Result : itemTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDropDownMenuInterop.SetItemTemplate(dxTarget, value);
			} else {
				this.itemTemplate = value;
			}
		}
	}
	bool? isOpened;
	[Parameter]
	bool? IsOpened {
		get => isInitialized ? DevExpress.Ui.DxDropDownMenuInterop.GetOpened(dxTarget).Result : isOpened;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDropDownMenuInterop.SetOpened(dxTarget, value);
			} else {
				this.isOpened = value;
			}
		}
	}
	object popupHeight;
	[Parameter]
	object PopupHeight {
		get => isInitialized ? DevExpress.Ui.DxDropDownMenuInterop.GetPopupHeight(dxTarget).Result : popupHeight;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDropDownMenuInterop.SetPopupHeight(dxTarget, value);
			} else {
				this.popupHeight = value;
			}
		}
	}
	object popupWidth;
	[Parameter]
	object PopupWidth {
		get => isInitialized ? DevExpress.Ui.DxDropDownMenuInterop.GetPopupWidth(dxTarget).Result : popupWidth;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDropDownMenuInterop.SetPopupWidth(dxTarget, value);
			} else {
				this.popupWidth = value;
			}
		}
	}
	bool? usePopover;
	[Parameter]
	bool? UsePopover {
		get => isInitialized ? DevExpress.Ui.DxDropDownMenuInterop.GetUsePopover(dxTarget).Result : usePopover;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxDropDownMenuInterop.SetUsePopover(dxTarget, value);
			} else {
				this.usePopover = value;
			}
		}
	}
	bool? onButtonClickEnabled;
	[Parameter]
	bool? OnButtonClickEnabled {
		get => onButtonClickEnabled;
		set => this.onButtonClickEnabled = value;
	}
	bool? onItemClickEnabled;
	[Parameter]
	bool? OnItemClickEnabled {
		get => onItemClickEnabled;
		set => this.onItemClickEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxDropDownMenuInterop.ButtonClick += DxDropDownMenu_ButtonClick;
		DevExpress.Ui.DxDropDownMenuInterop.ItemClick += DxDropDownMenu_ItemClick;
	}
	[Parameter]
	Action ButtonClick { get; set; }
	void DxDropDownMenu_ButtonClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ButtonClick?.Invoke();
		}
	}
	[Parameter]
	Action ItemClick { get; set; }
	void DxDropDownMenu_ItemClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemClick?.Invoke();
		}
	}
	public void Close() {
		DevExpress.Ui.DxDropDownMenuInterop.Close(dxTarget);
	}
	public void Open() {
		DevExpress.Ui.DxDropDownMenuInterop.Open(dxTarget);
	}
	public void Dispose() {
		DevExpress.Ui.DxDropDownMenuInterop.ButtonClick -= DxDropDownMenu_ButtonClick;
		DevExpress.Ui.DxDropDownMenuInterop.ItemClick -= DxDropDownMenu_ItemClick;
	}
}
