
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxFileUploaderOptions>

<div id="@Id"  @ref="dxTarget"></div>

@functions {
    ElementReference dxTarget;
    public DxFileUploader() : base("DxFileUploader") { }
    protected override DevExpress.Ui.DxFileUploaderOptions CreateOptions() {
        return new DevExpress.Ui.DxFileUploaderOptions {
            accept = accept,
            allowCanceling = allowCanceling,
            focusStateEnabled = focusStateEnabled,
            labelText = labelText,
            multiple = multiple,
            name = name,
            progress = progressValue,
            readyToUploadMessage = readyToUploadMessage,
            selectButtonText = selectButtonText,
            showFileList = showFileList,
            uploadButtonText = uploadButtonText,
            uploadedMessage = uploadedMessage,
            uploadFailedMessage = uploadFailedMessage,
            uploadHeaders = uploadHeaders,
            uploadMethod = uploadMethod,
            uploadMode = uploadMode,
            uploadUrl = uploadUrl,
            value = value,
            isValid = isValid,
            readOnly = readOnly,
            validationError = validationError,
            validationMessageMode = validationMessageMode,
            accessKey = accessKey,
            activeStateEnabled = activeStateEnabled,
            disabled = disabled,
            hint = hint,
            hoverStateEnabled = hoverStateEnabled,
            tabIndex = tabIndex,
            visible = visible,
            bindingOptions = bindingOptions,
            elementAttr = elementAttr,
            height = height,
            rtlEnabled = rtlEnabled,
            width = width,
            onProgressEnabled = onProgressEnabled,
            onUploadAbortedEnabled = onUploadAbortedEnabled,
            onUploadedEnabled = onUploadedEnabled,
            onUploadErrorEnabled = onUploadErrorEnabled,
            onUploadStartedEnabled = onUploadStartedEnabled,
            onValueChangedEnabled = onValueChangedEnabled,
            onContentReadyEnabled = onContentReadyEnabled,
            onDisposingEnabled = onDisposingEnabled,
            onOptionChangedEnabled = onOptionChangedEnabled,
            onInitializedEnabled = onInitializedEnabled,
        };
    }
    protected override ValueTask<object> Init(DevExpress.Ui.DxFileUploaderOptions options) {
        return DevExpress.Ui.DxFileUploaderInterop.Init(dxTarget, options);
    }
    string accept;
    [Parameter] public
    string Accept {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetAccept(dxTarget).Result : accept;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetAccept(dxTarget, value);
            } else {
                this.accept = value;
            }
        }
    }
    bool? allowCanceling;
    [Parameter] public
    bool? AllowCanceling {
        get => isInitialized ? (bool?)DevExpress.Ui.DxFileUploaderInterop.GetAllowCanceling(dxTarget).Result : allowCanceling;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetAllowCanceling(dxTarget, value);
            } else {
                this.allowCanceling = value;
            }
        }
    }
    bool? focusStateEnabled;
    [Parameter] public
    bool? FocusStateEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxFileUploaderInterop.GetFocusStateEnabled(dxTarget).Result : focusStateEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetFocusStateEnabled(dxTarget, value);
            } else {
                this.focusStateEnabled = value;
            }
        }
    }
    string labelText;
    [Parameter] public
    string LabelText {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetLabelText(dxTarget).Result : labelText;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetLabelText(dxTarget, value);
            } else {
                this.labelText = value;
            }
        }
    }
    bool? multiple;
    [Parameter] public
    bool? Multiple {
        get => isInitialized ? (bool?)DevExpress.Ui.DxFileUploaderInterop.GetMultiple(dxTarget).Result : multiple;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetMultiple(dxTarget, value);
            } else {
                this.multiple = value;
            }
        }
    }
    string name;
    [Parameter] public
    string Name {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetName(dxTarget).Result : name;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetName(dxTarget, value);
            } else {
                this.name = value;
            }
        }
    }
    float? progressValue;
    [Parameter] public
    float? ProgressValue {
        get => isInitialized ? (float?)DevExpress.Ui.DxFileUploaderInterop.GetProgress(dxTarget).Result : progressValue;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetProgress(dxTarget, value);
            } else {
                this.progressValue = value;
            }
        }
    }
    string readyToUploadMessage;
    [Parameter] public
    string ReadyToUploadMessage {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetReadyToUploadMessage(dxTarget).Result : readyToUploadMessage;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetReadyToUploadMessage(dxTarget, value);
            } else {
                this.readyToUploadMessage = value;
            }
        }
    }
    string selectButtonText;
    [Parameter] public
    string SelectButtonText {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetSelectButtonText(dxTarget).Result : selectButtonText;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetSelectButtonText(dxTarget, value);
            } else {
                this.selectButtonText = value;
            }
        }
    }
    bool? showFileList;
    [Parameter] public
    bool? ShowFileList {
        get => isInitialized ? (bool?)DevExpress.Ui.DxFileUploaderInterop.GetShowFileList(dxTarget).Result : showFileList;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetShowFileList(dxTarget, value);
            } else {
                this.showFileList = value;
            }
        }
    }
    string uploadButtonText;
    [Parameter] public
    string UploadButtonText {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetUploadButtonText(dxTarget).Result : uploadButtonText;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetUploadButtonText(dxTarget, value);
            } else {
                this.uploadButtonText = value;
            }
        }
    }
    string uploadedMessage;
    [Parameter] public
    string UploadedMessage {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetUploadedMessage(dxTarget).Result : uploadedMessage;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetUploadedMessage(dxTarget, value);
            } else {
                this.uploadedMessage = value;
            }
        }
    }
    string uploadFailedMessage;
    [Parameter] public
    string UploadFailedMessage {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetUploadFailedMessage(dxTarget).Result : uploadFailedMessage;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetUploadFailedMessage(dxTarget, value);
            } else {
                this.uploadFailedMessage = value;
            }
        }
    }
    object uploadHeaders;
    [Parameter] public
    object UploadHeaders {
        get => isInitialized ? DevExpress.Ui.DxFileUploaderInterop.GetUploadHeaders(dxTarget).Result : uploadHeaders;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetUploadHeaders(dxTarget, value);
            } else {
                this.uploadHeaders = value;
            }
        }
    }
    string uploadMethod;
    [Parameter] public
    string UploadMethod {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetUploadMethod(dxTarget).Result : uploadMethod;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetUploadMethod(dxTarget, value);
            } else {
                this.uploadMethod = value;
            }
        }
    }
    string uploadMode;
    [Parameter] public
    string UploadMode {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetUploadMode(dxTarget).Result : uploadMode;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetUploadMode(dxTarget, value);
            } else {
                this.uploadMode = value;
            }
        }
    }
    string uploadUrl;
    [Parameter] public
    string UploadUrl {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetUploadUrl(dxTarget).Result : uploadUrl;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetUploadUrl(dxTarget, value);
            } else {
                this.uploadUrl = value;
            }
        }
    }
    object value;
    [Parameter] public
    object Value {
        get => isInitialized ? DevExpress.Ui.DxFileUploaderInterop.GetValue(dxTarget).Result : value;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetValue(dxTarget, value);
            } else {
                this.value = value;
            }
        }
    }
    bool? isValid;
    [Parameter] public
    bool? IsValid {
        get => isInitialized ? (bool?)DevExpress.Ui.DxFileUploaderInterop.GetIsValid(dxTarget).Result : isValid;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetIsValid(dxTarget, value);
            } else {
                this.isValid = value;
            }
        }
    }
    bool? readOnly;
    [Parameter] public
    bool? ReadOnly {
        get => isInitialized ? (bool?)DevExpress.Ui.DxFileUploaderInterop.GetReadOnly(dxTarget).Result : readOnly;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetReadOnly(dxTarget, value);
            } else {
                this.readOnly = value;
            }
        }
    }
    object validationError;
    [Parameter] public
    object ValidationError {
        get => isInitialized ? DevExpress.Ui.DxFileUploaderInterop.GetValidationError(dxTarget).Result : validationError;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetValidationError(dxTarget, value);
            } else {
                this.validationError = value;
            }
        }
    }
    string validationMessageMode;
    [Parameter] public
    string ValidationMessageMode {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetValidationMessageMode(dxTarget).Result : validationMessageMode;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetValidationMessageMode(dxTarget, value);
            } else {
                this.validationMessageMode = value;
            }
        }
    }
    string accessKey;
    [Parameter] public
    string AccessKey {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetAccessKey(dxTarget).Result : accessKey;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetAccessKey(dxTarget, value);
            } else {
                this.accessKey = value;
            }
        }
    }
    bool? activeStateEnabled;
    [Parameter] public
    bool? ActiveStateEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxFileUploaderInterop.GetActiveStateEnabled(dxTarget).Result : activeStateEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetActiveStateEnabled(dxTarget, value);
            } else {
                this.activeStateEnabled = value;
            }
        }
    }
    bool? disabled;
    [Parameter] public
    bool? Disabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxFileUploaderInterop.GetDisabled(dxTarget).Result : disabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetDisabled(dxTarget, value);
            } else {
                this.disabled = value;
            }
        }
    }
    string hint;
    [Parameter] public
    string Hint {
        get => isInitialized ? (string)DevExpress.Ui.DxFileUploaderInterop.GetHint(dxTarget).Result : hint;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetHint(dxTarget, value);
            } else {
                this.hint = value;
            }
        }
    }
    bool? hoverStateEnabled;
    [Parameter] public
    bool? HoverStateEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxFileUploaderInterop.GetHoverStateEnabled(dxTarget).Result : hoverStateEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetHoverStateEnabled(dxTarget, value);
            } else {
                this.hoverStateEnabled = value;
            }
        }
    }
    float? tabIndex;
    [Parameter] public
    float? TabIndex {
        get => isInitialized ? (float?)DevExpress.Ui.DxFileUploaderInterop.GetTabIndex(dxTarget).Result : tabIndex;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetTabIndex(dxTarget, value);
            } else {
                this.tabIndex = value;
            }
        }
    }
    bool? visible;
    [Parameter] public
    bool? Visible {
        get => isInitialized ? (bool?)DevExpress.Ui.DxFileUploaderInterop.GetVisible(dxTarget).Result : visible;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetVisible(dxTarget, value);
            } else {
                this.visible = value;
            }
        }
    }
    object bindingOptions;
    [Parameter] public
    object BindingOptions {
        get => isInitialized ? DevExpress.Ui.DxFileUploaderInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetBindingOptions(dxTarget, value);
            } else {
                this.bindingOptions = value;
            }
        }
    }
    object elementAttr;
    [Parameter] public
    object ElementAttr {
        get => isInitialized ? DevExpress.Ui.DxFileUploaderInterop.GetElementAttr(dxTarget).Result : elementAttr;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetElementAttr(dxTarget, value);
            } else {
                this.elementAttr = value;
            }
        }
    }
    object height;
    [Parameter] public
    object Height {
        get => isInitialized ? DevExpress.Ui.DxFileUploaderInterop.GetHeight(dxTarget).Result : height;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetHeight(dxTarget, value);
            } else {
                this.height = value;
            }
        }
    }
    bool? rtlEnabled;
    [Parameter] public
    bool? RtlEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxFileUploaderInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetRtlEnabled(dxTarget, value);
            } else {
                this.rtlEnabled = value;
            }
        }
    }
    object width;
    [Parameter] public
    object Width {
        get => isInitialized ? DevExpress.Ui.DxFileUploaderInterop.GetWidth(dxTarget).Result : width;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxFileUploaderInterop.SetWidth(dxTarget, value);
            } else {
                this.width = value;
            }
        }
    }
    bool? onProgressEnabled;
    [Parameter] public
    bool? OnProgressEnabled {
        get => onProgressEnabled;
        set => this.onProgressEnabled = value;
    }
    bool? onUploadAbortedEnabled;
    [Parameter] public
    bool? OnUploadAbortedEnabled {
        get => onUploadAbortedEnabled;
        set => this.onUploadAbortedEnabled = value;
    }
    bool? onUploadedEnabled;
    [Parameter] public
    bool? OnUploadedEnabled {
        get => onUploadedEnabled;
        set => this.onUploadedEnabled = value;
    }
    bool? onUploadErrorEnabled;
    [Parameter] public
    bool? OnUploadErrorEnabled {
        get => onUploadErrorEnabled;
        set => this.onUploadErrorEnabled = value;
    }
    bool? onUploadStartedEnabled;
    [Parameter] public
    bool? OnUploadStartedEnabled {
        get => onUploadStartedEnabled;
        set => this.onUploadStartedEnabled = value;
    }
    bool? onValueChangedEnabled;
    [Parameter] public
    bool? OnValueChangedEnabled {
        get => onValueChangedEnabled;
        set => this.onValueChangedEnabled = value;
    }
    bool? onContentReadyEnabled;
    [Parameter] public
    bool? OnContentReadyEnabled {
        get => onContentReadyEnabled;
        set => this.onContentReadyEnabled = value;
    }
    bool? onDisposingEnabled;
    [Parameter] public
    bool? OnDisposingEnabled {
        get => onDisposingEnabled;
        set => this.onDisposingEnabled = value;
    }
    bool? onOptionChangedEnabled;
    [Parameter] public
    bool? OnOptionChangedEnabled {
        get => onOptionChangedEnabled;
        set => this.onOptionChangedEnabled = value;
    }
    bool? onInitializedEnabled;
    [Parameter] public
    bool? OnInitializedEnabled {
        get => onInitializedEnabled;
        set => this.onInitializedEnabled = value;
    }
    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        DevExpress.Ui.DxFileUploaderInterop.Progress += DxFileUploader_Progress;
        DevExpress.Ui.DxFileUploaderInterop.UploadAborted += DxFileUploader_UploadAborted;
        DevExpress.Ui.DxFileUploaderInterop.Uploaded += DxFileUploader_Uploaded;
        DevExpress.Ui.DxFileUploaderInterop.UploadError += DxFileUploader_UploadError;
        DevExpress.Ui.DxFileUploaderInterop.UploadStarted += DxFileUploader_UploadStarted;
        //DevExpress.Ui.DxFileUploaderInterop.ValueChanged += DxFileUploader_ValueChanged;
        DevExpress.Ui.DxFileUploaderInterop.ContentReady += DxFileUploader_ContentReady;
        DevExpress.Ui.DxFileUploaderInterop.Disposing += DxFileUploader_Disposing;
        DevExpress.Ui.DxFileUploaderInterop.OptionChanged += DxFileUploader_OptionChanged;
        DevExpress.Ui.DxFileUploaderInterop.Initialized += DxFileUploader_Initialized;
    }
    [Parameter] public
    Action Progress { get; set; }
    void DxFileUploader_Progress(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Progress?.Invoke();
        }
    }
    [Parameter] public
    Action UploadAborted { get; set; }
    void DxFileUploader_UploadAborted(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            UploadAborted?.Invoke();
        }
    }
    [Parameter] public
    Action Uploaded { get; set; }
    void DxFileUploader_Uploaded(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Uploaded?.Invoke();
        }
    }
    [Parameter] public
    Action UploadError { get; set; }
    void DxFileUploader_UploadError(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            UploadError?.Invoke();
        }
    }
    [Parameter] public
    Action UploadStarted { get; set; }
    void DxFileUploader_UploadStarted(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            UploadStarted?.Invoke();
        }
    }
    [Parameter] public
    Action ValueChanged { get; set; }
    void DxFileUploader_ValueChanged(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            ValueChanged?.Invoke();
        }
    }
    [Parameter] public
    Action ContentReady { get; set; }
    void DxFileUploader_ContentReady(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            ContentReady?.Invoke();
        }
    }
    [Parameter] public
    Action Disposing { get; set; }
    void DxFileUploader_Disposing(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Disposing?.Invoke();
        }
    }
    [Parameter] public
    Action OptionChanged { get; set; }
    void DxFileUploader_OptionChanged(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            OptionChanged?.Invoke();
        }
    }
    [Parameter] public
    Action Initialized { get; set; }
    void DxFileUploader_Initialized(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Initialized?.Invoke();
        }
    }
    public void Dispose() {
        DevExpress.Ui.DxFileUploaderInterop.Progress -= DxFileUploader_Progress;
        DevExpress.Ui.DxFileUploaderInterop.UploadAborted -= DxFileUploader_UploadAborted;
        DevExpress.Ui.DxFileUploaderInterop.Uploaded -= DxFileUploader_Uploaded;
        DevExpress.Ui.DxFileUploaderInterop.UploadError -= DxFileUploader_UploadError;
        DevExpress.Ui.DxFileUploaderInterop.UploadStarted -= DxFileUploader_UploadStarted;
        //DevExpress.Ui.DxFileUploaderInterop.ValueChanged -= DxFileUploader_ValueChanged;
        DevExpress.Ui.DxFileUploaderInterop.ContentReady -= DxFileUploader_ContentReady;
        DevExpress.Ui.DxFileUploaderInterop.Disposing -= DxFileUploader_Disposing;
        DevExpress.Ui.DxFileUploaderInterop.OptionChanged -= DxFileUploader_OptionChanged;
        DevExpress.Ui.DxFileUploaderInterop.Initialized -= DxFileUploader_Initialized;
    }
}
