@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxFilterBuilderOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxFilterBuilder() : base("DxFilterBuilder") { }
	protected override DevExpress.Ui.DxFilterBuilderOptions CreateOptions() {
		return new DevExpress.Ui.DxFilterBuilderOptions {
			allowHierarchicalFields = allowHierarchicalFields,
			customOperations = customOperations,
			fields = fields,
			filterOperationDescriptions = filterOperationDescriptions,
			groupOperationDescriptions = groupOperationDescriptions,
			value = value,
			onEditorPreparedEnabled = onEditorPreparedEnabled,
			onEditorPreparingEnabled = onEditorPreparingEnabled,
			onValueChangedEnabled = onValueChangedEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.DxFilterBuilderOptions options) {
return 		DevExpress.Ui.DxFilterBuilderInterop.Init(dxTarget, options);
	}
	bool? allowHierarchicalFields;
	[Parameter]
	bool? AllowHierarchicalFields {
		get => isInitialized ? DevExpress.Ui.DxFilterBuilderInterop.GetAllowHierarchicalFields(dxTarget).Result : allowHierarchicalFields;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFilterBuilderInterop.SetAllowHierarchicalFields(dxTarget, value);
			} else {
				this.allowHierarchicalFields = value;
			}
		}
	}
	object customOperations;
	[Parameter]
	object CustomOperations {
		get => isInitialized ? DevExpress.Ui.DxFilterBuilderInterop.GetCustomOperations(dxTarget).Result : customOperations;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFilterBuilderInterop.SetCustomOperations(dxTarget, value);
			} else {
				this.customOperations = value;
			}
		}
	}
	object fields;
	[Parameter]
	object Fields {
		get => isInitialized ? DevExpress.Ui.DxFilterBuilderInterop.GetFields(dxTarget).Result : fields;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFilterBuilderInterop.SetFields(dxTarget, value);
			} else {
				this.fields = value;
			}
		}
	}
	object filterOperationDescriptions;
	[Parameter]
	object FilterOperationDescriptions {
		get => isInitialized ? DevExpress.Ui.DxFilterBuilderInterop.GetFilterOperationDescriptions(dxTarget).Result : filterOperationDescriptions;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFilterBuilderInterop.SetFilterOperationDescriptions(dxTarget, value);
			} else {
				this.filterOperationDescriptions = value;
			}
		}
	}
	object groupOperationDescriptions;
	[Parameter]
	object GroupOperationDescriptions {
		get => isInitialized ? DevExpress.Ui.DxFilterBuilderInterop.GetGroupOperationDescriptions(dxTarget).Result : groupOperationDescriptions;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFilterBuilderInterop.SetGroupOperationDescriptions(dxTarget, value);
			} else {
				this.groupOperationDescriptions = value;
			}
		}
	}
	object value;
	[Parameter]
	object Value {
		get => isInitialized ? DevExpress.Ui.DxFilterBuilderInterop.GetValue(dxTarget).Result : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFilterBuilderInterop.SetValue(dxTarget, value);
			} else {
				this.value = value;
			}
		}
	}
	bool? onEditorPreparedEnabled;
	[Parameter]
	bool? OnEditorPreparedEnabled {
		get => onEditorPreparedEnabled;
		set => this.onEditorPreparedEnabled = value;
	}
	bool? onEditorPreparingEnabled;
	[Parameter]
	bool? OnEditorPreparingEnabled {
		get => onEditorPreparingEnabled;
		set => this.onEditorPreparingEnabled = value;
	}
	bool? onValueChangedEnabled;
	[Parameter]
	bool? OnValueChangedEnabled {
		get => onValueChangedEnabled;
		set => this.onValueChangedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxFilterBuilderInterop.EditorPrepared += DxFilterBuilder_EditorPrepared;
		DevExpress.Ui.DxFilterBuilderInterop.EditorPreparing += DxFilterBuilder_EditorPreparing;
		DevExpress.Ui.DxFilterBuilderInterop.ValueChanged += DxFilterBuilder_ValueChanged;
	}
	[Parameter]
	Action EditorPrepared { get; set; }
	void DxFilterBuilder_EditorPrepared(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			EditorPrepared?.Invoke();
		}
	}
	[Parameter]
	Action EditorPreparing { get; set; }
	void DxFilterBuilder_EditorPreparing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			EditorPreparing?.Invoke();
		}
	}
	[Parameter]
	Action ValueChanged { get; set; }
	void DxFilterBuilder_ValueChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ValueChanged?.Invoke();
		}
	}
	public object GetFilterExpression() {
		return DevExpress.Ui.DxFilterBuilderInterop.GetFilterExpression(dxTarget).Result;
	}
	public void Dispose() {
		DevExpress.Ui.DxFilterBuilderInterop.EditorPrepared -= DxFilterBuilder_EditorPrepared;
		DevExpress.Ui.DxFilterBuilderInterop.EditorPreparing -= DxFilterBuilder_EditorPreparing;
		DevExpress.Ui.DxFilterBuilderInterop.ValueChanged -= DxFilterBuilder_ValueChanged;
	}
}
