
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxFormOptions>

<div id="@Id" @ref:suppressField @ref="dxTarget"></div>

@functions {
	ElementReference dxTarget;
	public DxForm() : base("DxForm") { }
	protected override DevExpress.Ui.DxFormOptions CreateOptions() {
		return new DevExpress.Ui.DxFormOptions {
			alignItemLabels = alignItemLabels,
			alignItemLabelsInAllGroups = alignItemLabelsInAllGroups,
			colCount = colCount,
			colCountByScreen = colCountByScreen,
			customizeItem = customizeItem,
			formData = formData,
			items = items,
			labelLocation = labelLocation,
			minColWidth = minColWidth,
			optionalMark = optionalMark,
			readOnly = readOnly,
			requiredMark = requiredMark,
			requiredMessage = requiredMessage,
			screenByWidth = screenByWidth,
			scrollingEnabled = scrollingEnabled,
			showColonAfterLabel = showColonAfterLabel,
			showOptionalMark = showOptionalMark,
			showRequiredMark = showRequiredMark,
			showValidationSummary = showValidationSummary,
			validationGroup = validationGroup,
			accessKey = accessKey,
			activeStateEnabled = activeStateEnabled,
			disabled = disabled,
			focusStateEnabled = focusStateEnabled,
			hint = hint,
			hoverStateEnabled = hoverStateEnabled,
			tabIndex = tabIndex,
			visible = visible,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			height = height,
			rtlEnabled = rtlEnabled,
			width = width,
			onEditorEnterKeyEnabled = onEditorEnterKeyEnabled,
			onFieldDataChangedEnabled = onFieldDataChangedEnabled,
			onContentReadyEnabled = onContentReadyEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.DxFormOptions options) {
		return DevExpress.Ui.DxFormInterop.Init(dxTarget, options);
	}
	bool? alignItemLabels;
	[Parameter]
	bool? AlignItemLabels {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetAlignItemLabels(dxTarget).Result : alignItemLabels;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetAlignItemLabels(dxTarget, value);
			} else {
				this.alignItemLabels = value;
			}
		}
	}
	bool? alignItemLabelsInAllGroups;
	[Parameter]
	bool? AlignItemLabelsInAllGroups {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetAlignItemLabelsInAllGroups(dxTarget).Result : alignItemLabelsInAllGroups;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetAlignItemLabelsInAllGroups(dxTarget, value);
			} else {
				this.alignItemLabelsInAllGroups = value;
			}
		}
	}
	object colCount;
	[Parameter]
	object ColCount {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetColCount(dxTarget).Result : colCount;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetColCount(dxTarget, value);
			} else {
				this.colCount = value;
			}
		}
	}
	object colCountByScreen;
	[Parameter]
	object ColCountByScreen {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetColCountByScreen(dxTarget).Result : colCountByScreen;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetColCountByScreen(dxTarget, value);
			} else {
				this.colCountByScreen = value;
			}
		}
	}
	object customizeItem;
	[Parameter]
	object CustomizeItem {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetCustomizeItem(dxTarget).Result : customizeItem;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetCustomizeItem(dxTarget, value);
			} else {
				this.customizeItem = value;
			}
		}
	}
	object formData;
	[Parameter]
	object FormData {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetFormData(dxTarget).Result : formData;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetFormData(dxTarget, value);
			} else {
				this.formData = value;
			}
		}
	}
	object items;
	[Parameter]
	object Items {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetItems(dxTarget).Result : items;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetItems(dxTarget, value);
			} else {
				this.items = value;
			}
		}
	}
	string labelLocation;
	[Parameter]
	string LabelLocation {
		get => isInitialized ? (string)DevExpress.Ui.DxFormInterop.GetLabelLocation(dxTarget).Result : labelLocation;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetLabelLocation(dxTarget, value);
			} else {
				this.labelLocation = value;
			}
		}
	}
	float? minColWidth;
	[Parameter]
	float? MinColWidth {
		get => isInitialized ? (float?)DevExpress.Ui.DxFormInterop.GetMinColWidth(dxTarget).Result : minColWidth;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetMinColWidth(dxTarget, value);
			} else {
				this.minColWidth = value;
			}
		}
	}
	string optionalMark;
	[Parameter]
	string OptionalMark {
		get => isInitialized ? (string)DevExpress.Ui.DxFormInterop.GetOptionalMark(dxTarget).Result : optionalMark;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetOptionalMark(dxTarget, value);
			} else {
				this.optionalMark = value;
			}
		}
	}
	bool? readOnly;
	[Parameter]
	bool? ReadOnly {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetReadOnly(dxTarget).Result : readOnly;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetReadOnly(dxTarget, value);
			} else {
				this.readOnly = value;
			}
		}
	}
	string requiredMark;
	[Parameter]
	string RequiredMark {
		get => isInitialized ? (string)DevExpress.Ui.DxFormInterop.GetRequiredMark(dxTarget).Result : requiredMark;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetRequiredMark(dxTarget, value);
			} else {
				this.requiredMark = value;
			}
		}
	}
	string requiredMessage;
	[Parameter]
	string RequiredMessage {
		get => isInitialized ? (string)DevExpress.Ui.DxFormInterop.GetRequiredMessage(dxTarget).Result : requiredMessage;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetRequiredMessage(dxTarget, value);
			} else {
				this.requiredMessage = value;
			}
		}
	}
	object screenByWidth;
	[Parameter]
	object ScreenByWidth {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetScreenByWidth(dxTarget).Result : screenByWidth;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetScreenByWidth(dxTarget, value);
			} else {
				this.screenByWidth = value;
			}
		}
	}
	bool? scrollingEnabled;
	[Parameter]
	bool? ScrollingEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetScrollingEnabled(dxTarget).Result : scrollingEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetScrollingEnabled(dxTarget, value);
			} else {
				this.scrollingEnabled = value;
			}
		}
	}
	bool? showColonAfterLabel;
	[Parameter]
	bool? ShowColonAfterLabel {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetShowColonAfterLabel(dxTarget).Result : showColonAfterLabel;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetShowColonAfterLabel(dxTarget, value);
			} else {
				this.showColonAfterLabel = value;
			}
		}
	}
	bool? showOptionalMark;
	[Parameter]
	bool? ShowOptionalMark {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetShowOptionalMark(dxTarget).Result : showOptionalMark;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetShowOptionalMark(dxTarget, value);
			} else {
				this.showOptionalMark = value;
			}
		}
	}
	bool? showRequiredMark;
	[Parameter]
	bool? ShowRequiredMark {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetShowRequiredMark(dxTarget).Result : showRequiredMark;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetShowRequiredMark(dxTarget, value);
			} else {
				this.showRequiredMark = value;
			}
		}
	}
	bool? showValidationSummary;
	[Parameter]
	bool? ShowValidationSummary {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetShowValidationSummary(dxTarget).Result : showValidationSummary;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetShowValidationSummary(dxTarget, value);
			} else {
				this.showValidationSummary = value;
			}
		}
	}
	string validationGroup;
	[Parameter]
	string ValidationGroup {
		get => isInitialized ? (string)DevExpress.Ui.DxFormInterop.GetValidationGroup(dxTarget).Result : validationGroup;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetValidationGroup(dxTarget, value);
			} else {
				this.validationGroup = value;
			}
		}
	}
	string accessKey;
	[Parameter]
	string AccessKey {
		get => isInitialized ? (string)DevExpress.Ui.DxFormInterop.GetAccessKey(dxTarget).Result : accessKey;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetAccessKey(dxTarget, value);
			} else {
				this.accessKey = value;
			}
		}
	}
	bool? activeStateEnabled;
	[Parameter]
	bool? ActiveStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetActiveStateEnabled(dxTarget).Result : activeStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetActiveStateEnabled(dxTarget, value);
			} else {
				this.activeStateEnabled = value;
			}
		}
	}
	bool? disabled;
	[Parameter]
	bool? Disabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetDisabled(dxTarget).Result : disabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetDisabled(dxTarget, value);
			} else {
				this.disabled = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter]
	bool? FocusStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetFocusStateEnabled(dxTarget).Result : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetFocusStateEnabled(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	string hint;
	[Parameter]
	string Hint {
		get => isInitialized ? (string)DevExpress.Ui.DxFormInterop.GetHint(dxTarget).Result : hint;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetHint(dxTarget, value);
			} else {
				this.hint = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter]
	bool? HoverStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetHoverStateEnabled(dxTarget).Result : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetHoverStateEnabled(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	float? tabIndex;
	[Parameter]
	float? TabIndex {
		get => isInitialized ? (float?)DevExpress.Ui.DxFormInterop.GetTabIndex(dxTarget).Result : tabIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetTabIndex(dxTarget, value);
			} else {
				this.tabIndex = value;
			}
		}
	}
	bool? visible;
	[Parameter]
	bool? Visible {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetVisible(dxTarget).Result : visible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetVisible(dxTarget, value);
			} else {
				this.visible = value;
			}
		}
	}
	object bindingOptions;
	[Parameter]
	object BindingOptions {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetBindingOptions(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter]
	object ElementAttr {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetElementAttr(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetElementAttr(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	object height;
	[Parameter]
	object Height {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetHeight(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetHeight(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter]
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxFormInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetRtlEnabled(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object width;
	[Parameter]
	object Width {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetWidth(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetWidth(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onEditorEnterKeyEnabled;
	[Parameter]
	bool? OnEditorEnterKeyEnabled {
		get => onEditorEnterKeyEnabled;
		set => this.onEditorEnterKeyEnabled = value;
	}
	bool? onFieldDataChangedEnabled;
	[Parameter]
	bool? OnFieldDataChangedEnabled {
		get => onFieldDataChangedEnabled;
		set => this.onFieldDataChangedEnabled = value;
	}
	bool? onContentReadyEnabled;
	[Parameter]
	bool? OnContentReadyEnabled {
		get => onContentReadyEnabled;
		set => this.onContentReadyEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter]
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter]
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter]
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		DevExpress.Ui.DxFormInterop.EditorEnterKey += DxForm_EditorEnterKey;
		DevExpress.Ui.DxFormInterop.FieldDataChanged += DxForm_FieldDataChanged;
		DevExpress.Ui.DxFormInterop.ContentReady += DxForm_ContentReady;
		DevExpress.Ui.DxFormInterop.Disposing += DxForm_Disposing;
		DevExpress.Ui.DxFormInterop.OptionChanged += DxForm_OptionChanged;
		DevExpress.Ui.DxFormInterop.Initialized += DxForm_Initialized;
	}
	[Parameter]
	Action EditorEnterKey { get; set; }
	void DxForm_EditorEnterKey(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			EditorEnterKey?.Invoke();
		}
	}
	[Parameter]
	Action FieldDataChanged { get; set; }
	void DxForm_FieldDataChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FieldDataChanged?.Invoke();
		}
	}
	[Parameter]
	Action ContentReady { get; set; }
	void DxForm_ContentReady(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContentReady?.Invoke();
		}
	}
	[Parameter]
	Action Disposing { get; set; }
	void DxForm_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter]
	Action OptionChanged { get; set; }
	void DxForm_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter]
	Action Initialized { get; set; }
	void DxForm_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public object GetEditor(string dataField) {
		return DevExpress.Ui.DxFormInterop.GetEditor(dxTarget, dataField).Result;
	}
	public object ItemOption(string id) {
		return DevExpress.Ui.DxFormInterop.ItemOption(dxTarget, id).Result;
	}
	public void ItemOption(string id, string option, object value) {
		DevExpress.Ui.DxFormInterop.ItemOption(dxTarget, id, option, value);
	}
	public void ItemOption(string id, object options) {
		DevExpress.Ui.DxFormInterop.ItemOption(dxTarget, id, options);
	}
	public void ResetValues() {
		DevExpress.Ui.DxFormInterop.ResetValues(dxTarget);
	}
	public void UpdateData(object data) {
		DevExpress.Ui.DxFormInterop.UpdateData(dxTarget, data);
	}
	public void UpdateData(string dataField, object value) {
		DevExpress.Ui.DxFormInterop.UpdateData(dxTarget, dataField, value);
	}
	public object UpdateDimensions() {
		return DevExpress.Ui.DxFormInterop.UpdateDimensions(dxTarget).Result;
	}
	public object Validate() {
		return DevExpress.Ui.DxFormInterop.Validate(dxTarget).Result;
	}
	public void Dispose() {
		DevExpress.Ui.DxFormInterop.EditorEnterKey -= DxForm_EditorEnterKey;
		DevExpress.Ui.DxFormInterop.FieldDataChanged -= DxForm_FieldDataChanged;
		DevExpress.Ui.DxFormInterop.ContentReady -= DxForm_ContentReady;
		DevExpress.Ui.DxFormInterop.Disposing -= DxForm_Disposing;
		DevExpress.Ui.DxFormInterop.OptionChanged -= DxForm_OptionChanged;
		DevExpress.Ui.DxFormInterop.Initialized -= DxForm_Initialized;
	}
}
