@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxFormOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxForm() : base("DxForm") { }
	protected override DevExpress.Ui.DxFormOptions CreateOptions() {
		return new DevExpress.Ui.DxFormOptions {
			alignItemLabels = alignItemLabels,
			alignItemLabelsInAllGroups = alignItemLabelsInAllGroups,
			colCount = colCount,
			colCountByScreen = colCountByScreen,
			customizeItem = customizeItem,
			formData = formData,
			items = items,
			labelLocation = labelLocation,
			minColWidth = minColWidth,
			optionalMark = optionalMark,
			readOnly = readOnly,
			requiredMark = requiredMark,
			requiredMessage = requiredMessage,
			screenByWidth = screenByWidth,
			scrollingEnabled = scrollingEnabled,
			showColonAfterLabel = showColonAfterLabel,
			showOptionalMark = showOptionalMark,
			showRequiredMark = showRequiredMark,
			showValidationSummary = showValidationSummary,
			validationGroup = validationGroup,
			onEditorEnterKeyEnabled = onEditorEnterKeyEnabled,
			onFieldDataChangedEnabled = onFieldDataChangedEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.DxFormOptions options) {
return 		DevExpress.Ui.DxFormInterop.Init(dxTarget, options);
	}
	bool? alignItemLabels;
	[Parameter]
	bool? AlignItemLabels {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetAlignItemLabels(dxTarget).Result : alignItemLabels;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetAlignItemLabels(dxTarget, value);
			} else {
				this.alignItemLabels = value;
			}
		}
	}
	bool? alignItemLabelsInAllGroups;
	[Parameter]
	bool? AlignItemLabelsInAllGroups {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetAlignItemLabelsInAllGroups(dxTarget).Result : alignItemLabelsInAllGroups;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetAlignItemLabelsInAllGroups(dxTarget, value);
			} else {
				this.alignItemLabelsInAllGroups = value;
			}
		}
	}
	object colCount;
	[Parameter]
	object ColCount {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetColCount(dxTarget).Result : colCount;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetColCount(dxTarget, value);
			} else {
				this.colCount = value;
			}
		}
	}
	object colCountByScreen;
	[Parameter]
	object ColCountByScreen {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetColCountByScreen(dxTarget).Result : colCountByScreen;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetColCountByScreen(dxTarget, value);
			} else {
				this.colCountByScreen = value;
			}
		}
	}
	object customizeItem;
	[Parameter]
	object CustomizeItem {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetCustomizeItem(dxTarget).Result : customizeItem;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetCustomizeItem(dxTarget, value);
			} else {
				this.customizeItem = value;
			}
		}
	}
	object formData;
	[Parameter]
	object FormData {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetFormData(dxTarget).Result : formData;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetFormData(dxTarget, value);
			} else {
				this.formData = value;
			}
		}
	}
	object items;
	[Parameter]
	object Items {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetItems(dxTarget).Result : items;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetItems(dxTarget, value);
			} else {
				this.items = value;
			}
		}
	}
	string labelLocation;
	[Parameter]
	string LabelLocation {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetLabelLocation(dxTarget).Result : labelLocation;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetLabelLocation(dxTarget, value);
			} else {
				this.labelLocation = value;
			}
		}
	}
	float? minColWidth;
	[Parameter]
	float? MinColWidth {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetMinColWidth(dxTarget).Result : minColWidth;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetMinColWidth(dxTarget, value);
			} else {
				this.minColWidth = value;
			}
		}
	}
	string optionalMark;
	[Parameter]
	string OptionalMark {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetOptionalMark(dxTarget).Result : optionalMark;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetOptionalMark(dxTarget, value);
			} else {
				this.optionalMark = value;
			}
		}
	}
	bool? readOnly;
	[Parameter]
	bool? ReadOnly {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetReadOnly(dxTarget).Result : readOnly;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetReadOnly(dxTarget, value);
			} else {
				this.readOnly = value;
			}
		}
	}
	string requiredMark;
	[Parameter]
	string RequiredMark {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetRequiredMark(dxTarget).Result : requiredMark;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetRequiredMark(dxTarget, value);
			} else {
				this.requiredMark = value;
			}
		}
	}
	string requiredMessage;
	[Parameter]
	string RequiredMessage {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetRequiredMessage(dxTarget).Result : requiredMessage;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetRequiredMessage(dxTarget, value);
			} else {
				this.requiredMessage = value;
			}
		}
	}
	object screenByWidth;
	[Parameter]
	object ScreenByWidth {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetScreenByWidth(dxTarget).Result : screenByWidth;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetScreenByWidth(dxTarget, value);
			} else {
				this.screenByWidth = value;
			}
		}
	}
	bool? scrollingEnabled;
	[Parameter]
	bool? ScrollingEnabled {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetScrollingEnabled(dxTarget).Result : scrollingEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetScrollingEnabled(dxTarget, value);
			} else {
				this.scrollingEnabled = value;
			}
		}
	}
	bool? showColonAfterLabel;
	[Parameter]
	bool? ShowColonAfterLabel {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetShowColonAfterLabel(dxTarget).Result : showColonAfterLabel;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetShowColonAfterLabel(dxTarget, value);
			} else {
				this.showColonAfterLabel = value;
			}
		}
	}
	bool? showOptionalMark;
	[Parameter]
	bool? ShowOptionalMark {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetShowOptionalMark(dxTarget).Result : showOptionalMark;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetShowOptionalMark(dxTarget, value);
			} else {
				this.showOptionalMark = value;
			}
		}
	}
	bool? showRequiredMark;
	[Parameter]
	bool? ShowRequiredMark {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetShowRequiredMark(dxTarget).Result : showRequiredMark;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetShowRequiredMark(dxTarget, value);
			} else {
				this.showRequiredMark = value;
			}
		}
	}
	bool? showValidationSummary;
	[Parameter]
	bool? ShowValidationSummary {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetShowValidationSummary(dxTarget).Result : showValidationSummary;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetShowValidationSummary(dxTarget, value);
			} else {
				this.showValidationSummary = value;
			}
		}
	}
	string validationGroup;
	[Parameter]
	string ValidationGroup {
		get => isInitialized ? DevExpress.Ui.DxFormInterop.GetValidationGroup(dxTarget).Result : validationGroup;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxFormInterop.SetValidationGroup(dxTarget, value);
			} else {
				this.validationGroup = value;
			}
		}
	}
	bool? onEditorEnterKeyEnabled;
	[Parameter]
	bool? OnEditorEnterKeyEnabled {
		get => onEditorEnterKeyEnabled;
		set => this.onEditorEnterKeyEnabled = value;
	}
	bool? onFieldDataChangedEnabled;
	[Parameter]
	bool? OnFieldDataChangedEnabled {
		get => onFieldDataChangedEnabled;
		set => this.onFieldDataChangedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxFormInterop.EditorEnterKey += DxForm_EditorEnterKey;
		DevExpress.Ui.DxFormInterop.FieldDataChanged += DxForm_FieldDataChanged;
	}
	[Parameter]
	Action EditorEnterKey { get; set; }
	void DxForm_EditorEnterKey(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			EditorEnterKey?.Invoke();
		}
	}
	[Parameter]
	Action FieldDataChanged { get; set; }
	void DxForm_FieldDataChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FieldDataChanged?.Invoke();
		}
	}
	public object GetEditor(string dataField) {
		return DevExpress.Ui.DxFormInterop.GetEditor(dxTarget, dataField).Result;
	}
	public object ItemOption(string id) {
		return DevExpress.Ui.DxFormInterop.ItemOption(dxTarget, id).Result;
	}
	public void ItemOption(string id, string option, object value) {
		DevExpress.Ui.DxFormInterop.ItemOption(dxTarget, id, option, value);
	}
	public void ItemOption(string id, object options) {
		DevExpress.Ui.DxFormInterop.ItemOption(dxTarget, id, options);
	}
	public void ResetValues() {
		DevExpress.Ui.DxFormInterop.ResetValues(dxTarget);
	}
	public void UpdateData(object data) {
		DevExpress.Ui.DxFormInterop.UpdateData(dxTarget, data);
	}
	public void UpdateData(string dataField, object value) {
		DevExpress.Ui.DxFormInterop.UpdateData(dxTarget, dataField, value);
	}
	public object UpdateDimensions() {
		return DevExpress.Ui.DxFormInterop.UpdateDimensions(dxTarget).Result;
	}
	public object Validate() {
		return DevExpress.Ui.DxFormInterop.Validate(dxTarget).Result;
	}
	public void Dispose() {
		DevExpress.Ui.DxFormInterop.EditorEnterKey -= DxForm_EditorEnterKey;
		DevExpress.Ui.DxFormInterop.FieldDataChanged -= DxForm_FieldDataChanged;
	}
}
