
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Viz.Funnel.DxFunnelOptions>

<div id="@Id"  @ref="dxTarget"></div>

@functions {
	ElementReference dxTarget;
	public DxFunnel() : base("DxFunnel") { }
	protected override DevExpress.Viz.Funnel.DxFunnelOptions CreateOptions() {
		return new DevExpress.Viz.Funnel.DxFunnelOptions {
			adaptiveLayout = adaptiveLayout,
			algorithm = algorithm,
			argumentField = argumentField,
			colorField = colorField,
			dataSource = dataSource,
			hoverEnabled = hoverEnabled,
			inverted = inverted,
			item = item,
			label = label,
			legend = legend,
			neckHeight = neckHeight,
			neckWidth = neckWidth,
			palette = palette,
			paletteExtensionMode = paletteExtensionMode,
			selectionMode = selectionMode,
			sortData = sortData,
			tooltip = tooltip,
			valueField = valueField,
			export = export,
			loadingIndicator = loadingIndicator,
			margin = margin,
			pathModified = pathModified,
			redrawOnResize = redrawOnResize,
			rtlEnabled = rtlEnabled,
			size = size,
			theme = theme,
			title = title,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			height = height,
			width = width,
			onHoverChangedEnabled = onHoverChangedEnabled,
			onItemClickEnabled = onItemClickEnabled,
			onLegendClickEnabled = onLegendClickEnabled,
			onSelectionChangedEnabled = onSelectionChangedEnabled,
			onDrawnEnabled = onDrawnEnabled,
			onExportedEnabled = onExportedEnabled,
			onExportingEnabled = onExportingEnabled,
			onFileSavingEnabled = onFileSavingEnabled,
			onIncidentOccurredEnabled = onIncidentOccurredEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override ValueTask<object> Init(DevExpress.Viz.Funnel.DxFunnelOptions options) {
		return DevExpress.Viz.DxFunnelInterop.Init(dxTarget, options);
	}
	object adaptiveLayout;
	[Parameter] public
	object AdaptiveLayout {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetAdaptiveLayout(dxTarget).Result : adaptiveLayout;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetAdaptiveLayout(dxTarget, value);
			} else {
				this.adaptiveLayout = value;
			}
		}
	}
	string algorithm;
	[Parameter] public
	string Algorithm {
		get => isInitialized ? (string)DevExpress.Viz.DxFunnelInterop.GetAlgorithm(dxTarget).Result : algorithm;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetAlgorithm(dxTarget, value);
			} else {
				this.algorithm = value;
			}
		}
	}
	string argumentField;
	[Parameter] public
	string ArgumentField {
		get => isInitialized ? (string)DevExpress.Viz.DxFunnelInterop.GetArgumentField(dxTarget).Result : argumentField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetArgumentField(dxTarget, value);
			} else {
				this.argumentField = value;
			}
		}
	}
	string colorField;
	[Parameter] public
	string ColorField {
		get => isInitialized ? (string)DevExpress.Viz.DxFunnelInterop.GetColorField(dxTarget).Result : colorField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetColorField(dxTarget, value);
			} else {
				this.colorField = value;
			}
		}
	}
	object dataSource;
	[Parameter] public
	object DataSource {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetDataSource(dxTarget).Result : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetDataSource(dxTarget, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	bool? hoverEnabled;
	[Parameter] public
	bool? HoverEnabled {
		get => isInitialized ? (bool?)DevExpress.Viz.DxFunnelInterop.GetHoverEnabled(dxTarget).Result : hoverEnabled;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetHoverEnabled(dxTarget, value);
			} else {
				this.hoverEnabled = value;
			}
		}
	}
	bool? inverted;
	[Parameter] public
	bool? Inverted {
		get => isInitialized ? (bool?)DevExpress.Viz.DxFunnelInterop.GetInverted(dxTarget).Result : inverted;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetInverted(dxTarget, value);
			} else {
				this.inverted = value;
			}
		}
	}
	object item;
	[Parameter] public
	object Item {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetItem(dxTarget).Result : item;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetItem(dxTarget, value);
			} else {
				this.item = value;
			}
		}
	}
	object label;
	[Parameter] public
	object Label {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetLabel(dxTarget).Result : label;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetLabel(dxTarget, value);
			} else {
				this.label = value;
			}
		}
	}
	object legend;
	[Parameter] public
	object Legend {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetLegend(dxTarget).Result : legend;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetLegend(dxTarget, value);
			} else {
				this.legend = value;
			}
		}
	}
	float? neckHeight;
	[Parameter] public
	float? NeckHeight {
		get => isInitialized ? (float?)DevExpress.Viz.DxFunnelInterop.GetNeckHeight(dxTarget).Result : neckHeight;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetNeckHeight(dxTarget, value);
			} else {
				this.neckHeight = value;
			}
		}
	}
	float? neckWidth;
	[Parameter] public
	float? NeckWidth {
		get => isInitialized ? (float?)DevExpress.Viz.DxFunnelInterop.GetNeckWidth(dxTarget).Result : neckWidth;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetNeckWidth(dxTarget, value);
			} else {
				this.neckWidth = value;
			}
		}
	}
	object palette;
	[Parameter] public
	object Palette {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetPalette(dxTarget).Result : palette;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetPalette(dxTarget, value);
			} else {
				this.palette = value;
			}
		}
	}
	string paletteExtensionMode;
	[Parameter] public
	string PaletteExtensionMode {
		get => isInitialized ? (string)DevExpress.Viz.DxFunnelInterop.GetPaletteExtensionMode(dxTarget).Result : paletteExtensionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetPaletteExtensionMode(dxTarget, value);
			} else {
				this.paletteExtensionMode = value;
			}
		}
	}
	string selectionMode;
	[Parameter] public
	string SelectionMode {
		get => isInitialized ? (string)DevExpress.Viz.DxFunnelInterop.GetSelectionMode(dxTarget).Result : selectionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetSelectionMode(dxTarget, value);
			} else {
				this.selectionMode = value;
			}
		}
	}
	bool? sortData;
	[Parameter] public
	bool? SortData {
		get => isInitialized ? (bool?)DevExpress.Viz.DxFunnelInterop.GetSortData(dxTarget).Result : sortData;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetSortData(dxTarget, value);
			} else {
				this.sortData = value;
			}
		}
	}
	object tooltip;
	[Parameter] public
	object Tooltip {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetTooltip(dxTarget).Result : tooltip;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetTooltip(dxTarget, value);
			} else {
				this.tooltip = value;
			}
		}
	}
	string valueField;
	[Parameter] public
	string ValueField {
		get => isInitialized ? (string)DevExpress.Viz.DxFunnelInterop.GetValueField(dxTarget).Result : valueField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetValueField(dxTarget, value);
			} else {
				this.valueField = value;
			}
		}
	}
	object export;
	[Parameter] public
	object Export {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetExport(dxTarget).Result : export;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetExport(dxTarget, value);
			} else {
				this.export = value;
			}
		}
	}
	object loadingIndicator;
	[Parameter] public
	object LoadingIndicator {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetLoadingIndicator(dxTarget).Result : loadingIndicator;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetLoadingIndicator(dxTarget, value);
			} else {
				this.loadingIndicator = value;
			}
		}
	}
	object margin;
	[Parameter] public
	object Margin {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetMargin(dxTarget).Result : margin;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetMargin(dxTarget, value);
			} else {
				this.margin = value;
			}
		}
	}
	bool? pathModified;
	[Parameter] public
	bool? PathModified {
		get => isInitialized ? (bool?)DevExpress.Viz.DxFunnelInterop.GetPathModified(dxTarget).Result : pathModified;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetPathModified(dxTarget, value);
			} else {
				this.pathModified = value;
			}
		}
	}
	bool? redrawOnResize;
	[Parameter] public
	bool? RedrawOnResize {
		get => isInitialized ? (bool?)DevExpress.Viz.DxFunnelInterop.GetRedrawOnResize(dxTarget).Result : redrawOnResize;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetRedrawOnResize(dxTarget, value);
			} else {
				this.redrawOnResize = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter] public
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Viz.DxFunnelInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetRtlEnabled(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object size;
	[Parameter] public
	object Size {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetSize(dxTarget).Result : size;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetSize(dxTarget, value);
			} else {
				this.size = value;
			}
		}
	}
	string theme;
	[Parameter] public
	string Theme {
		get => isInitialized ? (string)DevExpress.Viz.DxFunnelInterop.GetTheme(dxTarget).Result : theme;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetTheme(dxTarget, value);
			} else {
				this.theme = value;
			}
		}
	}
	object title;
	[Parameter] public
	object Title {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetTitle(dxTarget).Result : title;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetTitle(dxTarget, value);
			} else {
				this.title = value;
			}
		}
	}
	object bindingOptions;
	[Parameter] public
	object BindingOptions {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetBindingOptions(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter] public
	object ElementAttr {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetElementAttr(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetElementAttr(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	object height;
	[Parameter] public
	object Height {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetHeight(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetHeight(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	object width;
	[Parameter] public
	object Width {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetWidth(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetWidth(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onHoverChangedEnabled;
	[Parameter] public
	bool? OnHoverChangedEnabled {
		get => onHoverChangedEnabled;
		set => this.onHoverChangedEnabled = value;
	}
	bool? onItemClickEnabled;
	[Parameter] public
	bool? OnItemClickEnabled {
		get => onItemClickEnabled;
		set => this.onItemClickEnabled = value;
	}
	bool? onLegendClickEnabled;
	[Parameter] public
	bool? OnLegendClickEnabled {
		get => onLegendClickEnabled;
		set => this.onLegendClickEnabled = value;
	}
	bool? onSelectionChangedEnabled;
	[Parameter] public
	bool? OnSelectionChangedEnabled {
		get => onSelectionChangedEnabled;
		set => this.onSelectionChangedEnabled = value;
	}
	bool? onDrawnEnabled;
	[Parameter] public
	bool? OnDrawnEnabled {
		get => onDrawnEnabled;
		set => this.onDrawnEnabled = value;
	}
	bool? onExportedEnabled;
	[Parameter] public
	bool? OnExportedEnabled {
		get => onExportedEnabled;
		set => this.onExportedEnabled = value;
	}
	bool? onExportingEnabled;
	[Parameter] public
	bool? OnExportingEnabled {
		get => onExportingEnabled;
		set => this.onExportingEnabled = value;
	}
	bool? onFileSavingEnabled;
	[Parameter] public
	bool? OnFileSavingEnabled {
		get => onFileSavingEnabled;
		set => this.onFileSavingEnabled = value;
	}
	bool? onIncidentOccurredEnabled;
	[Parameter] public
	bool? OnIncidentOccurredEnabled {
		get => onIncidentOccurredEnabled;
		set => this.onIncidentOccurredEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter] public
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter] public
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter] public
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		DevExpress.Viz.DxFunnelInterop.HoverChanged += DxFunnel_HoverChanged;
		DevExpress.Viz.DxFunnelInterop.ItemClick += DxFunnel_ItemClick;
		DevExpress.Viz.DxFunnelInterop.LegendClick += DxFunnel_LegendClick;
		DevExpress.Viz.DxFunnelInterop.SelectionChanged += DxFunnel_SelectionChanged;
		DevExpress.Viz.DxFunnelInterop.Drawn += DxFunnel_Drawn;
		DevExpress.Viz.DxFunnelInterop.Exported += DxFunnel_Exported;
		DevExpress.Viz.DxFunnelInterop.Exporting += DxFunnel_Exporting;
		DevExpress.Viz.DxFunnelInterop.FileSaving += DxFunnel_FileSaving;
		DevExpress.Viz.DxFunnelInterop.IncidentOccurred += DxFunnel_IncidentOccurred;
		DevExpress.Viz.DxFunnelInterop.Disposing += DxFunnel_Disposing;
		DevExpress.Viz.DxFunnelInterop.OptionChanged += DxFunnel_OptionChanged;
		DevExpress.Viz.DxFunnelInterop.Initialized += DxFunnel_Initialized;
	}
	[Parameter] public
	Action HoverChanged { get; set; }
	void DxFunnel_HoverChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			HoverChanged?.Invoke();
		}
	}
	[Parameter] public
	Action ItemClick { get; set; }
	void DxFunnel_ItemClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemClick?.Invoke();
		}
	}
	[Parameter] public
	Action LegendClick { get; set; }
	void DxFunnel_LegendClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			LegendClick?.Invoke();
		}
	}
	[Parameter] public
	Action SelectionChanged { get; set; }
	void DxFunnel_SelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SelectionChanged?.Invoke();
		}
	}
	[Parameter] public
	Action Drawn { get; set; }
	void DxFunnel_Drawn(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Drawn?.Invoke();
		}
	}
	[Parameter] public
	Action Exported { get; set; }
	void DxFunnel_Exported(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exported?.Invoke();
		}
	}
	[Parameter] public
	Action Exporting { get; set; }
	void DxFunnel_Exporting(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exporting?.Invoke();
		}
	}
	[Parameter] public
	Action FileSaving { get; set; }
	void DxFunnel_FileSaving(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FileSaving?.Invoke();
		}
	}
	[Parameter] public
	Action IncidentOccurred { get; set; }
	void DxFunnel_IncidentOccurred(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			IncidentOccurred?.Invoke();
		}
	}
	[Parameter] public
	Action Disposing { get; set; }
	void DxFunnel_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter] public
	Action OptionChanged { get; set; }
	void DxFunnel_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter] public
	Action Initialized { get; set; }
	void DxFunnel_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public void ClearSelection() {
		DevExpress.Viz.DxFunnelInterop.ClearSelection(dxTarget);
	}
	public object GetAllItems() {
		return DevExpress.Viz.DxFunnelInterop.GetAllItems(dxTarget).Result;
	}
	public object GetDataSourceEx() {
		return DevExpress.Viz.DxFunnelInterop.GetDataSourceEx(dxTarget).Result;
	}
	public void HideTooltip() {
		DevExpress.Viz.DxFunnelInterop.HideTooltip(dxTarget);
	}
	public void Dispose() {
		DevExpress.Viz.DxFunnelInterop.HoverChanged -= DxFunnel_HoverChanged;
		DevExpress.Viz.DxFunnelInterop.ItemClick -= DxFunnel_ItemClick;
		DevExpress.Viz.DxFunnelInterop.LegendClick -= DxFunnel_LegendClick;
		DevExpress.Viz.DxFunnelInterop.SelectionChanged -= DxFunnel_SelectionChanged;
		DevExpress.Viz.DxFunnelInterop.Drawn -= DxFunnel_Drawn;
		DevExpress.Viz.DxFunnelInterop.Exported -= DxFunnel_Exported;
		DevExpress.Viz.DxFunnelInterop.Exporting -= DxFunnel_Exporting;
		DevExpress.Viz.DxFunnelInterop.FileSaving -= DxFunnel_FileSaving;
		DevExpress.Viz.DxFunnelInterop.IncidentOccurred -= DxFunnel_IncidentOccurred;
		DevExpress.Viz.DxFunnelInterop.Disposing -= DxFunnel_Disposing;
		DevExpress.Viz.DxFunnelInterop.OptionChanged -= DxFunnel_OptionChanged;
		DevExpress.Viz.DxFunnelInterop.Initialized -= DxFunnel_Initialized;
	}
}
