@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Viz.Funnel.DxFunnelOptions>

<div id="@Id"></div>

@functions {
	public DxFunnel() : base("DxFunnel") { }
	protected override DevExpress.Viz.Funnel.DxFunnelOptions CreateOptions() {
		return new DevExpress.Viz.Funnel.DxFunnelOptions {
			adaptiveLayout = adaptiveLayout,
			algorithm = algorithm,
			argumentField = argumentField,
			colorField = colorField,
			dataSource = dataSource,
			hoverEnabled = hoverEnabled,
			inverted = inverted,
			item = item,
			label = label,
			legend = legend,
			neckHeight = neckHeight,
			neckWidth = neckWidth,
			palette = palette,
			paletteExtensionMode = paletteExtensionMode,
			selectionMode = selectionMode,
			sortData = sortData,
			tooltip = tooltip,
			valueField = valueField,
			onHoverChangedEnabled = onHoverChangedEnabled,
			onItemClickEnabled = onItemClickEnabled,
			onLegendClickEnabled = onLegendClickEnabled,
			onSelectionChangedEnabled = onSelectionChangedEnabled,
		};
	}
	protected override void Init(DevExpress.Viz.Funnel.DxFunnelOptions options) {
		DevExpress.Viz.DxFunnelInterop.Init(Id, options);
	}
	object adaptiveLayout;
	public object AdaptiveLayout {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetAdaptiveLayout(Id) : adaptiveLayout;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetAdaptiveLayout(Id, value);
			} else {
				this.adaptiveLayout = value;
			}
		}
	}
	string algorithm;
	public string Algorithm {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetAlgorithm(Id) : algorithm;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetAlgorithm(Id, value);
			} else {
				this.algorithm = value;
			}
		}
	}
	string argumentField;
	public string ArgumentField {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetArgumentField(Id) : argumentField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetArgumentField(Id, value);
			} else {
				this.argumentField = value;
			}
		}
	}
	string colorField;
	public string ColorField {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetColorField(Id) : colorField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetColorField(Id, value);
			} else {
				this.colorField = value;
			}
		}
	}
	object dataSource;
	public object DataSource {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetDataSource(Id) : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetDataSource(Id, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	bool? hoverEnabled;
	public bool? HoverEnabled {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetHoverEnabled(Id) : hoverEnabled;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetHoverEnabled(Id, value);
			} else {
				this.hoverEnabled = value;
			}
		}
	}
	bool? inverted;
	public bool? Inverted {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetInverted(Id) : inverted;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetInverted(Id, value);
			} else {
				this.inverted = value;
			}
		}
	}
	object item;
	public object Item {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetItem(Id) : item;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetItem(Id, value);
			} else {
				this.item = value;
			}
		}
	}
	object label;
	public object Label {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetLabel(Id) : label;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetLabel(Id, value);
			} else {
				this.label = value;
			}
		}
	}
	object legend;
	public object Legend {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetLegend(Id) : legend;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetLegend(Id, value);
			} else {
				this.legend = value;
			}
		}
	}
	float? neckHeight;
	public float? NeckHeight {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetNeckHeight(Id) : neckHeight;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetNeckHeight(Id, value);
			} else {
				this.neckHeight = value;
			}
		}
	}
	float? neckWidth;
	public float? NeckWidth {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetNeckWidth(Id) : neckWidth;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetNeckWidth(Id, value);
			} else {
				this.neckWidth = value;
			}
		}
	}
	object palette;
	public object Palette {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetPalette(Id) : palette;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetPalette(Id, value);
			} else {
				this.palette = value;
			}
		}
	}
	string paletteExtensionMode;
	public string PaletteExtensionMode {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetPaletteExtensionMode(Id) : paletteExtensionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetPaletteExtensionMode(Id, value);
			} else {
				this.paletteExtensionMode = value;
			}
		}
	}
	string selectionMode;
	public string SelectionMode {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetSelectionMode(Id) : selectionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetSelectionMode(Id, value);
			} else {
				this.selectionMode = value;
			}
		}
	}
	bool? sortData;
	public bool? SortData {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetSortData(Id) : sortData;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetSortData(Id, value);
			} else {
				this.sortData = value;
			}
		}
	}
	object tooltip;
	public object Tooltip {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetTooltip(Id) : tooltip;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetTooltip(Id, value);
			} else {
				this.tooltip = value;
			}
		}
	}
	string valueField;
	public string ValueField {
		get => isInitialized ? DevExpress.Viz.DxFunnelInterop.GetValueField(Id) : valueField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxFunnelInterop.SetValueField(Id, value);
			} else {
				this.valueField = value;
			}
		}
	}
	bool? onHoverChangedEnabled;
	public bool? OnHoverChangedEnabled {
		get => onHoverChangedEnabled;
		set => this.onHoverChangedEnabled = value;
	}
	bool? onItemClickEnabled;
	public bool? OnItemClickEnabled {
		get => onItemClickEnabled;
		set => this.onItemClickEnabled = value;
	}
	bool? onLegendClickEnabled;
	public bool? OnLegendClickEnabled {
		get => onLegendClickEnabled;
		set => this.onLegendClickEnabled = value;
	}
	bool? onSelectionChangedEnabled;
	public bool? OnSelectionChangedEnabled {
		get => onSelectionChangedEnabled;
		set => this.onSelectionChangedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Viz.DxFunnelInterop.HoverChanged += DxFunnel_HoverChanged;
		DevExpress.Viz.DxFunnelInterop.ItemClick += DxFunnel_ItemClick;
		DevExpress.Viz.DxFunnelInterop.LegendClick += DxFunnel_LegendClick;
		DevExpress.Viz.DxFunnelInterop.SelectionChanged += DxFunnel_SelectionChanged;
	}
	public Action HoverChanged { get; set; }
	void DxFunnel_HoverChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			HoverChanged?.Invoke();
		}
	}
	public Action ItemClick { get; set; }
	void DxFunnel_ItemClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemClick?.Invoke();
		}
	}
	public Action LegendClick { get; set; }
	void DxFunnel_LegendClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			LegendClick?.Invoke();
		}
	}
	public Action SelectionChanged { get; set; }
	void DxFunnel_SelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SelectionChanged?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Viz.DxFunnelInterop.HoverChanged -= DxFunnel_HoverChanged;
		DevExpress.Viz.DxFunnelInterop.ItemClick -= DxFunnel_ItemClick;
		DevExpress.Viz.DxFunnelInterop.LegendClick -= DxFunnel_LegendClick;
		DevExpress.Viz.DxFunnelInterop.SelectionChanged -= DxFunnel_SelectionChanged;
	}
}
