@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxLoadPanelOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxLoadPanel() : base("DxLoadPanel") { }
	protected override DevExpress.Ui.DxLoadPanelOptions CreateOptions() {
		return new DevExpress.Ui.DxLoadPanelOptions {
			animation = animation,
			container = container,
			delay = delay,
			focusStateEnabled = focusStateEnabled,
			height = height,
			indicatorSrc = indicatorSrc,
			maxHeight = maxHeight,
			maxWidth = maxWidth,
			message = message,
			position = position,
			shadingColor = shadingColor,
			showIndicator = showIndicator,
			showPane = showPane,
			width = width,
			closeOnBackButton = closeOnBackButton,
			closeOnOutsideClick = closeOnOutsideClick,
			contentTemplate = contentTemplate,
			deferRendering = deferRendering,
			dragEnabled = dragEnabled,
			minHeight = minHeight,
			minWidth = minWidth,
			shading = shading,
			visible = visible,
			accessKey = accessKey,
			activeStateEnabled = activeStateEnabled,
			disabled = disabled,
			hint = hint,
			hoverStateEnabled = hoverStateEnabled,
			tabIndex = tabIndex,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			rtlEnabled = rtlEnabled,
			onHiddenEnabled = onHiddenEnabled,
			onHidingEnabled = onHidingEnabled,
			onShowingEnabled = onShowingEnabled,
			onShownEnabled = onShownEnabled,
			onContentReadyEnabled = onContentReadyEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.DxLoadPanelOptions options) {
		return DevExpress.Ui.DxLoadPanelInterop.Init(dxTarget, options);
	}
	object animation;
	[Parameter]
	object Animation {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetAnimationOption(dxTarget).Result : animation;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetAnimationOption(dxTarget, value);
			} else {
				this.animation = value;
			}
		}
	}
	object container;
	[Parameter]
	object Container {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetContainerOption(dxTarget).Result : container;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetContainerOption(dxTarget, value);
			} else {
				this.container = value;
			}
		}
	}
	float? delay;
	[Parameter]
	float? Delay {
		get => isInitialized ? (float?)DevExpress.Ui.DxLoadPanelInterop.GetDelayOption(dxTarget).Result : delay;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetDelayOption(dxTarget, value);
			} else {
				this.delay = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter]
	bool? FocusStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetFocusStateEnabledOption(dxTarget).Result : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetFocusStateEnabledOption(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	object height;
	[Parameter]
	object Height {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetHeightOption(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetHeightOption(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	string indicatorSrc;
	[Parameter]
	string IndicatorSrc {
		get => isInitialized ? (string)DevExpress.Ui.DxLoadPanelInterop.GetIndicatorSrcOption(dxTarget).Result : indicatorSrc;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetIndicatorSrcOption(dxTarget, value);
			} else {
				this.indicatorSrc = value;
			}
		}
	}
	object maxHeight;
	[Parameter]
	object MaxHeight {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetMaxHeightOption(dxTarget).Result : maxHeight;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetMaxHeightOption(dxTarget, value);
			} else {
				this.maxHeight = value;
			}
		}
	}
	object maxWidth;
	[Parameter]
	object MaxWidth {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetMaxWidthOption(dxTarget).Result : maxWidth;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetMaxWidthOption(dxTarget, value);
			} else {
				this.maxWidth = value;
			}
		}
	}
	string message;
	[Parameter]
	string Message {
		get => isInitialized ? (string)DevExpress.Ui.DxLoadPanelInterop.GetMessageOption(dxTarget).Result : message;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetMessageOption(dxTarget, value);
			} else {
				this.message = value;
			}
		}
	}
	object position;
	[Parameter]
	object Position {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetPositionOption(dxTarget).Result : position;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetPositionOption(dxTarget, value);
			} else {
				this.position = value;
			}
		}
	}
	string shadingColor;
	[Parameter]
	string ShadingColor {
		get => isInitialized ? (string)DevExpress.Ui.DxLoadPanelInterop.GetShadingColorOption(dxTarget).Result : shadingColor;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetShadingColorOption(dxTarget, value);
			} else {
				this.shadingColor = value;
			}
		}
	}
	bool? showIndicator;
	[Parameter]
	bool? ShowIndicator {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetShowIndicatorOption(dxTarget).Result : showIndicator;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetShowIndicatorOption(dxTarget, value);
			} else {
				this.showIndicator = value;
			}
		}
	}
	bool? showPane;
	[Parameter]
	bool? ShowPane {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetShowPaneOption(dxTarget).Result : showPane;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetShowPaneOption(dxTarget, value);
			} else {
				this.showPane = value;
			}
		}
	}
	object width;
	[Parameter]
	object Width {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetWidthOption(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetWidthOption(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? closeOnBackButton;
	[Parameter]
	bool? CloseOnBackButton {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetCloseOnBackButtonOption(dxTarget).Result : closeOnBackButton;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetCloseOnBackButtonOption(dxTarget, value);
			} else {
				this.closeOnBackButton = value;
			}
		}
	}
	object closeOnOutsideClick;
	[Parameter]
	object CloseOnOutsideClick {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetCloseOnOutsideClickOption(dxTarget).Result : closeOnOutsideClick;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetCloseOnOutsideClickOption(dxTarget, value);
			} else {
				this.closeOnOutsideClick = value;
			}
		}
	}
	object contentTemplate;
	[Parameter]
	object ContentTemplate {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetContentTemplateOption(dxTarget).Result : contentTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetContentTemplateOption(dxTarget, value);
			} else {
				this.contentTemplate = value;
			}
		}
	}
	bool? deferRendering;
	[Parameter]
	bool? DeferRendering {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetDeferRenderingOption(dxTarget).Result : deferRendering;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetDeferRenderingOption(dxTarget, value);
			} else {
				this.deferRendering = value;
			}
		}
	}
	bool? dragEnabled;
	[Parameter]
	bool? DragEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetDragEnabledOption(dxTarget).Result : dragEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetDragEnabledOption(dxTarget, value);
			} else {
				this.dragEnabled = value;
			}
		}
	}
	object minHeight;
	[Parameter]
	object MinHeight {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetMinHeightOption(dxTarget).Result : minHeight;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetMinHeightOption(dxTarget, value);
			} else {
				this.minHeight = value;
			}
		}
	}
	object minWidth;
	[Parameter]
	object MinWidth {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetMinWidthOption(dxTarget).Result : minWidth;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetMinWidthOption(dxTarget, value);
			} else {
				this.minWidth = value;
			}
		}
	}
	bool? shading;
	[Parameter]
	bool? Shading {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetShadingOption(dxTarget).Result : shading;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetShadingOption(dxTarget, value);
			} else {
				this.shading = value;
			}
		}
	}
	bool? visible;
	[Parameter]
	bool? Visible {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetVisibleOption(dxTarget).Result : visible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetVisibleOption(dxTarget, value);
			} else {
				this.visible = value;
			}
		}
	}
	string accessKey;
	[Parameter]
	string AccessKey {
		get => isInitialized ? (string)DevExpress.Ui.DxLoadPanelInterop.GetAccessKeyOption(dxTarget).Result : accessKey;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetAccessKeyOption(dxTarget, value);
			} else {
				this.accessKey = value;
			}
		}
	}
	bool? activeStateEnabled;
	[Parameter]
	bool? ActiveStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetActiveStateEnabledOption(dxTarget).Result : activeStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetActiveStateEnabledOption(dxTarget, value);
			} else {
				this.activeStateEnabled = value;
			}
		}
	}
	bool? disabled;
	[Parameter]
	bool? Disabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetDisabledOption(dxTarget).Result : disabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetDisabledOption(dxTarget, value);
			} else {
				this.disabled = value;
			}
		}
	}
	string hint;
	[Parameter]
	string Hint {
		get => isInitialized ? (string)DevExpress.Ui.DxLoadPanelInterop.GetHintOption(dxTarget).Result : hint;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetHintOption(dxTarget, value);
			} else {
				this.hint = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter]
	bool? HoverStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetHoverStateEnabledOption(dxTarget).Result : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetHoverStateEnabledOption(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	float? tabIndex;
	[Parameter]
	float? TabIndex {
		get => isInitialized ? (float?)DevExpress.Ui.DxLoadPanelInterop.GetTabIndexOption(dxTarget).Result : tabIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetTabIndexOption(dxTarget, value);
			} else {
				this.tabIndex = value;
			}
		}
	}
	object bindingOptions;
	[Parameter]
	object BindingOptions {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetBindingOptionsOption(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetBindingOptionsOption(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter]
	object ElementAttr {
		get => isInitialized ? DevExpress.Ui.DxLoadPanelInterop.GetElementAttrOption(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetElementAttrOption(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter]
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxLoadPanelInterop.GetRtlEnabledOption(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxLoadPanelInterop.SetRtlEnabledOption(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	bool? onHiddenEnabled;
	[Parameter]
	bool? OnHiddenEnabled {
		get => onHiddenEnabled;
		set => this.onHiddenEnabled = value;
	}
	bool? onHidingEnabled;
	[Parameter]
	bool? OnHidingEnabled {
		get => onHidingEnabled;
		set => this.onHidingEnabled = value;
	}
	bool? onShowingEnabled;
	[Parameter]
	bool? OnShowingEnabled {
		get => onShowingEnabled;
		set => this.onShowingEnabled = value;
	}
	bool? onShownEnabled;
	[Parameter]
	bool? OnShownEnabled {
		get => onShownEnabled;
		set => this.onShownEnabled = value;
	}
	bool? onContentReadyEnabled;
	[Parameter]
	bool? OnContentReadyEnabled {
		get => onContentReadyEnabled;
		set => this.onContentReadyEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter]
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter]
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter]
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxLoadPanelInterop.Hidden += DxLoadPanel_Hidden;
		DevExpress.Ui.DxLoadPanelInterop.Hiding += DxLoadPanel_Hiding;
		DevExpress.Ui.DxLoadPanelInterop.Showing += DxLoadPanel_Showing;
		DevExpress.Ui.DxLoadPanelInterop.Shown += DxLoadPanel_Shown;
		DevExpress.Ui.DxLoadPanelInterop.ContentReady += DxLoadPanel_ContentReady;
		DevExpress.Ui.DxLoadPanelInterop.Disposing += DxLoadPanel_Disposing;
		DevExpress.Ui.DxLoadPanelInterop.OptionChanged += DxLoadPanel_OptionChanged;
		DevExpress.Ui.DxLoadPanelInterop.Initialized += DxLoadPanel_Initialized;
	}
	[Parameter]
	Action Hidden { get; set; }
	void DxLoadPanel_Hidden(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Hidden?.Invoke();
		}
	}
	[Parameter]
	Action Hiding { get; set; }
	void DxLoadPanel_Hiding(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Hiding?.Invoke();
		}
	}
	[Parameter]
	Action Showing { get; set; }
	void DxLoadPanel_Showing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Showing?.Invoke();
		}
	}
	[Parameter]
	Action Shown { get; set; }
	void DxLoadPanel_Shown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Shown?.Invoke();
		}
	}
	[Parameter]
	Action ContentReady { get; set; }
	void DxLoadPanel_ContentReady(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContentReady?.Invoke();
		}
	}
	[Parameter]
	Action Disposing { get; set; }
	void DxLoadPanel_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter]
	Action OptionChanged { get; set; }
	void DxLoadPanel_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter]
	Action Initialized { get; set; }
	void DxLoadPanel_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Ui.DxLoadPanelInterop.Hidden -= DxLoadPanel_Hidden;
		DevExpress.Ui.DxLoadPanelInterop.Hiding -= DxLoadPanel_Hiding;
		DevExpress.Ui.DxLoadPanelInterop.Showing -= DxLoadPanel_Showing;
		DevExpress.Ui.DxLoadPanelInterop.Shown -= DxLoadPanel_Shown;
		DevExpress.Ui.DxLoadPanelInterop.ContentReady -= DxLoadPanel_ContentReady;
		DevExpress.Ui.DxLoadPanelInterop.Disposing -= DxLoadPanel_Disposing;
		DevExpress.Ui.DxLoadPanelInterop.OptionChanged -= DxLoadPanel_OptionChanged;
		DevExpress.Ui.DxLoadPanelInterop.Initialized -= DxLoadPanel_Initialized;
	}
}
