@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxMapOptions>

<div id="@Id"></div>

@functions {
	public DxMap() : base("DxMap") { }
	protected override DevExpress.Ui.DxMapOptions CreateOptions() {
		return new DevExpress.Ui.DxMapOptions {
			autoAdjust = autoAdjust,
			center = center,
			controls = controls,
			focusStateEnabled = focusStateEnabled,
			height = height,
			key = key,
			markerIconSrc = markerIconSrc,
			markers = markers,
			provider = provider,
			routes = routes,
			type = type,
			width = width,
			zoom = zoom,
			onClickEnabled = onClickEnabled,
			onMarkerAddedEnabled = onMarkerAddedEnabled,
			onMarkerRemovedEnabled = onMarkerRemovedEnabled,
			onReadyEnabled = onReadyEnabled,
			onRouteAddedEnabled = onRouteAddedEnabled,
			onRouteRemovedEnabled = onRouteRemovedEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxMapOptions options) {
		DevExpress.Ui.DxMapInterop.Init(Id, options);
	}
	bool? autoAdjust;
	public bool? AutoAdjust {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetAutoAdjust(Id) : autoAdjust;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetAutoAdjust(Id, value);
			} else {
				this.autoAdjust = value;
			}
		}
	}
	object center;
	public object Center {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetCenter(Id) : center;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetCenter(Id, value);
			} else {
				this.center = value;
			}
		}
	}
	bool? controls;
	public bool? Controls {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetControls(Id) : controls;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetControls(Id, value);
			} else {
				this.controls = value;
			}
		}
	}
	bool? focusStateEnabled;
	public bool? FocusStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetFocusStateEnabled(Id) : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetFocusStateEnabled(Id, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	object height;
	public object Height {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetHeight(Id) : height;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetHeight(Id, value);
			} else {
				this.height = value;
			}
		}
	}
	object key;
	public object Key {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetKey(Id) : key;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetKey(Id, value);
			} else {
				this.key = value;
			}
		}
	}
	string markerIconSrc;
	public string MarkerIconSrc {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetMarkerIconSrc(Id) : markerIconSrc;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetMarkerIconSrc(Id, value);
			} else {
				this.markerIconSrc = value;
			}
		}
	}
	object markers;
	public object Markers {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetMarkers(Id) : markers;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetMarkers(Id, value);
			} else {
				this.markers = value;
			}
		}
	}
	string provider;
	public string Provider {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetProvider(Id) : provider;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetProvider(Id, value);
			} else {
				this.provider = value;
			}
		}
	}
	object routes;
	public object Routes {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetRoutes(Id) : routes;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetRoutes(Id, value);
			} else {
				this.routes = value;
			}
		}
	}
	string type;
	public string Type {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetType(Id) : type;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetType(Id, value);
			} else {
				this.type = value;
			}
		}
	}
	object width;
	public object Width {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetWidth(Id) : width;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetWidth(Id, value);
			} else {
				this.width = value;
			}
		}
	}
	float? zoom;
	public float? Zoom {
		get => isInitialized ? DevExpress.Ui.DxMapInterop.GetZoom(Id) : zoom;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMapInterop.SetZoom(Id, value);
			} else {
				this.zoom = value;
			}
		}
	}
	bool? onClickEnabled;
	public bool? OnClickEnabled {
		get => onClickEnabled;
		set => this.onClickEnabled = value;
	}
	bool? onMarkerAddedEnabled;
	public bool? OnMarkerAddedEnabled {
		get => onMarkerAddedEnabled;
		set => this.onMarkerAddedEnabled = value;
	}
	bool? onMarkerRemovedEnabled;
	public bool? OnMarkerRemovedEnabled {
		get => onMarkerRemovedEnabled;
		set => this.onMarkerRemovedEnabled = value;
	}
	bool? onReadyEnabled;
	public bool? OnReadyEnabled {
		get => onReadyEnabled;
		set => this.onReadyEnabled = value;
	}
	bool? onRouteAddedEnabled;
	public bool? OnRouteAddedEnabled {
		get => onRouteAddedEnabled;
		set => this.onRouteAddedEnabled = value;
	}
	bool? onRouteRemovedEnabled;
	public bool? OnRouteRemovedEnabled {
		get => onRouteRemovedEnabled;
		set => this.onRouteRemovedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxMapInterop.Click += DxMap_Click;
		DevExpress.Ui.DxMapInterop.MarkerAdded += DxMap_MarkerAdded;
		DevExpress.Ui.DxMapInterop.MarkerRemoved += DxMap_MarkerRemoved;
		DevExpress.Ui.DxMapInterop.Ready += DxMap_Ready;
		DevExpress.Ui.DxMapInterop.RouteAdded += DxMap_RouteAdded;
		DevExpress.Ui.DxMapInterop.RouteRemoved += DxMap_RouteRemoved;
	}
	public Action Click { get; set; }
	void DxMap_Click(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Click?.Invoke();
		}
	}
	public Action MarkerAdded { get; set; }
	void DxMap_MarkerAdded(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			MarkerAdded?.Invoke();
		}
	}
	public Action MarkerRemoved { get; set; }
	void DxMap_MarkerRemoved(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			MarkerRemoved?.Invoke();
		}
	}
	public Action Ready { get; set; }
	void DxMap_Ready(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Ready?.Invoke();
		}
	}
	public Action RouteAdded { get; set; }
	void DxMap_RouteAdded(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RouteAdded?.Invoke();
		}
	}
	public Action RouteRemoved { get; set; }
	void DxMap_RouteRemoved(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RouteRemoved?.Invoke();
		}
	}
	public object AddMarker(object markerOptions) {
		return DevExpress.Ui.DxMapInterop.AddMarker(Id, markerOptions);
	}
	public object AddRoute(object options) {
		return DevExpress.Ui.DxMapInterop.AddRoute(Id, options);
	}
	public object RemoveMarker(object marker) {
		return DevExpress.Ui.DxMapInterop.RemoveMarker(Id, marker);
	}
	public object RemoveRoute(object route) {
		return DevExpress.Ui.DxMapInterop.RemoveRoute(Id, route);
	}
	public void Dispose() {
		DevExpress.Ui.DxMapInterop.Click -= DxMap_Click;
		DevExpress.Ui.DxMapInterop.MarkerAdded -= DxMap_MarkerAdded;
		DevExpress.Ui.DxMapInterop.MarkerRemoved -= DxMap_MarkerRemoved;
		DevExpress.Ui.DxMapInterop.Ready -= DxMap_Ready;
		DevExpress.Ui.DxMapInterop.RouteAdded -= DxMap_RouteAdded;
		DevExpress.Ui.DxMapInterop.RouteRemoved -= DxMap_RouteRemoved;
	}
}
