@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxMenuOptions>

<div id="@Id"></div>

@functions {
	public DxMenu() : base("DxMenu") { }
	protected override DevExpress.Ui.DxMenuOptions CreateOptions() {
		return new DevExpress.Ui.DxMenuOptions {
			adaptivityEnabled = adaptivityEnabled,
			hideSubmenuOnMouseLeave = hideSubmenuOnMouseLeave,
			items = items,
			orientation = orientation,
			showFirstSubmenuMode = showFirstSubmenuMode,
			submenuDirection = submenuDirection,
			onSubmenuHiddenEnabled = onSubmenuHiddenEnabled,
			onSubmenuHidingEnabled = onSubmenuHidingEnabled,
			onSubmenuShowingEnabled = onSubmenuShowingEnabled,
			onSubmenuShownEnabled = onSubmenuShownEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxMenuOptions options) {
		DevExpress.Ui.DxMenuInterop.Init(Id, options);
	}
	bool? adaptivityEnabled;
	public bool? AdaptivityEnabled {
		get => isInitialized ? DevExpress.Ui.DxMenuInterop.GetAdaptivityEnabled(Id) : adaptivityEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMenuInterop.SetAdaptivityEnabled(Id, value);
			} else {
				this.adaptivityEnabled = value;
			}
		}
	}
	bool? hideSubmenuOnMouseLeave;
	public bool? HideSubmenuOnMouseLeave {
		get => isInitialized ? DevExpress.Ui.DxMenuInterop.GetHideSubmenuOnMouseLeave(Id) : hideSubmenuOnMouseLeave;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMenuInterop.SetHideSubmenuOnMouseLeave(Id, value);
			} else {
				this.hideSubmenuOnMouseLeave = value;
			}
		}
	}
	object items;
	public object Items {
		get => isInitialized ? DevExpress.Ui.DxMenuInterop.GetItems(Id) : items;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMenuInterop.SetItems(Id, value);
			} else {
				this.items = value;
			}
		}
	}
	string orientation;
	public string Orientation {
		get => isInitialized ? DevExpress.Ui.DxMenuInterop.GetOrientation(Id) : orientation;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMenuInterop.SetOrientation(Id, value);
			} else {
				this.orientation = value;
			}
		}
	}
	object showFirstSubmenuMode;
	public object ShowFirstSubmenuMode {
		get => isInitialized ? DevExpress.Ui.DxMenuInterop.GetShowFirstSubmenuMode(Id) : showFirstSubmenuMode;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMenuInterop.SetShowFirstSubmenuMode(Id, value);
			} else {
				this.showFirstSubmenuMode = value;
			}
		}
	}
	string submenuDirection;
	public string SubmenuDirection {
		get => isInitialized ? DevExpress.Ui.DxMenuInterop.GetSubmenuDirection(Id) : submenuDirection;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMenuInterop.SetSubmenuDirection(Id, value);
			} else {
				this.submenuDirection = value;
			}
		}
	}
	bool? onSubmenuHiddenEnabled;
	public bool? OnSubmenuHiddenEnabled {
		get => onSubmenuHiddenEnabled;
		set => this.onSubmenuHiddenEnabled = value;
	}
	bool? onSubmenuHidingEnabled;
	public bool? OnSubmenuHidingEnabled {
		get => onSubmenuHidingEnabled;
		set => this.onSubmenuHidingEnabled = value;
	}
	bool? onSubmenuShowingEnabled;
	public bool? OnSubmenuShowingEnabled {
		get => onSubmenuShowingEnabled;
		set => this.onSubmenuShowingEnabled = value;
	}
	bool? onSubmenuShownEnabled;
	public bool? OnSubmenuShownEnabled {
		get => onSubmenuShownEnabled;
		set => this.onSubmenuShownEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxMenuInterop.SubmenuHidden += DxMenu_SubmenuHidden;
		DevExpress.Ui.DxMenuInterop.SubmenuHiding += DxMenu_SubmenuHiding;
		DevExpress.Ui.DxMenuInterop.SubmenuShowing += DxMenu_SubmenuShowing;
		DevExpress.Ui.DxMenuInterop.SubmenuShown += DxMenu_SubmenuShown;
	}
	public Action SubmenuHidden { get; set; }
	void DxMenu_SubmenuHidden(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SubmenuHidden?.Invoke();
		}
	}
	public Action SubmenuHiding { get; set; }
	void DxMenu_SubmenuHiding(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SubmenuHiding?.Invoke();
		}
	}
	public Action SubmenuShowing { get; set; }
	void DxMenu_SubmenuShowing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SubmenuShowing?.Invoke();
		}
	}
	public Action SubmenuShown { get; set; }
	void DxMenu_SubmenuShown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SubmenuShown?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Ui.DxMenuInterop.SubmenuHidden -= DxMenu_SubmenuHidden;
		DevExpress.Ui.DxMenuInterop.SubmenuHiding -= DxMenu_SubmenuHiding;
		DevExpress.Ui.DxMenuInterop.SubmenuShowing -= DxMenu_SubmenuShowing;
		DevExpress.Ui.DxMenuInterop.SubmenuShown -= DxMenu_SubmenuShown;
	}
}
