@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxMultiViewOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxMultiView() : base("DxMultiView") { }
	protected override DevExpress.Ui.DxMultiViewOptions CreateOptions() {
		return new DevExpress.Ui.DxMultiViewOptions {
			animationEnabled = animationEnabled,
			deferRendering = deferRendering,
			focusStateEnabled = focusStateEnabled,
			loop = loop,
			selectedIndex = selectedIndex,
			swipeEnabled = swipeEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.DxMultiViewOptions options) {
return 		DevExpress.Ui.DxMultiViewInterop.Init(dxTarget, options);
	}
	bool? animationEnabled;
	[Parameter]
	bool? AnimationEnabled {
		get => isInitialized ? DevExpress.Ui.DxMultiViewInterop.GetAnimationEnabled(dxTarget).Result : animationEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMultiViewInterop.SetAnimationEnabled(dxTarget, value);
			} else {
				this.animationEnabled = value;
			}
		}
	}
	bool? deferRendering;
	[Parameter]
	bool? DeferRendering {
		get => isInitialized ? DevExpress.Ui.DxMultiViewInterop.GetDeferRendering(dxTarget).Result : deferRendering;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMultiViewInterop.SetDeferRendering(dxTarget, value);
			} else {
				this.deferRendering = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter]
	bool? FocusStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxMultiViewInterop.GetFocusStateEnabled(dxTarget).Result : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMultiViewInterop.SetFocusStateEnabled(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	bool? loop;
	[Parameter]
	bool? Loop {
		get => isInitialized ? DevExpress.Ui.DxMultiViewInterop.GetLoop(dxTarget).Result : loop;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMultiViewInterop.SetLoop(dxTarget, value);
			} else {
				this.loop = value;
			}
		}
	}
	float? selectedIndex;
	[Parameter]
	float? SelectedIndex {
		get => isInitialized ? DevExpress.Ui.DxMultiViewInterop.GetSelectedIndex(dxTarget).Result : selectedIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMultiViewInterop.SetSelectedIndex(dxTarget, value);
			} else {
				this.selectedIndex = value;
			}
		}
	}
	bool? swipeEnabled;
	[Parameter]
	bool? SwipeEnabled {
		get => isInitialized ? DevExpress.Ui.DxMultiViewInterop.GetSwipeEnabled(dxTarget).Result : swipeEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxMultiViewInterop.SetSwipeEnabled(dxTarget, value);
			} else {
				this.swipeEnabled = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
