@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxNavBarOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxNavBar() : base("DxNavBar") { }
	protected override DevExpress.Ui.DxNavBarOptions CreateOptions() {
		return new DevExpress.Ui.DxNavBarOptions {
			scrollByContent = scrollByContent,
		};
	}
	protected override Task Init(DevExpress.Ui.DxNavBarOptions options) {
return 		DevExpress.Ui.DxNavBarInterop.Init(dxTarget, options);
	}
	bool? scrollByContent;
	[Parameter]
	bool? ScrollByContent {
		get => isInitialized ? DevExpress.Ui.DxNavBarInterop.GetScrollByContent(dxTarget).Result : scrollByContent;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxNavBarInterop.SetScrollByContent(dxTarget, value);
			} else {
				this.scrollByContent = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
