@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxNumberBoxOptions>

<div id="@Id"></div>

@functions {
	public DxNumberBox() : base("DxNumberBox") { }
	protected override DevExpress.Ui.DxNumberBoxOptions CreateOptions() {
		return new DevExpress.Ui.DxNumberBoxOptions {
			format = format,
			invalidValueMessage = invalidValueMessage,
			max = max,
			min = min,
			mode = mode,
			showSpinButtons = showSpinButtons,
			step = step,
			useLargeSpinButtons = useLargeSpinButtons,
			value = value,
		};
	}
	protected override void Init(DevExpress.Ui.DxNumberBoxOptions options) {
		DevExpress.Ui.DxNumberBoxInterop.Init(Id, options);
	}
	object format;
	public object Format {
		get => isInitialized ? DevExpress.Ui.DxNumberBoxInterop.GetFormat(Id) : format;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxNumberBoxInterop.SetFormat(Id, value);
			} else {
				this.format = value;
			}
		}
	}
	string invalidValueMessage;
	public string InvalidValueMessage {
		get => isInitialized ? DevExpress.Ui.DxNumberBoxInterop.GetInvalidValueMessage(Id) : invalidValueMessage;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxNumberBoxInterop.SetInvalidValueMessage(Id, value);
			} else {
				this.invalidValueMessage = value;
			}
		}
	}
	float? max;
	public float? Max {
		get => isInitialized ? DevExpress.Ui.DxNumberBoxInterop.GetMax(Id) : max;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxNumberBoxInterop.SetMax(Id, value);
			} else {
				this.max = value;
			}
		}
	}
	float? min;
	public float? Min {
		get => isInitialized ? DevExpress.Ui.DxNumberBoxInterop.GetMin(Id) : min;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxNumberBoxInterop.SetMin(Id, value);
			} else {
				this.min = value;
			}
		}
	}
	string mode;
	public string Mode {
		get => isInitialized ? DevExpress.Ui.DxNumberBoxInterop.GetMode(Id) : mode;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxNumberBoxInterop.SetMode(Id, value);
			} else {
				this.mode = value;
			}
		}
	}
	bool? showSpinButtons;
	public bool? ShowSpinButtons {
		get => isInitialized ? DevExpress.Ui.DxNumberBoxInterop.GetShowSpinButtons(Id) : showSpinButtons;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxNumberBoxInterop.SetShowSpinButtons(Id, value);
			} else {
				this.showSpinButtons = value;
			}
		}
	}
	float? step;
	public float? Step {
		get => isInitialized ? DevExpress.Ui.DxNumberBoxInterop.GetStep(Id) : step;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxNumberBoxInterop.SetStep(Id, value);
			} else {
				this.step = value;
			}
		}
	}
	bool? useLargeSpinButtons;
	public bool? UseLargeSpinButtons {
		get => isInitialized ? DevExpress.Ui.DxNumberBoxInterop.GetUseLargeSpinButtons(Id) : useLargeSpinButtons;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxNumberBoxInterop.SetUseLargeSpinButtons(Id, value);
			} else {
				this.useLargeSpinButtons = value;
			}
		}
	}
	float? value;
	public float? Value {
		get => isInitialized ? DevExpress.Ui.DxNumberBoxInterop.GetValue(Id) : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxNumberBoxInterop.SetValue(Id, value);
			} else {
				this.value = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
