@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxPanoramaOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxPanorama() : base("DxPanorama") { }
	protected override DevExpress.Ui.DxPanoramaOptions CreateOptions() {
		return new DevExpress.Ui.DxPanoramaOptions {
			backgroundImage = backgroundImage,
			focusStateEnabled = focusStateEnabled,
			selectedIndex = selectedIndex,
			title = title,
		};
	}
	protected override void Init(DevExpress.Ui.DxPanoramaOptions options) {
		DevExpress.Ui.DxPanoramaInterop.Init(dxTarget, options);
	}
	object backgroundImage;
	[Parameter]
	object BackgroundImage {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetBackgroundImage(dxTarget) : backgroundImage;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetBackgroundImage(dxTarget, value);
			} else {
				this.backgroundImage = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter]
	bool? FocusStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetFocusStateEnabled(dxTarget) : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetFocusStateEnabled(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	float? selectedIndex;
	[Parameter]
	float? SelectedIndex {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetSelectedIndex(dxTarget) : selectedIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetSelectedIndex(dxTarget, value);
			} else {
				this.selectedIndex = value;
			}
		}
	}
	string title;
	[Parameter]
	string Title {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetTitle(dxTarget) : title;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetTitle(dxTarget, value);
			} else {
				this.title = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
