
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxPanoramaOptions>

<div id="@Id"  @ref="dxTarget"></div>

@functions {
	ElementReference dxTarget;
	public DxPanorama() : base("DxPanorama") { }
	protected override DevExpress.Ui.DxPanoramaOptions CreateOptions() {
		return new DevExpress.Ui.DxPanoramaOptions {
			backgroundImage = backgroundImage,
			focusStateEnabled = focusStateEnabled,
			selectedIndex = selectedIndex,
			title = title,
			dataSource = dataSource,
			itemHoldTimeout = itemHoldTimeout,
			items = items,
			itemTemplate = itemTemplate,
			keyExpr = keyExpr,
			noDataText = noDataText,
			selectedItem = selectedItem,
			selectedItemKeys = selectedItemKeys,
			selectedItems = selectedItems,
			accessKey = accessKey,
			activeStateEnabled = activeStateEnabled,
			disabled = disabled,
			hint = hint,
			hoverStateEnabled = hoverStateEnabled,
			tabIndex = tabIndex,
			visible = visible,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			height = height,
			rtlEnabled = rtlEnabled,
			width = width,
			onItemClickEnabled = onItemClickEnabled,
			onItemContextMenuEnabled = onItemContextMenuEnabled,
			onItemHoldEnabled = onItemHoldEnabled,
			onItemRenderedEnabled = onItemRenderedEnabled,
			onSelectionChangedEnabled = onSelectionChangedEnabled,
			onContentReadyEnabled = onContentReadyEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override ValueTask<object> Init(DevExpress.Ui.DxPanoramaOptions options) {
		return DevExpress.Ui.DxPanoramaInterop.Init(dxTarget, options);
	}
	object backgroundImage;
	[Parameter] public
	object BackgroundImage {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetBackgroundImage(dxTarget).Result : backgroundImage;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetBackgroundImage(dxTarget, value);
			} else {
				this.backgroundImage = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter] public
	bool? FocusStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPanoramaInterop.GetFocusStateEnabled(dxTarget).Result : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetFocusStateEnabled(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	float? selectedIndex;
	[Parameter] public
	float? SelectedIndex {
		get => isInitialized ? (float?)DevExpress.Ui.DxPanoramaInterop.GetSelectedIndex(dxTarget).Result : selectedIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetSelectedIndex(dxTarget, value);
			} else {
				this.selectedIndex = value;
			}
		}
	}
	string title;
	[Parameter] public
	string Title {
		get => isInitialized ? (string)DevExpress.Ui.DxPanoramaInterop.GetTitle(dxTarget).Result : title;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetTitle(dxTarget, value);
			} else {
				this.title = value;
			}
		}
	}
	object dataSource;
	[Parameter] public
	object DataSource {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetDataSource(dxTarget).Result : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetDataSource(dxTarget, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	float? itemHoldTimeout;
	[Parameter] public
	float? ItemHoldTimeout {
		get => isInitialized ? (float?)DevExpress.Ui.DxPanoramaInterop.GetItemHoldTimeout(dxTarget).Result : itemHoldTimeout;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetItemHoldTimeout(dxTarget, value);
			} else {
				this.itemHoldTimeout = value;
			}
		}
	}
	object items;
	[Parameter] public
	object Items {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetItems(dxTarget).Result : items;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetItems(dxTarget, value);
			} else {
				this.items = value;
			}
		}
	}
	object itemTemplate;
	[Parameter] public
	object ItemTemplate {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetItemTemplate(dxTarget).Result : itemTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetItemTemplate(dxTarget, value);
			} else {
				this.itemTemplate = value;
			}
		}
	}
	object keyExpr;
	[Parameter] public
	object KeyExpr {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetKeyExpr(dxTarget).Result : keyExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetKeyExpr(dxTarget, value);
			} else {
				this.keyExpr = value;
			}
		}
	}
	string noDataText;
	[Parameter] public
	string NoDataText {
		get => isInitialized ? (string)DevExpress.Ui.DxPanoramaInterop.GetNoDataText(dxTarget).Result : noDataText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetNoDataText(dxTarget, value);
			} else {
				this.noDataText = value;
			}
		}
	}
	object selectedItem;
	[Parameter] public
	object SelectedItem {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetSelectedItem(dxTarget).Result : selectedItem;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetSelectedItem(dxTarget, value);
			} else {
				this.selectedItem = value;
			}
		}
	}
	object selectedItemKeys;
	[Parameter] public
	object SelectedItemKeys {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetSelectedItemKeys(dxTarget).Result : selectedItemKeys;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetSelectedItemKeys(dxTarget, value);
			} else {
				this.selectedItemKeys = value;
			}
		}
	}
	object selectedItems;
	[Parameter] public
	object SelectedItems {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetSelectedItems(dxTarget).Result : selectedItems;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetSelectedItems(dxTarget, value);
			} else {
				this.selectedItems = value;
			}
		}
	}
	string accessKey;
	[Parameter] public
	string AccessKey {
		get => isInitialized ? (string)DevExpress.Ui.DxPanoramaInterop.GetAccessKey(dxTarget).Result : accessKey;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetAccessKey(dxTarget, value);
			} else {
				this.accessKey = value;
			}
		}
	}
	bool? activeStateEnabled;
	[Parameter] public
	bool? ActiveStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPanoramaInterop.GetActiveStateEnabled(dxTarget).Result : activeStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetActiveStateEnabled(dxTarget, value);
			} else {
				this.activeStateEnabled = value;
			}
		}
	}
	bool? disabled;
	[Parameter] public
	bool? Disabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPanoramaInterop.GetDisabled(dxTarget).Result : disabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetDisabled(dxTarget, value);
			} else {
				this.disabled = value;
			}
		}
	}
	string hint;
	[Parameter] public
	string Hint {
		get => isInitialized ? (string)DevExpress.Ui.DxPanoramaInterop.GetHint(dxTarget).Result : hint;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetHint(dxTarget, value);
			} else {
				this.hint = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter] public
	bool? HoverStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPanoramaInterop.GetHoverStateEnabled(dxTarget).Result : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetHoverStateEnabled(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	float? tabIndex;
	[Parameter] public
	float? TabIndex {
		get => isInitialized ? (float?)DevExpress.Ui.DxPanoramaInterop.GetTabIndex(dxTarget).Result : tabIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetTabIndex(dxTarget, value);
			} else {
				this.tabIndex = value;
			}
		}
	}
	bool? visible;
	[Parameter] public
	bool? Visible {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPanoramaInterop.GetVisible(dxTarget).Result : visible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetVisible(dxTarget, value);
			} else {
				this.visible = value;
			}
		}
	}
	object bindingOptions;
	[Parameter] public
	object BindingOptions {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetBindingOptions(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter] public
	object ElementAttr {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetElementAttr(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetElementAttr(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	object height;
	[Parameter] public
	object Height {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetHeight(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetHeight(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter] public
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPanoramaInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetRtlEnabled(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object width;
	[Parameter] public
	object Width {
		get => isInitialized ? DevExpress.Ui.DxPanoramaInterop.GetWidth(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPanoramaInterop.SetWidth(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onItemClickEnabled;
	[Parameter] public
	bool? OnItemClickEnabled {
		get => onItemClickEnabled;
		set => this.onItemClickEnabled = value;
	}
	bool? onItemContextMenuEnabled;
	[Parameter] public
	bool? OnItemContextMenuEnabled {
		get => onItemContextMenuEnabled;
		set => this.onItemContextMenuEnabled = value;
	}
	bool? onItemHoldEnabled;
	[Parameter] public
	bool? OnItemHoldEnabled {
		get => onItemHoldEnabled;
		set => this.onItemHoldEnabled = value;
	}
	bool? onItemRenderedEnabled;
	[Parameter] public
	bool? OnItemRenderedEnabled {
		get => onItemRenderedEnabled;
		set => this.onItemRenderedEnabled = value;
	}
	bool? onSelectionChangedEnabled;
	[Parameter] public
	bool? OnSelectionChangedEnabled {
		get => onSelectionChangedEnabled;
		set => this.onSelectionChangedEnabled = value;
	}
	bool? onContentReadyEnabled;
	[Parameter] public
	bool? OnContentReadyEnabled {
		get => onContentReadyEnabled;
		set => this.onContentReadyEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter] public
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter] public
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter] public
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		DevExpress.Ui.DxPanoramaInterop.ItemClick += DxPanorama_ItemClick;
		DevExpress.Ui.DxPanoramaInterop.ItemContextMenu += DxPanorama_ItemContextMenu;
		DevExpress.Ui.DxPanoramaInterop.ItemHold += DxPanorama_ItemHold;
		DevExpress.Ui.DxPanoramaInterop.ItemRendered += DxPanorama_ItemRendered;
		DevExpress.Ui.DxPanoramaInterop.SelectionChanged += DxPanorama_SelectionChanged;
		DevExpress.Ui.DxPanoramaInterop.ContentReady += DxPanorama_ContentReady;
		DevExpress.Ui.DxPanoramaInterop.Disposing += DxPanorama_Disposing;
		DevExpress.Ui.DxPanoramaInterop.OptionChanged += DxPanorama_OptionChanged;
		DevExpress.Ui.DxPanoramaInterop.Initialized += DxPanorama_Initialized;
	}
	[Parameter] public
	Action ItemClick { get; set; }
	void DxPanorama_ItemClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemClick?.Invoke();
		}
	}
	[Parameter] public
	Action ItemContextMenu { get; set; }
	void DxPanorama_ItemContextMenu(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemContextMenu?.Invoke();
		}
	}
	[Parameter] public
	Action ItemHold { get; set; }
	void DxPanorama_ItemHold(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemHold?.Invoke();
		}
	}
	[Parameter] public
	Action ItemRendered { get; set; }
	void DxPanorama_ItemRendered(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemRendered?.Invoke();
		}
	}
	[Parameter] public
	Action SelectionChanged { get; set; }
	void DxPanorama_SelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SelectionChanged?.Invoke();
		}
	}
	[Parameter] public
	Action ContentReady { get; set; }
	void DxPanorama_ContentReady(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContentReady?.Invoke();
		}
	}
	[Parameter] public
	Action Disposing { get; set; }
	void DxPanorama_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter] public
	Action OptionChanged { get; set; }
	void DxPanorama_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter] public
	Action Initialized { get; set; }
	void DxPanorama_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Ui.DxPanoramaInterop.ItemClick -= DxPanorama_ItemClick;
		DevExpress.Ui.DxPanoramaInterop.ItemContextMenu -= DxPanorama_ItemContextMenu;
		DevExpress.Ui.DxPanoramaInterop.ItemHold -= DxPanorama_ItemHold;
		DevExpress.Ui.DxPanoramaInterop.ItemRendered -= DxPanorama_ItemRendered;
		DevExpress.Ui.DxPanoramaInterop.SelectionChanged -= DxPanorama_SelectionChanged;
		DevExpress.Ui.DxPanoramaInterop.ContentReady -= DxPanorama_ContentReady;
		DevExpress.Ui.DxPanoramaInterop.Disposing -= DxPanorama_Disposing;
		DevExpress.Ui.DxPanoramaInterop.OptionChanged -= DxPanorama_OptionChanged;
		DevExpress.Ui.DxPanoramaInterop.Initialized -= DxPanorama_Initialized;
	}
}
