@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxPivotOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxPivot() : base("DxPivot") { }
	protected override DevExpress.Ui.DxPivotOptions CreateOptions() {
		return new DevExpress.Ui.DxPivotOptions {
			contentTemplate = contentTemplate,
			itemTitleTemplate = itemTitleTemplate,
			selectedIndex = selectedIndex,
			swipeEnabled = swipeEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxPivotOptions options) {
		DevExpress.Ui.DxPivotInterop.Init(dxTarget, options);
	}
	object contentTemplate;
	[Parameter]
	object ContentTemplate {
		get => isInitialized ? DevExpress.Ui.DxPivotInterop.GetContentTemplate(dxTarget) : contentTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotInterop.SetContentTemplate(dxTarget, value);
			} else {
				this.contentTemplate = value;
			}
		}
	}
	object itemTitleTemplate;
	[Parameter]
	object ItemTitleTemplate {
		get => isInitialized ? DevExpress.Ui.DxPivotInterop.GetItemTitleTemplate(dxTarget) : itemTitleTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotInterop.SetItemTitleTemplate(dxTarget, value);
			} else {
				this.itemTitleTemplate = value;
			}
		}
	}
	float? selectedIndex;
	[Parameter]
	float? SelectedIndex {
		get => isInitialized ? DevExpress.Ui.DxPivotInterop.GetSelectedIndex(dxTarget) : selectedIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotInterop.SetSelectedIndex(dxTarget, value);
			} else {
				this.selectedIndex = value;
			}
		}
	}
	bool? swipeEnabled;
	[Parameter]
	bool? SwipeEnabled {
		get => isInitialized ? DevExpress.Ui.DxPivotInterop.GetSwipeEnabled(dxTarget) : swipeEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotInterop.SetSwipeEnabled(dxTarget, value);
			} else {
				this.swipeEnabled = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
