
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Viz.Charts.DxPieChartOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxPieChart() : base("DxPieChart") { }
	protected override DevExpress.Viz.Charts.DxPieChartOptions CreateOptions() {
		return new DevExpress.Viz.Charts.DxPieChartOptions {
			adaptiveLayout = adaptiveLayout,
			commonSeriesSettings = commonSeriesSettings,
			diameter = diameter,
			innerRadius = innerRadius,
			legend = legend,
			minDiameter = minDiameter,
			palette = palette,
			resolveLabelOverlapping = resolveLabelOverlapping,
			segmentsDirection = segmentsDirection,
			series = series,
			seriesTemplate = seriesTemplate,
			sizeGroup = sizeGroup,
			startAngle = startAngle,
			type = type,
			animation = animation,
			customizeLabel = customizeLabel,
			customizePoint = customizePoint,
			dataSource = dataSource,
			paletteExtensionMode = paletteExtensionMode,
			pointSelectionMode = pointSelectionMode,
			tooltip = tooltip,
			export = export,
			loadingIndicator = loadingIndicator,
			margin = margin,
			pathModified = pathModified,
			redrawOnResize = redrawOnResize,
			rtlEnabled = rtlEnabled,
			size = size,
			theme = theme,
			title = title,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			height = height,
			width = width,
			onLegendClickEnabled = onLegendClickEnabled,
			onDoneEnabled = onDoneEnabled,
			onPointClickEnabled = onPointClickEnabled,
			onPointHoverChangedEnabled = onPointHoverChangedEnabled,
			onPointSelectionChangedEnabled = onPointSelectionChangedEnabled,
			onTooltipHiddenEnabled = onTooltipHiddenEnabled,
			onTooltipShownEnabled = onTooltipShownEnabled,
			onDrawnEnabled = onDrawnEnabled,
			onExportedEnabled = onExportedEnabled,
			onExportingEnabled = onExportingEnabled,
			onFileSavingEnabled = onFileSavingEnabled,
			onIncidentOccurredEnabled = onIncidentOccurredEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override Task Init(DevExpress.Viz.Charts.DxPieChartOptions options) {
		return DevExpress.Viz.DxPieChartInterop.Init(dxTarget, options);
	}
	object adaptiveLayout;
	[Parameter]
	object AdaptiveLayout {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetAdaptiveLayout(dxTarget).Result : adaptiveLayout;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetAdaptiveLayout(dxTarget, value);
			} else {
				this.adaptiveLayout = value;
			}
		}
	}
	object commonSeriesSettings;
	[Parameter]
	object CommonSeriesSettings {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetCommonSeriesSettings(dxTarget).Result : commonSeriesSettings;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetCommonSeriesSettings(dxTarget, value);
			} else {
				this.commonSeriesSettings = value;
			}
		}
	}
	float? diameter;
	[Parameter]
	float? Diameter {
		get => isInitialized ? (float?)DevExpress.Viz.DxPieChartInterop.GetDiameter(dxTarget).Result : diameter;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetDiameter(dxTarget, value);
			} else {
				this.diameter = value;
			}
		}
	}
	float? innerRadius;
	[Parameter]
	float? InnerRadius {
		get => isInitialized ? (float?)DevExpress.Viz.DxPieChartInterop.GetInnerRadius(dxTarget).Result : innerRadius;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetInnerRadius(dxTarget, value);
			} else {
				this.innerRadius = value;
			}
		}
	}
	object legend;
	[Parameter]
	object Legend {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetLegend(dxTarget).Result : legend;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetLegend(dxTarget, value);
			} else {
				this.legend = value;
			}
		}
	}
	float? minDiameter;
	[Parameter]
	float? MinDiameter {
		get => isInitialized ? (float?)DevExpress.Viz.DxPieChartInterop.GetMinDiameter(dxTarget).Result : minDiameter;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetMinDiameter(dxTarget, value);
			} else {
				this.minDiameter = value;
			}
		}
	}
	object palette;
	[Parameter]
	object Palette {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetPalette(dxTarget).Result : palette;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetPalette(dxTarget, value);
			} else {
				this.palette = value;
			}
		}
	}
	string resolveLabelOverlapping;
	[Parameter]
	string ResolveLabelOverlapping {
		get => isInitialized ? (string)DevExpress.Viz.DxPieChartInterop.GetResolveLabelOverlapping(dxTarget).Result : resolveLabelOverlapping;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetResolveLabelOverlapping(dxTarget, value);
			} else {
				this.resolveLabelOverlapping = value;
			}
		}
	}
	string segmentsDirection;
	[Parameter]
	string SegmentsDirection {
		get => isInitialized ? (string)DevExpress.Viz.DxPieChartInterop.GetSegmentsDirection(dxTarget).Result : segmentsDirection;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetSegmentsDirection(dxTarget, value);
			} else {
				this.segmentsDirection = value;
			}
		}
	}
	object series;
	[Parameter]
	object Series {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetSeries(dxTarget).Result : series;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetSeries(dxTarget, value);
			} else {
				this.series = value;
			}
		}
	}
	object seriesTemplate;
	[Parameter]
	object SeriesTemplate {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetSeriesTemplate(dxTarget).Result : seriesTemplate;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetSeriesTemplate(dxTarget, value);
			} else {
				this.seriesTemplate = value;
			}
		}
	}
	string sizeGroup;
	[Parameter]
	string SizeGroup {
		get => isInitialized ? (string)DevExpress.Viz.DxPieChartInterop.GetSizeGroup(dxTarget).Result : sizeGroup;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetSizeGroup(dxTarget, value);
			} else {
				this.sizeGroup = value;
			}
		}
	}
	float? startAngle;
	[Parameter]
	float? StartAngle {
		get => isInitialized ? (float?)DevExpress.Viz.DxPieChartInterop.GetStartAngle(dxTarget).Result : startAngle;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetStartAngle(dxTarget, value);
			} else {
				this.startAngle = value;
			}
		}
	}
	string type;
	[Parameter]
	string Type {
		get => isInitialized ? (string)DevExpress.Viz.DxPieChartInterop.GetType(dxTarget).Result : type;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetType(dxTarget, value);
			} else {
				this.type = value;
			}
		}
	}
	object animation;
	[Parameter]
	object Animation {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetAnimation(dxTarget).Result : animation;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetAnimation(dxTarget, value);
			} else {
				this.animation = value;
			}
		}
	}
	object customizeLabel;
	[Parameter]
	object CustomizeLabel {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetCustomizeLabel(dxTarget).Result : customizeLabel;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetCustomizeLabel(dxTarget, value);
			} else {
				this.customizeLabel = value;
			}
		}
	}
	object customizePoint;
	[Parameter]
	object CustomizePoint {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetCustomizePoint(dxTarget).Result : customizePoint;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetCustomizePoint(dxTarget, value);
			} else {
				this.customizePoint = value;
			}
		}
	}
	object dataSource;
	[Parameter]
	object DataSource {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetDataSource(dxTarget).Result : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetDataSource(dxTarget, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	string paletteExtensionMode;
	[Parameter]
	string PaletteExtensionMode {
		get => isInitialized ? (string)DevExpress.Viz.DxPieChartInterop.GetPaletteExtensionMode(dxTarget).Result : paletteExtensionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetPaletteExtensionMode(dxTarget, value);
			} else {
				this.paletteExtensionMode = value;
			}
		}
	}
	string pointSelectionMode;
	[Parameter]
	string PointSelectionMode {
		get => isInitialized ? (string)DevExpress.Viz.DxPieChartInterop.GetPointSelectionMode(dxTarget).Result : pointSelectionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetPointSelectionMode(dxTarget, value);
			} else {
				this.pointSelectionMode = value;
			}
		}
	}
	object tooltip;
	[Parameter]
	object Tooltip {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetTooltip(dxTarget).Result : tooltip;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetTooltip(dxTarget, value);
			} else {
				this.tooltip = value;
			}
		}
	}
	object export;
	[Parameter]
	object Export {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetExport(dxTarget).Result : export;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetExport(dxTarget, value);
			} else {
				this.export = value;
			}
		}
	}
	object loadingIndicator;
	[Parameter]
	object LoadingIndicator {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetLoadingIndicator(dxTarget).Result : loadingIndicator;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetLoadingIndicator(dxTarget, value);
			} else {
				this.loadingIndicator = value;
			}
		}
	}
	object margin;
	[Parameter]
	object Margin {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetMargin(dxTarget).Result : margin;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetMargin(dxTarget, value);
			} else {
				this.margin = value;
			}
		}
	}
	bool? pathModified;
	[Parameter]
	bool? PathModified {
		get => isInitialized ? (bool?)DevExpress.Viz.DxPieChartInterop.GetPathModified(dxTarget).Result : pathModified;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetPathModified(dxTarget, value);
			} else {
				this.pathModified = value;
			}
		}
	}
	bool? redrawOnResize;
	[Parameter]
	bool? RedrawOnResize {
		get => isInitialized ? (bool?)DevExpress.Viz.DxPieChartInterop.GetRedrawOnResize(dxTarget).Result : redrawOnResize;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetRedrawOnResize(dxTarget, value);
			} else {
				this.redrawOnResize = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter]
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Viz.DxPieChartInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetRtlEnabled(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object size;
	[Parameter]
	object Size {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetSize(dxTarget).Result : size;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetSize(dxTarget, value);
			} else {
				this.size = value;
			}
		}
	}
	string theme;
	[Parameter]
	string Theme {
		get => isInitialized ? (string)DevExpress.Viz.DxPieChartInterop.GetTheme(dxTarget).Result : theme;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetTheme(dxTarget, value);
			} else {
				this.theme = value;
			}
		}
	}
	object title;
	[Parameter]
	object Title {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetTitle(dxTarget).Result : title;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetTitle(dxTarget, value);
			} else {
				this.title = value;
			}
		}
	}
	object bindingOptions;
	[Parameter]
	object BindingOptions {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetBindingOptions(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter]
	object ElementAttr {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetElementAttr(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetElementAttr(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	object height;
	[Parameter]
	object Height {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetHeight(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetHeight(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	object width;
	[Parameter]
	object Width {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetWidth(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetWidth(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onLegendClickEnabled;
	[Parameter]
	bool? OnLegendClickEnabled {
		get => onLegendClickEnabled;
		set => this.onLegendClickEnabled = value;
	}
	bool? onDoneEnabled;
	[Parameter]
	bool? OnDoneEnabled {
		get => onDoneEnabled;
		set => this.onDoneEnabled = value;
	}
	bool? onPointClickEnabled;
	[Parameter]
	bool? OnPointClickEnabled {
		get => onPointClickEnabled;
		set => this.onPointClickEnabled = value;
	}
	bool? onPointHoverChangedEnabled;
	[Parameter]
	bool? OnPointHoverChangedEnabled {
		get => onPointHoverChangedEnabled;
		set => this.onPointHoverChangedEnabled = value;
	}
	bool? onPointSelectionChangedEnabled;
	[Parameter]
	bool? OnPointSelectionChangedEnabled {
		get => onPointSelectionChangedEnabled;
		set => this.onPointSelectionChangedEnabled = value;
	}
	bool? onTooltipHiddenEnabled;
	[Parameter]
	bool? OnTooltipHiddenEnabled {
		get => onTooltipHiddenEnabled;
		set => this.onTooltipHiddenEnabled = value;
	}
	bool? onTooltipShownEnabled;
	[Parameter]
	bool? OnTooltipShownEnabled {
		get => onTooltipShownEnabled;
		set => this.onTooltipShownEnabled = value;
	}
	bool? onDrawnEnabled;
	[Parameter]
	bool? OnDrawnEnabled {
		get => onDrawnEnabled;
		set => this.onDrawnEnabled = value;
	}
	bool? onExportedEnabled;
	[Parameter]
	bool? OnExportedEnabled {
		get => onExportedEnabled;
		set => this.onExportedEnabled = value;
	}
	bool? onExportingEnabled;
	[Parameter]
	bool? OnExportingEnabled {
		get => onExportingEnabled;
		set => this.onExportingEnabled = value;
	}
	bool? onFileSavingEnabled;
	[Parameter]
	bool? OnFileSavingEnabled {
		get => onFileSavingEnabled;
		set => this.onFileSavingEnabled = value;
	}
	bool? onIncidentOccurredEnabled;
	[Parameter]
	bool? OnIncidentOccurredEnabled {
		get => onIncidentOccurredEnabled;
		set => this.onIncidentOccurredEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter]
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter]
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter]
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Viz.DxPieChartInterop.LegendClick += DxPieChart_LegendClick;
		DevExpress.Viz.DxPieChartInterop.Done += DxPieChart_Done;
		DevExpress.Viz.DxPieChartInterop.PointClick += DxPieChart_PointClick;
		DevExpress.Viz.DxPieChartInterop.PointHoverChanged += DxPieChart_PointHoverChanged;
		DevExpress.Viz.DxPieChartInterop.PointSelectionChanged += DxPieChart_PointSelectionChanged;
		DevExpress.Viz.DxPieChartInterop.TooltipHidden += DxPieChart_TooltipHidden;
		DevExpress.Viz.DxPieChartInterop.TooltipShown += DxPieChart_TooltipShown;
		DevExpress.Viz.DxPieChartInterop.Drawn += DxPieChart_Drawn;
		DevExpress.Viz.DxPieChartInterop.Exported += DxPieChart_Exported;
		DevExpress.Viz.DxPieChartInterop.Exporting += DxPieChart_Exporting;
		DevExpress.Viz.DxPieChartInterop.FileSaving += DxPieChart_FileSaving;
		DevExpress.Viz.DxPieChartInterop.IncidentOccurred += DxPieChart_IncidentOccurred;
		DevExpress.Viz.DxPieChartInterop.Disposing += DxPieChart_Disposing;
		DevExpress.Viz.DxPieChartInterop.OptionChanged += DxPieChart_OptionChanged;
		DevExpress.Viz.DxPieChartInterop.Initialized += DxPieChart_Initialized;
	}
	[Parameter]
	Action LegendClick { get; set; }
	void DxPieChart_LegendClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			LegendClick?.Invoke();
		}
	}
	[Parameter]
	Action Done { get; set; }
	void DxPieChart_Done(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Done?.Invoke();
		}
	}
	[Parameter]
	Action PointClick { get; set; }
	void DxPieChart_PointClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			PointClick?.Invoke();
		}
	}
	[Parameter]
	Action PointHoverChanged { get; set; }
	void DxPieChart_PointHoverChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			PointHoverChanged?.Invoke();
		}
	}
	[Parameter]
	Action PointSelectionChanged { get; set; }
	void DxPieChart_PointSelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			PointSelectionChanged?.Invoke();
		}
	}
	[Parameter]
	Action TooltipHidden { get; set; }
	void DxPieChart_TooltipHidden(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TooltipHidden?.Invoke();
		}
	}
	[Parameter]
	Action TooltipShown { get; set; }
	void DxPieChart_TooltipShown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TooltipShown?.Invoke();
		}
	}
	[Parameter]
	Action Drawn { get; set; }
	void DxPieChart_Drawn(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Drawn?.Invoke();
		}
	}
	[Parameter]
	Action Exported { get; set; }
	void DxPieChart_Exported(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exported?.Invoke();
		}
	}
	[Parameter]
	Action Exporting { get; set; }
	void DxPieChart_Exporting(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exporting?.Invoke();
		}
	}
	[Parameter]
	Action FileSaving { get; set; }
	void DxPieChart_FileSaving(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FileSaving?.Invoke();
		}
	}
	[Parameter]
	Action IncidentOccurred { get; set; }
	void DxPieChart_IncidentOccurred(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			IncidentOccurred?.Invoke();
		}
	}
	[Parameter]
	Action Disposing { get; set; }
	void DxPieChart_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter]
	Action OptionChanged { get; set; }
	void DxPieChart_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter]
	Action Initialized { get; set; }
	void DxPieChart_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public object GetSeriesEx() {
		return DevExpress.Viz.DxPieChartInterop.GetSeriesEx(dxTarget).Result;
	}
	public object GetSeriesByName(object seriesName) {
		return DevExpress.Viz.DxPieChartInterop.GetSeriesByName(dxTarget, seriesName).Result;
	}
	public object GetSeriesByPos(float seriesIndex) {
		return DevExpress.Viz.DxPieChartInterop.GetSeriesByPos(dxTarget, seriesIndex).Result;
	}
	public void Dispose() {
		DevExpress.Viz.DxPieChartInterop.LegendClick -= DxPieChart_LegendClick;
		DevExpress.Viz.DxPieChartInterop.Done -= DxPieChart_Done;
		DevExpress.Viz.DxPieChartInterop.PointClick -= DxPieChart_PointClick;
		DevExpress.Viz.DxPieChartInterop.PointHoverChanged -= DxPieChart_PointHoverChanged;
		DevExpress.Viz.DxPieChartInterop.PointSelectionChanged -= DxPieChart_PointSelectionChanged;
		DevExpress.Viz.DxPieChartInterop.TooltipHidden -= DxPieChart_TooltipHidden;
		DevExpress.Viz.DxPieChartInterop.TooltipShown -= DxPieChart_TooltipShown;
		DevExpress.Viz.DxPieChartInterop.Drawn -= DxPieChart_Drawn;
		DevExpress.Viz.DxPieChartInterop.Exported -= DxPieChart_Exported;
		DevExpress.Viz.DxPieChartInterop.Exporting -= DxPieChart_Exporting;
		DevExpress.Viz.DxPieChartInterop.FileSaving -= DxPieChart_FileSaving;
		DevExpress.Viz.DxPieChartInterop.IncidentOccurred -= DxPieChart_IncidentOccurred;
		DevExpress.Viz.DxPieChartInterop.Disposing -= DxPieChart_Disposing;
		DevExpress.Viz.DxPieChartInterop.OptionChanged -= DxPieChart_OptionChanged;
		DevExpress.Viz.DxPieChartInterop.Initialized -= DxPieChart_Initialized;
	}
}
