@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxPivotGridOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxPivotGrid() : base("DxPivotGrid") { }
	protected override DevExpress.Ui.DxPivotGridOptions CreateOptions() {
		return new DevExpress.Ui.DxPivotGridOptions {
			allowExpandAll = allowExpandAll,
			allowFiltering = allowFiltering,
			allowSorting = allowSorting,
			allowSortingBySummary = allowSortingBySummary,
			dataFieldArea = dataFieldArea,
			dataSource = dataSource,
			export = export,
			fieldChooser = fieldChooser,
			fieldPanel = fieldPanel,
			headerFilter = headerFilter,
			hideEmptySummaryCells = hideEmptySummaryCells,
			loadPanel = loadPanel,
			rowHeaderLayout = rowHeaderLayout,
			scrolling = scrolling,
			showBorders = showBorders,
			showColumnGrandTotals = showColumnGrandTotals,
			showColumnTotals = showColumnTotals,
			showRowGrandTotals = showRowGrandTotals,
			showRowTotals = showRowTotals,
			showTotalsPrior = showTotalsPrior,
			stateStoring = stateStoring,
			texts = texts,
			wordWrapEnabled = wordWrapEnabled,
			accessKey = accessKey,
			activeStateEnabled = activeStateEnabled,
			disabled = disabled,
			focusStateEnabled = focusStateEnabled,
			hint = hint,
			hoverStateEnabled = hoverStateEnabled,
			tabIndex = tabIndex,
			visible = visible,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			height = height,
			rtlEnabled = rtlEnabled,
			width = width,
			onCellClickEnabled = onCellClickEnabled,
			onCellPreparedEnabled = onCellPreparedEnabled,
			onContextMenuPreparingEnabled = onContextMenuPreparingEnabled,
			onExportedEnabled = onExportedEnabled,
			onExportingEnabled = onExportingEnabled,
			onFileSavingEnabled = onFileSavingEnabled,
			onContentReadyEnabled = onContentReadyEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.DxPivotGridOptions options) {
		return DevExpress.Ui.DxPivotGridInterop.Init(dxTarget, options);
	}
	bool? allowExpandAll;
	[Parameter]
	bool? AllowExpandAll {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetAllowExpandAllOption(dxTarget).Result : allowExpandAll;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetAllowExpandAllOption(dxTarget, value);
			} else {
				this.allowExpandAll = value;
			}
		}
	}
	bool? allowFiltering;
	[Parameter]
	bool? AllowFiltering {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetAllowFilteringOption(dxTarget).Result : allowFiltering;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetAllowFilteringOption(dxTarget, value);
			} else {
				this.allowFiltering = value;
			}
		}
	}
	bool? allowSorting;
	[Parameter]
	bool? AllowSorting {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetAllowSortingOption(dxTarget).Result : allowSorting;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetAllowSortingOption(dxTarget, value);
			} else {
				this.allowSorting = value;
			}
		}
	}
	bool? allowSortingBySummary;
	[Parameter]
	bool? AllowSortingBySummary {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetAllowSortingBySummaryOption(dxTarget).Result : allowSortingBySummary;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetAllowSortingBySummaryOption(dxTarget, value);
			} else {
				this.allowSortingBySummary = value;
			}
		}
	}
	string dataFieldArea;
	[Parameter]
	string DataFieldArea {
		get => isInitialized ? (string)DevExpress.Ui.DxPivotGridInterop.GetDataFieldAreaOption(dxTarget).Result : dataFieldArea;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetDataFieldAreaOption(dxTarget, value);
			} else {
				this.dataFieldArea = value;
			}
		}
	}
	object dataSource;
	[Parameter]
	object DataSource {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetDataSourceOption(dxTarget).Result : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetDataSourceOption(dxTarget, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	object export;
	[Parameter]
	object Export {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetExportOption(dxTarget).Result : export;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetExportOption(dxTarget, value);
			} else {
				this.export = value;
			}
		}
	}
	object fieldChooser;
	[Parameter]
	object FieldChooser {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetFieldChooserOption(dxTarget).Result : fieldChooser;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetFieldChooserOption(dxTarget, value);
			} else {
				this.fieldChooser = value;
			}
		}
	}
	object fieldPanel;
	[Parameter]
	object FieldPanel {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetFieldPanelOption(dxTarget).Result : fieldPanel;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetFieldPanelOption(dxTarget, value);
			} else {
				this.fieldPanel = value;
			}
		}
	}
	object headerFilter;
	[Parameter]
	object HeaderFilter {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetHeaderFilterOption(dxTarget).Result : headerFilter;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetHeaderFilterOption(dxTarget, value);
			} else {
				this.headerFilter = value;
			}
		}
	}
	bool? hideEmptySummaryCells;
	[Parameter]
	bool? HideEmptySummaryCells {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetHideEmptySummaryCellsOption(dxTarget).Result : hideEmptySummaryCells;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetHideEmptySummaryCellsOption(dxTarget, value);
			} else {
				this.hideEmptySummaryCells = value;
			}
		}
	}
	object loadPanel;
	[Parameter]
	object LoadPanel {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetLoadPanelOption(dxTarget).Result : loadPanel;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetLoadPanelOption(dxTarget, value);
			} else {
				this.loadPanel = value;
			}
		}
	}
	string rowHeaderLayout;
	[Parameter]
	string RowHeaderLayout {
		get => isInitialized ? (string)DevExpress.Ui.DxPivotGridInterop.GetRowHeaderLayoutOption(dxTarget).Result : rowHeaderLayout;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetRowHeaderLayoutOption(dxTarget, value);
			} else {
				this.rowHeaderLayout = value;
			}
		}
	}
	object scrolling;
	[Parameter]
	object Scrolling {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetScrollingOption(dxTarget).Result : scrolling;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetScrollingOption(dxTarget, value);
			} else {
				this.scrolling = value;
			}
		}
	}
	bool? showBorders;
	[Parameter]
	bool? ShowBorders {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetShowBordersOption(dxTarget).Result : showBorders;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowBordersOption(dxTarget, value);
			} else {
				this.showBorders = value;
			}
		}
	}
	bool? showColumnGrandTotals;
	[Parameter]
	bool? ShowColumnGrandTotals {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetShowColumnGrandTotalsOption(dxTarget).Result : showColumnGrandTotals;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowColumnGrandTotalsOption(dxTarget, value);
			} else {
				this.showColumnGrandTotals = value;
			}
		}
	}
	bool? showColumnTotals;
	[Parameter]
	bool? ShowColumnTotals {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetShowColumnTotalsOption(dxTarget).Result : showColumnTotals;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowColumnTotalsOption(dxTarget, value);
			} else {
				this.showColumnTotals = value;
			}
		}
	}
	bool? showRowGrandTotals;
	[Parameter]
	bool? ShowRowGrandTotals {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetShowRowGrandTotalsOption(dxTarget).Result : showRowGrandTotals;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowRowGrandTotalsOption(dxTarget, value);
			} else {
				this.showRowGrandTotals = value;
			}
		}
	}
	bool? showRowTotals;
	[Parameter]
	bool? ShowRowTotals {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetShowRowTotalsOption(dxTarget).Result : showRowTotals;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowRowTotalsOption(dxTarget, value);
			} else {
				this.showRowTotals = value;
			}
		}
	}
	string showTotalsPrior;
	[Parameter]
	string ShowTotalsPrior {
		get => isInitialized ? (string)DevExpress.Ui.DxPivotGridInterop.GetShowTotalsPriorOption(dxTarget).Result : showTotalsPrior;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowTotalsPriorOption(dxTarget, value);
			} else {
				this.showTotalsPrior = value;
			}
		}
	}
	object stateStoring;
	[Parameter]
	object StateStoring {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetStateStoringOption(dxTarget).Result : stateStoring;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetStateStoringOption(dxTarget, value);
			} else {
				this.stateStoring = value;
			}
		}
	}
	object texts;
	[Parameter]
	object Texts {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetTextsOption(dxTarget).Result : texts;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetTextsOption(dxTarget, value);
			} else {
				this.texts = value;
			}
		}
	}
	bool? wordWrapEnabled;
	[Parameter]
	bool? WordWrapEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetWordWrapEnabledOption(dxTarget).Result : wordWrapEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetWordWrapEnabledOption(dxTarget, value);
			} else {
				this.wordWrapEnabled = value;
			}
		}
	}
	string accessKey;
	[Parameter]
	string AccessKey {
		get => isInitialized ? (string)DevExpress.Ui.DxPivotGridInterop.GetAccessKeyOption(dxTarget).Result : accessKey;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetAccessKeyOption(dxTarget, value);
			} else {
				this.accessKey = value;
			}
		}
	}
	bool? activeStateEnabled;
	[Parameter]
	bool? ActiveStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetActiveStateEnabledOption(dxTarget).Result : activeStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetActiveStateEnabledOption(dxTarget, value);
			} else {
				this.activeStateEnabled = value;
			}
		}
	}
	bool? disabled;
	[Parameter]
	bool? Disabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetDisabledOption(dxTarget).Result : disabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetDisabledOption(dxTarget, value);
			} else {
				this.disabled = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter]
	bool? FocusStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetFocusStateEnabledOption(dxTarget).Result : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetFocusStateEnabledOption(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	string hint;
	[Parameter]
	string Hint {
		get => isInitialized ? (string)DevExpress.Ui.DxPivotGridInterop.GetHintOption(dxTarget).Result : hint;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetHintOption(dxTarget, value);
			} else {
				this.hint = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter]
	bool? HoverStateEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetHoverStateEnabledOption(dxTarget).Result : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetHoverStateEnabledOption(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	float? tabIndex;
	[Parameter]
	float? TabIndex {
		get => isInitialized ? (float?)DevExpress.Ui.DxPivotGridInterop.GetTabIndexOption(dxTarget).Result : tabIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetTabIndexOption(dxTarget, value);
			} else {
				this.tabIndex = value;
			}
		}
	}
	bool? visible;
	[Parameter]
	bool? Visible {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetVisibleOption(dxTarget).Result : visible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetVisibleOption(dxTarget, value);
			} else {
				this.visible = value;
			}
		}
	}
	object bindingOptions;
	[Parameter]
	object BindingOptions {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetBindingOptionsOption(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetBindingOptionsOption(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter]
	object ElementAttr {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetElementAttrOption(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetElementAttrOption(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	object height;
	[Parameter]
	object Height {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetHeightOption(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetHeightOption(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter]
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Ui.DxPivotGridInterop.GetRtlEnabledOption(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetRtlEnabledOption(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object width;
	[Parameter]
	object Width {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetWidthOption(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetWidthOption(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onCellClickEnabled;
	[Parameter]
	bool? OnCellClickEnabled {
		get => onCellClickEnabled;
		set => this.onCellClickEnabled = value;
	}
	bool? onCellPreparedEnabled;
	[Parameter]
	bool? OnCellPreparedEnabled {
		get => onCellPreparedEnabled;
		set => this.onCellPreparedEnabled = value;
	}
	bool? onContextMenuPreparingEnabled;
	[Parameter]
	bool? OnContextMenuPreparingEnabled {
		get => onContextMenuPreparingEnabled;
		set => this.onContextMenuPreparingEnabled = value;
	}
	bool? onExportedEnabled;
	[Parameter]
	bool? OnExportedEnabled {
		get => onExportedEnabled;
		set => this.onExportedEnabled = value;
	}
	bool? onExportingEnabled;
	[Parameter]
	bool? OnExportingEnabled {
		get => onExportingEnabled;
		set => this.onExportingEnabled = value;
	}
	bool? onFileSavingEnabled;
	[Parameter]
	bool? OnFileSavingEnabled {
		get => onFileSavingEnabled;
		set => this.onFileSavingEnabled = value;
	}
	bool? onContentReadyEnabled;
	[Parameter]
	bool? OnContentReadyEnabled {
		get => onContentReadyEnabled;
		set => this.onContentReadyEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter]
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter]
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter]
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxPivotGridInterop.CellClick += DxPivotGrid_CellClick;
		DevExpress.Ui.DxPivotGridInterop.CellPrepared += DxPivotGrid_CellPrepared;
		DevExpress.Ui.DxPivotGridInterop.ContextMenuPreparing += DxPivotGrid_ContextMenuPreparing;
		DevExpress.Ui.DxPivotGridInterop.Exported += DxPivotGrid_Exported;
		DevExpress.Ui.DxPivotGridInterop.Exporting += DxPivotGrid_Exporting;
		DevExpress.Ui.DxPivotGridInterop.FileSaving += DxPivotGrid_FileSaving;
		DevExpress.Ui.DxPivotGridInterop.ContentReady += DxPivotGrid_ContentReady;
		DevExpress.Ui.DxPivotGridInterop.Disposing += DxPivotGrid_Disposing;
		DevExpress.Ui.DxPivotGridInterop.OptionChanged += DxPivotGrid_OptionChanged;
		DevExpress.Ui.DxPivotGridInterop.Initialized += DxPivotGrid_Initialized;
	}
	[Parameter]
	Action CellClick { get; set; }
	void DxPivotGrid_CellClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			CellClick?.Invoke();
		}
	}
	[Parameter]
	Action CellPrepared { get; set; }
	void DxPivotGrid_CellPrepared(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			CellPrepared?.Invoke();
		}
	}
	[Parameter]
	Action ContextMenuPreparing { get; set; }
	void DxPivotGrid_ContextMenuPreparing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContextMenuPreparing?.Invoke();
		}
	}
	[Parameter]
	Action Exported { get; set; }
	void DxPivotGrid_Exported(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exported?.Invoke();
		}
	}
	[Parameter]
	Action Exporting { get; set; }
	void DxPivotGrid_Exporting(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exporting?.Invoke();
		}
	}
	[Parameter]
	Action FileSaving { get; set; }
	void DxPivotGrid_FileSaving(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FileSaving?.Invoke();
		}
	}
	[Parameter]
	Action ContentReady { get; set; }
	void DxPivotGrid_ContentReady(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContentReady?.Invoke();
		}
	}
	[Parameter]
	Action Disposing { get; set; }
	void DxPivotGrid_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter]
	Action OptionChanged { get; set; }
	void DxPivotGrid_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter]
	Action Initialized { get; set; }
	void DxPivotGrid_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public object BindChart(object chart, object integrationOptions) {
		return DevExpress.Ui.DxPivotGridInterop.BindChart(dxTarget, chart, integrationOptions).Result;
	}
	public void ExportToExcel() {
		DevExpress.Ui.DxPivotGridInterop.ExportToExcel(dxTarget);
	}
	public object GetDataSourceEx() {
		return DevExpress.Ui.DxPivotGridInterop.GetDataSourceEx(dxTarget).Result;
	}
	public object GetFieldChooserPopup() {
		return DevExpress.Ui.DxPivotGridInterop.GetFieldChooserPopup(dxTarget).Result;
	}
	public void UpdateDimensions() {
		DevExpress.Ui.DxPivotGridInterop.UpdateDimensions(dxTarget);
	}
	public void Dispose() {
		DevExpress.Ui.DxPivotGridInterop.CellClick -= DxPivotGrid_CellClick;
		DevExpress.Ui.DxPivotGridInterop.CellPrepared -= DxPivotGrid_CellPrepared;
		DevExpress.Ui.DxPivotGridInterop.ContextMenuPreparing -= DxPivotGrid_ContextMenuPreparing;
		DevExpress.Ui.DxPivotGridInterop.Exported -= DxPivotGrid_Exported;
		DevExpress.Ui.DxPivotGridInterop.Exporting -= DxPivotGrid_Exporting;
		DevExpress.Ui.DxPivotGridInterop.FileSaving -= DxPivotGrid_FileSaving;
		DevExpress.Ui.DxPivotGridInterop.ContentReady -= DxPivotGrid_ContentReady;
		DevExpress.Ui.DxPivotGridInterop.Disposing -= DxPivotGrid_Disposing;
		DevExpress.Ui.DxPivotGridInterop.OptionChanged -= DxPivotGrid_OptionChanged;
		DevExpress.Ui.DxPivotGridInterop.Initialized -= DxPivotGrid_Initialized;
	}
}
