@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxPivotGridOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxPivotGrid() : base("DxPivotGrid") { }
	protected override DevExpress.Ui.DxPivotGridOptions CreateOptions() {
		return new DevExpress.Ui.DxPivotGridOptions {
			allowExpandAll = allowExpandAll,
			allowFiltering = allowFiltering,
			allowSorting = allowSorting,
			allowSortingBySummary = allowSortingBySummary,
			dataFieldArea = dataFieldArea,
			dataSource = dataSource,
			export = export,
			fieldChooser = fieldChooser,
			fieldPanel = fieldPanel,
			headerFilter = headerFilter,
			hideEmptySummaryCells = hideEmptySummaryCells,
			loadPanel = loadPanel,
			rowHeaderLayout = rowHeaderLayout,
			scrolling = scrolling,
			showBorders = showBorders,
			showColumnGrandTotals = showColumnGrandTotals,
			showColumnTotals = showColumnTotals,
			showRowGrandTotals = showRowGrandTotals,
			showRowTotals = showRowTotals,
			showTotalsPrior = showTotalsPrior,
			stateStoring = stateStoring,
			texts = texts,
			wordWrapEnabled = wordWrapEnabled,
			onCellClickEnabled = onCellClickEnabled,
			onCellPreparedEnabled = onCellPreparedEnabled,
			onContextMenuPreparingEnabled = onContextMenuPreparingEnabled,
			onExportedEnabled = onExportedEnabled,
			onExportingEnabled = onExportingEnabled,
			onFileSavingEnabled = onFileSavingEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxPivotGridOptions options) {
		DevExpress.Ui.DxPivotGridInterop.Init(dxTarget, options);
	}
	bool? allowExpandAll;
	[Parameter]
	bool? AllowExpandAll {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetAllowExpandAll(dxTarget) : allowExpandAll;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetAllowExpandAll(dxTarget, value);
			} else {
				this.allowExpandAll = value;
			}
		}
	}
	bool? allowFiltering;
	[Parameter]
	bool? AllowFiltering {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetAllowFiltering(dxTarget) : allowFiltering;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetAllowFiltering(dxTarget, value);
			} else {
				this.allowFiltering = value;
			}
		}
	}
	bool? allowSorting;
	[Parameter]
	bool? AllowSorting {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetAllowSorting(dxTarget) : allowSorting;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetAllowSorting(dxTarget, value);
			} else {
				this.allowSorting = value;
			}
		}
	}
	bool? allowSortingBySummary;
	[Parameter]
	bool? AllowSortingBySummary {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetAllowSortingBySummary(dxTarget) : allowSortingBySummary;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetAllowSortingBySummary(dxTarget, value);
			} else {
				this.allowSortingBySummary = value;
			}
		}
	}
	string dataFieldArea;
	[Parameter]
	string DataFieldArea {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetDataFieldArea(dxTarget) : dataFieldArea;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetDataFieldArea(dxTarget, value);
			} else {
				this.dataFieldArea = value;
			}
		}
	}
	object dataSource;
	[Parameter]
	object DataSource {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetDataSource(dxTarget) : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetDataSource(dxTarget, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	object export;
	[Parameter]
	object Export {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetExport(dxTarget) : export;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetExport(dxTarget, value);
			} else {
				this.export = value;
			}
		}
	}
	object fieldChooser;
	[Parameter]
	object FieldChooser {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetFieldChooser(dxTarget) : fieldChooser;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetFieldChooser(dxTarget, value);
			} else {
				this.fieldChooser = value;
			}
		}
	}
	object fieldPanel;
	[Parameter]
	object FieldPanel {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetFieldPanel(dxTarget) : fieldPanel;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetFieldPanel(dxTarget, value);
			} else {
				this.fieldPanel = value;
			}
		}
	}
	object headerFilter;
	[Parameter]
	object HeaderFilter {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetHeaderFilter(dxTarget) : headerFilter;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetHeaderFilter(dxTarget, value);
			} else {
				this.headerFilter = value;
			}
		}
	}
	bool? hideEmptySummaryCells;
	[Parameter]
	bool? HideEmptySummaryCells {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetHideEmptySummaryCells(dxTarget) : hideEmptySummaryCells;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetHideEmptySummaryCells(dxTarget, value);
			} else {
				this.hideEmptySummaryCells = value;
			}
		}
	}
	object loadPanel;
	[Parameter]
	object LoadPanel {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetLoadPanel(dxTarget) : loadPanel;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetLoadPanel(dxTarget, value);
			} else {
				this.loadPanel = value;
			}
		}
	}
	string rowHeaderLayout;
	[Parameter]
	string RowHeaderLayout {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetRowHeaderLayout(dxTarget) : rowHeaderLayout;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetRowHeaderLayout(dxTarget, value);
			} else {
				this.rowHeaderLayout = value;
			}
		}
	}
	object scrolling;
	[Parameter]
	object Scrolling {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetScrolling(dxTarget) : scrolling;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetScrolling(dxTarget, value);
			} else {
				this.scrolling = value;
			}
		}
	}
	bool? showBorders;
	[Parameter]
	bool? ShowBorders {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetShowBorders(dxTarget) : showBorders;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowBorders(dxTarget, value);
			} else {
				this.showBorders = value;
			}
		}
	}
	bool? showColumnGrandTotals;
	[Parameter]
	bool? ShowColumnGrandTotals {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetShowColumnGrandTotals(dxTarget) : showColumnGrandTotals;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowColumnGrandTotals(dxTarget, value);
			} else {
				this.showColumnGrandTotals = value;
			}
		}
	}
	bool? showColumnTotals;
	[Parameter]
	bool? ShowColumnTotals {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetShowColumnTotals(dxTarget) : showColumnTotals;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowColumnTotals(dxTarget, value);
			} else {
				this.showColumnTotals = value;
			}
		}
	}
	bool? showRowGrandTotals;
	[Parameter]
	bool? ShowRowGrandTotals {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetShowRowGrandTotals(dxTarget) : showRowGrandTotals;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowRowGrandTotals(dxTarget, value);
			} else {
				this.showRowGrandTotals = value;
			}
		}
	}
	bool? showRowTotals;
	[Parameter]
	bool? ShowRowTotals {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetShowRowTotals(dxTarget) : showRowTotals;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowRowTotals(dxTarget, value);
			} else {
				this.showRowTotals = value;
			}
		}
	}
	string showTotalsPrior;
	[Parameter]
	string ShowTotalsPrior {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetShowTotalsPrior(dxTarget) : showTotalsPrior;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetShowTotalsPrior(dxTarget, value);
			} else {
				this.showTotalsPrior = value;
			}
		}
	}
	object stateStoring;
	[Parameter]
	object StateStoring {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetStateStoring(dxTarget) : stateStoring;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetStateStoring(dxTarget, value);
			} else {
				this.stateStoring = value;
			}
		}
	}
	object texts;
	[Parameter]
	object Texts {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetTexts(dxTarget) : texts;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetTexts(dxTarget, value);
			} else {
				this.texts = value;
			}
		}
	}
	bool? wordWrapEnabled;
	[Parameter]
	bool? WordWrapEnabled {
		get => isInitialized ? DevExpress.Ui.DxPivotGridInterop.GetWordWrapEnabled(dxTarget) : wordWrapEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPivotGridInterop.SetWordWrapEnabled(dxTarget, value);
			} else {
				this.wordWrapEnabled = value;
			}
		}
	}
	bool? onCellClickEnabled;
	[Parameter]
	bool? OnCellClickEnabled {
		get => onCellClickEnabled;
		set => this.onCellClickEnabled = value;
	}
	bool? onCellPreparedEnabled;
	[Parameter]
	bool? OnCellPreparedEnabled {
		get => onCellPreparedEnabled;
		set => this.onCellPreparedEnabled = value;
	}
	bool? onContextMenuPreparingEnabled;
	[Parameter]
	bool? OnContextMenuPreparingEnabled {
		get => onContextMenuPreparingEnabled;
		set => this.onContextMenuPreparingEnabled = value;
	}
	bool? onExportedEnabled;
	[Parameter]
	bool? OnExportedEnabled {
		get => onExportedEnabled;
		set => this.onExportedEnabled = value;
	}
	bool? onExportingEnabled;
	[Parameter]
	bool? OnExportingEnabled {
		get => onExportingEnabled;
		set => this.onExportingEnabled = value;
	}
	bool? onFileSavingEnabled;
	[Parameter]
	bool? OnFileSavingEnabled {
		get => onFileSavingEnabled;
		set => this.onFileSavingEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxPivotGridInterop.CellClick += DxPivotGrid_CellClick;
		DevExpress.Ui.DxPivotGridInterop.CellPrepared += DxPivotGrid_CellPrepared;
		DevExpress.Ui.DxPivotGridInterop.ContextMenuPreparing += DxPivotGrid_ContextMenuPreparing;
		DevExpress.Ui.DxPivotGridInterop.Exported += DxPivotGrid_Exported;
		DevExpress.Ui.DxPivotGridInterop.Exporting += DxPivotGrid_Exporting;
		DevExpress.Ui.DxPivotGridInterop.FileSaving += DxPivotGrid_FileSaving;
	}
	[Parameter]
	Action CellClick { get; set; }
	void DxPivotGrid_CellClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			CellClick?.Invoke();
		}
	}
	[Parameter]
	Action CellPrepared { get; set; }
	void DxPivotGrid_CellPrepared(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			CellPrepared?.Invoke();
		}
	}
	[Parameter]
	Action ContextMenuPreparing { get; set; }
	void DxPivotGrid_ContextMenuPreparing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContextMenuPreparing?.Invoke();
		}
	}
	[Parameter]
	Action Exported { get; set; }
	void DxPivotGrid_Exported(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exported?.Invoke();
		}
	}
	[Parameter]
	Action Exporting { get; set; }
	void DxPivotGrid_Exporting(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exporting?.Invoke();
		}
	}
	[Parameter]
	Action FileSaving { get; set; }
	void DxPivotGrid_FileSaving(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FileSaving?.Invoke();
		}
	}
	public object BindChart(object chart, object integrationOptions) {
		return DevExpress.Ui.DxPivotGridInterop.BindChart(dxTarget, chart, integrationOptions);
	}
	public void ExportToExcel() {
		DevExpress.Ui.DxPivotGridInterop.ExportToExcel(dxTarget);
	}
	public object GetDataSourceEx() {
		return DevExpress.Ui.DxPivotGridInterop.GetDataSourceEx(dxTarget);
	}
	public object GetFieldChooserPopup() {
		return DevExpress.Ui.DxPivotGridInterop.GetFieldChooserPopup(dxTarget);
	}
	public void UpdateDimensions() {
		DevExpress.Ui.DxPivotGridInterop.UpdateDimensions(dxTarget);
	}
	public void Dispose() {
		DevExpress.Ui.DxPivotGridInterop.CellClick -= DxPivotGrid_CellClick;
		DevExpress.Ui.DxPivotGridInterop.CellPrepared -= DxPivotGrid_CellPrepared;
		DevExpress.Ui.DxPivotGridInterop.ContextMenuPreparing -= DxPivotGrid_ContextMenuPreparing;
		DevExpress.Ui.DxPivotGridInterop.Exported -= DxPivotGrid_Exported;
		DevExpress.Ui.DxPivotGridInterop.Exporting -= DxPivotGrid_Exporting;
		DevExpress.Ui.DxPivotGridInterop.FileSaving -= DxPivotGrid_FileSaving;
	}
}
