@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Viz.Charts.DxPieChartOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxPieChart() : base("DxPieChart") { }
	protected override DevExpress.Viz.Charts.DxPieChartOptions CreateOptions() {
		return new DevExpress.Viz.Charts.DxPieChartOptions {
			adaptiveLayout = adaptiveLayout,
			commonSeriesSettings = commonSeriesSettings,
			diameter = diameter,
			innerRadius = innerRadius,
			legend = legend,
			minDiameter = minDiameter,
			palette = palette,
			resolveLabelOverlapping = resolveLabelOverlapping,
			segmentsDirection = segmentsDirection,
			series = series,
			seriesTemplate = seriesTemplate,
			sizeGroup = sizeGroup,
			startAngle = startAngle,
			type = type,
			onLegendClickEnabled = onLegendClickEnabled,
		};
	}
	protected override void Init(DevExpress.Viz.Charts.DxPieChartOptions options) {
		DevExpress.Viz.DxPieChartInterop.Init(dxTarget, options);
	}
	object adaptiveLayout;
	[Parameter]
	object AdaptiveLayout {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetAdaptiveLayout(dxTarget) : adaptiveLayout;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetAdaptiveLayout(dxTarget, value);
			} else {
				this.adaptiveLayout = value;
			}
		}
	}
	object commonSeriesSettings;
	[Parameter]
	object CommonSeriesSettings {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetCommonSeriesSettings(dxTarget) : commonSeriesSettings;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetCommonSeriesSettings(dxTarget, value);
			} else {
				this.commonSeriesSettings = value;
			}
		}
	}
	float? diameter;
	[Parameter]
	float? Diameter {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetDiameter(dxTarget) : diameter;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetDiameter(dxTarget, value);
			} else {
				this.diameter = value;
			}
		}
	}
	float? innerRadius;
	[Parameter]
	float? InnerRadius {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetInnerRadius(dxTarget) : innerRadius;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetInnerRadius(dxTarget, value);
			} else {
				this.innerRadius = value;
			}
		}
	}
	object legend;
	[Parameter]
	object Legend {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetLegend(dxTarget) : legend;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetLegend(dxTarget, value);
			} else {
				this.legend = value;
			}
		}
	}
	float? minDiameter;
	[Parameter]
	float? MinDiameter {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetMinDiameter(dxTarget) : minDiameter;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetMinDiameter(dxTarget, value);
			} else {
				this.minDiameter = value;
			}
		}
	}
	object palette;
	[Parameter]
	object Palette {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetPalette(dxTarget) : palette;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetPalette(dxTarget, value);
			} else {
				this.palette = value;
			}
		}
	}
	string resolveLabelOverlapping;
	[Parameter]
	string ResolveLabelOverlapping {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetResolveLabelOverlapping(dxTarget) : resolveLabelOverlapping;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetResolveLabelOverlapping(dxTarget, value);
			} else {
				this.resolveLabelOverlapping = value;
			}
		}
	}
	string segmentsDirection;
	[Parameter]
	string SegmentsDirection {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetSegmentsDirection(dxTarget) : segmentsDirection;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetSegmentsDirection(dxTarget, value);
			} else {
				this.segmentsDirection = value;
			}
		}
	}
	object series;
	[Parameter]
	object Series {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetSeries(dxTarget) : series;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetSeries(dxTarget, value);
			} else {
				this.series = value;
			}
		}
	}
	object seriesTemplate;
	[Parameter]
	object SeriesTemplate {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetSeriesTemplate(dxTarget) : seriesTemplate;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetSeriesTemplate(dxTarget, value);
			} else {
				this.seriesTemplate = value;
			}
		}
	}
	string sizeGroup;
	[Parameter]
	string SizeGroup {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetSizeGroup(dxTarget) : sizeGroup;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetSizeGroup(dxTarget, value);
			} else {
				this.sizeGroup = value;
			}
		}
	}
	float? startAngle;
	[Parameter]
	float? StartAngle {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetStartAngle(dxTarget) : startAngle;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetStartAngle(dxTarget, value);
			} else {
				this.startAngle = value;
			}
		}
	}
	string type;
	[Parameter]
	string Type {
		get => isInitialized ? DevExpress.Viz.DxPieChartInterop.GetType(dxTarget) : type;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxPieChartInterop.SetType(dxTarget, value);
			} else {
				this.type = value;
			}
		}
	}
	bool? onLegendClickEnabled;
	[Parameter]
	bool? OnLegendClickEnabled {
		get => onLegendClickEnabled;
		set => this.onLegendClickEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Viz.DxPieChartInterop.LegendClick += DxPieChart_LegendClick;
	}
	[Parameter]
	Action LegendClick { get; set; }
	void DxPieChart_LegendClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			LegendClick?.Invoke();
		}
	}
	public object GetSeriesEx() {
		return DevExpress.Viz.DxPieChartInterop.GetSeriesEx(dxTarget);
	}
	public object GetSeriesByName(object seriesName) {
		return DevExpress.Viz.DxPieChartInterop.GetSeriesByName(dxTarget, seriesName);
	}
	public object GetSeriesByPos(float seriesIndex) {
		return DevExpress.Viz.DxPieChartInterop.GetSeriesByPos(dxTarget, seriesIndex);
	}
	public void Dispose() {
		DevExpress.Viz.DxPieChartInterop.LegendClick -= DxPieChart_LegendClick;
	}
}
