@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxPopupOptions>

<div id="@Id"></div>

@functions {
	public DxPopup() : base("DxPopup") { }
	protected override DevExpress.Ui.DxPopupOptions CreateOptions() {
		return new DevExpress.Ui.DxPopupOptions {
			animation = animation,
			container = container,
			dragEnabled = dragEnabled,
			focusStateEnabled = focusStateEnabled,
			fullScreen = fullScreen,
			height = height,
			position = position,
			resizeEnabled = resizeEnabled,
			showCloseButton = showCloseButton,
			showTitle = showTitle,
			title = title,
			titleTemplate = titleTemplate,
			toolbarItems = toolbarItems,
			width = width,
			onResizeEnabled = onResizeEnabled,
			onResizeEndEnabled = onResizeEndEnabled,
			onResizeStartEnabled = onResizeStartEnabled,
			onTitleRenderedEnabled = onTitleRenderedEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxPopupOptions options) {
		DevExpress.Ui.DxPopupInterop.Init(Id, options);
	}
	object animation;
	public object Animation {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetAnimation(Id) : animation;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetAnimation(Id, value);
			} else {
				this.animation = value;
			}
		}
	}
	object container;
	public object Container {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetContainer(Id) : container;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetContainer(Id, value);
			} else {
				this.container = value;
			}
		}
	}
	bool? dragEnabled;
	public bool? DragEnabled {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetDragEnabled(Id) : dragEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetDragEnabled(Id, value);
			} else {
				this.dragEnabled = value;
			}
		}
	}
	bool? focusStateEnabled;
	public bool? FocusStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetFocusStateEnabled(Id) : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetFocusStateEnabled(Id, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	bool? fullScreen;
	public bool? FullScreen {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetFullScreen(Id) : fullScreen;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetFullScreen(Id, value);
			} else {
				this.fullScreen = value;
			}
		}
	}
	object height;
	public object Height {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetHeight(Id) : height;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetHeight(Id, value);
			} else {
				this.height = value;
			}
		}
	}
	object position;
	public object Position {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetPosition(Id) : position;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetPosition(Id, value);
			} else {
				this.position = value;
			}
		}
	}
	bool? resizeEnabled;
	public bool? ResizeEnabled {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetResizeEnabled(Id) : resizeEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetResizeEnabled(Id, value);
			} else {
				this.resizeEnabled = value;
			}
		}
	}
	bool? showCloseButton;
	public bool? ShowCloseButton {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetShowCloseButton(Id) : showCloseButton;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetShowCloseButton(Id, value);
			} else {
				this.showCloseButton = value;
			}
		}
	}
	bool? showTitle;
	public bool? ShowTitle {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetShowTitle(Id) : showTitle;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetShowTitle(Id, value);
			} else {
				this.showTitle = value;
			}
		}
	}
	string title;
	public string Title {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetTitle(Id) : title;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetTitle(Id, value);
			} else {
				this.title = value;
			}
		}
	}
	object titleTemplate;
	public object TitleTemplate {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetTitleTemplate(Id) : titleTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetTitleTemplate(Id, value);
			} else {
				this.titleTemplate = value;
			}
		}
	}
	object toolbarItems;
	public object ToolbarItems {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetToolbarItems(Id) : toolbarItems;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetToolbarItems(Id, value);
			} else {
				this.toolbarItems = value;
			}
		}
	}
	object width;
	public object Width {
		get => isInitialized ? DevExpress.Ui.DxPopupInterop.GetWidth(Id) : width;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopupInterop.SetWidth(Id, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onResizeEnabled;
	public bool? OnResizeEnabled {
		get => onResizeEnabled;
		set => this.onResizeEnabled = value;
	}
	bool? onResizeEndEnabled;
	public bool? OnResizeEndEnabled {
		get => onResizeEndEnabled;
		set => this.onResizeEndEnabled = value;
	}
	bool? onResizeStartEnabled;
	public bool? OnResizeStartEnabled {
		get => onResizeStartEnabled;
		set => this.onResizeStartEnabled = value;
	}
	bool? onTitleRenderedEnabled;
	public bool? OnTitleRenderedEnabled {
		get => onTitleRenderedEnabled;
		set => this.onTitleRenderedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxPopupInterop.Resize += DxPopup_Resize;
		DevExpress.Ui.DxPopupInterop.ResizeEnd += DxPopup_ResizeEnd;
		DevExpress.Ui.DxPopupInterop.ResizeStart += DxPopup_ResizeStart;
		DevExpress.Ui.DxPopupInterop.TitleRendered += DxPopup_TitleRendered;
	}
	public Action Resize { get; set; }
	void DxPopup_Resize(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Resize?.Invoke();
		}
	}
	public Action ResizeEnd { get; set; }
	void DxPopup_ResizeEnd(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ResizeEnd?.Invoke();
		}
	}
	public Action ResizeStart { get; set; }
	void DxPopup_ResizeStart(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ResizeStart?.Invoke();
		}
	}
	public Action TitleRendered { get; set; }
	void DxPopup_TitleRendered(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TitleRendered?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Ui.DxPopupInterop.Resize -= DxPopup_Resize;
		DevExpress.Ui.DxPopupInterop.ResizeEnd -= DxPopup_ResizeEnd;
		DevExpress.Ui.DxPopupInterop.ResizeStart -= DxPopup_ResizeStart;
		DevExpress.Ui.DxPopupInterop.TitleRendered -= DxPopup_TitleRendered;
	}
}
