@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxPopoverOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxPopover() : base("DxPopover") { }
	protected override DevExpress.Ui.DxPopoverOptions CreateOptions() {
		return new DevExpress.Ui.DxPopoverOptions {
			animation = animation,
			closeOnOutsideClick = closeOnOutsideClick,
			height = height,
			hideEvent = hideEvent,
			position = position,
			shading = shading,
			showEvent = showEvent,
			showTitle = showTitle,
			target = target,
			width = width,
		};
	}
	protected override void Init(DevExpress.Ui.DxPopoverOptions options) {
		DevExpress.Ui.DxPopoverInterop.Init(dxTarget, options);
	}
	object animation;
	[Parameter]
	object Animation {
		get => isInitialized ? DevExpress.Ui.DxPopoverInterop.GetAnimation(dxTarget) : animation;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopoverInterop.SetAnimation(dxTarget, value);
			} else {
				this.animation = value;
			}
		}
	}
	object closeOnOutsideClick;
	[Parameter]
	object CloseOnOutsideClick {
		get => isInitialized ? DevExpress.Ui.DxPopoverInterop.GetCloseOnOutsideClick(dxTarget) : closeOnOutsideClick;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopoverInterop.SetCloseOnOutsideClick(dxTarget, value);
			} else {
				this.closeOnOutsideClick = value;
			}
		}
	}
	object height;
	[Parameter]
	object Height {
		get => isInitialized ? DevExpress.Ui.DxPopoverInterop.GetHeight(dxTarget) : height;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopoverInterop.SetHeight(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	object hideEvent;
	[Parameter]
	object HideEvent {
		get => isInitialized ? DevExpress.Ui.DxPopoverInterop.GetHideEvent(dxTarget) : hideEvent;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopoverInterop.SetHideEvent(dxTarget, value);
			} else {
				this.hideEvent = value;
			}
		}
	}
	object position;
	[Parameter]
	object Position {
		get => isInitialized ? DevExpress.Ui.DxPopoverInterop.GetPosition(dxTarget) : position;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopoverInterop.SetPosition(dxTarget, value);
			} else {
				this.position = value;
			}
		}
	}
	bool? shading;
	[Parameter]
	bool? Shading {
		get => isInitialized ? DevExpress.Ui.DxPopoverInterop.GetShading(dxTarget) : shading;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopoverInterop.SetShading(dxTarget, value);
			} else {
				this.shading = value;
			}
		}
	}
	object showEvent;
	[Parameter]
	object ShowEvent {
		get => isInitialized ? DevExpress.Ui.DxPopoverInterop.GetShowEvent(dxTarget) : showEvent;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopoverInterop.SetShowEvent(dxTarget, value);
			} else {
				this.showEvent = value;
			}
		}
	}
	bool? showTitle;
	[Parameter]
	bool? ShowTitle {
		get => isInitialized ? DevExpress.Ui.DxPopoverInterop.GetShowTitle(dxTarget) : showTitle;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopoverInterop.SetShowTitle(dxTarget, value);
			} else {
				this.showTitle = value;
			}
		}
	}
	object target;
	[Parameter]
	object Target {
		get => isInitialized ? DevExpress.Ui.DxPopoverInterop.GetTarget(dxTarget) : target;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopoverInterop.SetTarget(dxTarget, value);
			} else {
				this.target = value;
			}
		}
	}
	object width;
	[Parameter]
	object Width {
		get => isInitialized ? DevExpress.Ui.DxPopoverInterop.GetWidth(dxTarget) : width;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxPopoverInterop.SetWidth(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public object Show() {
		return DevExpress.Ui.DxPopoverInterop.Show(dxTarget);
	}
	public object Show(object target) {
		return DevExpress.Ui.DxPopoverInterop.Show(dxTarget, target);
	}
	public void Dispose() {
	}
}
