@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxProgressBarOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxProgressBar() : base("DxProgressBar") { }
	protected override DevExpress.Ui.DxProgressBarOptions CreateOptions() {
		return new DevExpress.Ui.DxProgressBarOptions {
			showStatus = showStatus,
			statusFormat = statusFormat,
			value = value,
			onCompleteEnabled = onCompleteEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxProgressBarOptions options) {
		DevExpress.Ui.DxProgressBarInterop.Init(dxTarget, options);
	}
	bool? showStatus;
	[Parameter]
	bool? ShowStatus {
		get => isInitialized ? DevExpress.Ui.DxProgressBarInterop.GetShowStatus(dxTarget) : showStatus;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxProgressBarInterop.SetShowStatus(dxTarget, value);
			} else {
				this.showStatus = value;
			}
		}
	}
	object statusFormat;
	[Parameter]
	object StatusFormat {
		get => isInitialized ? DevExpress.Ui.DxProgressBarInterop.GetStatusFormat(dxTarget) : statusFormat;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxProgressBarInterop.SetStatusFormat(dxTarget, value);
			} else {
				this.statusFormat = value;
			}
		}
	}
	float? value;
	[Parameter]
	float? Value {
		get => isInitialized ? DevExpress.Ui.DxProgressBarInterop.GetValue(dxTarget) : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxProgressBarInterop.SetValue(dxTarget, value);
			} else {
				this.value = value;
			}
		}
	}
	bool? onCompleteEnabled;
	[Parameter]
	bool? OnCompleteEnabled {
		get => onCompleteEnabled;
		set => this.onCompleteEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxProgressBarInterop.Complete += DxProgressBar_Complete;
	}
	[Parameter]
	Action Complete { get; set; }
	void DxProgressBar_Complete(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Complete?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Ui.DxProgressBarInterop.Complete -= DxProgressBar_Complete;
	}
}
