@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxProgressBarOptions>

<div id="@Id"></div>

@functions {
	public DxProgressBar() : base("DxProgressBar") { }
	protected override DevExpress.Ui.DxProgressBarOptions CreateOptions() {
		return new DevExpress.Ui.DxProgressBarOptions {
			showStatus = showStatus,
			statusFormat = statusFormat,
			value = value,
			onCompleteEnabled = onCompleteEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxProgressBarOptions options) {
		DevExpress.Ui.DxProgressBarInterop.Init(Id, options);
	}
	bool? showStatus;
	public bool? ShowStatus {
		get => isInitialized ? DevExpress.Ui.DxProgressBarInterop.GetShowStatus(Id) : showStatus;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxProgressBarInterop.SetShowStatus(Id, value);
			} else {
				this.showStatus = value;
			}
		}
	}
	object statusFormat;
	public object StatusFormat {
		get => isInitialized ? DevExpress.Ui.DxProgressBarInterop.GetStatusFormat(Id) : statusFormat;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxProgressBarInterop.SetStatusFormat(Id, value);
			} else {
				this.statusFormat = value;
			}
		}
	}
	float? value;
	public float? Value {
		get => isInitialized ? DevExpress.Ui.DxProgressBarInterop.GetValue(Id) : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxProgressBarInterop.SetValue(Id, value);
			} else {
				this.value = value;
			}
		}
	}
	bool? onCompleteEnabled;
	public bool? OnCompleteEnabled {
		get => onCompleteEnabled;
		set => this.onCompleteEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxProgressBarInterop.Complete += DxProgressBar_Complete;
	}
	public Action Complete { get; set; }
	void DxProgressBar_Complete(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Complete?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Ui.DxProgressBarInterop.Complete -= DxProgressBar_Complete;
	}
}
