@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxRangeSliderOptions>

<div id="@Id"></div>

@functions {
	public DxRangeSlider() : base("DxRangeSlider") { }
	protected override DevExpress.Ui.DxRangeSliderOptions CreateOptions() {
		return new DevExpress.Ui.DxRangeSliderOptions {
			end = end,
			endName = endName,
			start = start,
			startName = startName,
			value = value,
			onValueChangedEnabled = onValueChangedEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxRangeSliderOptions options) {
		DevExpress.Ui.DxRangeSliderInterop.Init(Id, options);
	}
	float? end;
	public float? End {
		get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetEnd(Id) : end;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRangeSliderInterop.SetEnd(Id, value);
			} else {
				this.end = value;
			}
		}
	}
	string endName;
	public string EndName {
		get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetEndName(Id) : endName;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRangeSliderInterop.SetEndName(Id, value);
			} else {
				this.endName = value;
			}
		}
	}
	float? start;
	public float? Start {
		get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetStart(Id) : start;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRangeSliderInterop.SetStart(Id, value);
			} else {
				this.start = value;
			}
		}
	}
	string startName;
	public string StartName {
		get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetStartName(Id) : startName;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRangeSliderInterop.SetStartName(Id, value);
			} else {
				this.startName = value;
			}
		}
	}
	object value;
	public object Value {
		get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetValue(Id) : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRangeSliderInterop.SetValue(Id, value);
			} else {
				this.value = value;
			}
		}
	}
	bool? onValueChangedEnabled;
	public bool? OnValueChangedEnabled {
		get => onValueChangedEnabled;
		set => this.onValueChangedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxRangeSliderInterop.ValueChanged += DxRangeSlider_ValueChanged;
	}
	public Action ValueChanged { get; set; }
	void DxRangeSlider_ValueChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ValueChanged?.Invoke();
		}
	}
	public void Reset() {
		DevExpress.Ui.DxRangeSliderInterop.Reset(Id);
	}
	public void Dispose() {
		DevExpress.Ui.DxRangeSliderInterop.ValueChanged -= DxRangeSlider_ValueChanged;
	}
}
