@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxRadioGroupOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxRadioGroup() : base("DxRadioGroup") { }
	protected override DevExpress.Ui.DxRadioGroupOptions CreateOptions() {
		return new DevExpress.Ui.DxRadioGroupOptions {
			activeStateEnabled = activeStateEnabled,
			focusStateEnabled = focusStateEnabled,
			hoverStateEnabled = hoverStateEnabled,
			layout = layout,
			name = name,
			value = value,
		};
	}
	protected override Task Init(DevExpress.Ui.DxRadioGroupOptions options) {
return 		DevExpress.Ui.DxRadioGroupInterop.Init(dxTarget, options);
	}
	bool? activeStateEnabled;
	[Parameter]
	bool? ActiveStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxRadioGroupInterop.GetActiveStateEnabled(dxTarget).Result : activeStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRadioGroupInterop.SetActiveStateEnabled(dxTarget, value);
			} else {
				this.activeStateEnabled = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter]
	bool? FocusStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxRadioGroupInterop.GetFocusStateEnabled(dxTarget).Result : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRadioGroupInterop.SetFocusStateEnabled(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter]
	bool? HoverStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxRadioGroupInterop.GetHoverStateEnabled(dxTarget).Result : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRadioGroupInterop.SetHoverStateEnabled(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	string layout;
	[Parameter]
	string Layout {
		get => isInitialized ? DevExpress.Ui.DxRadioGroupInterop.GetLayout(dxTarget).Result : layout;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRadioGroupInterop.SetLayout(dxTarget, value);
			} else {
				this.layout = value;
			}
		}
	}
	string name;
	[Parameter]
	string Name {
		get => isInitialized ? DevExpress.Ui.DxRadioGroupInterop.GetName(dxTarget).Result : name;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRadioGroupInterop.SetName(dxTarget, value);
			} else {
				this.name = value;
			}
		}
	}
	object value;
	[Parameter]
	object Value {
		get => isInitialized ? DevExpress.Ui.DxRadioGroupInterop.GetValue(dxTarget).Result : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRadioGroupInterop.SetValue(dxTarget, value);
			} else {
				this.value = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public object GetDataSourceEx() {
		return DevExpress.Ui.DxRadioGroupInterop.GetDataSourceEx(dxTarget).Result;
	}
	public void Dispose() {
	}
}
