
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxRangeSliderOptions>

<div id="@Id"  @ref="dxTarget"></div>

@functions {
    ElementReference dxTarget;
    public DxRangeSlider() : base("DxRangeSlider") { }
    protected override DevExpress.Ui.DxRangeSliderOptions CreateOptions() {
        return new DevExpress.Ui.DxRangeSliderOptions {
            end = end,
            endName = endName,
            start = start,
            startName = startName,
            value = value,
            activeStateEnabled = activeStateEnabled,
            focusStateEnabled = focusStateEnabled,
            hoverStateEnabled = hoverStateEnabled,
            keyStep = keyStep,
            label = label,
            name = name,
            showRange = showRange,
            step = step,
            tooltip = tooltip,
            max = max,
            min = min,
            isValid = isValid,
            readOnly = readOnly,
            validationError = validationError,
            validationMessageMode = validationMessageMode,
            accessKey = accessKey,
            disabled = disabled,
            hint = hint,
            tabIndex = tabIndex,
            visible = visible,
            bindingOptions = bindingOptions,
            elementAttr = elementAttr,
            height = height,
            rtlEnabled = rtlEnabled,
            width = width,
            onValueChangedEnabled = onValueChangedEnabled,
            onContentReadyEnabled = onContentReadyEnabled,
            onDisposingEnabled = onDisposingEnabled,
            onOptionChangedEnabled = onOptionChangedEnabled,
            onInitializedEnabled = onInitializedEnabled,
        };
    }
    protected override ValueTask<object> Init(DevExpress.Ui.DxRangeSliderOptions options) {
        return DevExpress.Ui.DxRangeSliderInterop.Init(dxTarget, options);
    }
    float? end;
    [Parameter] public
    float? End {
        get => isInitialized ? (float?)DevExpress.Ui.DxRangeSliderInterop.GetEnd(dxTarget).Result : end;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetEnd(dxTarget, value);
            } else {
                this.end = value;
            }
        }
    }
    string endName;
    [Parameter] public
    string EndName {
        get => isInitialized ? (string)DevExpress.Ui.DxRangeSliderInterop.GetEndName(dxTarget).Result : endName;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetEndName(dxTarget, value);
            } else {
                this.endName = value;
            }
        }
    }
    float? start;
    [Parameter] public
    float? Start {
        get => isInitialized ? (float?)DevExpress.Ui.DxRangeSliderInterop.GetStart(dxTarget).Result : start;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetStart(dxTarget, value);
            } else {
                this.start = value;
            }
        }
    }
    string startName;
    [Parameter] public
    string StartName {
        get => isInitialized ? (string)DevExpress.Ui.DxRangeSliderInterop.GetStartName(dxTarget).Result : startName;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetStartName(dxTarget, value);
            } else {
                this.startName = value;
            }
        }
    }
    object value;
    [Parameter] public
    object Value {
        get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetValue(dxTarget).Result : value;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetValue(dxTarget, value);
            } else {
                this.value = value;
            }
        }
    }
    bool? activeStateEnabled;
    [Parameter] public
    bool? ActiveStateEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxRangeSliderInterop.GetActiveStateEnabled(dxTarget).Result : activeStateEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetActiveStateEnabled(dxTarget, value);
            } else {
                this.activeStateEnabled = value;
            }
        }
    }
    bool? focusStateEnabled;
    [Parameter] public
    bool? FocusStateEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxRangeSliderInterop.GetFocusStateEnabled(dxTarget).Result : focusStateEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetFocusStateEnabled(dxTarget, value);
            } else {
                this.focusStateEnabled = value;
            }
        }
    }
    bool? hoverStateEnabled;
    [Parameter] public
    bool? HoverStateEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxRangeSliderInterop.GetHoverStateEnabled(dxTarget).Result : hoverStateEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetHoverStateEnabled(dxTarget, value);
            } else {
                this.hoverStateEnabled = value;
            }
        }
    }
    float? keyStep;
    [Parameter] public
    float? KeyStep {
        get => isInitialized ? (float?)DevExpress.Ui.DxRangeSliderInterop.GetKeyStep(dxTarget).Result : keyStep;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetKeyStep(dxTarget, value);
            } else {
                this.keyStep = value;
            }
        }
    }
    object label;
    [Parameter] public
    object Label {
        get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetLabel(dxTarget).Result : label;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetLabel(dxTarget, value);
            } else {
                this.label = value;
            }
        }
    }
    string name;
    [Parameter] public
    string Name {
        get => isInitialized ? (string)DevExpress.Ui.DxRangeSliderInterop.GetName(dxTarget).Result : name;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetName(dxTarget, value);
            } else {
                this.name = value;
            }
        }
    }
    bool? showRange;
    [Parameter] public
    bool? ShowRange {
        get => isInitialized ? (bool?)DevExpress.Ui.DxRangeSliderInterop.GetShowRange(dxTarget).Result : showRange;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetShowRange(dxTarget, value);
            } else {
                this.showRange = value;
            }
        }
    }
    float? step;
    [Parameter] public
    float? Step {
        get => isInitialized ? (float?)DevExpress.Ui.DxRangeSliderInterop.GetStep(dxTarget).Result : step;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetStep(dxTarget, value);
            } else {
                this.step = value;
            }
        }
    }
    object tooltip;
    [Parameter] public
    object Tooltip {
        get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetTooltip(dxTarget).Result : tooltip;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetTooltip(dxTarget, value);
            } else {
                this.tooltip = value;
            }
        }
    }
    float? max;
    [Parameter] public
    float? Max {
        get => isInitialized ? (float?)DevExpress.Ui.DxRangeSliderInterop.GetMax(dxTarget).Result : max;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetMax(dxTarget, value);
            } else {
                this.max = value;
            }
        }
    }
    float? min;
    [Parameter] public
    float? Min {
        get => isInitialized ? (float?)DevExpress.Ui.DxRangeSliderInterop.GetMin(dxTarget).Result : min;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetMin(dxTarget, value);
            } else {
                this.min = value;
            }
        }
    }
    bool? isValid;
    [Parameter] public
    bool? IsValid {
        get => isInitialized ? (bool?)DevExpress.Ui.DxRangeSliderInterop.GetIsValid(dxTarget).Result : isValid;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetIsValid(dxTarget, value);
            } else {
                this.isValid = value;
            }
        }
    }
    bool? readOnly;
    [Parameter] public
    bool? ReadOnly {
        get => isInitialized ? (bool?)DevExpress.Ui.DxRangeSliderInterop.GetReadOnly(dxTarget).Result : readOnly;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetReadOnly(dxTarget, value);
            } else {
                this.readOnly = value;
            }
        }
    }
    object validationError;
    [Parameter] public
    object ValidationError {
        get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetValidationError(dxTarget).Result : validationError;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetValidationError(dxTarget, value);
            } else {
                this.validationError = value;
            }
        }
    }
    string validationMessageMode;
    [Parameter] public
    string ValidationMessageMode {
        get => isInitialized ? (string)DevExpress.Ui.DxRangeSliderInterop.GetValidationMessageMode(dxTarget).Result : validationMessageMode;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetValidationMessageMode(dxTarget, value);
            } else {
                this.validationMessageMode = value;
            }
        }
    }
    string accessKey;
    [Parameter] public
    string AccessKey {
        get => isInitialized ? (string)DevExpress.Ui.DxRangeSliderInterop.GetAccessKey(dxTarget).Result : accessKey;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetAccessKey(dxTarget, value);
            } else {
                this.accessKey = value;
            }
        }
    }
    bool? disabled;
    [Parameter] public
    bool? Disabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxRangeSliderInterop.GetDisabled(dxTarget).Result : disabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetDisabled(dxTarget, value);
            } else {
                this.disabled = value;
            }
        }
    }
    string hint;
    [Parameter] public
    string Hint {
        get => isInitialized ? (string)DevExpress.Ui.DxRangeSliderInterop.GetHint(dxTarget).Result : hint;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetHint(dxTarget, value);
            } else {
                this.hint = value;
            }
        }
    }
    float? tabIndex;
    [Parameter] public
    float? TabIndex {
        get => isInitialized ? (float?)DevExpress.Ui.DxRangeSliderInterop.GetTabIndex(dxTarget).Result : tabIndex;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetTabIndex(dxTarget, value);
            } else {
                this.tabIndex = value;
            }
        }
    }
    bool? visible;
    [Parameter] public
    bool? Visible {
        get => isInitialized ? (bool?)DevExpress.Ui.DxRangeSliderInterop.GetVisible(dxTarget).Result : visible;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetVisible(dxTarget, value);
            } else {
                this.visible = value;
            }
        }
    }
    object bindingOptions;
    [Parameter] public
    object BindingOptions {
        get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetBindingOptions(dxTarget, value);
            } else {
                this.bindingOptions = value;
            }
        }
    }
    object elementAttr;
    [Parameter] public
    object ElementAttr {
        get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetElementAttr(dxTarget).Result : elementAttr;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetElementAttr(dxTarget, value);
            } else {
                this.elementAttr = value;
            }
        }
    }
    object height;
    [Parameter] public
    object Height {
        get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetHeight(dxTarget).Result : height;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetHeight(dxTarget, value);
            } else {
                this.height = value;
            }
        }
    }
    bool? rtlEnabled;
    [Parameter] public
    bool? RtlEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxRangeSliderInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetRtlEnabled(dxTarget, value);
            } else {
                this.rtlEnabled = value;
            }
        }
    }
    object width;
    [Parameter] public
    object Width {
        get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetWidth(dxTarget).Result : width;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxRangeSliderInterop.SetWidth(dxTarget, value);
            } else {
                this.width = value;
            }
        }
    }
    bool? onValueChangedEnabled;
    [Parameter] public
    bool? OnValueChangedEnabled {
        get => onValueChangedEnabled;
        set => this.onValueChangedEnabled = value;
    }
    bool? onContentReadyEnabled;
    [Parameter] public
    bool? OnContentReadyEnabled {
        get => onContentReadyEnabled;
        set => this.onContentReadyEnabled = value;
    }
    bool? onDisposingEnabled;
    [Parameter] public
    bool? OnDisposingEnabled {
        get => onDisposingEnabled;
        set => this.onDisposingEnabled = value;
    }
    bool? onOptionChangedEnabled;
    [Parameter] public
    bool? OnOptionChangedEnabled {
        get => onOptionChangedEnabled;
        set => this.onOptionChangedEnabled = value;
    }
    bool? onInitializedEnabled;
    [Parameter] public
    bool? OnInitializedEnabled {
        get => onInitializedEnabled;
        set => this.onInitializedEnabled = value;
    }
    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        //DevExpress.Ui.DxRangeSliderInterop.ValueChanged += DxRangeSlider_ValueChanged;
        DevExpress.Ui.DxRangeSliderInterop.ContentReady += DxRangeSlider_ContentReady;
        DevExpress.Ui.DxRangeSliderInterop.Disposing += DxRangeSlider_Disposing;
        DevExpress.Ui.DxRangeSliderInterop.OptionChanged += DxRangeSlider_OptionChanged;
        DevExpress.Ui.DxRangeSliderInterop.Initialized += DxRangeSlider_Initialized;
    }
    [Parameter] public
    Action ValueChanged { get; set; }
    void DxRangeSlider_ValueChanged(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            ValueChanged?.Invoke();
        }
    }
    [Parameter] public
    Action ContentReady { get; set; }
    void DxRangeSlider_ContentReady(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            ContentReady?.Invoke();
        }
    }
    [Parameter] public
    Action Disposing { get; set; }
    void DxRangeSlider_Disposing(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Disposing?.Invoke();
        }
    }
    [Parameter] public
    Action OptionChanged { get; set; }
    void DxRangeSlider_OptionChanged(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            OptionChanged?.Invoke();
        }
    }
    [Parameter] public
    Action Initialized { get; set; }
    void DxRangeSlider_Initialized(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Initialized?.Invoke();
        }
    }
    public void Reset() {
        DevExpress.Ui.DxRangeSliderInterop.Reset(dxTarget);
    }
    public void Dispose() {
        //DevExpress.Ui.DxRangeSliderInterop.ValueChanged -= DxRangeSlider_ValueChanged;
        DevExpress.Ui.DxRangeSliderInterop.ContentReady -= DxRangeSlider_ContentReady;
        DevExpress.Ui.DxRangeSliderInterop.Disposing -= DxRangeSlider_Disposing;
        DevExpress.Ui.DxRangeSliderInterop.OptionChanged -= DxRangeSlider_OptionChanged;
        DevExpress.Ui.DxRangeSliderInterop.Initialized -= DxRangeSlider_Initialized;
    }
}
