@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxRangeSliderOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxRangeSlider() : base("DxRangeSlider") { }
	protected override DevExpress.Ui.DxRangeSliderOptions CreateOptions() {
		return new DevExpress.Ui.DxRangeSliderOptions {
			end = end,
			endName = endName,
			start = start,
			startName = startName,
			value = value,
			onValueChangedEnabled = onValueChangedEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.DxRangeSliderOptions options) {
return 		DevExpress.Ui.DxRangeSliderInterop.Init(dxTarget, options);
	}
	float? end;
	[Parameter]
	float? End {
		get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetEnd(dxTarget).Result : end;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRangeSliderInterop.SetEnd(dxTarget, value);
			} else {
				this.end = value;
			}
		}
	}
	string endName;
	[Parameter]
	string EndName {
		get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetEndName(dxTarget).Result : endName;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRangeSliderInterop.SetEndName(dxTarget, value);
			} else {
				this.endName = value;
			}
		}
	}
	float? start;
	[Parameter]
	float? Start {
		get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetStart(dxTarget).Result : start;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRangeSliderInterop.SetStart(dxTarget, value);
			} else {
				this.start = value;
			}
		}
	}
	string startName;
	[Parameter]
	string StartName {
		get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetStartName(dxTarget).Result : startName;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRangeSliderInterop.SetStartName(dxTarget, value);
			} else {
				this.startName = value;
			}
		}
	}
	object value;
	[Parameter]
	object Value {
		get => isInitialized ? DevExpress.Ui.DxRangeSliderInterop.GetValue(dxTarget).Result : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxRangeSliderInterop.SetValue(dxTarget, value);
			} else {
				this.value = value;
			}
		}
	}
	bool? onValueChangedEnabled;
	[Parameter]
	bool? OnValueChangedEnabled {
		get => onValueChangedEnabled;
		set => this.onValueChangedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxRangeSliderInterop.ValueChanged += DxRangeSlider_ValueChanged;
	}
	[Parameter]
	Action ValueChanged { get; set; }
	void DxRangeSlider_ValueChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ValueChanged?.Invoke();
		}
	}
	public void Reset() {
		DevExpress.Ui.DxRangeSliderInterop.Reset(dxTarget);
	}
	public void Dispose() {
		DevExpress.Ui.DxRangeSliderInterop.ValueChanged -= DxRangeSlider_ValueChanged;
	}
}
