@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxResponsiveBoxOptions>

<div id="@Id"></div>

@functions {
	public DxResponsiveBox() : base("DxResponsiveBox") { }
	protected override DevExpress.Ui.DxResponsiveBoxOptions CreateOptions() {
		return new DevExpress.Ui.DxResponsiveBoxOptions {
			cols = cols,
			height = height,
			rows = rows,
			screenByWidth = screenByWidth,
			singleColumnScreen = singleColumnScreen,
			width = width,
		};
	}
	protected override void Init(DevExpress.Ui.DxResponsiveBoxOptions options) {
		DevExpress.Ui.DxResponsiveBoxInterop.Init(Id, options);
	}
	object cols;
	public object Cols {
		get => isInitialized ? DevExpress.Ui.DxResponsiveBoxInterop.GetCols(Id) : cols;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxResponsiveBoxInterop.SetCols(Id, value);
			} else {
				this.cols = value;
			}
		}
	}
	object height;
	public object Height {
		get => isInitialized ? DevExpress.Ui.DxResponsiveBoxInterop.GetHeight(Id) : height;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxResponsiveBoxInterop.SetHeight(Id, value);
			} else {
				this.height = value;
			}
		}
	}
	object rows;
	public object Rows {
		get => isInitialized ? DevExpress.Ui.DxResponsiveBoxInterop.GetRows(Id) : rows;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxResponsiveBoxInterop.SetRows(Id, value);
			} else {
				this.rows = value;
			}
		}
	}
	object screenByWidth;
	public object ScreenByWidth {
		get => isInitialized ? DevExpress.Ui.DxResponsiveBoxInterop.GetScreenByWidth(Id) : screenByWidth;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxResponsiveBoxInterop.SetScreenByWidth(Id, value);
			} else {
				this.screenByWidth = value;
			}
		}
	}
	string singleColumnScreen;
	public string SingleColumnScreen {
		get => isInitialized ? DevExpress.Ui.DxResponsiveBoxInterop.GetSingleColumnScreen(Id) : singleColumnScreen;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxResponsiveBoxInterop.SetSingleColumnScreen(Id, value);
			} else {
				this.singleColumnScreen = value;
			}
		}
	}
	object width;
	public object Width {
		get => isInitialized ? DevExpress.Ui.DxResponsiveBoxInterop.GetWidth(Id) : width;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxResponsiveBoxInterop.SetWidth(Id, value);
			} else {
				this.width = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
