@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxScrollViewOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxScrollView() : base("DxScrollView") { }
	protected override DevExpress.Ui.DxScrollViewOptions CreateOptions() {
		return new DevExpress.Ui.DxScrollViewOptions {
			pulledDownText = pulledDownText,
			pullingDownText = pullingDownText,
			reachBottomText = reachBottomText,
			refreshingText = refreshingText,
			onPullDownEnabled = onPullDownEnabled,
			onReachBottomEnabled = onReachBottomEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxScrollViewOptions options) {
		DevExpress.Ui.DxScrollViewInterop.Init(dxTarget, options);
	}
	string pulledDownText;
	[Parameter]
	string PulledDownText {
		get => isInitialized ? DevExpress.Ui.DxScrollViewInterop.GetPulledDownText(dxTarget) : pulledDownText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxScrollViewInterop.SetPulledDownText(dxTarget, value);
			} else {
				this.pulledDownText = value;
			}
		}
	}
	string pullingDownText;
	[Parameter]
	string PullingDownText {
		get => isInitialized ? DevExpress.Ui.DxScrollViewInterop.GetPullingDownText(dxTarget) : pullingDownText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxScrollViewInterop.SetPullingDownText(dxTarget, value);
			} else {
				this.pullingDownText = value;
			}
		}
	}
	string reachBottomText;
	[Parameter]
	string ReachBottomText {
		get => isInitialized ? DevExpress.Ui.DxScrollViewInterop.GetReachBottomText(dxTarget) : reachBottomText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxScrollViewInterop.SetReachBottomText(dxTarget, value);
			} else {
				this.reachBottomText = value;
			}
		}
	}
	string refreshingText;
	[Parameter]
	string RefreshingText {
		get => isInitialized ? DevExpress.Ui.DxScrollViewInterop.GetRefreshingText(dxTarget) : refreshingText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxScrollViewInterop.SetRefreshingText(dxTarget, value);
			} else {
				this.refreshingText = value;
			}
		}
	}
	bool? onPullDownEnabled;
	[Parameter]
	bool? OnPullDownEnabled {
		get => onPullDownEnabled;
		set => this.onPullDownEnabled = value;
	}
	bool? onReachBottomEnabled;
	[Parameter]
	bool? OnReachBottomEnabled {
		get => onReachBottomEnabled;
		set => this.onReachBottomEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxScrollViewInterop.PullDown += DxScrollView_PullDown;
		DevExpress.Ui.DxScrollViewInterop.ReachBottom += DxScrollView_ReachBottom;
	}
	[Parameter]
	Action PullDown { get; set; }
	void DxScrollView_PullDown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			PullDown?.Invoke();
		}
	}
	[Parameter]
	Action ReachBottom { get; set; }
	void DxScrollView_ReachBottom(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ReachBottom?.Invoke();
		}
	}
	public void Refresh() {
		DevExpress.Ui.DxScrollViewInterop.Refresh(dxTarget);
	}
	public object Release(bool preventScrollBottom) {
		return DevExpress.Ui.DxScrollViewInterop.Release(dxTarget, preventScrollBottom);
	}
	public void Dispose() {
		DevExpress.Ui.DxScrollViewInterop.PullDown -= DxScrollView_PullDown;
		DevExpress.Ui.DxScrollViewInterop.ReachBottom -= DxScrollView_ReachBottom;
	}
}
