
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxSelectBoxOptions>

<div id="@Id"  @ref="dxTarget"></div>

@code {
    ElementReference dxTarget;
    public DxSelectBox() : base("DxSelectBox") { }
    protected override DevExpress.Ui.DxSelectBoxOptions CreateOptions() {
        return new DevExpress.Ui.DxSelectBoxOptions {
            acceptCustomValue = acceptCustomValue,
            fieldTemplate = fieldTemplate,
            placeholder = placeholder,
            showSelectionControls = showSelectionControls,
            valueChangeEvent = valueChangeEvent,
            displayValue = displayValue,
            grouped = grouped,
            groupTemplate = groupTemplate,
            minSearchLength = minSearchLength,
            noDataText = noDataText,
            searchEnabled = searchEnabled,
            searchExpr = searchExpr,
            searchMode = searchMode,
            searchTimeout = searchTimeout,
            selectedItem = selectedItem,
            showDataBeforeSearch = showDataBeforeSearch,
            value = value,
            activeStateEnabled = activeStateEnabled,
            applyValueMode = applyValueMode,
            deferRendering = deferRendering,
            dropDownButtonTemplate = dropDownButtonTemplate,
            opened = isOpened,
            maxLength = maxLength,
            mode = mode,
            focusStateEnabled = focusStateEnabled,
            hoverStateEnabled = hoverStateEnabled,
            inputAttr = inputAttr,
            mask = mask,
            maskChar = maskChar,
            maskInvalidMessage = maskInvalidMessage,
            maskRules = maskRules,
            name = name,
            showClearButton = showClearButton,
            showMaskMode = showMaskMode,
            spellcheck = spellcheck,
            text = text,
            useMaskedValue = useMaskedValue,
            isValid = isValid,
            readOnly = readOnly,
            validationError = validationError,
            validationMessageMode = validationMessageMode,
            accessKey = accessKey,
            disabled = disabled,
            hint = hint,
            tabIndex = tabIndex,
            visible = visible,
            bindingOptions = bindingOptions,
            elementAttr = elementAttr,
            height = height,
            rtlEnabled = rtlEnabled,
            width = width,
            dataSource = dataSource,
            displayExpr = displayExpr,
            items = items,
            itemTemplate = itemTemplate,
            valueExpr = valueExpr,
            onCustomItemCreatingEnabled = onCustomItemCreatingEnabled,
            onItemClickEnabled = onItemClickEnabled,
            onSelectionChangedEnabled = onSelectionChangedEnabled,
            onValueChangedEnabled = onValueChangedEnabled,
            onClosedEnabled = onClosedEnabled,
            onOpenedEnabled = onOpenedEnabled,
            onChangeEnabled = onChangeEnabled,
            onCopyEnabled = onCopyEnabled,
            onCutEnabled = onCutEnabled,
            onEnterKeyEnabled = onEnterKeyEnabled,
            onFocusInEnabled = onFocusInEnabled,
            onFocusOutEnabled = onFocusOutEnabled,
            onInputEnabled = onInputEnabled,
            onKeyDownEnabled = onKeyDownEnabled,
            onKeyPressEnabled = onKeyPressEnabled,
            onKeyUpEnabled = onKeyUpEnabled,
            onPasteEnabled = onPasteEnabled,
            onContentReadyEnabled = onContentReadyEnabled,
            onDisposingEnabled = onDisposingEnabled,
            onOptionChangedEnabled = onOptionChangedEnabled,
            onInitializedEnabled = onInitializedEnabled,
        };
    }
    protected override ValueTask<object> Init(DevExpress.Ui.DxSelectBoxOptions options) {
        return DevExpress.Ui.DxSelectBoxInterop.Init(dxTarget, options);
    }
    bool? acceptCustomValue;
    [Parameter] public
    bool? AcceptCustomValue {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetAcceptCustomValue(dxTarget).Result : acceptCustomValue;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetAcceptCustomValue(dxTarget, value);
            } else {
                this.acceptCustomValue = value;
            }
        }
    }
    object fieldTemplate;
    [Parameter] public
    object FieldTemplate {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetFieldTemplate(dxTarget).Result : fieldTemplate;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetFieldTemplate(dxTarget, value);
            } else {
                this.fieldTemplate = value;
            }
        }
    }
    string placeholder;
    [Parameter] public
    string Placeholder {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetPlaceholder(dxTarget).Result : placeholder;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetPlaceholder(dxTarget, value);
            } else {
                this.placeholder = value;
            }
        }
    }
    bool? showSelectionControls;
    [Parameter] public
    bool? ShowSelectionControls {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetShowSelectionControls(dxTarget).Result : showSelectionControls;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetShowSelectionControls(dxTarget, value);
            } else {
                this.showSelectionControls = value;
            }
        }
    }
    string valueChangeEvent;
    [Parameter] public
    string ValueChangeEvent {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetValueChangeEvent(dxTarget).Result : valueChangeEvent;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetValueChangeEvent(dxTarget, value);
            } else {
                this.valueChangeEvent = value;
            }
        }
    }
    string displayValue;
    [Parameter] public
    string DisplayValue {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetDisplayValue(dxTarget).Result : displayValue;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetDisplayValue(dxTarget, value);
            } else {
                this.displayValue = value;
            }
        }
    }
    bool? grouped;
    [Parameter] public
    bool? Grouped {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetGrouped(dxTarget).Result : grouped;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetGrouped(dxTarget, value);
            } else {
                this.grouped = value;
            }
        }
    }
    object groupTemplate;
    [Parameter] public
    object GroupTemplate {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetGroupTemplate(dxTarget).Result : groupTemplate;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetGroupTemplate(dxTarget, value);
            } else {
                this.groupTemplate = value;
            }
        }
    }
    float? minSearchLength;
    [Parameter] public
    float? MinSearchLength {
        get => isInitialized ? (float?)DevExpress.Ui.DxSelectBoxInterop.GetMinSearchLength(dxTarget).Result : minSearchLength;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetMinSearchLength(dxTarget, value);
            } else {
                this.minSearchLength = value;
            }
        }
    }
    string noDataText;
    [Parameter] public
    string NoDataText {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetNoDataText(dxTarget).Result : noDataText;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetNoDataText(dxTarget, value);
            } else {
                this.noDataText = value;
            }
        }
    }
    bool? searchEnabled;
    [Parameter] public
    bool? SearchEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetSearchEnabled(dxTarget).Result : searchEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetSearchEnabled(dxTarget, value);
            } else {
                this.searchEnabled = value;
            }
        }
    }
    object searchExpr;
    [Parameter] public
    object SearchExpr {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetSearchExpr(dxTarget).Result : searchExpr;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetSearchExpr(dxTarget, value);
            } else {
                this.searchExpr = value;
            }
        }
    }
    string searchMode;
    [Parameter] public
    string SearchMode {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetSearchMode(dxTarget).Result : searchMode;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetSearchMode(dxTarget, value);
            } else {
                this.searchMode = value;
            }
        }
    }
    float? searchTimeout;
    [Parameter] public
    float? SearchTimeout {
        get => isInitialized ? (float?)DevExpress.Ui.DxSelectBoxInterop.GetSearchTimeout(dxTarget).Result : searchTimeout;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetSearchTimeout(dxTarget, value);
            } else {
                this.searchTimeout = value;
            }
        }
    }
    object selectedItem;
    [Parameter] public
    object SelectedItem {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetSelectedItem(dxTarget).Result : selectedItem;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetSelectedItem(dxTarget, value);
            } else {
                this.selectedItem = value;
            }
        }
    }
    bool? showDataBeforeSearch;
    [Parameter] public
    bool? ShowDataBeforeSearch {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetShowDataBeforeSearch(dxTarget).Result : showDataBeforeSearch;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetShowDataBeforeSearch(dxTarget, value);
            } else {
                this.showDataBeforeSearch = value;
            }
        }
    }
    object value;
    [Parameter] public
    object Value {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetValue(dxTarget).Result : value;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetValue(dxTarget, value);
            } else {
                this.value = value;
            }
        }
    }
    bool? activeStateEnabled;
    [Parameter] public
    bool? ActiveStateEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetActiveStateEnabled(dxTarget).Result : activeStateEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetActiveStateEnabled(dxTarget, value);
            } else {
                this.activeStateEnabled = value;
            }
        }
    }
    string applyValueMode;
    [Parameter] public
    string ApplyValueMode {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetApplyValueMode(dxTarget).Result : applyValueMode;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetApplyValueMode(dxTarget, value);
            } else {
                this.applyValueMode = value;
            }
        }
    }
    bool? deferRendering;
    [Parameter] public
    bool? DeferRendering {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetDeferRendering(dxTarget).Result : deferRendering;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetDeferRendering(dxTarget, value);
            } else {
                this.deferRendering = value;
            }
        }
    }
    object dropDownButtonTemplate;
    [Parameter] public
    object DropDownButtonTemplate {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetDropDownButtonTemplate(dxTarget).Result : dropDownButtonTemplate;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetDropDownButtonTemplate(dxTarget, value);
            } else {
                this.dropDownButtonTemplate = value;
            }
        }
    }
    bool? isOpened;
    [Parameter] public
    bool? IsOpened {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetOpened(dxTarget).Result : isOpened;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetOpened(dxTarget, value);
            } else {
                this.isOpened = value;
            }
        }
    }
    object maxLength;
    [Parameter] public
    object MaxLength {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetMaxLength(dxTarget).Result : maxLength;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetMaxLength(dxTarget, value);
            } else {
                this.maxLength = value;
            }
        }
    }
    string mode;
    [Parameter] public
    string Mode {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetMode(dxTarget).Result : mode;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetMode(dxTarget, value);
            } else {
                this.mode = value;
            }
        }
    }
    bool? focusStateEnabled;
    [Parameter] public
    bool? FocusStateEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetFocusStateEnabled(dxTarget).Result : focusStateEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetFocusStateEnabled(dxTarget, value);
            } else {
                this.focusStateEnabled = value;
            }
        }
    }
    bool? hoverStateEnabled;
    [Parameter] public
    bool? HoverStateEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetHoverStateEnabled(dxTarget).Result : hoverStateEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetHoverStateEnabled(dxTarget, value);
            } else {
                this.hoverStateEnabled = value;
            }
        }
    }
    object inputAttr;
    [Parameter] public
    object InputAttr {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetInputAttr(dxTarget).Result : inputAttr;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetInputAttr(dxTarget, value);
            } else {
                this.inputAttr = value;
            }
        }
    }
    string mask;
    [Parameter] public
    string Mask {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetMask(dxTarget).Result : mask;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetMask(dxTarget, value);
            } else {
                this.mask = value;
            }
        }
    }
    string maskChar;
    [Parameter] public
    string MaskChar {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetMaskChar(dxTarget).Result : maskChar;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetMaskChar(dxTarget, value);
            } else {
                this.maskChar = value;
            }
        }
    }
    string maskInvalidMessage;
    [Parameter] public
    string MaskInvalidMessage {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetMaskInvalidMessage(dxTarget).Result : maskInvalidMessage;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetMaskInvalidMessage(dxTarget, value);
            } else {
                this.maskInvalidMessage = value;
            }
        }
    }
    object maskRules;
    [Parameter] public
    object MaskRules {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetMaskRules(dxTarget).Result : maskRules;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetMaskRules(dxTarget, value);
            } else {
                this.maskRules = value;
            }
        }
    }
    string name;
    [Parameter] public
    string Name {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetName(dxTarget).Result : name;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetName(dxTarget, value);
            } else {
                this.name = value;
            }
        }
    }
    bool? showClearButton;
    [Parameter] public
    bool? ShowClearButton {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetShowClearButton(dxTarget).Result : showClearButton;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetShowClearButton(dxTarget, value);
            } else {
                this.showClearButton = value;
            }
        }
    }
    string showMaskMode;
    [Parameter] public
    string ShowMaskMode {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetShowMaskMode(dxTarget).Result : showMaskMode;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetShowMaskMode(dxTarget, value);
            } else {
                this.showMaskMode = value;
            }
        }
    }
    bool? spellcheck;
    [Parameter] public
    bool? Spellcheck {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetSpellcheck(dxTarget).Result : spellcheck;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetSpellcheck(dxTarget, value);
            } else {
                this.spellcheck = value;
            }
        }
    }
    string text;
    [Parameter] public
    string Text {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetText(dxTarget).Result : text;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetText(dxTarget, value);
            } else {
                this.text = value;
            }
        }
    }
    bool? useMaskedValue;
    [Parameter] public
    bool? UseMaskedValue {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetUseMaskedValue(dxTarget).Result : useMaskedValue;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetUseMaskedValue(dxTarget, value);
            } else {
                this.useMaskedValue = value;
            }
        }
    }
    bool? isValid;
    [Parameter] public
    bool? IsValid {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetIsValid(dxTarget).Result : isValid;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetIsValid(dxTarget, value);
            } else {
                this.isValid = value;
            }
        }
    }
    bool? readOnly;
    [Parameter] public
    bool? ReadOnly {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetReadOnly(dxTarget).Result : readOnly;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetReadOnly(dxTarget, value);
            } else {
                this.readOnly = value;
            }
        }
    }
    object validationError;
    [Parameter] public
    object ValidationError {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetValidationError(dxTarget).Result : validationError;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetValidationError(dxTarget, value);
            } else {
                this.validationError = value;
            }
        }
    }
    string validationMessageMode;
    [Parameter] public
    string ValidationMessageMode {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetValidationMessageMode(dxTarget).Result : validationMessageMode;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetValidationMessageMode(dxTarget, value);
            } else {
                this.validationMessageMode = value;
            }
        }
    }
    string accessKey;
    [Parameter] public
    string AccessKey {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetAccessKey(dxTarget).Result : accessKey;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetAccessKey(dxTarget, value);
            } else {
                this.accessKey = value;
            }
        }
    }
    bool? disabled;
    [Parameter] public
    bool? Disabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetDisabled(dxTarget).Result : disabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetDisabled(dxTarget, value);
            } else {
                this.disabled = value;
            }
        }
    }
    string hint;
    [Parameter] public
    string Hint {
        get => isInitialized ? (string)DevExpress.Ui.DxSelectBoxInterop.GetHint(dxTarget).Result : hint;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetHint(dxTarget, value);
            } else {
                this.hint = value;
            }
        }
    }
    float? tabIndex;
    [Parameter] public
    float? TabIndex {
        get => isInitialized ? (float?)DevExpress.Ui.DxSelectBoxInterop.GetTabIndex(dxTarget).Result : tabIndex;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetTabIndex(dxTarget, value);
            } else {
                this.tabIndex = value;
            }
        }
    }
    bool? visible;
    [Parameter] public
    bool? Visible {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetVisible(dxTarget).Result : visible;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetVisible(dxTarget, value);
            } else {
                this.visible = value;
            }
        }
    }
    object bindingOptions;
    [Parameter] public
    object BindingOptions {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetBindingOptions(dxTarget, value);
            } else {
                this.bindingOptions = value;
            }
        }
    }
    object elementAttr;
    [Parameter] public
    object ElementAttr {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetElementAttr(dxTarget).Result : elementAttr;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetElementAttr(dxTarget, value);
            } else {
                this.elementAttr = value;
            }
        }
    }
    object height;
    [Parameter] public
    object Height {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetHeight(dxTarget).Result : height;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetHeight(dxTarget, value);
            } else {
                this.height = value;
            }
        }
    }
    bool? rtlEnabled;
    [Parameter] public
    bool? RtlEnabled {
        get => isInitialized ? (bool?)DevExpress.Ui.DxSelectBoxInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetRtlEnabled(dxTarget, value);
            } else {
                this.rtlEnabled = value;
            }
        }
    }
    object width;
    [Parameter] public
    object Width {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetWidth(dxTarget).Result : width;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetWidth(dxTarget, value);
            } else {
                this.width = value;
            }
        }
    }
    object dataSource;
    [Parameter] public
    object DataSource {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetDataSource(dxTarget).Result : dataSource;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetDataSource(dxTarget, value);
            } else {
                this.dataSource = value;
            }
        }
    }
    object displayExpr;
    [Parameter] public
    object DisplayExpr {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetDisplayExpr(dxTarget).Result : displayExpr;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetDisplayExpr(dxTarget, value);
            } else {
                this.displayExpr = value;
            }
        }
    }
    object items;
    [Parameter] public
    object Items {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetItems(dxTarget).Result : items;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetItems(dxTarget, value);
            } else {
                this.items = value;
            }
        }
    }
    object itemTemplate;
    [Parameter] public
    object ItemTemplate {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetItemTemplate(dxTarget).Result : itemTemplate;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetItemTemplate(dxTarget, value);
            } else {
                this.itemTemplate = value;
            }
        }
    }
    object valueExpr;
    [Parameter] public
    object ValueExpr {
        get => isInitialized ? DevExpress.Ui.DxSelectBoxInterop.GetValueExpr(dxTarget).Result : valueExpr;
        set {
            if (isInitialized) {
                DevExpress.Ui.DxSelectBoxInterop.SetValueExpr(dxTarget, value);
            } else {
                this.valueExpr = value;
            }
        }
    }
    bool? onCustomItemCreatingEnabled;
    [Parameter] public
    bool? OnCustomItemCreatingEnabled {
        get => onCustomItemCreatingEnabled;
        set => this.onCustomItemCreatingEnabled = value;
    }
    bool? onItemClickEnabled;
    [Parameter] public
    bool? OnItemClickEnabled {
        get => onItemClickEnabled;
        set => this.onItemClickEnabled = value;
    }
    bool? onSelectionChangedEnabled;
    [Parameter] public
    bool? OnSelectionChangedEnabled {
        get => onSelectionChangedEnabled;
        set => this.onSelectionChangedEnabled = value;
    }
    bool? onValueChangedEnabled;
    [Parameter] public
    bool? OnValueChangedEnabled {
        get => onValueChangedEnabled;
        set => this.onValueChangedEnabled = value;
    }
    bool? onClosedEnabled;
    [Parameter] public
    bool? OnClosedEnabled {
        get => onClosedEnabled;
        set => this.onClosedEnabled = value;
    }
    bool? onOpenedEnabled;
    [Parameter] public
    bool? OnOpenedEnabled {
        get => onOpenedEnabled;
        set => this.onOpenedEnabled = value;
    }
    bool? onChangeEnabled;
    [Parameter] public
    bool? OnChangeEnabled {
        get => onChangeEnabled;
        set => this.onChangeEnabled = value;
    }
    bool? onCopyEnabled;
    [Parameter] public
    bool? OnCopyEnabled {
        get => onCopyEnabled;
        set => this.onCopyEnabled = value;
    }
    bool? onCutEnabled;
    [Parameter] public
    bool? OnCutEnabled {
        get => onCutEnabled;
        set => this.onCutEnabled = value;
    }
    bool? onEnterKeyEnabled;
    [Parameter] public
    bool? OnEnterKeyEnabled {
        get => onEnterKeyEnabled;
        set => this.onEnterKeyEnabled = value;
    }
    bool? onFocusInEnabled;
    [Parameter] public
    bool? OnFocusInEnabled {
        get => onFocusInEnabled;
        set => this.onFocusInEnabled = value;
    }
    bool? onFocusOutEnabled;
    [Parameter] public
    bool? OnFocusOutEnabled {
        get => onFocusOutEnabled;
        set => this.onFocusOutEnabled = value;
    }
    bool? onInputEnabled;
    [Parameter] public
    bool? OnInputEnabled {
        get => onInputEnabled;
        set => this.onInputEnabled = value;
    }
    bool? onKeyDownEnabled;
    [Parameter] public
    bool? OnKeyDownEnabled {
        get => onKeyDownEnabled;
        set => this.onKeyDownEnabled = value;
    }
    bool? onKeyPressEnabled;
    [Parameter] public
    bool? OnKeyPressEnabled {
        get => onKeyPressEnabled;
        set => this.onKeyPressEnabled = value;
    }
    bool? onKeyUpEnabled;
    [Parameter] public
    bool? OnKeyUpEnabled {
        get => onKeyUpEnabled;
        set => this.onKeyUpEnabled = value;
    }
    bool? onPasteEnabled;
    [Parameter] public
    bool? OnPasteEnabled {
        get => onPasteEnabled;
        set => this.onPasteEnabled = value;
    }
    bool? onContentReadyEnabled;
    [Parameter] public
    bool? OnContentReadyEnabled {
        get => onContentReadyEnabled;
        set => this.onContentReadyEnabled = value;
    }
    bool? onDisposingEnabled;
    [Parameter] public
    bool? OnDisposingEnabled {
        get => onDisposingEnabled;
        set => this.onDisposingEnabled = value;
    }
    bool? onOptionChangedEnabled;
    [Parameter] public
    bool? OnOptionChangedEnabled {
        get => onOptionChangedEnabled;
        set => this.onOptionChangedEnabled = value;
    }
    bool? onInitializedEnabled;
    [Parameter] public
    bool? OnInitializedEnabled {
        get => onInitializedEnabled;
        set => this.onInitializedEnabled = value;
    }
    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        DevExpress.Ui.DxSelectBoxInterop.CustomItemCreating += DxSelectBox_CustomItemCreating;
        DevExpress.Ui.DxSelectBoxInterop.ItemClick += DxSelectBox_ItemClick;
        DevExpress.Ui.DxSelectBoxInterop.SelectionChanged += DxSelectBox_SelectionChanged;
        DevExpress.Ui.DxSelectBoxInterop.ValueChanged += DxSelectBox_ValueChanged;
        DevExpress.Ui.DxSelectBoxInterop.Closed += DxSelectBox_Closed;
        DevExpress.Ui.DxSelectBoxInterop.Opened += DxSelectBox_Opened;
        DevExpress.Ui.DxSelectBoxInterop.Change += DxSelectBox_Change;
        DevExpress.Ui.DxSelectBoxInterop.Copy += DxSelectBox_Copy;
        DevExpress.Ui.DxSelectBoxInterop.Cut += DxSelectBox_Cut;
        DevExpress.Ui.DxSelectBoxInterop.EnterKey += DxSelectBox_EnterKey;
        DevExpress.Ui.DxSelectBoxInterop.FocusIn += DxSelectBox_FocusIn;
        DevExpress.Ui.DxSelectBoxInterop.FocusOut += DxSelectBox_FocusOut;
        DevExpress.Ui.DxSelectBoxInterop.Input += DxSelectBox_Input;
        DevExpress.Ui.DxSelectBoxInterop.KeyDown += DxSelectBox_KeyDown;
        DevExpress.Ui.DxSelectBoxInterop.KeyPress += DxSelectBox_KeyPress;
        DevExpress.Ui.DxSelectBoxInterop.KeyUp += DxSelectBox_KeyUp;
        DevExpress.Ui.DxSelectBoxInterop.Paste += DxSelectBox_Paste;
        DevExpress.Ui.DxSelectBoxInterop.ContentReady += DxSelectBox_ContentReady;
        DevExpress.Ui.DxSelectBoxInterop.Disposing += DxSelectBox_Disposing;
        DevExpress.Ui.DxSelectBoxInterop.OptionChanged += DxSelectBox_OptionChanged;
        DevExpress.Ui.DxSelectBoxInterop.Initialized += DxSelectBox_Initialized;
    }
    [Parameter] public
    Action CustomItemCreating { get; set; }
    void DxSelectBox_CustomItemCreating(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            CustomItemCreating?.Invoke();
        }
    }
    [Parameter] public
    Action ItemClick { get; set; }
    void DxSelectBox_ItemClick(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            ItemClick?.Invoke();
        }
    }
    [Parameter] public
    Action SelectionChanged { get; set; }
    void DxSelectBox_SelectionChanged(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            SelectionChanged?.Invoke();
        }
    }
    [Parameter] public
    Action<string> ValueChanged { get; set; }
    void DxSelectBox_ValueChanged(object sender, (JQueryEventArgs jQueryEventArgs, string value) args) {
        if (args.jQueryEventArgs.Identifier == Id) {
            ValueChanged?.Invoke(args.value);
        }
    }
    [Parameter] public
    Action Closed { get; set; }
    void DxSelectBox_Closed(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Closed?.Invoke();
        }
    }
    [Parameter] public
    Action Opened { get; set; }
    void DxSelectBox_Opened(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Opened?.Invoke();
        }
    }
    [Parameter] public
    Action Change { get; set; }
    void DxSelectBox_Change(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Change?.Invoke();
        }
    }
    [Parameter] public
    Action Copy { get; set; }
    void DxSelectBox_Copy(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Copy?.Invoke();
        }
    }
    [Parameter] public
    Action Cut { get; set; }
    void DxSelectBox_Cut(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Cut?.Invoke();
        }
    }
    [Parameter] public
    Action EnterKey { get; set; }
    void DxSelectBox_EnterKey(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            EnterKey?.Invoke();
        }
    }
    [Parameter] public
    Action FocusIn { get; set; }
    void DxSelectBox_FocusIn(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            FocusIn?.Invoke();
        }
    }
    [Parameter] public
    Action FocusOut { get; set; }
    void DxSelectBox_FocusOut(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            FocusOut?.Invoke();
        }
    }
    [Parameter] public
    Action Input { get; set; }
    void DxSelectBox_Input(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Input?.Invoke();
        }
    }
    [Parameter] public
    Action KeyDown { get; set; }
    void DxSelectBox_KeyDown(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            KeyDown?.Invoke();
        }
    }
    [Parameter] public
    Action KeyPress { get; set; }
    void DxSelectBox_KeyPress(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            KeyPress?.Invoke();
        }
    }
    [Parameter] public
    Action KeyUp { get; set; }
    void DxSelectBox_KeyUp(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            KeyUp?.Invoke();
        }
    }
    [Parameter] public
    Action Paste { get; set; }
    void DxSelectBox_Paste(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Paste?.Invoke();
        }
    }
    [Parameter] public
    Action ContentReady { get; set; }
    void DxSelectBox_ContentReady(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            ContentReady?.Invoke();
        }
    }
    [Parameter] public
    Action Disposing { get; set; }
    void DxSelectBox_Disposing(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Disposing?.Invoke();
        }
    }
    [Parameter] public
    Action OptionChanged { get; set; }
    void DxSelectBox_OptionChanged(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            OptionChanged?.Invoke();
        }
    }
    [Parameter] public
    Action Initialized { get; set; }
    void DxSelectBox_Initialized(object sender, JQueryEventArgs e) {
        if (e.Identifier == Id) {
            Initialized?.Invoke();
        }
    }
    public void Dispose() {
        DevExpress.Ui.DxSelectBoxInterop.CustomItemCreating -= DxSelectBox_CustomItemCreating;
        DevExpress.Ui.DxSelectBoxInterop.ItemClick -= DxSelectBox_ItemClick;
        DevExpress.Ui.DxSelectBoxInterop.SelectionChanged -= DxSelectBox_SelectionChanged;
        DevExpress.Ui.DxSelectBoxInterop.ValueChanged -= DxSelectBox_ValueChanged;
        DevExpress.Ui.DxSelectBoxInterop.Closed -= DxSelectBox_Closed;
        DevExpress.Ui.DxSelectBoxInterop.Opened -= DxSelectBox_Opened;
        DevExpress.Ui.DxSelectBoxInterop.Change -= DxSelectBox_Change;
        DevExpress.Ui.DxSelectBoxInterop.Copy -= DxSelectBox_Copy;
        DevExpress.Ui.DxSelectBoxInterop.Cut -= DxSelectBox_Cut;
        DevExpress.Ui.DxSelectBoxInterop.EnterKey -= DxSelectBox_EnterKey;
        DevExpress.Ui.DxSelectBoxInterop.FocusIn -= DxSelectBox_FocusIn;
        DevExpress.Ui.DxSelectBoxInterop.FocusOut -= DxSelectBox_FocusOut;
        DevExpress.Ui.DxSelectBoxInterop.Input -= DxSelectBox_Input;
        DevExpress.Ui.DxSelectBoxInterop.KeyDown -= DxSelectBox_KeyDown;
        DevExpress.Ui.DxSelectBoxInterop.KeyPress -= DxSelectBox_KeyPress;
        DevExpress.Ui.DxSelectBoxInterop.KeyUp -= DxSelectBox_KeyUp;
        DevExpress.Ui.DxSelectBoxInterop.Paste -= DxSelectBox_Paste;
        DevExpress.Ui.DxSelectBoxInterop.ContentReady -= DxSelectBox_ContentReady;
        DevExpress.Ui.DxSelectBoxInterop.Disposing -= DxSelectBox_Disposing;
        DevExpress.Ui.DxSelectBoxInterop.OptionChanged -= DxSelectBox_OptionChanged;
        DevExpress.Ui.DxSelectBoxInterop.Initialized -= DxSelectBox_Initialized;
    }
}
