@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxSlideOutViewOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxSlideOutView() : base("DxSlideOutView") { }
	protected override DevExpress.Ui.DxSlideOutViewOptions CreateOptions() {
		return new DevExpress.Ui.DxSlideOutViewOptions {
			contentTemplate = contentTemplate,
			menuPosition = menuPosition,
			menuTemplate = menuTemplate,
			menuVisible = menuVisible,
			swipeEnabled = swipeEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.DxSlideOutViewOptions options) {
return 		DevExpress.Ui.DxSlideOutViewInterop.Init(dxTarget, options);
	}
	object contentTemplate;
	[Parameter]
	object ContentTemplate {
		get => isInitialized ? DevExpress.Ui.DxSlideOutViewInterop.GetContentTemplate(dxTarget).Result : contentTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutViewInterop.SetContentTemplate(dxTarget, value);
			} else {
				this.contentTemplate = value;
			}
		}
	}
	string menuPosition;
	[Parameter]
	string MenuPosition {
		get => isInitialized ? DevExpress.Ui.DxSlideOutViewInterop.GetMenuPosition(dxTarget).Result : menuPosition;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutViewInterop.SetMenuPosition(dxTarget, value);
			} else {
				this.menuPosition = value;
			}
		}
	}
	object menuTemplate;
	[Parameter]
	object MenuTemplate {
		get => isInitialized ? DevExpress.Ui.DxSlideOutViewInterop.GetMenuTemplate(dxTarget).Result : menuTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutViewInterop.SetMenuTemplate(dxTarget, value);
			} else {
				this.menuTemplate = value;
			}
		}
	}
	bool? menuVisible;
	[Parameter]
	bool? MenuVisible {
		get => isInitialized ? DevExpress.Ui.DxSlideOutViewInterop.GetMenuVisible(dxTarget).Result : menuVisible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutViewInterop.SetMenuVisible(dxTarget, value);
			} else {
				this.menuVisible = value;
			}
		}
	}
	bool? swipeEnabled;
	[Parameter]
	bool? SwipeEnabled {
		get => isInitialized ? DevExpress.Ui.DxSlideOutViewInterop.GetSwipeEnabled(dxTarget).Result : swipeEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutViewInterop.SetSwipeEnabled(dxTarget, value);
			} else {
				this.swipeEnabled = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public object Content() {
		return DevExpress.Ui.DxSlideOutViewInterop.Content(dxTarget).Result;
	}
	public object HideMenu() {
		return DevExpress.Ui.DxSlideOutViewInterop.HideMenu(dxTarget).Result;
	}
	public object MenuContent() {
		return DevExpress.Ui.DxSlideOutViewInterop.MenuContent(dxTarget).Result;
	}
	public object ShowMenu() {
		return DevExpress.Ui.DxSlideOutViewInterop.ShowMenu(dxTarget).Result;
	}
	public object ToggleMenuVisibility() {
		return DevExpress.Ui.DxSlideOutViewInterop.ToggleMenuVisibility(dxTarget).Result;
	}
	public void Dispose() {
	}
}
