@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxSliderOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxSlider() : base("DxSlider") { }
	protected override DevExpress.Ui.DxSliderOptions CreateOptions() {
		return new DevExpress.Ui.DxSliderOptions {
			value = value,
		};
	}
	protected override Task Init(DevExpress.Ui.DxSliderOptions options) {
return 		DevExpress.Ui.DxSliderInterop.Init(dxTarget, options);
	}
	float? value;
	[Parameter]
	float? Value {
		get => isInitialized ? DevExpress.Ui.DxSliderInterop.GetValue(dxTarget).Result : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSliderInterop.SetValue(dxTarget, value);
			} else {
				this.value = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
