@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxSlideOutViewOptions>

<div id="@Id"></div>

@functions {
	public DxSlideOutView() : base("DxSlideOutView") { }
	protected override DevExpress.Ui.DxSlideOutViewOptions CreateOptions() {
		return new DevExpress.Ui.DxSlideOutViewOptions {
			contentTemplate = contentTemplate,
			menuPosition = menuPosition,
			menuTemplate = menuTemplate,
			menuVisible = menuVisible,
			swipeEnabled = swipeEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxSlideOutViewOptions options) {
		DevExpress.Ui.DxSlideOutViewInterop.Init(Id, options);
	}
	object contentTemplate;
	public object ContentTemplate {
		get => isInitialized ? DevExpress.Ui.DxSlideOutViewInterop.GetContentTemplate(Id) : contentTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutViewInterop.SetContentTemplate(Id, value);
			} else {
				this.contentTemplate = value;
			}
		}
	}
	string menuPosition;
	public string MenuPosition {
		get => isInitialized ? DevExpress.Ui.DxSlideOutViewInterop.GetMenuPosition(Id) : menuPosition;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutViewInterop.SetMenuPosition(Id, value);
			} else {
				this.menuPosition = value;
			}
		}
	}
	object menuTemplate;
	public object MenuTemplate {
		get => isInitialized ? DevExpress.Ui.DxSlideOutViewInterop.GetMenuTemplate(Id) : menuTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutViewInterop.SetMenuTemplate(Id, value);
			} else {
				this.menuTemplate = value;
			}
		}
	}
	bool? menuVisible;
	public bool? MenuVisible {
		get => isInitialized ? DevExpress.Ui.DxSlideOutViewInterop.GetMenuVisible(Id) : menuVisible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutViewInterop.SetMenuVisible(Id, value);
			} else {
				this.menuVisible = value;
			}
		}
	}
	bool? swipeEnabled;
	public bool? SwipeEnabled {
		get => isInitialized ? DevExpress.Ui.DxSlideOutViewInterop.GetSwipeEnabled(Id) : swipeEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutViewInterop.SetSwipeEnabled(Id, value);
			} else {
				this.swipeEnabled = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public object Content() {
		return DevExpress.Ui.DxSlideOutViewInterop.Content(Id);
	}
	public object HideMenu() {
		return DevExpress.Ui.DxSlideOutViewInterop.HideMenu(Id);
	}
	public object MenuContent() {
		return DevExpress.Ui.DxSlideOutViewInterop.MenuContent(Id);
	}
	public object ShowMenu() {
		return DevExpress.Ui.DxSlideOutViewInterop.ShowMenu(Id);
	}
	public object ToggleMenuVisibility() {
		return DevExpress.Ui.DxSlideOutViewInterop.ToggleMenuVisibility(Id);
	}
	public void Dispose() {
	}
}
