@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxSlideOutOptions>

<div id="@Id"></div>

@functions {
	public DxSlideOut() : base("DxSlideOut") { }
	protected override DevExpress.Ui.DxSlideOutOptions CreateOptions() {
		return new DevExpress.Ui.DxSlideOutOptions {
			activeStateEnabled = activeStateEnabled,
			contentTemplate = contentTemplate,
			menuGrouped = menuGrouped,
			menuGroupTemplate = menuGroupTemplate,
			menuItemTemplate = menuItemTemplate,
			menuPosition = menuPosition,
			menuVisible = menuVisible,
			selectedIndex = selectedIndex,
			swipeEnabled = swipeEnabled,
			onMenuGroupRenderedEnabled = onMenuGroupRenderedEnabled,
			onMenuItemRenderedEnabled = onMenuItemRenderedEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxSlideOutOptions options) {
		DevExpress.Ui.DxSlideOutInterop.Init(Id, options);
	}
	bool? activeStateEnabled;
	public bool? ActiveStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxSlideOutInterop.GetActiveStateEnabled(Id) : activeStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutInterop.SetActiveStateEnabled(Id, value);
			} else {
				this.activeStateEnabled = value;
			}
		}
	}
	object contentTemplate;
	public object ContentTemplate {
		get => isInitialized ? DevExpress.Ui.DxSlideOutInterop.GetContentTemplate(Id) : contentTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutInterop.SetContentTemplate(Id, value);
			} else {
				this.contentTemplate = value;
			}
		}
	}
	bool? menuGrouped;
	public bool? MenuGrouped {
		get => isInitialized ? DevExpress.Ui.DxSlideOutInterop.GetMenuGrouped(Id) : menuGrouped;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutInterop.SetMenuGrouped(Id, value);
			} else {
				this.menuGrouped = value;
			}
		}
	}
	object menuGroupTemplate;
	public object MenuGroupTemplate {
		get => isInitialized ? DevExpress.Ui.DxSlideOutInterop.GetMenuGroupTemplate(Id) : menuGroupTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutInterop.SetMenuGroupTemplate(Id, value);
			} else {
				this.menuGroupTemplate = value;
			}
		}
	}
	object menuItemTemplate;
	public object MenuItemTemplate {
		get => isInitialized ? DevExpress.Ui.DxSlideOutInterop.GetMenuItemTemplate(Id) : menuItemTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutInterop.SetMenuItemTemplate(Id, value);
			} else {
				this.menuItemTemplate = value;
			}
		}
	}
	string menuPosition;
	public string MenuPosition {
		get => isInitialized ? DevExpress.Ui.DxSlideOutInterop.GetMenuPosition(Id) : menuPosition;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutInterop.SetMenuPosition(Id, value);
			} else {
				this.menuPosition = value;
			}
		}
	}
	bool? menuVisible;
	public bool? MenuVisible {
		get => isInitialized ? DevExpress.Ui.DxSlideOutInterop.GetMenuVisible(Id) : menuVisible;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutInterop.SetMenuVisible(Id, value);
			} else {
				this.menuVisible = value;
			}
		}
	}
	float? selectedIndex;
	public float? SelectedIndex {
		get => isInitialized ? DevExpress.Ui.DxSlideOutInterop.GetSelectedIndex(Id) : selectedIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutInterop.SetSelectedIndex(Id, value);
			} else {
				this.selectedIndex = value;
			}
		}
	}
	bool? swipeEnabled;
	public bool? SwipeEnabled {
		get => isInitialized ? DevExpress.Ui.DxSlideOutInterop.GetSwipeEnabled(Id) : swipeEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxSlideOutInterop.SetSwipeEnabled(Id, value);
			} else {
				this.swipeEnabled = value;
			}
		}
	}
	bool? onMenuGroupRenderedEnabled;
	public bool? OnMenuGroupRenderedEnabled {
		get => onMenuGroupRenderedEnabled;
		set => this.onMenuGroupRenderedEnabled = value;
	}
	bool? onMenuItemRenderedEnabled;
	public bool? OnMenuItemRenderedEnabled {
		get => onMenuItemRenderedEnabled;
		set => this.onMenuItemRenderedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxSlideOutInterop.MenuGroupRendered += DxSlideOut_MenuGroupRendered;
		DevExpress.Ui.DxSlideOutInterop.MenuItemRendered += DxSlideOut_MenuItemRendered;
	}
	public Action MenuGroupRendered { get; set; }
	void DxSlideOut_MenuGroupRendered(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			MenuGroupRendered?.Invoke();
		}
	}
	public Action MenuItemRendered { get; set; }
	void DxSlideOut_MenuItemRendered(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			MenuItemRendered?.Invoke();
		}
	}
	public object HideMenu() {
		return DevExpress.Ui.DxSlideOutInterop.HideMenu(Id);
	}
	public object ShowMenu() {
		return DevExpress.Ui.DxSlideOutInterop.ShowMenu(Id);
	}
	public object ToggleMenuVisibility(bool showing) {
		return DevExpress.Ui.DxSlideOutInterop.ToggleMenuVisibility(Id, showing);
	}
	public void Dispose() {
		DevExpress.Ui.DxSlideOutInterop.MenuGroupRendered -= DxSlideOut_MenuGroupRendered;
		DevExpress.Ui.DxSlideOutInterop.MenuItemRendered -= DxSlideOut_MenuItemRendered;
	}
}
