@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxTabPanelOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxTabPanel() : base("DxTabPanel") { }
	protected override DevExpress.Ui.DxTabPanelOptions CreateOptions() {
		return new DevExpress.Ui.DxTabPanelOptions {
			animationEnabled = animationEnabled,
			focusStateEnabled = focusStateEnabled,
			hoverStateEnabled = hoverStateEnabled,
			itemTitleTemplate = itemTitleTemplate,
			scrollByContent = scrollByContent,
			scrollingEnabled = scrollingEnabled,
			showNavButtons = showNavButtons,
			swipeEnabled = swipeEnabled,
			onTitleClickEnabled = onTitleClickEnabled,
			onTitleHoldEnabled = onTitleHoldEnabled,
			onTitleRenderedEnabled = onTitleRenderedEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxTabPanelOptions options) {
		DevExpress.Ui.DxTabPanelInterop.Init(dxTarget, options);
	}
	bool? animationEnabled;
	[Parameter]
	bool? AnimationEnabled {
		get => isInitialized ? DevExpress.Ui.DxTabPanelInterop.GetAnimationEnabled(dxTarget) : animationEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTabPanelInterop.SetAnimationEnabled(dxTarget, value);
			} else {
				this.animationEnabled = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter]
	bool? FocusStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxTabPanelInterop.GetFocusStateEnabled(dxTarget) : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTabPanelInterop.SetFocusStateEnabled(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter]
	bool? HoverStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxTabPanelInterop.GetHoverStateEnabled(dxTarget) : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTabPanelInterop.SetHoverStateEnabled(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	object itemTitleTemplate;
	[Parameter]
	object ItemTitleTemplate {
		get => isInitialized ? DevExpress.Ui.DxTabPanelInterop.GetItemTitleTemplate(dxTarget) : itemTitleTemplate;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTabPanelInterop.SetItemTitleTemplate(dxTarget, value);
			} else {
				this.itemTitleTemplate = value;
			}
		}
	}
	bool? scrollByContent;
	[Parameter]
	bool? ScrollByContent {
		get => isInitialized ? DevExpress.Ui.DxTabPanelInterop.GetScrollByContent(dxTarget) : scrollByContent;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTabPanelInterop.SetScrollByContent(dxTarget, value);
			} else {
				this.scrollByContent = value;
			}
		}
	}
	bool? scrollingEnabled;
	[Parameter]
	bool? ScrollingEnabled {
		get => isInitialized ? DevExpress.Ui.DxTabPanelInterop.GetScrollingEnabled(dxTarget) : scrollingEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTabPanelInterop.SetScrollingEnabled(dxTarget, value);
			} else {
				this.scrollingEnabled = value;
			}
		}
	}
	bool? showNavButtons;
	[Parameter]
	bool? ShowNavButtons {
		get => isInitialized ? DevExpress.Ui.DxTabPanelInterop.GetShowNavButtons(dxTarget) : showNavButtons;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTabPanelInterop.SetShowNavButtons(dxTarget, value);
			} else {
				this.showNavButtons = value;
			}
		}
	}
	bool? swipeEnabled;
	[Parameter]
	bool? SwipeEnabled {
		get => isInitialized ? DevExpress.Ui.DxTabPanelInterop.GetSwipeEnabled(dxTarget) : swipeEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTabPanelInterop.SetSwipeEnabled(dxTarget, value);
			} else {
				this.swipeEnabled = value;
			}
		}
	}
	bool? onTitleClickEnabled;
	[Parameter]
	bool? OnTitleClickEnabled {
		get => onTitleClickEnabled;
		set => this.onTitleClickEnabled = value;
	}
	bool? onTitleHoldEnabled;
	[Parameter]
	bool? OnTitleHoldEnabled {
		get => onTitleHoldEnabled;
		set => this.onTitleHoldEnabled = value;
	}
	bool? onTitleRenderedEnabled;
	[Parameter]
	bool? OnTitleRenderedEnabled {
		get => onTitleRenderedEnabled;
		set => this.onTitleRenderedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxTabPanelInterop.TitleClick += DxTabPanel_TitleClick;
		DevExpress.Ui.DxTabPanelInterop.TitleHold += DxTabPanel_TitleHold;
		DevExpress.Ui.DxTabPanelInterop.TitleRendered += DxTabPanel_TitleRendered;
	}
	[Parameter]
	Action TitleClick { get; set; }
	void DxTabPanel_TitleClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TitleClick?.Invoke();
		}
	}
	[Parameter]
	Action TitleHold { get; set; }
	void DxTabPanel_TitleHold(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TitleHold?.Invoke();
		}
	}
	[Parameter]
	Action TitleRendered { get; set; }
	void DxTabPanel_TitleRendered(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			TitleRendered?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Ui.DxTabPanelInterop.TitleClick -= DxTabPanel_TitleClick;
		DevExpress.Ui.DxTabPanelInterop.TitleHold -= DxTabPanel_TitleHold;
		DevExpress.Ui.DxTabPanelInterop.TitleRendered -= DxTabPanel_TitleRendered;
	}
}
