@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxTextBoxOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxTextBox() : base("DxTextBox") { }
	protected override DevExpress.Ui.DxTextBoxOptions CreateOptions() {
		return new DevExpress.Ui.DxTextBoxOptions {
			maxLength = maxLength,
			mode = mode,
			value = value,
		};
	}
	protected override Task Init(DevExpress.Ui.DxTextBoxOptions options) {
return 		DevExpress.Ui.DxTextBoxInterop.Init(dxTarget, options);
	}
	object maxLength;
	[Parameter]
	object MaxLength {
		get => isInitialized ? DevExpress.Ui.DxTextBoxInterop.GetMaxLength(dxTarget).Result : maxLength;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextBoxInterop.SetMaxLength(dxTarget, value);
			} else {
				this.maxLength = value;
			}
		}
	}
	string mode;
	[Parameter]
	string Mode {
		get => isInitialized ? DevExpress.Ui.DxTextBoxInterop.GetMode(dxTarget).Result : mode;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextBoxInterop.SetMode(dxTarget, value);
			} else {
				this.mode = value;
			}
		}
	}
	string value;
	[Parameter]
	string Value {
		get => isInitialized ? DevExpress.Ui.DxTextBoxInterop.GetValue(dxTarget).Result : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextBoxInterop.SetValue(dxTarget, value);
			} else {
				this.value = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
