@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxTextEditorOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxTextEditor() : base("DxTextEditor") { }
	protected override DevExpress.Ui.DxTextEditorOptions CreateOptions() {
		return new DevExpress.Ui.DxTextEditorOptions {
			focusStateEnabled = focusStateEnabled,
			hoverStateEnabled = hoverStateEnabled,
			inputAttr = inputAttr,
			mask = mask,
			maskChar = maskChar,
			maskInvalidMessage = maskInvalidMessage,
			maskRules = maskRules,
			name = name,
			placeholder = placeholder,
			showClearButton = showClearButton,
			showMaskMode = showMaskMode,
			spellcheck = spellcheck,
			text = text,
			useMaskedValue = useMaskedValue,
			value = value,
			valueChangeEvent = valueChangeEvent,
			onChangeEnabled = onChangeEnabled,
			onCopyEnabled = onCopyEnabled,
			onCutEnabled = onCutEnabled,
			onEnterKeyEnabled = onEnterKeyEnabled,
			onFocusInEnabled = onFocusInEnabled,
			onFocusOutEnabled = onFocusOutEnabled,
			onInputEnabled = onInputEnabled,
			onKeyDownEnabled = onKeyDownEnabled,
			onKeyPressEnabled = onKeyPressEnabled,
			onKeyUpEnabled = onKeyUpEnabled,
			onPasteEnabled = onPasteEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxTextEditorOptions options) {
		DevExpress.Ui.DxTextEditorInterop.Init(dxTarget, options);
	}
	bool? focusStateEnabled;
	[Parameter]
	bool? FocusStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetFocusStateEnabled(dxTarget) : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetFocusStateEnabled(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter]
	bool? HoverStateEnabled {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetHoverStateEnabled(dxTarget) : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetHoverStateEnabled(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	object inputAttr;
	[Parameter]
	object InputAttr {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetInputAttr(dxTarget) : inputAttr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetInputAttr(dxTarget, value);
			} else {
				this.inputAttr = value;
			}
		}
	}
	string mask;
	[Parameter]
	string Mask {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetMask(dxTarget) : mask;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetMask(dxTarget, value);
			} else {
				this.mask = value;
			}
		}
	}
	string maskChar;
	[Parameter]
	string MaskChar {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetMaskChar(dxTarget) : maskChar;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetMaskChar(dxTarget, value);
			} else {
				this.maskChar = value;
			}
		}
	}
	string maskInvalidMessage;
	[Parameter]
	string MaskInvalidMessage {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetMaskInvalidMessage(dxTarget) : maskInvalidMessage;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetMaskInvalidMessage(dxTarget, value);
			} else {
				this.maskInvalidMessage = value;
			}
		}
	}
	object maskRules;
	[Parameter]
	object MaskRules {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetMaskRules(dxTarget) : maskRules;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetMaskRules(dxTarget, value);
			} else {
				this.maskRules = value;
			}
		}
	}
	string name;
	[Parameter]
	string Name {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetName(dxTarget) : name;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetName(dxTarget, value);
			} else {
				this.name = value;
			}
		}
	}
	string placeholder;
	[Parameter]
	string Placeholder {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetPlaceholder(dxTarget) : placeholder;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetPlaceholder(dxTarget, value);
			} else {
				this.placeholder = value;
			}
		}
	}
	bool? showClearButton;
	[Parameter]
	bool? ShowClearButton {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetShowClearButton(dxTarget) : showClearButton;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetShowClearButton(dxTarget, value);
			} else {
				this.showClearButton = value;
			}
		}
	}
	string showMaskMode;
	[Parameter]
	string ShowMaskMode {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetShowMaskMode(dxTarget) : showMaskMode;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetShowMaskMode(dxTarget, value);
			} else {
				this.showMaskMode = value;
			}
		}
	}
	bool? spellcheck;
	[Parameter]
	bool? Spellcheck {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetSpellcheck(dxTarget) : spellcheck;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetSpellcheck(dxTarget, value);
			} else {
				this.spellcheck = value;
			}
		}
	}
	string text;
	[Parameter]
	string Text {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetText(dxTarget) : text;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetText(dxTarget, value);
			} else {
				this.text = value;
			}
		}
	}
	bool? useMaskedValue;
	[Parameter]
	bool? UseMaskedValue {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetUseMaskedValue(dxTarget) : useMaskedValue;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetUseMaskedValue(dxTarget, value);
			} else {
				this.useMaskedValue = value;
			}
		}
	}
	object value;
	[Parameter]
	object Value {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetValue(dxTarget) : value;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetValue(dxTarget, value);
			} else {
				this.value = value;
			}
		}
	}
	string valueChangeEvent;
	[Parameter]
	string ValueChangeEvent {
		get => isInitialized ? DevExpress.Ui.DxTextEditorInterop.GetValueChangeEvent(dxTarget) : valueChangeEvent;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTextEditorInterop.SetValueChangeEvent(dxTarget, value);
			} else {
				this.valueChangeEvent = value;
			}
		}
	}
	bool? onChangeEnabled;
	[Parameter]
	bool? OnChangeEnabled {
		get => onChangeEnabled;
		set => this.onChangeEnabled = value;
	}
	bool? onCopyEnabled;
	[Parameter]
	bool? OnCopyEnabled {
		get => onCopyEnabled;
		set => this.onCopyEnabled = value;
	}
	bool? onCutEnabled;
	[Parameter]
	bool? OnCutEnabled {
		get => onCutEnabled;
		set => this.onCutEnabled = value;
	}
	bool? onEnterKeyEnabled;
	[Parameter]
	bool? OnEnterKeyEnabled {
		get => onEnterKeyEnabled;
		set => this.onEnterKeyEnabled = value;
	}
	bool? onFocusInEnabled;
	[Parameter]
	bool? OnFocusInEnabled {
		get => onFocusInEnabled;
		set => this.onFocusInEnabled = value;
	}
	bool? onFocusOutEnabled;
	[Parameter]
	bool? OnFocusOutEnabled {
		get => onFocusOutEnabled;
		set => this.onFocusOutEnabled = value;
	}
	bool? onInputEnabled;
	[Parameter]
	bool? OnInputEnabled {
		get => onInputEnabled;
		set => this.onInputEnabled = value;
	}
	bool? onKeyDownEnabled;
	[Parameter]
	bool? OnKeyDownEnabled {
		get => onKeyDownEnabled;
		set => this.onKeyDownEnabled = value;
	}
	bool? onKeyPressEnabled;
	[Parameter]
	bool? OnKeyPressEnabled {
		get => onKeyPressEnabled;
		set => this.onKeyPressEnabled = value;
	}
	bool? onKeyUpEnabled;
	[Parameter]
	bool? OnKeyUpEnabled {
		get => onKeyUpEnabled;
		set => this.onKeyUpEnabled = value;
	}
	bool? onPasteEnabled;
	[Parameter]
	bool? OnPasteEnabled {
		get => onPasteEnabled;
		set => this.onPasteEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxTextEditorInterop.Change += DxTextEditor_Change;
		DevExpress.Ui.DxTextEditorInterop.Copy += DxTextEditor_Copy;
		DevExpress.Ui.DxTextEditorInterop.Cut += DxTextEditor_Cut;
		DevExpress.Ui.DxTextEditorInterop.EnterKey += DxTextEditor_EnterKey;
		DevExpress.Ui.DxTextEditorInterop.FocusIn += DxTextEditor_FocusIn;
		DevExpress.Ui.DxTextEditorInterop.FocusOut += DxTextEditor_FocusOut;
		DevExpress.Ui.DxTextEditorInterop.Input += DxTextEditor_Input;
		DevExpress.Ui.DxTextEditorInterop.KeyDown += DxTextEditor_KeyDown;
		DevExpress.Ui.DxTextEditorInterop.KeyPress += DxTextEditor_KeyPress;
		DevExpress.Ui.DxTextEditorInterop.KeyUp += DxTextEditor_KeyUp;
		DevExpress.Ui.DxTextEditorInterop.Paste += DxTextEditor_Paste;
	}
	[Parameter]
	Action Change { get; set; }
	void DxTextEditor_Change(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Change?.Invoke();
		}
	}
	[Parameter]
	Action Copy { get; set; }
	void DxTextEditor_Copy(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Copy?.Invoke();
		}
	}
	[Parameter]
	Action Cut { get; set; }
	void DxTextEditor_Cut(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Cut?.Invoke();
		}
	}
	[Parameter]
	Action EnterKey { get; set; }
	void DxTextEditor_EnterKey(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			EnterKey?.Invoke();
		}
	}
	[Parameter]
	Action FocusIn { get; set; }
	void DxTextEditor_FocusIn(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FocusIn?.Invoke();
		}
	}
	[Parameter]
	Action FocusOut { get; set; }
	void DxTextEditor_FocusOut(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FocusOut?.Invoke();
		}
	}
	[Parameter]
	Action Input { get; set; }
	void DxTextEditor_Input(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Input?.Invoke();
		}
	}
	[Parameter]
	Action KeyDown { get; set; }
	void DxTextEditor_KeyDown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			KeyDown?.Invoke();
		}
	}
	[Parameter]
	Action KeyPress { get; set; }
	void DxTextEditor_KeyPress(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			KeyPress?.Invoke();
		}
	}
	[Parameter]
	Action KeyUp { get; set; }
	void DxTextEditor_KeyUp(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			KeyUp?.Invoke();
		}
	}
	[Parameter]
	Action Paste { get; set; }
	void DxTextEditor_Paste(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Paste?.Invoke();
		}
	}
	public void Blur() {
		DevExpress.Ui.DxTextEditorInterop.Blur(dxTarget);
	}
	public void Focus() {
		DevExpress.Ui.DxTextEditorInterop.Focus(dxTarget);
	}
	public void Dispose() {
		DevExpress.Ui.DxTextEditorInterop.Change -= DxTextEditor_Change;
		DevExpress.Ui.DxTextEditorInterop.Copy -= DxTextEditor_Copy;
		DevExpress.Ui.DxTextEditorInterop.Cut -= DxTextEditor_Cut;
		DevExpress.Ui.DxTextEditorInterop.EnterKey -= DxTextEditor_EnterKey;
		DevExpress.Ui.DxTextEditorInterop.FocusIn -= DxTextEditor_FocusIn;
		DevExpress.Ui.DxTextEditorInterop.FocusOut -= DxTextEditor_FocusOut;
		DevExpress.Ui.DxTextEditorInterop.Input -= DxTextEditor_Input;
		DevExpress.Ui.DxTextEditorInterop.KeyDown -= DxTextEditor_KeyDown;
		DevExpress.Ui.DxTextEditorInterop.KeyPress -= DxTextEditor_KeyPress;
		DevExpress.Ui.DxTextEditorInterop.KeyUp -= DxTextEditor_KeyUp;
		DevExpress.Ui.DxTextEditorInterop.Paste -= DxTextEditor_Paste;
	}
}
