@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxTooltipOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxTooltip() : base("DxTooltip") { }
	protected override DevExpress.Ui.DxTooltipOptions CreateOptions() {
		return new DevExpress.Ui.DxTooltipOptions {
		};
	}
	protected override Task Init(DevExpress.Ui.DxTooltipOptions options) {
return 		DevExpress.Ui.DxTooltipInterop.Init(dxTarget, options);
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
