
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Viz.TreeMap.DxTreeMapOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxTreeMap() : base("DxTreeMap") { }
	protected override DevExpress.Viz.TreeMap.DxTreeMapOptions CreateOptions() {
		return new DevExpress.Viz.TreeMap.DxTreeMapOptions {
			childrenField = childrenField,
			colorField = colorField,
			colorizer = colorizer,
			dataSource = dataSource,
			group = group,
			hoverEnabled = hoverEnabled,
			idField = idField,
			interactWithGroup = interactWithGroup,
			labelField = labelField,
			layoutAlgorithm = layoutAlgorithm,
			layoutDirection = layoutDirection,
			maxDepth = maxDepth,
			parentField = parentField,
			resolveLabelOverflow = resolveLabelOverflow,
			selectionMode = selectionMode,
			tile = tile,
			tooltip = tooltip,
			valueField = valueField,
			export = export,
			loadingIndicator = loadingIndicator,
			margin = margin,
			pathModified = pathModified,
			redrawOnResize = redrawOnResize,
			rtlEnabled = rtlEnabled,
			size = size,
			theme = theme,
			title = title,
			bindingOptions = bindingOptions,
			elementAttr = elementAttr,
			height = height,
			width = width,
			onClickEnabled = onClickEnabled,
			onDrillEnabled = onDrillEnabled,
			onHoverChangedEnabled = onHoverChangedEnabled,
			onNodesInitializedEnabled = onNodesInitializedEnabled,
			onNodesRenderingEnabled = onNodesRenderingEnabled,
			onSelectionChangedEnabled = onSelectionChangedEnabled,
			onDrawnEnabled = onDrawnEnabled,
			onExportedEnabled = onExportedEnabled,
			onExportingEnabled = onExportingEnabled,
			onFileSavingEnabled = onFileSavingEnabled,
			onIncidentOccurredEnabled = onIncidentOccurredEnabled,
			onDisposingEnabled = onDisposingEnabled,
			onOptionChangedEnabled = onOptionChangedEnabled,
			onInitializedEnabled = onInitializedEnabled,
		};
	}
	protected override Task Init(DevExpress.Viz.TreeMap.DxTreeMapOptions options) {
		return DevExpress.Viz.DxTreeMapInterop.Init(dxTarget, options);
	}
	string childrenField;
	[Parameter]
	string ChildrenField {
		get => isInitialized ? (string)DevExpress.Viz.DxTreeMapInterop.GetChildrenField(dxTarget).Result : childrenField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetChildrenField(dxTarget, value);
			} else {
				this.childrenField = value;
			}
		}
	}
	string colorField;
	[Parameter]
	string ColorField {
		get => isInitialized ? (string)DevExpress.Viz.DxTreeMapInterop.GetColorField(dxTarget).Result : colorField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetColorField(dxTarget, value);
			} else {
				this.colorField = value;
			}
		}
	}
	object colorizer;
	[Parameter]
	object Colorizer {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetColorizer(dxTarget).Result : colorizer;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetColorizer(dxTarget, value);
			} else {
				this.colorizer = value;
			}
		}
	}
	object dataSource;
	[Parameter]
	object DataSource {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetDataSource(dxTarget).Result : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetDataSource(dxTarget, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	object group;
	[Parameter]
	object Group {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetGroup(dxTarget).Result : group;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetGroup(dxTarget, value);
			} else {
				this.group = value;
			}
		}
	}
	bool? hoverEnabled;
	[Parameter]
	bool? HoverEnabled {
		get => isInitialized ? (bool?)DevExpress.Viz.DxTreeMapInterop.GetHoverEnabled(dxTarget).Result : hoverEnabled;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetHoverEnabled(dxTarget, value);
			} else {
				this.hoverEnabled = value;
			}
		}
	}
	string idField;
	[Parameter]
	string IdField {
		get => isInitialized ? (string)DevExpress.Viz.DxTreeMapInterop.GetIdField(dxTarget).Result : idField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetIdField(dxTarget, value);
			} else {
				this.idField = value;
			}
		}
	}
	bool? interactWithGroup;
	[Parameter]
	bool? InteractWithGroup {
		get => isInitialized ? (bool?)DevExpress.Viz.DxTreeMapInterop.GetInteractWithGroup(dxTarget).Result : interactWithGroup;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetInteractWithGroup(dxTarget, value);
			} else {
				this.interactWithGroup = value;
			}
		}
	}
	string labelField;
	[Parameter]
	string LabelField {
		get => isInitialized ? (string)DevExpress.Viz.DxTreeMapInterop.GetLabelField(dxTarget).Result : labelField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetLabelField(dxTarget, value);
			} else {
				this.labelField = value;
			}
		}
	}
	object layoutAlgorithm;
	[Parameter]
	object LayoutAlgorithm {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetLayoutAlgorithm(dxTarget).Result : layoutAlgorithm;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetLayoutAlgorithm(dxTarget, value);
			} else {
				this.layoutAlgorithm = value;
			}
		}
	}
	string layoutDirection;
	[Parameter]
	string LayoutDirection {
		get => isInitialized ? (string)DevExpress.Viz.DxTreeMapInterop.GetLayoutDirection(dxTarget).Result : layoutDirection;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetLayoutDirection(dxTarget, value);
			} else {
				this.layoutDirection = value;
			}
		}
	}
	float? maxDepth;
	[Parameter]
	float? MaxDepth {
		get => isInitialized ? (float?)DevExpress.Viz.DxTreeMapInterop.GetMaxDepth(dxTarget).Result : maxDepth;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetMaxDepth(dxTarget, value);
			} else {
				this.maxDepth = value;
			}
		}
	}
	string parentField;
	[Parameter]
	string ParentField {
		get => isInitialized ? (string)DevExpress.Viz.DxTreeMapInterop.GetParentField(dxTarget).Result : parentField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetParentField(dxTarget, value);
			} else {
				this.parentField = value;
			}
		}
	}
	string resolveLabelOverflow;
	[Parameter]
	string ResolveLabelOverflow {
		get => isInitialized ? (string)DevExpress.Viz.DxTreeMapInterop.GetResolveLabelOverflow(dxTarget).Result : resolveLabelOverflow;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetResolveLabelOverflow(dxTarget, value);
			} else {
				this.resolveLabelOverflow = value;
			}
		}
	}
	string selectionMode;
	[Parameter]
	string SelectionMode {
		get => isInitialized ? (string)DevExpress.Viz.DxTreeMapInterop.GetSelectionMode(dxTarget).Result : selectionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetSelectionMode(dxTarget, value);
			} else {
				this.selectionMode = value;
			}
		}
	}
	object tile;
	[Parameter]
	object Tile {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetTile(dxTarget).Result : tile;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetTile(dxTarget, value);
			} else {
				this.tile = value;
			}
		}
	}
	object tooltip;
	[Parameter]
	object Tooltip {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetTooltip(dxTarget).Result : tooltip;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetTooltip(dxTarget, value);
			} else {
				this.tooltip = value;
			}
		}
	}
	string valueField;
	[Parameter]
	string ValueField {
		get => isInitialized ? (string)DevExpress.Viz.DxTreeMapInterop.GetValueField(dxTarget).Result : valueField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetValueField(dxTarget, value);
			} else {
				this.valueField = value;
			}
		}
	}
	object export;
	[Parameter]
	object Export {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetExport(dxTarget).Result : export;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetExport(dxTarget, value);
			} else {
				this.export = value;
			}
		}
	}
	object loadingIndicator;
	[Parameter]
	object LoadingIndicator {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetLoadingIndicator(dxTarget).Result : loadingIndicator;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetLoadingIndicator(dxTarget, value);
			} else {
				this.loadingIndicator = value;
			}
		}
	}
	object margin;
	[Parameter]
	object Margin {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetMargin(dxTarget).Result : margin;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetMargin(dxTarget, value);
			} else {
				this.margin = value;
			}
		}
	}
	bool? pathModified;
	[Parameter]
	bool? PathModified {
		get => isInitialized ? (bool?)DevExpress.Viz.DxTreeMapInterop.GetPathModified(dxTarget).Result : pathModified;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetPathModified(dxTarget, value);
			} else {
				this.pathModified = value;
			}
		}
	}
	bool? redrawOnResize;
	[Parameter]
	bool? RedrawOnResize {
		get => isInitialized ? (bool?)DevExpress.Viz.DxTreeMapInterop.GetRedrawOnResize(dxTarget).Result : redrawOnResize;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetRedrawOnResize(dxTarget, value);
			} else {
				this.redrawOnResize = value;
			}
		}
	}
	bool? rtlEnabled;
	[Parameter]
	bool? RtlEnabled {
		get => isInitialized ? (bool?)DevExpress.Viz.DxTreeMapInterop.GetRtlEnabled(dxTarget).Result : rtlEnabled;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetRtlEnabled(dxTarget, value);
			} else {
				this.rtlEnabled = value;
			}
		}
	}
	object size;
	[Parameter]
	object Size {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetSize(dxTarget).Result : size;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetSize(dxTarget, value);
			} else {
				this.size = value;
			}
		}
	}
	string theme;
	[Parameter]
	string Theme {
		get => isInitialized ? (string)DevExpress.Viz.DxTreeMapInterop.GetTheme(dxTarget).Result : theme;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetTheme(dxTarget, value);
			} else {
				this.theme = value;
			}
		}
	}
	object title;
	[Parameter]
	object Title {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetTitle(dxTarget).Result : title;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetTitle(dxTarget, value);
			} else {
				this.title = value;
			}
		}
	}
	object bindingOptions;
	[Parameter]
	object BindingOptions {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetBindingOptions(dxTarget).Result : bindingOptions;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetBindingOptions(dxTarget, value);
			} else {
				this.bindingOptions = value;
			}
		}
	}
	object elementAttr;
	[Parameter]
	object ElementAttr {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetElementAttr(dxTarget).Result : elementAttr;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetElementAttr(dxTarget, value);
			} else {
				this.elementAttr = value;
			}
		}
	}
	object height;
	[Parameter]
	object Height {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetHeight(dxTarget).Result : height;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetHeight(dxTarget, value);
			} else {
				this.height = value;
			}
		}
	}
	object width;
	[Parameter]
	object Width {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetWidth(dxTarget).Result : width;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetWidth(dxTarget, value);
			} else {
				this.width = value;
			}
		}
	}
	bool? onClickEnabled;
	[Parameter]
	bool? OnClickEnabled {
		get => onClickEnabled;
		set => this.onClickEnabled = value;
	}
	bool? onDrillEnabled;
	[Parameter]
	bool? OnDrillEnabled {
		get => onDrillEnabled;
		set => this.onDrillEnabled = value;
	}
	bool? onHoverChangedEnabled;
	[Parameter]
	bool? OnHoverChangedEnabled {
		get => onHoverChangedEnabled;
		set => this.onHoverChangedEnabled = value;
	}
	bool? onNodesInitializedEnabled;
	[Parameter]
	bool? OnNodesInitializedEnabled {
		get => onNodesInitializedEnabled;
		set => this.onNodesInitializedEnabled = value;
	}
	bool? onNodesRenderingEnabled;
	[Parameter]
	bool? OnNodesRenderingEnabled {
		get => onNodesRenderingEnabled;
		set => this.onNodesRenderingEnabled = value;
	}
	bool? onSelectionChangedEnabled;
	[Parameter]
	bool? OnSelectionChangedEnabled {
		get => onSelectionChangedEnabled;
		set => this.onSelectionChangedEnabled = value;
	}
	bool? onDrawnEnabled;
	[Parameter]
	bool? OnDrawnEnabled {
		get => onDrawnEnabled;
		set => this.onDrawnEnabled = value;
	}
	bool? onExportedEnabled;
	[Parameter]
	bool? OnExportedEnabled {
		get => onExportedEnabled;
		set => this.onExportedEnabled = value;
	}
	bool? onExportingEnabled;
	[Parameter]
	bool? OnExportingEnabled {
		get => onExportingEnabled;
		set => this.onExportingEnabled = value;
	}
	bool? onFileSavingEnabled;
	[Parameter]
	bool? OnFileSavingEnabled {
		get => onFileSavingEnabled;
		set => this.onFileSavingEnabled = value;
	}
	bool? onIncidentOccurredEnabled;
	[Parameter]
	bool? OnIncidentOccurredEnabled {
		get => onIncidentOccurredEnabled;
		set => this.onIncidentOccurredEnabled = value;
	}
	bool? onDisposingEnabled;
	[Parameter]
	bool? OnDisposingEnabled {
		get => onDisposingEnabled;
		set => this.onDisposingEnabled = value;
	}
	bool? onOptionChangedEnabled;
	[Parameter]
	bool? OnOptionChangedEnabled {
		get => onOptionChangedEnabled;
		set => this.onOptionChangedEnabled = value;
	}
	bool? onInitializedEnabled;
	[Parameter]
	bool? OnInitializedEnabled {
		get => onInitializedEnabled;
		set => this.onInitializedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Viz.DxTreeMapInterop.Click += DxTreeMap_Click;
		DevExpress.Viz.DxTreeMapInterop.Drill += DxTreeMap_Drill;
		DevExpress.Viz.DxTreeMapInterop.HoverChanged += DxTreeMap_HoverChanged;
		DevExpress.Viz.DxTreeMapInterop.NodesInitialized += DxTreeMap_NodesInitialized;
		DevExpress.Viz.DxTreeMapInterop.NodesRendering += DxTreeMap_NodesRendering;
		DevExpress.Viz.DxTreeMapInterop.SelectionChanged += DxTreeMap_SelectionChanged;
		DevExpress.Viz.DxTreeMapInterop.Drawn += DxTreeMap_Drawn;
		DevExpress.Viz.DxTreeMapInterop.Exported += DxTreeMap_Exported;
		DevExpress.Viz.DxTreeMapInterop.Exporting += DxTreeMap_Exporting;
		DevExpress.Viz.DxTreeMapInterop.FileSaving += DxTreeMap_FileSaving;
		DevExpress.Viz.DxTreeMapInterop.IncidentOccurred += DxTreeMap_IncidentOccurred;
		DevExpress.Viz.DxTreeMapInterop.Disposing += DxTreeMap_Disposing;
		DevExpress.Viz.DxTreeMapInterop.OptionChanged += DxTreeMap_OptionChanged;
		DevExpress.Viz.DxTreeMapInterop.Initialized += DxTreeMap_Initialized;
	}
	[Parameter]
	Action Click { get; set; }
	void DxTreeMap_Click(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Click?.Invoke();
		}
	}
	[Parameter]
	Action Drill { get; set; }
	void DxTreeMap_Drill(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Drill?.Invoke();
		}
	}
	[Parameter]
	Action HoverChanged { get; set; }
	void DxTreeMap_HoverChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			HoverChanged?.Invoke();
		}
	}
	[Parameter]
	Action NodesInitialized { get; set; }
	void DxTreeMap_NodesInitialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			NodesInitialized?.Invoke();
		}
	}
	[Parameter]
	Action NodesRendering { get; set; }
	void DxTreeMap_NodesRendering(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			NodesRendering?.Invoke();
		}
	}
	[Parameter]
	Action SelectionChanged { get; set; }
	void DxTreeMap_SelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SelectionChanged?.Invoke();
		}
	}
	[Parameter]
	Action Drawn { get; set; }
	void DxTreeMap_Drawn(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Drawn?.Invoke();
		}
	}
	[Parameter]
	Action Exported { get; set; }
	void DxTreeMap_Exported(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exported?.Invoke();
		}
	}
	[Parameter]
	Action Exporting { get; set; }
	void DxTreeMap_Exporting(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Exporting?.Invoke();
		}
	}
	[Parameter]
	Action FileSaving { get; set; }
	void DxTreeMap_FileSaving(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			FileSaving?.Invoke();
		}
	}
	[Parameter]
	Action IncidentOccurred { get; set; }
	void DxTreeMap_IncidentOccurred(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			IncidentOccurred?.Invoke();
		}
	}
	[Parameter]
	Action Disposing { get; set; }
	void DxTreeMap_Disposing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Disposing?.Invoke();
		}
	}
	[Parameter]
	Action OptionChanged { get; set; }
	void DxTreeMap_OptionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			OptionChanged?.Invoke();
		}
	}
	[Parameter]
	Action Initialized { get; set; }
	void DxTreeMap_Initialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Initialized?.Invoke();
		}
	}
	public void ClearSelection() {
		DevExpress.Viz.DxTreeMapInterop.ClearSelection(dxTarget);
	}
	public void DrillUp() {
		DevExpress.Viz.DxTreeMapInterop.DrillUp(dxTarget);
	}
	public object GetCurrentNode() {
		return DevExpress.Viz.DxTreeMapInterop.GetCurrentNode(dxTarget).Result;
	}
	public object GetDataSourceEx() {
		return DevExpress.Viz.DxTreeMapInterop.GetDataSourceEx(dxTarget).Result;
	}
	public object GetRootNode() {
		return DevExpress.Viz.DxTreeMapInterop.GetRootNode(dxTarget).Result;
	}
	public void HideTooltip() {
		DevExpress.Viz.DxTreeMapInterop.HideTooltip(dxTarget);
	}
	public void ResetDrillDown() {
		DevExpress.Viz.DxTreeMapInterop.ResetDrillDown(dxTarget);
	}
	public void Dispose() {
		DevExpress.Viz.DxTreeMapInterop.Click -= DxTreeMap_Click;
		DevExpress.Viz.DxTreeMapInterop.Drill -= DxTreeMap_Drill;
		DevExpress.Viz.DxTreeMapInterop.HoverChanged -= DxTreeMap_HoverChanged;
		DevExpress.Viz.DxTreeMapInterop.NodesInitialized -= DxTreeMap_NodesInitialized;
		DevExpress.Viz.DxTreeMapInterop.NodesRendering -= DxTreeMap_NodesRendering;
		DevExpress.Viz.DxTreeMapInterop.SelectionChanged -= DxTreeMap_SelectionChanged;
		DevExpress.Viz.DxTreeMapInterop.Drawn -= DxTreeMap_Drawn;
		DevExpress.Viz.DxTreeMapInterop.Exported -= DxTreeMap_Exported;
		DevExpress.Viz.DxTreeMapInterop.Exporting -= DxTreeMap_Exporting;
		DevExpress.Viz.DxTreeMapInterop.FileSaving -= DxTreeMap_FileSaving;
		DevExpress.Viz.DxTreeMapInterop.IncidentOccurred -= DxTreeMap_IncidentOccurred;
		DevExpress.Viz.DxTreeMapInterop.Disposing -= DxTreeMap_Disposing;
		DevExpress.Viz.DxTreeMapInterop.OptionChanged -= DxTreeMap_OptionChanged;
		DevExpress.Viz.DxTreeMapInterop.Initialized -= DxTreeMap_Initialized;
	}
}
