@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxTreeViewOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxTreeView() : base("DxTreeView") { }
	protected override DevExpress.Ui.DxTreeViewOptions CreateOptions() {
		return new DevExpress.Ui.DxTreeViewOptions {
			animationEnabled = animationEnabled,
			createChildren = createChildren,
			dataStructure = dataStructure,
			expandAllEnabled = expandAllEnabled,
			expandedExpr = expandedExpr,
			expandNodesRecursive = expandNodesRecursive,
			hasItemsExpr = hasItemsExpr,
			items = items,
			parentIdExpr = parentIdExpr,
			rootValue = rootValue,
			scrollDirection = scrollDirection,
			selectAllText = selectAllText,
			selectByClick = selectByClick,
			selectionMode = selectionMode,
			selectNodesRecursive = selectNodesRecursive,
			showCheckBoxesMode = showCheckBoxesMode,
			virtualModeEnabled = virtualModeEnabled,
			onItemClickEnabled = onItemClickEnabled,
			onItemCollapsedEnabled = onItemCollapsedEnabled,
			onItemContextMenuEnabled = onItemContextMenuEnabled,
			onItemExpandedEnabled = onItemExpandedEnabled,
			onItemHoldEnabled = onItemHoldEnabled,
			onItemRenderedEnabled = onItemRenderedEnabled,
			onItemSelectionChangedEnabled = onItemSelectionChangedEnabled,
			onSelectionChangedEnabled = onSelectionChangedEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.DxTreeViewOptions options) {
return 		DevExpress.Ui.DxTreeViewInterop.Init(dxTarget, options);
	}
	bool? animationEnabled;
	[Parameter]
	bool? AnimationEnabled {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetAnimationEnabled(dxTarget).Result : animationEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetAnimationEnabled(dxTarget, value);
			} else {
				this.animationEnabled = value;
			}
		}
	}
	object createChildren;
	[Parameter]
	object CreateChildren {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetCreateChildren(dxTarget).Result : createChildren;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetCreateChildren(dxTarget, value);
			} else {
				this.createChildren = value;
			}
		}
	}
	string dataStructure;
	[Parameter]
	string DataStructure {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetDataStructure(dxTarget).Result : dataStructure;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetDataStructure(dxTarget, value);
			} else {
				this.dataStructure = value;
			}
		}
	}
	bool? expandAllEnabled;
	[Parameter]
	bool? ExpandAllEnabled {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetExpandAllEnabled(dxTarget).Result : expandAllEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetExpandAllEnabled(dxTarget, value);
			} else {
				this.expandAllEnabled = value;
			}
		}
	}
	object expandedExpr;
	[Parameter]
	object ExpandedExpr {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetExpandedExpr(dxTarget).Result : expandedExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetExpandedExpr(dxTarget, value);
			} else {
				this.expandedExpr = value;
			}
		}
	}
	bool? expandNodesRecursive;
	[Parameter]
	bool? ExpandNodesRecursive {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetExpandNodesRecursive(dxTarget).Result : expandNodesRecursive;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetExpandNodesRecursive(dxTarget, value);
			} else {
				this.expandNodesRecursive = value;
			}
		}
	}
	object hasItemsExpr;
	[Parameter]
	object HasItemsExpr {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetHasItemsExpr(dxTarget).Result : hasItemsExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetHasItemsExpr(dxTarget, value);
			} else {
				this.hasItemsExpr = value;
			}
		}
	}
	object items;
	[Parameter]
	object Items {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetItems(dxTarget).Result : items;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetItems(dxTarget, value);
			} else {
				this.items = value;
			}
		}
	}
	object parentIdExpr;
	[Parameter]
	object ParentIdExpr {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetParentIdExpr(dxTarget).Result : parentIdExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetParentIdExpr(dxTarget, value);
			} else {
				this.parentIdExpr = value;
			}
		}
	}
	object rootValue;
	[Parameter]
	object RootValue {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetRootValue(dxTarget).Result : rootValue;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetRootValue(dxTarget, value);
			} else {
				this.rootValue = value;
			}
		}
	}
	string scrollDirection;
	[Parameter]
	string ScrollDirection {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetScrollDirection(dxTarget).Result : scrollDirection;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetScrollDirection(dxTarget, value);
			} else {
				this.scrollDirection = value;
			}
		}
	}
	string selectAllText;
	[Parameter]
	string SelectAllText {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetSelectAllText(dxTarget).Result : selectAllText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetSelectAllText(dxTarget, value);
			} else {
				this.selectAllText = value;
			}
		}
	}
	bool? selectByClick;
	[Parameter]
	bool? SelectByClick {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetSelectByClick(dxTarget).Result : selectByClick;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetSelectByClick(dxTarget, value);
			} else {
				this.selectByClick = value;
			}
		}
	}
	string selectionMode;
	[Parameter]
	string SelectionMode {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetSelectionMode(dxTarget).Result : selectionMode;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetSelectionMode(dxTarget, value);
			} else {
				this.selectionMode = value;
			}
		}
	}
	bool? selectNodesRecursive;
	[Parameter]
	bool? SelectNodesRecursive {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetSelectNodesRecursive(dxTarget).Result : selectNodesRecursive;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetSelectNodesRecursive(dxTarget, value);
			} else {
				this.selectNodesRecursive = value;
			}
		}
	}
	string showCheckBoxesMode;
	[Parameter]
	string ShowCheckBoxesMode {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetShowCheckBoxesMode(dxTarget).Result : showCheckBoxesMode;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetShowCheckBoxesMode(dxTarget, value);
			} else {
				this.showCheckBoxesMode = value;
			}
		}
	}
	bool? virtualModeEnabled;
	[Parameter]
	bool? VirtualModeEnabled {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetVirtualModeEnabled(dxTarget).Result : virtualModeEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetVirtualModeEnabled(dxTarget, value);
			} else {
				this.virtualModeEnabled = value;
			}
		}
	}
	bool? onItemClickEnabled;
	[Parameter]
	bool? OnItemClickEnabled {
		get => onItemClickEnabled;
		set => this.onItemClickEnabled = value;
	}
	bool? onItemCollapsedEnabled;
	[Parameter]
	bool? OnItemCollapsedEnabled {
		get => onItemCollapsedEnabled;
		set => this.onItemCollapsedEnabled = value;
	}
	bool? onItemContextMenuEnabled;
	[Parameter]
	bool? OnItemContextMenuEnabled {
		get => onItemContextMenuEnabled;
		set => this.onItemContextMenuEnabled = value;
	}
	bool? onItemExpandedEnabled;
	[Parameter]
	bool? OnItemExpandedEnabled {
		get => onItemExpandedEnabled;
		set => this.onItemExpandedEnabled = value;
	}
	bool? onItemHoldEnabled;
	[Parameter]
	bool? OnItemHoldEnabled {
		get => onItemHoldEnabled;
		set => this.onItemHoldEnabled = value;
	}
	bool? onItemRenderedEnabled;
	[Parameter]
	bool? OnItemRenderedEnabled {
		get => onItemRenderedEnabled;
		set => this.onItemRenderedEnabled = value;
	}
	bool? onItemSelectionChangedEnabled;
	[Parameter]
	bool? OnItemSelectionChangedEnabled {
		get => onItemSelectionChangedEnabled;
		set => this.onItemSelectionChangedEnabled = value;
	}
	bool? onSelectionChangedEnabled;
	[Parameter]
	bool? OnSelectionChangedEnabled {
		get => onSelectionChangedEnabled;
		set => this.onSelectionChangedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxTreeViewInterop.ItemClick += DxTreeView_ItemClick;
		DevExpress.Ui.DxTreeViewInterop.ItemCollapsed += DxTreeView_ItemCollapsed;
		DevExpress.Ui.DxTreeViewInterop.ItemContextMenu += DxTreeView_ItemContextMenu;
		DevExpress.Ui.DxTreeViewInterop.ItemExpanded += DxTreeView_ItemExpanded;
		DevExpress.Ui.DxTreeViewInterop.ItemHold += DxTreeView_ItemHold;
		DevExpress.Ui.DxTreeViewInterop.ItemRendered += DxTreeView_ItemRendered;
		DevExpress.Ui.DxTreeViewInterop.ItemSelectionChanged += DxTreeView_ItemSelectionChanged;
		DevExpress.Ui.DxTreeViewInterop.SelectionChanged += DxTreeView_SelectionChanged;
	}
	[Parameter]
	Action ItemClick { get; set; }
	void DxTreeView_ItemClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemClick?.Invoke();
		}
	}
	[Parameter]
	Action ItemCollapsed { get; set; }
	void DxTreeView_ItemCollapsed(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemCollapsed?.Invoke();
		}
	}
	[Parameter]
	Action ItemContextMenu { get; set; }
	void DxTreeView_ItemContextMenu(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemContextMenu?.Invoke();
		}
	}
	[Parameter]
	Action ItemExpanded { get; set; }
	void DxTreeView_ItemExpanded(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemExpanded?.Invoke();
		}
	}
	[Parameter]
	Action ItemHold { get; set; }
	void DxTreeView_ItemHold(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemHold?.Invoke();
		}
	}
	[Parameter]
	Action ItemRendered { get; set; }
	void DxTreeView_ItemRendered(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemRendered?.Invoke();
		}
	}
	[Parameter]
	Action ItemSelectionChanged { get; set; }
	void DxTreeView_ItemSelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemSelectionChanged?.Invoke();
		}
	}
	[Parameter]
	Action SelectionChanged { get; set; }
	void DxTreeView_SelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SelectionChanged?.Invoke();
		}
	}
	public void CollapseItem(object itemData) {
		DevExpress.Ui.DxTreeViewInterop.CollapseItem(dxTarget, itemData);
	}
	public void ExpandItem(object itemData) {
		DevExpress.Ui.DxTreeViewInterop.ExpandItem(dxTarget, itemData);
	}
	public object GetNodes() {
		return DevExpress.Ui.DxTreeViewInterop.GetNodes(dxTarget).Result;
	}
	public void SelectAll() {
		DevExpress.Ui.DxTreeViewInterop.SelectAll(dxTarget);
	}
	public void SelectItem(object itemData) {
		DevExpress.Ui.DxTreeViewInterop.SelectItem(dxTarget, itemData);
	}
	public void UnselectAll() {
		DevExpress.Ui.DxTreeViewInterop.UnselectAll(dxTarget);
	}
	public void UnselectItem(object itemData) {
		DevExpress.Ui.DxTreeViewInterop.UnselectItem(dxTarget, itemData);
	}
	public object UpdateDimensions() {
		return DevExpress.Ui.DxTreeViewInterop.UpdateDimensions(dxTarget).Result;
	}
	public void Dispose() {
		DevExpress.Ui.DxTreeViewInterop.ItemClick -= DxTreeView_ItemClick;
		DevExpress.Ui.DxTreeViewInterop.ItemCollapsed -= DxTreeView_ItemCollapsed;
		DevExpress.Ui.DxTreeViewInterop.ItemContextMenu -= DxTreeView_ItemContextMenu;
		DevExpress.Ui.DxTreeViewInterop.ItemExpanded -= DxTreeView_ItemExpanded;
		DevExpress.Ui.DxTreeViewInterop.ItemHold -= DxTreeView_ItemHold;
		DevExpress.Ui.DxTreeViewInterop.ItemRendered -= DxTreeView_ItemRendered;
		DevExpress.Ui.DxTreeViewInterop.ItemSelectionChanged -= DxTreeView_ItemSelectionChanged;
		DevExpress.Ui.DxTreeViewInterop.SelectionChanged -= DxTreeView_SelectionChanged;
	}
}
