@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Viz.TreeMap.DxTreeMapOptions>

<div id="@Id"></div>

@functions {
	public DxTreeMap() : base("DxTreeMap") { }
	protected override DevExpress.Viz.TreeMap.DxTreeMapOptions CreateOptions() {
		return new DevExpress.Viz.TreeMap.DxTreeMapOptions {
			childrenField = childrenField,
			colorField = colorField,
			colorizer = colorizer,
			dataSource = dataSource,
			group = group,
			hoverEnabled = hoverEnabled,
			idField = idField,
			interactWithGroup = interactWithGroup,
			labelField = labelField,
			layoutAlgorithm = layoutAlgorithm,
			layoutDirection = layoutDirection,
			maxDepth = maxDepth,
			parentField = parentField,
			resolveLabelOverflow = resolveLabelOverflow,
			selectionMode = selectionMode,
			tile = tile,
			tooltip = tooltip,
			valueField = valueField,
			onClickEnabled = onClickEnabled,
			onDrillEnabled = onDrillEnabled,
			onHoverChangedEnabled = onHoverChangedEnabled,
			onNodesInitializedEnabled = onNodesInitializedEnabled,
			onNodesRenderingEnabled = onNodesRenderingEnabled,
			onSelectionChangedEnabled = onSelectionChangedEnabled,
		};
	}
	protected override void Init(DevExpress.Viz.TreeMap.DxTreeMapOptions options) {
		DevExpress.Viz.DxTreeMapInterop.Init(Id, options);
	}
	string childrenField;
	public string ChildrenField {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetChildrenField(Id) : childrenField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetChildrenField(Id, value);
			} else {
				this.childrenField = value;
			}
		}
	}
	string colorField;
	public string ColorField {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetColorField(Id) : colorField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetColorField(Id, value);
			} else {
				this.colorField = value;
			}
		}
	}
	object colorizer;
	public object Colorizer {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetColorizer(Id) : colorizer;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetColorizer(Id, value);
			} else {
				this.colorizer = value;
			}
		}
	}
	object dataSource;
	public object DataSource {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetDataSource(Id) : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetDataSource(Id, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	object group;
	public object Group {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetGroup(Id) : group;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetGroup(Id, value);
			} else {
				this.group = value;
			}
		}
	}
	bool? hoverEnabled;
	public bool? HoverEnabled {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetHoverEnabled(Id) : hoverEnabled;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetHoverEnabled(Id, value);
			} else {
				this.hoverEnabled = value;
			}
		}
	}
	string idField;
	public string IdField {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetIdField(Id) : idField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetIdField(Id, value);
			} else {
				this.idField = value;
			}
		}
	}
	bool? interactWithGroup;
	public bool? InteractWithGroup {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetInteractWithGroup(Id) : interactWithGroup;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetInteractWithGroup(Id, value);
			} else {
				this.interactWithGroup = value;
			}
		}
	}
	string labelField;
	public string LabelField {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetLabelField(Id) : labelField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetLabelField(Id, value);
			} else {
				this.labelField = value;
			}
		}
	}
	object layoutAlgorithm;
	public object LayoutAlgorithm {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetLayoutAlgorithm(Id) : layoutAlgorithm;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetLayoutAlgorithm(Id, value);
			} else {
				this.layoutAlgorithm = value;
			}
		}
	}
	string layoutDirection;
	public string LayoutDirection {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetLayoutDirection(Id) : layoutDirection;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetLayoutDirection(Id, value);
			} else {
				this.layoutDirection = value;
			}
		}
	}
	float? maxDepth;
	public float? MaxDepth {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetMaxDepth(Id) : maxDepth;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetMaxDepth(Id, value);
			} else {
				this.maxDepth = value;
			}
		}
	}
	string parentField;
	public string ParentField {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetParentField(Id) : parentField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetParentField(Id, value);
			} else {
				this.parentField = value;
			}
		}
	}
	string resolveLabelOverflow;
	public string ResolveLabelOverflow {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetResolveLabelOverflow(Id) : resolveLabelOverflow;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetResolveLabelOverflow(Id, value);
			} else {
				this.resolveLabelOverflow = value;
			}
		}
	}
	string selectionMode;
	public string SelectionMode {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetSelectionMode(Id) : selectionMode;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetSelectionMode(Id, value);
			} else {
				this.selectionMode = value;
			}
		}
	}
	object tile;
	public object Tile {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetTile(Id) : tile;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetTile(Id, value);
			} else {
				this.tile = value;
			}
		}
	}
	object tooltip;
	public object Tooltip {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetTooltip(Id) : tooltip;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetTooltip(Id, value);
			} else {
				this.tooltip = value;
			}
		}
	}
	string valueField;
	public string ValueField {
		get => isInitialized ? DevExpress.Viz.DxTreeMapInterop.GetValueField(Id) : valueField;
		set {
			if (isInitialized) {
				DevExpress.Viz.DxTreeMapInterop.SetValueField(Id, value);
			} else {
				this.valueField = value;
			}
		}
	}
	bool? onClickEnabled;
	public bool? OnClickEnabled {
		get => onClickEnabled;
		set => this.onClickEnabled = value;
	}
	bool? onDrillEnabled;
	public bool? OnDrillEnabled {
		get => onDrillEnabled;
		set => this.onDrillEnabled = value;
	}
	bool? onHoverChangedEnabled;
	public bool? OnHoverChangedEnabled {
		get => onHoverChangedEnabled;
		set => this.onHoverChangedEnabled = value;
	}
	bool? onNodesInitializedEnabled;
	public bool? OnNodesInitializedEnabled {
		get => onNodesInitializedEnabled;
		set => this.onNodesInitializedEnabled = value;
	}
	bool? onNodesRenderingEnabled;
	public bool? OnNodesRenderingEnabled {
		get => onNodesRenderingEnabled;
		set => this.onNodesRenderingEnabled = value;
	}
	bool? onSelectionChangedEnabled;
	public bool? OnSelectionChangedEnabled {
		get => onSelectionChangedEnabled;
		set => this.onSelectionChangedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Viz.DxTreeMapInterop.Click += DxTreeMap_Click;
		DevExpress.Viz.DxTreeMapInterop.Drill += DxTreeMap_Drill;
		DevExpress.Viz.DxTreeMapInterop.HoverChanged += DxTreeMap_HoverChanged;
		DevExpress.Viz.DxTreeMapInterop.NodesInitialized += DxTreeMap_NodesInitialized;
		DevExpress.Viz.DxTreeMapInterop.NodesRendering += DxTreeMap_NodesRendering;
		DevExpress.Viz.DxTreeMapInterop.SelectionChanged += DxTreeMap_SelectionChanged;
	}
	public Action Click { get; set; }
	void DxTreeMap_Click(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Click?.Invoke();
		}
	}
	public Action Drill { get; set; }
	void DxTreeMap_Drill(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Drill?.Invoke();
		}
	}
	public Action HoverChanged { get; set; }
	void DxTreeMap_HoverChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			HoverChanged?.Invoke();
		}
	}
	public Action NodesInitialized { get; set; }
	void DxTreeMap_NodesInitialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			NodesInitialized?.Invoke();
		}
	}
	public Action NodesRendering { get; set; }
	void DxTreeMap_NodesRendering(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			NodesRendering?.Invoke();
		}
	}
	public Action SelectionChanged { get; set; }
	void DxTreeMap_SelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SelectionChanged?.Invoke();
		}
	}
	public void ClearSelection() {
		DevExpress.Viz.DxTreeMapInterop.ClearSelection(Id);
	}
	public void DrillUp() {
		DevExpress.Viz.DxTreeMapInterop.DrillUp(Id);
	}
	public object GetCurrentNode() {
		return DevExpress.Viz.DxTreeMapInterop.GetCurrentNode(Id);
	}
	public object GetDataSourceEx() {
		return DevExpress.Viz.DxTreeMapInterop.GetDataSourceEx(Id);
	}
	public object GetRootNode() {
		return DevExpress.Viz.DxTreeMapInterop.GetRootNode(Id);
	}
	public void HideTooltip() {
		DevExpress.Viz.DxTreeMapInterop.HideTooltip(Id);
	}
	public void ResetDrillDown() {
		DevExpress.Viz.DxTreeMapInterop.ResetDrillDown(Id);
	}
	public void Dispose() {
		DevExpress.Viz.DxTreeMapInterop.Click -= DxTreeMap_Click;
		DevExpress.Viz.DxTreeMapInterop.Drill -= DxTreeMap_Drill;
		DevExpress.Viz.DxTreeMapInterop.HoverChanged -= DxTreeMap_HoverChanged;
		DevExpress.Viz.DxTreeMapInterop.NodesInitialized -= DxTreeMap_NodesInitialized;
		DevExpress.Viz.DxTreeMapInterop.NodesRendering -= DxTreeMap_NodesRendering;
		DevExpress.Viz.DxTreeMapInterop.SelectionChanged -= DxTreeMap_SelectionChanged;
	}
}
