@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxTreeListOptions>

<div id="@Id"></div>

@functions {
	public DxTreeList() : base("DxTreeList") { }
	protected override DevExpress.Ui.DxTreeListOptions CreateOptions() {
		return new DevExpress.Ui.DxTreeListOptions {
			autoExpandAll = autoExpandAll,
			columns = columns,
			customizeColumns = customizeColumns,
			dataStructure = dataStructure,
			editing = editing,
			expandedRowKeys = expandedRowKeys,
			expandNodesOnFiltering = expandNodesOnFiltering,
			hasItemsExpr = hasItemsExpr,
			itemsExpr = itemsExpr,
			keyExpr = keyExpr,
			paging = paging,
			parentIdExpr = parentIdExpr,
			remoteOperations = remoteOperations,
			rootValue = rootValue,
			scrolling = scrolling,
			selection = selection,
			onCellClickEnabled = onCellClickEnabled,
			onCellHoverChangedEnabled = onCellHoverChangedEnabled,
			onCellPreparedEnabled = onCellPreparedEnabled,
			onContextMenuPreparingEnabled = onContextMenuPreparingEnabled,
			onEditingStartEnabled = onEditingStartEnabled,
			onEditorPreparedEnabled = onEditorPreparedEnabled,
			onEditorPreparingEnabled = onEditorPreparingEnabled,
			onNodesInitializedEnabled = onNodesInitializedEnabled,
			onRowClickEnabled = onRowClickEnabled,
			onRowPreparedEnabled = onRowPreparedEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxTreeListOptions options) {
		DevExpress.Ui.DxTreeListInterop.Init(Id, options);
	}
	bool? autoExpandAll;
	public bool? AutoExpandAll {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetAutoExpandAll(Id) : autoExpandAll;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetAutoExpandAll(Id, value);
			} else {
				this.autoExpandAll = value;
			}
		}
	}
	object columns;
	public object Columns {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetColumns(Id) : columns;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetColumns(Id, value);
			} else {
				this.columns = value;
			}
		}
	}
	object customizeColumns;
	public object CustomizeColumns {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetCustomizeColumns(Id) : customizeColumns;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetCustomizeColumns(Id, value);
			} else {
				this.customizeColumns = value;
			}
		}
	}
	string dataStructure;
	public string DataStructure {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetDataStructure(Id) : dataStructure;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetDataStructure(Id, value);
			} else {
				this.dataStructure = value;
			}
		}
	}
	object editing;
	public object Editing {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetEditing(Id) : editing;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetEditing(Id, value);
			} else {
				this.editing = value;
			}
		}
	}
	object expandedRowKeys;
	public object ExpandedRowKeys {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetExpandedRowKeys(Id) : expandedRowKeys;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetExpandedRowKeys(Id, value);
			} else {
				this.expandedRowKeys = value;
			}
		}
	}
	bool? expandNodesOnFiltering;
	public bool? ExpandNodesOnFiltering {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetExpandNodesOnFiltering(Id) : expandNodesOnFiltering;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetExpandNodesOnFiltering(Id, value);
			} else {
				this.expandNodesOnFiltering = value;
			}
		}
	}
	object hasItemsExpr;
	public object HasItemsExpr {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetHasItemsExpr(Id) : hasItemsExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetHasItemsExpr(Id, value);
			} else {
				this.hasItemsExpr = value;
			}
		}
	}
	object itemsExpr;
	public object ItemsExpr {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetItemsExpr(Id) : itemsExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetItemsExpr(Id, value);
			} else {
				this.itemsExpr = value;
			}
		}
	}
	object keyExpr;
	public object KeyExpr {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetKeyExpr(Id) : keyExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetKeyExpr(Id, value);
			} else {
				this.keyExpr = value;
			}
		}
	}
	object paging;
	public object Paging {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetPaging(Id) : paging;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetPaging(Id, value);
			} else {
				this.paging = value;
			}
		}
	}
	object parentIdExpr;
	public object ParentIdExpr {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetParentIdExpr(Id) : parentIdExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetParentIdExpr(Id, value);
			} else {
				this.parentIdExpr = value;
			}
		}
	}
	object remoteOperations;
	public object RemoteOperations {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetRemoteOperations(Id) : remoteOperations;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetRemoteOperations(Id, value);
			} else {
				this.remoteOperations = value;
			}
		}
	}
	object rootValue;
	public object RootValue {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetRootValue(Id) : rootValue;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetRootValue(Id, value);
			} else {
				this.rootValue = value;
			}
		}
	}
	object scrolling;
	public object Scrolling {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetScrolling(Id) : scrolling;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetScrolling(Id, value);
			} else {
				this.scrolling = value;
			}
		}
	}
	object selection;
	public object Selection {
		get => isInitialized ? DevExpress.Ui.DxTreeListInterop.GetSelection(Id) : selection;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeListInterop.SetSelection(Id, value);
			} else {
				this.selection = value;
			}
		}
	}
	bool? onCellClickEnabled;
	public bool? OnCellClickEnabled {
		get => onCellClickEnabled;
		set => this.onCellClickEnabled = value;
	}
	bool? onCellHoverChangedEnabled;
	public bool? OnCellHoverChangedEnabled {
		get => onCellHoverChangedEnabled;
		set => this.onCellHoverChangedEnabled = value;
	}
	bool? onCellPreparedEnabled;
	public bool? OnCellPreparedEnabled {
		get => onCellPreparedEnabled;
		set => this.onCellPreparedEnabled = value;
	}
	bool? onContextMenuPreparingEnabled;
	public bool? OnContextMenuPreparingEnabled {
		get => onContextMenuPreparingEnabled;
		set => this.onContextMenuPreparingEnabled = value;
	}
	bool? onEditingStartEnabled;
	public bool? OnEditingStartEnabled {
		get => onEditingStartEnabled;
		set => this.onEditingStartEnabled = value;
	}
	bool? onEditorPreparedEnabled;
	public bool? OnEditorPreparedEnabled {
		get => onEditorPreparedEnabled;
		set => this.onEditorPreparedEnabled = value;
	}
	bool? onEditorPreparingEnabled;
	public bool? OnEditorPreparingEnabled {
		get => onEditorPreparingEnabled;
		set => this.onEditorPreparingEnabled = value;
	}
	bool? onNodesInitializedEnabled;
	public bool? OnNodesInitializedEnabled {
		get => onNodesInitializedEnabled;
		set => this.onNodesInitializedEnabled = value;
	}
	bool? onRowClickEnabled;
	public bool? OnRowClickEnabled {
		get => onRowClickEnabled;
		set => this.onRowClickEnabled = value;
	}
	bool? onRowPreparedEnabled;
	public bool? OnRowPreparedEnabled {
		get => onRowPreparedEnabled;
		set => this.onRowPreparedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxTreeListInterop.CellClick += DxTreeList_CellClick;
		DevExpress.Ui.DxTreeListInterop.CellHoverChanged += DxTreeList_CellHoverChanged;
		DevExpress.Ui.DxTreeListInterop.CellPrepared += DxTreeList_CellPrepared;
		DevExpress.Ui.DxTreeListInterop.ContextMenuPreparing += DxTreeList_ContextMenuPreparing;
		DevExpress.Ui.DxTreeListInterop.EditingStart += DxTreeList_EditingStart;
		DevExpress.Ui.DxTreeListInterop.EditorPrepared += DxTreeList_EditorPrepared;
		DevExpress.Ui.DxTreeListInterop.EditorPreparing += DxTreeList_EditorPreparing;
		DevExpress.Ui.DxTreeListInterop.NodesInitialized += DxTreeList_NodesInitialized;
		DevExpress.Ui.DxTreeListInterop.RowClick += DxTreeList_RowClick;
		DevExpress.Ui.DxTreeListInterop.RowPrepared += DxTreeList_RowPrepared;
	}
	public Action CellClick { get; set; }
	void DxTreeList_CellClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			CellClick?.Invoke();
		}
	}
	public Action CellHoverChanged { get; set; }
	void DxTreeList_CellHoverChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			CellHoverChanged?.Invoke();
		}
	}
	public Action CellPrepared { get; set; }
	void DxTreeList_CellPrepared(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			CellPrepared?.Invoke();
		}
	}
	public Action ContextMenuPreparing { get; set; }
	void DxTreeList_ContextMenuPreparing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContextMenuPreparing?.Invoke();
		}
	}
	public Action EditingStart { get; set; }
	void DxTreeList_EditingStart(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			EditingStart?.Invoke();
		}
	}
	public Action EditorPrepared { get; set; }
	void DxTreeList_EditorPrepared(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			EditorPrepared?.Invoke();
		}
	}
	public Action EditorPreparing { get; set; }
	void DxTreeList_EditorPreparing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			EditorPreparing?.Invoke();
		}
	}
	public Action NodesInitialized { get; set; }
	void DxTreeList_NodesInitialized(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			NodesInitialized?.Invoke();
		}
	}
	public Action RowClick { get; set; }
	void DxTreeList_RowClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowClick?.Invoke();
		}
	}
	public Action RowPrepared { get; set; }
	void DxTreeList_RowPrepared(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowPrepared?.Invoke();
		}
	}
	public void Dispose() {
		DevExpress.Ui.DxTreeListInterop.CellClick -= DxTreeList_CellClick;
		DevExpress.Ui.DxTreeListInterop.CellHoverChanged -= DxTreeList_CellHoverChanged;
		DevExpress.Ui.DxTreeListInterop.CellPrepared -= DxTreeList_CellPrepared;
		DevExpress.Ui.DxTreeListInterop.ContextMenuPreparing -= DxTreeList_ContextMenuPreparing;
		DevExpress.Ui.DxTreeListInterop.EditingStart -= DxTreeList_EditingStart;
		DevExpress.Ui.DxTreeListInterop.EditorPrepared -= DxTreeList_EditorPrepared;
		DevExpress.Ui.DxTreeListInterop.EditorPreparing -= DxTreeList_EditorPreparing;
		DevExpress.Ui.DxTreeListInterop.NodesInitialized -= DxTreeList_NodesInitialized;
		DevExpress.Ui.DxTreeListInterop.RowClick -= DxTreeList_RowClick;
		DevExpress.Ui.DxTreeListInterop.RowPrepared -= DxTreeList_RowPrepared;
	}
}
