@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxTreeViewOptions>

<div id="@Id"></div>

@functions {
	public DxTreeView() : base("DxTreeView") { }
	protected override DevExpress.Ui.DxTreeViewOptions CreateOptions() {
		return new DevExpress.Ui.DxTreeViewOptions {
			animationEnabled = animationEnabled,
			createChildren = createChildren,
			dataStructure = dataStructure,
			expandAllEnabled = expandAllEnabled,
			expandedExpr = expandedExpr,
			expandNodesRecursive = expandNodesRecursive,
			hasItemsExpr = hasItemsExpr,
			items = items,
			parentIdExpr = parentIdExpr,
			rootValue = rootValue,
			scrollDirection = scrollDirection,
			selectAllText = selectAllText,
			selectByClick = selectByClick,
			selectionMode = selectionMode,
			selectNodesRecursive = selectNodesRecursive,
			showCheckBoxesMode = showCheckBoxesMode,
			virtualModeEnabled = virtualModeEnabled,
			onItemClickEnabled = onItemClickEnabled,
			onItemCollapsedEnabled = onItemCollapsedEnabled,
			onItemContextMenuEnabled = onItemContextMenuEnabled,
			onItemExpandedEnabled = onItemExpandedEnabled,
			onItemHoldEnabled = onItemHoldEnabled,
			onItemRenderedEnabled = onItemRenderedEnabled,
			onItemSelectionChangedEnabled = onItemSelectionChangedEnabled,
			onSelectionChangedEnabled = onSelectionChangedEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxTreeViewOptions options) {
		DevExpress.Ui.DxTreeViewInterop.Init(Id, options);
	}
	bool? animationEnabled;
	public bool? AnimationEnabled {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetAnimationEnabled(Id) : animationEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetAnimationEnabled(Id, value);
			} else {
				this.animationEnabled = value;
			}
		}
	}
	object createChildren;
	public object CreateChildren {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetCreateChildren(Id) : createChildren;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetCreateChildren(Id, value);
			} else {
				this.createChildren = value;
			}
		}
	}
	string dataStructure;
	public string DataStructure {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetDataStructure(Id) : dataStructure;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetDataStructure(Id, value);
			} else {
				this.dataStructure = value;
			}
		}
	}
	bool? expandAllEnabled;
	public bool? ExpandAllEnabled {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetExpandAllEnabled(Id) : expandAllEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetExpandAllEnabled(Id, value);
			} else {
				this.expandAllEnabled = value;
			}
		}
	}
	object expandedExpr;
	public object ExpandedExpr {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetExpandedExpr(Id) : expandedExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetExpandedExpr(Id, value);
			} else {
				this.expandedExpr = value;
			}
		}
	}
	bool? expandNodesRecursive;
	public bool? ExpandNodesRecursive {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetExpandNodesRecursive(Id) : expandNodesRecursive;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetExpandNodesRecursive(Id, value);
			} else {
				this.expandNodesRecursive = value;
			}
		}
	}
	object hasItemsExpr;
	public object HasItemsExpr {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetHasItemsExpr(Id) : hasItemsExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetHasItemsExpr(Id, value);
			} else {
				this.hasItemsExpr = value;
			}
		}
	}
	object items;
	public object Items {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetItems(Id) : items;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetItems(Id, value);
			} else {
				this.items = value;
			}
		}
	}
	object parentIdExpr;
	public object ParentIdExpr {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetParentIdExpr(Id) : parentIdExpr;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetParentIdExpr(Id, value);
			} else {
				this.parentIdExpr = value;
			}
		}
	}
	object rootValue;
	public object RootValue {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetRootValue(Id) : rootValue;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetRootValue(Id, value);
			} else {
				this.rootValue = value;
			}
		}
	}
	string scrollDirection;
	public string ScrollDirection {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetScrollDirection(Id) : scrollDirection;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetScrollDirection(Id, value);
			} else {
				this.scrollDirection = value;
			}
		}
	}
	string selectAllText;
	public string SelectAllText {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetSelectAllText(Id) : selectAllText;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetSelectAllText(Id, value);
			} else {
				this.selectAllText = value;
			}
		}
	}
	bool? selectByClick;
	public bool? SelectByClick {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetSelectByClick(Id) : selectByClick;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetSelectByClick(Id, value);
			} else {
				this.selectByClick = value;
			}
		}
	}
	string selectionMode;
	public string SelectionMode {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetSelectionMode(Id) : selectionMode;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetSelectionMode(Id, value);
			} else {
				this.selectionMode = value;
			}
		}
	}
	bool? selectNodesRecursive;
	public bool? SelectNodesRecursive {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetSelectNodesRecursive(Id) : selectNodesRecursive;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetSelectNodesRecursive(Id, value);
			} else {
				this.selectNodesRecursive = value;
			}
		}
	}
	string showCheckBoxesMode;
	public string ShowCheckBoxesMode {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetShowCheckBoxesMode(Id) : showCheckBoxesMode;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetShowCheckBoxesMode(Id, value);
			} else {
				this.showCheckBoxesMode = value;
			}
		}
	}
	bool? virtualModeEnabled;
	public bool? VirtualModeEnabled {
		get => isInitialized ? DevExpress.Ui.DxTreeViewInterop.GetVirtualModeEnabled(Id) : virtualModeEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxTreeViewInterop.SetVirtualModeEnabled(Id, value);
			} else {
				this.virtualModeEnabled = value;
			}
		}
	}
	bool? onItemClickEnabled;
	public bool? OnItemClickEnabled {
		get => onItemClickEnabled;
		set => this.onItemClickEnabled = value;
	}
	bool? onItemCollapsedEnabled;
	public bool? OnItemCollapsedEnabled {
		get => onItemCollapsedEnabled;
		set => this.onItemCollapsedEnabled = value;
	}
	bool? onItemContextMenuEnabled;
	public bool? OnItemContextMenuEnabled {
		get => onItemContextMenuEnabled;
		set => this.onItemContextMenuEnabled = value;
	}
	bool? onItemExpandedEnabled;
	public bool? OnItemExpandedEnabled {
		get => onItemExpandedEnabled;
		set => this.onItemExpandedEnabled = value;
	}
	bool? onItemHoldEnabled;
	public bool? OnItemHoldEnabled {
		get => onItemHoldEnabled;
		set => this.onItemHoldEnabled = value;
	}
	bool? onItemRenderedEnabled;
	public bool? OnItemRenderedEnabled {
		get => onItemRenderedEnabled;
		set => this.onItemRenderedEnabled = value;
	}
	bool? onItemSelectionChangedEnabled;
	public bool? OnItemSelectionChangedEnabled {
		get => onItemSelectionChangedEnabled;
		set => this.onItemSelectionChangedEnabled = value;
	}
	bool? onSelectionChangedEnabled;
	public bool? OnSelectionChangedEnabled {
		get => onSelectionChangedEnabled;
		set => this.onSelectionChangedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxTreeViewInterop.ItemClick += DxTreeView_ItemClick;
		DevExpress.Ui.DxTreeViewInterop.ItemCollapsed += DxTreeView_ItemCollapsed;
		DevExpress.Ui.DxTreeViewInterop.ItemContextMenu += DxTreeView_ItemContextMenu;
		DevExpress.Ui.DxTreeViewInterop.ItemExpanded += DxTreeView_ItemExpanded;
		DevExpress.Ui.DxTreeViewInterop.ItemHold += DxTreeView_ItemHold;
		DevExpress.Ui.DxTreeViewInterop.ItemRendered += DxTreeView_ItemRendered;
		DevExpress.Ui.DxTreeViewInterop.ItemSelectionChanged += DxTreeView_ItemSelectionChanged;
		DevExpress.Ui.DxTreeViewInterop.SelectionChanged += DxTreeView_SelectionChanged;
	}
	public Action ItemClick { get; set; }
	void DxTreeView_ItemClick(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemClick?.Invoke();
		}
	}
	public Action ItemCollapsed { get; set; }
	void DxTreeView_ItemCollapsed(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemCollapsed?.Invoke();
		}
	}
	public Action ItemContextMenu { get; set; }
	void DxTreeView_ItemContextMenu(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemContextMenu?.Invoke();
		}
	}
	public Action ItemExpanded { get; set; }
	void DxTreeView_ItemExpanded(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemExpanded?.Invoke();
		}
	}
	public Action ItemHold { get; set; }
	void DxTreeView_ItemHold(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemHold?.Invoke();
		}
	}
	public Action ItemRendered { get; set; }
	void DxTreeView_ItemRendered(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemRendered?.Invoke();
		}
	}
	public Action ItemSelectionChanged { get; set; }
	void DxTreeView_ItemSelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ItemSelectionChanged?.Invoke();
		}
	}
	public Action SelectionChanged { get; set; }
	void DxTreeView_SelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SelectionChanged?.Invoke();
		}
	}
	public void CollapseItem(object itemData) {
		DevExpress.Ui.DxTreeViewInterop.CollapseItem(Id, itemData);
	}
	public void ExpandItem(object itemData) {
		DevExpress.Ui.DxTreeViewInterop.ExpandItem(Id, itemData);
	}
	public object GetNodes() {
		return DevExpress.Ui.DxTreeViewInterop.GetNodes(Id);
	}
	public void SelectAll() {
		DevExpress.Ui.DxTreeViewInterop.SelectAll(Id);
	}
	public void SelectItem(object itemData) {
		DevExpress.Ui.DxTreeViewInterop.SelectItem(Id, itemData);
	}
	public void UnselectAll() {
		DevExpress.Ui.DxTreeViewInterop.UnselectAll(Id);
	}
	public void UnselectItem(object itemData) {
		DevExpress.Ui.DxTreeViewInterop.UnselectItem(Id, itemData);
	}
	public object UpdateDimensions() {
		return DevExpress.Ui.DxTreeViewInterop.UpdateDimensions(Id);
	}
	public void Dispose() {
		DevExpress.Ui.DxTreeViewInterop.ItemClick -= DxTreeView_ItemClick;
		DevExpress.Ui.DxTreeViewInterop.ItemCollapsed -= DxTreeView_ItemCollapsed;
		DevExpress.Ui.DxTreeViewInterop.ItemContextMenu -= DxTreeView_ItemContextMenu;
		DevExpress.Ui.DxTreeViewInterop.ItemExpanded -= DxTreeView_ItemExpanded;
		DevExpress.Ui.DxTreeViewInterop.ItemHold -= DxTreeView_ItemHold;
		DevExpress.Ui.DxTreeViewInterop.ItemRendered -= DxTreeView_ItemRendered;
		DevExpress.Ui.DxTreeViewInterop.ItemSelectionChanged -= DxTreeView_ItemSelectionChanged;
		DevExpress.Ui.DxTreeViewInterop.SelectionChanged -= DxTreeView_SelectionChanged;
	}
}
