@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.DxValidationSummaryOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public DxValidationSummary() : base("DxValidationSummary") { }
	protected override DevExpress.Ui.DxValidationSummaryOptions CreateOptions() {
		return new DevExpress.Ui.DxValidationSummaryOptions {
			validationGroup = validationGroup,
		};
	}
	protected override Task Init(DevExpress.Ui.DxValidationSummaryOptions options) {
return 		DevExpress.Ui.DxValidationSummaryInterop.Init(dxTarget, options);
	}
	string validationGroup;
	[Parameter]
	string ValidationGroup {
		get => isInitialized ? DevExpress.Ui.DxValidationSummaryInterop.GetValidationGroup(dxTarget).Result : validationGroup;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxValidationSummaryInterop.SetValidationGroup(dxTarget, value);
			} else {
				this.validationGroup = value;
			}
		}
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
	}
	public void Dispose() {
	}
}
