@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.DxValidatorOptions>

<div id="@Id"></div>

@functions {
	public DxValidator() : base("DxValidator") { }
	protected override DevExpress.Ui.DxValidatorOptions CreateOptions() {
		return new DevExpress.Ui.DxValidatorOptions {
			adapter = adapter,
			name = name,
			validationGroup = validationGroup,
			validationRules = validationRules,
			onValidatedEnabled = onValidatedEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.DxValidatorOptions options) {
		DevExpress.Ui.DxValidatorInterop.Init(Id, options);
	}
	object adapter;
	public object Adapter {
		get => isInitialized ? DevExpress.Ui.DxValidatorInterop.GetAdapter(Id) : adapter;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxValidatorInterop.SetAdapter(Id, value);
			} else {
				this.adapter = value;
			}
		}
	}
	string name;
	public string Name {
		get => isInitialized ? DevExpress.Ui.DxValidatorInterop.GetName(Id) : name;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxValidatorInterop.SetName(Id, value);
			} else {
				this.name = value;
			}
		}
	}
	string validationGroup;
	public string ValidationGroup {
		get => isInitialized ? DevExpress.Ui.DxValidatorInterop.GetValidationGroup(Id) : validationGroup;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxValidatorInterop.SetValidationGroup(Id, value);
			} else {
				this.validationGroup = value;
			}
		}
	}
	object validationRules;
	public object ValidationRules {
		get => isInitialized ? DevExpress.Ui.DxValidatorInterop.GetValidationRules(Id) : validationRules;
		set {
			if (isInitialized) {
				DevExpress.Ui.DxValidatorInterop.SetValidationRules(Id, value);
			} else {
				this.validationRules = value;
			}
		}
	}
	bool? onValidatedEnabled;
	public bool? OnValidatedEnabled {
		get => onValidatedEnabled;
		set => this.onValidatedEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.DxValidatorInterop.Validated += DxValidator_Validated;
	}
	public Action Validated { get; set; }
	void DxValidator_Validated(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			Validated?.Invoke();
		}
	}
	public void Focus() {
		DevExpress.Ui.DxValidatorInterop.Focus(Id);
	}
	public void Reset() {
		DevExpress.Ui.DxValidatorInterop.Reset(Id);
	}
	public object Validate() {
		return DevExpress.Ui.DxValidatorInterop.Validate(Id);
	}
	public void Dispose() {
		DevExpress.Ui.DxValidatorInterop.Validated -= DxValidator_Validated;
	}
}
