@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorComponent<DevExpress.Ui.GridBaseOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public GridBase() : base("GridBase") { }
	protected override DevExpress.Ui.GridBaseOptions CreateOptions() {
		return new DevExpress.Ui.GridBaseOptions {
			allowColumnReordering = allowColumnReordering,
			allowColumnResizing = allowColumnResizing,
			cacheEnabled = cacheEnabled,
			cellHintEnabled = cellHintEnabled,
			columnAutoWidth = columnAutoWidth,
			columnChooser = columnChooser,
			columnFixing = columnFixing,
			columnHidingEnabled = columnHidingEnabled,
			columnMinWidth = columnMinWidth,
			columnResizingMode = columnResizingMode,
			columns = columns,
			columnWidth = columnWidth,
			dataSource = dataSource,
			dateSerializationFormat = dateSerializationFormat,
			editing = editing,
			errorRowEnabled = errorRowEnabled,
			filterBuilder = filterBuilder,
			filterBuilderPopup = filterBuilderPopup,
			filterPanel = filterPanel,
			filterRow = filterRow,
			filterSyncEnabled = filterSyncEnabled,
			filterValue = filterValue,
			headerFilter = headerFilter,
			loadPanel = loadPanel,
			noDataText = noDataText,
			pager = pager,
			paging = paging,
			rowAlternationEnabled = rowAlternationEnabled,
			scrolling = scrolling,
			searchPanel = searchPanel,
			selectedRowKeys = selectedRowKeys,
			selection = selection,
			showBorders = showBorders,
			showColumnHeaders = showColumnHeaders,
			showColumnLines = showColumnLines,
			showRowLines = showRowLines,
			sorting = sorting,
			stateStoring = stateStoring,
			twoWayBindingEnabled = twoWayBindingEnabled,
			wordWrapEnabled = wordWrapEnabled,
			onAdaptiveDetailRowPreparingEnabled = onAdaptiveDetailRowPreparingEnabled,
			onDataErrorOccurredEnabled = onDataErrorOccurredEnabled,
			onInitNewRowEnabled = onInitNewRowEnabled,
			onKeyDownEnabled = onKeyDownEnabled,
			onRowCollapsedEnabled = onRowCollapsedEnabled,
			onRowCollapsingEnabled = onRowCollapsingEnabled,
			onRowExpandedEnabled = onRowExpandedEnabled,
			onRowExpandingEnabled = onRowExpandingEnabled,
			onRowInsertedEnabled = onRowInsertedEnabled,
			onRowInsertingEnabled = onRowInsertingEnabled,
			onRowRemovedEnabled = onRowRemovedEnabled,
			onRowRemovingEnabled = onRowRemovingEnabled,
			onRowUpdatedEnabled = onRowUpdatedEnabled,
			onRowUpdatingEnabled = onRowUpdatingEnabled,
			onRowValidatingEnabled = onRowValidatingEnabled,
			onSelectionChangedEnabled = onSelectionChangedEnabled,
			onToolbarPreparingEnabled = onToolbarPreparingEnabled,
		};
	}
	protected override Task Init(DevExpress.Ui.GridBaseOptions options) {
return 		DevExpress.Ui.GridBaseInterop.Init(dxTarget, options);
	}
	bool? allowColumnReordering;
	[Parameter]
	bool? AllowColumnReordering {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetAllowColumnReordering(dxTarget).Result : allowColumnReordering;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetAllowColumnReordering(dxTarget, value);
			} else {
				this.allowColumnReordering = value;
			}
		}
	}
	bool? allowColumnResizing;
	[Parameter]
	bool? AllowColumnResizing {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetAllowColumnResizing(dxTarget).Result : allowColumnResizing;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetAllowColumnResizing(dxTarget, value);
			} else {
				this.allowColumnResizing = value;
			}
		}
	}
	bool? cacheEnabled;
	[Parameter]
	bool? CacheEnabled {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetCacheEnabled(dxTarget).Result : cacheEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetCacheEnabled(dxTarget, value);
			} else {
				this.cacheEnabled = value;
			}
		}
	}
	bool? cellHintEnabled;
	[Parameter]
	bool? CellHintEnabled {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetCellHintEnabled(dxTarget).Result : cellHintEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetCellHintEnabled(dxTarget, value);
			} else {
				this.cellHintEnabled = value;
			}
		}
	}
	bool? columnAutoWidth;
	[Parameter]
	bool? ColumnAutoWidth {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetColumnAutoWidth(dxTarget).Result : columnAutoWidth;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetColumnAutoWidth(dxTarget, value);
			} else {
				this.columnAutoWidth = value;
			}
		}
	}
	object columnChooser;
	[Parameter]
	object ColumnChooser {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetColumnChooser(dxTarget).Result : columnChooser;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetColumnChooser(dxTarget, value);
			} else {
				this.columnChooser = value;
			}
		}
	}
	object columnFixing;
	[Parameter]
	object ColumnFixing {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetColumnFixing(dxTarget).Result : columnFixing;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetColumnFixing(dxTarget, value);
			} else {
				this.columnFixing = value;
			}
		}
	}
	bool? columnHidingEnabled;
	[Parameter]
	bool? ColumnHidingEnabled {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetColumnHidingEnabled(dxTarget).Result : columnHidingEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetColumnHidingEnabled(dxTarget, value);
			} else {
				this.columnHidingEnabled = value;
			}
		}
	}
	float? columnMinWidth;
	[Parameter]
	float? ColumnMinWidth {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetColumnMinWidth(dxTarget).Result : columnMinWidth;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetColumnMinWidth(dxTarget, value);
			} else {
				this.columnMinWidth = value;
			}
		}
	}
	string columnResizingMode;
	[Parameter]
	string ColumnResizingMode {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetColumnResizingMode(dxTarget).Result : columnResizingMode;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetColumnResizingMode(dxTarget, value);
			} else {
				this.columnResizingMode = value;
			}
		}
	}
	object columns;
	[Parameter]
	object Columns {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetColumns(dxTarget).Result : columns;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetColumns(dxTarget, value);
			} else {
				this.columns = value;
			}
		}
	}
	float? columnWidth;
	[Parameter]
	float? ColumnWidth {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetColumnWidth(dxTarget).Result : columnWidth;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetColumnWidth(dxTarget, value);
			} else {
				this.columnWidth = value;
			}
		}
	}
	object dataSource;
	[Parameter]
	object DataSource {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetDataSource(dxTarget).Result : dataSource;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetDataSource(dxTarget, value);
			} else {
				this.dataSource = value;
			}
		}
	}
	string dateSerializationFormat;
	[Parameter]
	string DateSerializationFormat {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetDateSerializationFormat(dxTarget).Result : dateSerializationFormat;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetDateSerializationFormat(dxTarget, value);
			} else {
				this.dateSerializationFormat = value;
			}
		}
	}
	object editing;
	[Parameter]
	object Editing {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetEditing(dxTarget).Result : editing;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetEditing(dxTarget, value);
			} else {
				this.editing = value;
			}
		}
	}
	bool? errorRowEnabled;
	[Parameter]
	bool? ErrorRowEnabled {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetErrorRowEnabled(dxTarget).Result : errorRowEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetErrorRowEnabled(dxTarget, value);
			} else {
				this.errorRowEnabled = value;
			}
		}
	}
	object filterBuilder;
	[Parameter]
	object FilterBuilder {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetFilterBuilder(dxTarget).Result : filterBuilder;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetFilterBuilder(dxTarget, value);
			} else {
				this.filterBuilder = value;
			}
		}
	}
	object filterBuilderPopup;
	[Parameter]
	object FilterBuilderPopup {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetFilterBuilderPopup(dxTarget).Result : filterBuilderPopup;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetFilterBuilderPopup(dxTarget, value);
			} else {
				this.filterBuilderPopup = value;
			}
		}
	}
	object filterPanel;
	[Parameter]
	object FilterPanel {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetFilterPanel(dxTarget).Result : filterPanel;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetFilterPanel(dxTarget, value);
			} else {
				this.filterPanel = value;
			}
		}
	}
	object filterRow;
	[Parameter]
	object FilterRow {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetFilterRow(dxTarget).Result : filterRow;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetFilterRow(dxTarget, value);
			} else {
				this.filterRow = value;
			}
		}
	}
	object filterSyncEnabled;
	[Parameter]
	object FilterSyncEnabled {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetFilterSyncEnabled(dxTarget).Result : filterSyncEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetFilterSyncEnabled(dxTarget, value);
			} else {
				this.filterSyncEnabled = value;
			}
		}
	}
	object filterValue;
	[Parameter]
	object FilterValue {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetFilterValue(dxTarget).Result : filterValue;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetFilterValue(dxTarget, value);
			} else {
				this.filterValue = value;
			}
		}
	}
	object headerFilter;
	[Parameter]
	object HeaderFilter {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetHeaderFilter(dxTarget).Result : headerFilter;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetHeaderFilter(dxTarget, value);
			} else {
				this.headerFilter = value;
			}
		}
	}
	object loadPanel;
	[Parameter]
	object LoadPanel {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetLoadPanel(dxTarget).Result : loadPanel;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetLoadPanel(dxTarget, value);
			} else {
				this.loadPanel = value;
			}
		}
	}
	string noDataText;
	[Parameter]
	string NoDataText {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetNoDataText(dxTarget).Result : noDataText;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetNoDataText(dxTarget, value);
			} else {
				this.noDataText = value;
			}
		}
	}
	object pager;
	[Parameter]
	object Pager {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetPager(dxTarget).Result : pager;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetPager(dxTarget, value);
			} else {
				this.pager = value;
			}
		}
	}
	object paging;
	[Parameter]
	object Paging {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetPaging(dxTarget).Result : paging;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetPaging(dxTarget, value);
			} else {
				this.paging = value;
			}
		}
	}
	bool? rowAlternationEnabled;
	[Parameter]
	bool? RowAlternationEnabled {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetRowAlternationEnabled(dxTarget).Result : rowAlternationEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetRowAlternationEnabled(dxTarget, value);
			} else {
				this.rowAlternationEnabled = value;
			}
		}
	}
	object scrolling;
	[Parameter]
	object Scrolling {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetScrolling(dxTarget).Result : scrolling;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetScrolling(dxTarget, value);
			} else {
				this.scrolling = value;
			}
		}
	}
	object searchPanel;
	[Parameter]
	object SearchPanel {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetSearchPanel(dxTarget).Result : searchPanel;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetSearchPanel(dxTarget, value);
			} else {
				this.searchPanel = value;
			}
		}
	}
	object selectedRowKeys;
	[Parameter]
	object SelectedRowKeys {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetSelectedRowKeys(dxTarget).Result : selectedRowKeys;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetSelectedRowKeys(dxTarget, value);
			} else {
				this.selectedRowKeys = value;
			}
		}
	}
	object selection;
	[Parameter]
	object Selection {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetSelection(dxTarget).Result : selection;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetSelection(dxTarget, value);
			} else {
				this.selection = value;
			}
		}
	}
	bool? showBorders;
	[Parameter]
	bool? ShowBorders {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetShowBorders(dxTarget).Result : showBorders;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetShowBorders(dxTarget, value);
			} else {
				this.showBorders = value;
			}
		}
	}
	bool? showColumnHeaders;
	[Parameter]
	bool? ShowColumnHeaders {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetShowColumnHeaders(dxTarget).Result : showColumnHeaders;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetShowColumnHeaders(dxTarget, value);
			} else {
				this.showColumnHeaders = value;
			}
		}
	}
	bool? showColumnLines;
	[Parameter]
	bool? ShowColumnLines {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetShowColumnLines(dxTarget).Result : showColumnLines;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetShowColumnLines(dxTarget, value);
			} else {
				this.showColumnLines = value;
			}
		}
	}
	bool? showRowLines;
	[Parameter]
	bool? ShowRowLines {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetShowRowLines(dxTarget).Result : showRowLines;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetShowRowLines(dxTarget, value);
			} else {
				this.showRowLines = value;
			}
		}
	}
	object sorting;
	[Parameter]
	object Sorting {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetSorting(dxTarget).Result : sorting;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetSorting(dxTarget, value);
			} else {
				this.sorting = value;
			}
		}
	}
	object stateStoring;
	[Parameter]
	object StateStoring {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetStateStoring(dxTarget).Result : stateStoring;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetStateStoring(dxTarget, value);
			} else {
				this.stateStoring = value;
			}
		}
	}
	bool? twoWayBindingEnabled;
	[Parameter]
	bool? TwoWayBindingEnabled {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetTwoWayBindingEnabled(dxTarget).Result : twoWayBindingEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetTwoWayBindingEnabled(dxTarget, value);
			} else {
				this.twoWayBindingEnabled = value;
			}
		}
	}
	bool? wordWrapEnabled;
	[Parameter]
	bool? WordWrapEnabled {
		get => isInitialized ? DevExpress.Ui.GridBaseInterop.GetWordWrapEnabled(dxTarget).Result : wordWrapEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.GridBaseInterop.SetWordWrapEnabled(dxTarget, value);
			} else {
				this.wordWrapEnabled = value;
			}
		}
	}
	bool? onAdaptiveDetailRowPreparingEnabled;
	[Parameter]
	bool? OnAdaptiveDetailRowPreparingEnabled {
		get => onAdaptiveDetailRowPreparingEnabled;
		set => this.onAdaptiveDetailRowPreparingEnabled = value;
	}
	bool? onDataErrorOccurredEnabled;
	[Parameter]
	bool? OnDataErrorOccurredEnabled {
		get => onDataErrorOccurredEnabled;
		set => this.onDataErrorOccurredEnabled = value;
	}
	bool? onInitNewRowEnabled;
	[Parameter]
	bool? OnInitNewRowEnabled {
		get => onInitNewRowEnabled;
		set => this.onInitNewRowEnabled = value;
	}
	bool? onKeyDownEnabled;
	[Parameter]
	bool? OnKeyDownEnabled {
		get => onKeyDownEnabled;
		set => this.onKeyDownEnabled = value;
	}
	bool? onRowCollapsedEnabled;
	[Parameter]
	bool? OnRowCollapsedEnabled {
		get => onRowCollapsedEnabled;
		set => this.onRowCollapsedEnabled = value;
	}
	bool? onRowCollapsingEnabled;
	[Parameter]
	bool? OnRowCollapsingEnabled {
		get => onRowCollapsingEnabled;
		set => this.onRowCollapsingEnabled = value;
	}
	bool? onRowExpandedEnabled;
	[Parameter]
	bool? OnRowExpandedEnabled {
		get => onRowExpandedEnabled;
		set => this.onRowExpandedEnabled = value;
	}
	bool? onRowExpandingEnabled;
	[Parameter]
	bool? OnRowExpandingEnabled {
		get => onRowExpandingEnabled;
		set => this.onRowExpandingEnabled = value;
	}
	bool? onRowInsertedEnabled;
	[Parameter]
	bool? OnRowInsertedEnabled {
		get => onRowInsertedEnabled;
		set => this.onRowInsertedEnabled = value;
	}
	bool? onRowInsertingEnabled;
	[Parameter]
	bool? OnRowInsertingEnabled {
		get => onRowInsertingEnabled;
		set => this.onRowInsertingEnabled = value;
	}
	bool? onRowRemovedEnabled;
	[Parameter]
	bool? OnRowRemovedEnabled {
		get => onRowRemovedEnabled;
		set => this.onRowRemovedEnabled = value;
	}
	bool? onRowRemovingEnabled;
	[Parameter]
	bool? OnRowRemovingEnabled {
		get => onRowRemovingEnabled;
		set => this.onRowRemovingEnabled = value;
	}
	bool? onRowUpdatedEnabled;
	[Parameter]
	bool? OnRowUpdatedEnabled {
		get => onRowUpdatedEnabled;
		set => this.onRowUpdatedEnabled = value;
	}
	bool? onRowUpdatingEnabled;
	[Parameter]
	bool? OnRowUpdatingEnabled {
		get => onRowUpdatingEnabled;
		set => this.onRowUpdatingEnabled = value;
	}
	bool? onRowValidatingEnabled;
	[Parameter]
	bool? OnRowValidatingEnabled {
		get => onRowValidatingEnabled;
		set => this.onRowValidatingEnabled = value;
	}
	bool? onSelectionChangedEnabled;
	[Parameter]
	bool? OnSelectionChangedEnabled {
		get => onSelectionChangedEnabled;
		set => this.onSelectionChangedEnabled = value;
	}
	bool? onToolbarPreparingEnabled;
	[Parameter]
	bool? OnToolbarPreparingEnabled {
		get => onToolbarPreparingEnabled;
		set => this.onToolbarPreparingEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.GridBaseInterop.AdaptiveDetailRowPreparing += GridBase_AdaptiveDetailRowPreparing;
		DevExpress.Ui.GridBaseInterop.DataErrorOccurred += GridBase_DataErrorOccurred;
		DevExpress.Ui.GridBaseInterop.InitNewRow += GridBase_InitNewRow;
		DevExpress.Ui.GridBaseInterop.KeyDown += GridBase_KeyDown;
		DevExpress.Ui.GridBaseInterop.RowCollapsed += GridBase_RowCollapsed;
		DevExpress.Ui.GridBaseInterop.RowCollapsing += GridBase_RowCollapsing;
		DevExpress.Ui.GridBaseInterop.RowExpanded += GridBase_RowExpanded;
		DevExpress.Ui.GridBaseInterop.RowExpanding += GridBase_RowExpanding;
		DevExpress.Ui.GridBaseInterop.RowInserted += GridBase_RowInserted;
		DevExpress.Ui.GridBaseInterop.RowInserting += GridBase_RowInserting;
		DevExpress.Ui.GridBaseInterop.RowRemoved += GridBase_RowRemoved;
		DevExpress.Ui.GridBaseInterop.RowRemoving += GridBase_RowRemoving;
		DevExpress.Ui.GridBaseInterop.RowUpdated += GridBase_RowUpdated;
		DevExpress.Ui.GridBaseInterop.RowUpdating += GridBase_RowUpdating;
		DevExpress.Ui.GridBaseInterop.RowValidating += GridBase_RowValidating;
		DevExpress.Ui.GridBaseInterop.SelectionChanged += GridBase_SelectionChanged;
		DevExpress.Ui.GridBaseInterop.ToolbarPreparing += GridBase_ToolbarPreparing;
	}
	[Parameter]
	Action AdaptiveDetailRowPreparing { get; set; }
	void GridBase_AdaptiveDetailRowPreparing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			AdaptiveDetailRowPreparing?.Invoke();
		}
	}
	[Parameter]
	Action DataErrorOccurred { get; set; }
	void GridBase_DataErrorOccurred(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			DataErrorOccurred?.Invoke();
		}
	}
	[Parameter]
	Action InitNewRow { get; set; }
	void GridBase_InitNewRow(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			InitNewRow?.Invoke();
		}
	}
	[Parameter]
	Action KeyDown { get; set; }
	void GridBase_KeyDown(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			KeyDown?.Invoke();
		}
	}
	[Parameter]
	Action RowCollapsed { get; set; }
	void GridBase_RowCollapsed(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowCollapsed?.Invoke();
		}
	}
	[Parameter]
	Action RowCollapsing { get; set; }
	void GridBase_RowCollapsing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowCollapsing?.Invoke();
		}
	}
	[Parameter]
	Action RowExpanded { get; set; }
	void GridBase_RowExpanded(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowExpanded?.Invoke();
		}
	}
	[Parameter]
	Action RowExpanding { get; set; }
	void GridBase_RowExpanding(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowExpanding?.Invoke();
		}
	}
	[Parameter]
	Action RowInserted { get; set; }
	void GridBase_RowInserted(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowInserted?.Invoke();
		}
	}
	[Parameter]
	Action RowInserting { get; set; }
	void GridBase_RowInserting(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowInserting?.Invoke();
		}
	}
	[Parameter]
	Action RowRemoved { get; set; }
	void GridBase_RowRemoved(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowRemoved?.Invoke();
		}
	}
	[Parameter]
	Action RowRemoving { get; set; }
	void GridBase_RowRemoving(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowRemoving?.Invoke();
		}
	}
	[Parameter]
	Action RowUpdated { get; set; }
	void GridBase_RowUpdated(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowUpdated?.Invoke();
		}
	}
	[Parameter]
	Action RowUpdating { get; set; }
	void GridBase_RowUpdating(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowUpdating?.Invoke();
		}
	}
	[Parameter]
	Action RowValidating { get; set; }
	void GridBase_RowValidating(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			RowValidating?.Invoke();
		}
	}
	[Parameter]
	Action SelectionChanged { get; set; }
	void GridBase_SelectionChanged(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			SelectionChanged?.Invoke();
		}
	}
	[Parameter]
	Action ToolbarPreparing { get; set; }
	void GridBase_ToolbarPreparing(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ToolbarPreparing?.Invoke();
		}
	}
	public void BeginCustomLoading(string messageText) {
		DevExpress.Ui.GridBaseInterop.BeginCustomLoading(dxTarget, messageText);
	}
	public object ByKey(object key) {
		return DevExpress.Ui.GridBaseInterop.ByKey(dxTarget, key).Result;
	}
	public void CancelEditData() {
		DevExpress.Ui.GridBaseInterop.CancelEditData(dxTarget);
	}
	public object CellValue(float rowIndex, string dataField) {
		return DevExpress.Ui.GridBaseInterop.CellValue(dxTarget, rowIndex, dataField).Result;
	}
	public void CellValue(float rowIndex, string dataField, object value) {
		DevExpress.Ui.GridBaseInterop.CellValue(dxTarget, rowIndex, dataField, value);
	}
	public object CellValue(float rowIndex, float visibleColumnIndex) {
		return DevExpress.Ui.GridBaseInterop.CellValue(dxTarget, rowIndex, visibleColumnIndex).Result;
	}
	public void CellValue(float rowIndex, float visibleColumnIndex, object value) {
		DevExpress.Ui.GridBaseInterop.CellValue(dxTarget, rowIndex, visibleColumnIndex, value);
	}
	public void ClearFilter() {
		DevExpress.Ui.GridBaseInterop.ClearFilter(dxTarget);
	}
	public void ClearFilter(string filterName) {
		DevExpress.Ui.GridBaseInterop.ClearFilter(dxTarget, filterName);
	}
	public void ClearSelection() {
		DevExpress.Ui.GridBaseInterop.ClearSelection(dxTarget);
	}
	public void ClearSorting() {
		DevExpress.Ui.GridBaseInterop.ClearSorting(dxTarget);
	}
	public void CloseEditCell() {
		DevExpress.Ui.GridBaseInterop.CloseEditCell(dxTarget);
	}
	public void CollapseAdaptiveDetailRow() {
		DevExpress.Ui.GridBaseInterop.CollapseAdaptiveDetailRow(dxTarget);
	}
	public float ColumnCount() {
		return DevExpress.Ui.GridBaseInterop.ColumnCount(dxTarget).Result;
	}
	public object ColumnOption(object id) {
		return DevExpress.Ui.GridBaseInterop.ColumnOption(dxTarget, id).Result;
	}
	public object ColumnOption(object id, string optionName) {
		return DevExpress.Ui.GridBaseInterop.ColumnOption(dxTarget, id, optionName).Result;
	}
	public void ColumnOption(object id, string optionName, object optionValue) {
		DevExpress.Ui.GridBaseInterop.ColumnOption(dxTarget, id, optionName, optionValue);
	}
	public void ColumnOption(object id, object options) {
		DevExpress.Ui.GridBaseInterop.ColumnOption(dxTarget, id, options);
	}
	public void DeleteColumn(object id) {
		DevExpress.Ui.GridBaseInterop.DeleteColumn(dxTarget, id);
	}
	public void DeleteRow(float rowIndex) {
		DevExpress.Ui.GridBaseInterop.DeleteRow(dxTarget, rowIndex);
	}
	public object DeselectAll() {
		return DevExpress.Ui.GridBaseInterop.DeselectAll(dxTarget).Result;
	}
	public object DeselectRows(object keys) {
		return DevExpress.Ui.GridBaseInterop.DeselectRows(dxTarget, keys).Result;
	}
	public void EditCell(float rowIndex, string dataField) {
		DevExpress.Ui.GridBaseInterop.EditCell(dxTarget, rowIndex, dataField);
	}
	public void EditCell(float rowIndex, float visibleColumnIndex) {
		DevExpress.Ui.GridBaseInterop.EditCell(dxTarget, rowIndex, visibleColumnIndex);
	}
	public void EditRow(float rowIndex) {
		DevExpress.Ui.GridBaseInterop.EditRow(dxTarget, rowIndex);
	}
	public void EndCustomLoading() {
		DevExpress.Ui.GridBaseInterop.EndCustomLoading(dxTarget);
	}
	public void ExpandAdaptiveDetailRow(object key) {
		DevExpress.Ui.GridBaseInterop.ExpandAdaptiveDetailRow(dxTarget, key);
	}
	public object Filter() {
		return DevExpress.Ui.GridBaseInterop.Filter(dxTarget).Result;
	}
	public void Filter(object filterExpr) {
		DevExpress.Ui.GridBaseInterop.Filter(dxTarget, filterExpr);
	}
	public void Focus() {
		DevExpress.Ui.GridBaseInterop.Focus(dxTarget);
	}
	public void Focus(object element) {
		DevExpress.Ui.GridBaseInterop.Focus(dxTarget, element);
	}
	public object GetCellElement(float rowIndex, string dataField) {
		return DevExpress.Ui.GridBaseInterop.GetCellElement(dxTarget, rowIndex, dataField).Result;
	}
	public object GetCellElement(float rowIndex, float visibleColumnIndex) {
		return DevExpress.Ui.GridBaseInterop.GetCellElement(dxTarget, rowIndex, visibleColumnIndex).Result;
	}
	public object GetCombinedFilter() {
		return DevExpress.Ui.GridBaseInterop.GetCombinedFilter(dxTarget).Result;
	}
	public object GetCombinedFilter(bool returnDataField) {
		return DevExpress.Ui.GridBaseInterop.GetCombinedFilter(dxTarget, returnDataField).Result;
	}
	public object GetDataSourceEx() {
		return DevExpress.Ui.GridBaseInterop.GetDataSourceEx(dxTarget).Result;
	}
	public object GetKeyByRowIndex(float rowIndex) {
		return DevExpress.Ui.GridBaseInterop.GetKeyByRowIndex(dxTarget, rowIndex).Result;
	}
	public object GetRowElement(float rowIndex) {
		return DevExpress.Ui.GridBaseInterop.GetRowElement(dxTarget, rowIndex).Result;
	}
	public float GetRowIndexByKey(object key) {
		return DevExpress.Ui.GridBaseInterop.GetRowIndexByKey(dxTarget, key).Result;
	}
	public object GetScrollable() {
		return DevExpress.Ui.GridBaseInterop.GetScrollable(dxTarget).Result;
	}
	public bool HasEditData() {
		return DevExpress.Ui.GridBaseInterop.HasEditData(dxTarget).Result;
	}
	public void HideColumnChooser() {
		DevExpress.Ui.GridBaseInterop.HideColumnChooser(dxTarget);
	}
	public void IsAdaptiveDetailRowExpanded(object key) {
		DevExpress.Ui.GridBaseInterop.IsAdaptiveDetailRowExpanded(dxTarget, key);
	}
	public bool IsRowSelected(object key) {
		return DevExpress.Ui.GridBaseInterop.IsRowSelected(dxTarget, key).Result;
	}
	public object KeyOf(object obj) {
		return DevExpress.Ui.GridBaseInterop.KeyOf(dxTarget, obj).Result;
	}
	public float PageCount() {
		return DevExpress.Ui.GridBaseInterop.PageCount(dxTarget).Result;
	}
	public float PageIndex() {
		return DevExpress.Ui.GridBaseInterop.PageIndex(dxTarget).Result;
	}
	public object PageIndex(float newIndex) {
		return DevExpress.Ui.GridBaseInterop.PageIndex(dxTarget, newIndex).Result;
	}
	public float PageSize() {
		return DevExpress.Ui.GridBaseInterop.PageSize(dxTarget).Result;
	}
	public void PageSize(float value) {
		DevExpress.Ui.GridBaseInterop.PageSize(dxTarget, value);
	}
	public object Refresh() {
		return DevExpress.Ui.GridBaseInterop.Refresh(dxTarget).Result;
	}
	public void RepaintRows(object rowIndexes) {
		DevExpress.Ui.GridBaseInterop.RepaintRows(dxTarget, rowIndexes);
	}
	public object SaveEditData() {
		return DevExpress.Ui.GridBaseInterop.SaveEditData(dxTarget).Result;
	}
	public void SearchByText(string text) {
		DevExpress.Ui.GridBaseInterop.SearchByText(dxTarget, text);
	}
	public object SelectAll() {
		return DevExpress.Ui.GridBaseInterop.SelectAll(dxTarget).Result;
	}
	public object SelectRows(object keys, bool preserve) {
		return DevExpress.Ui.GridBaseInterop.SelectRows(dxTarget, keys, preserve).Result;
	}
	public object SelectRowsByIndexes(object indexes) {
		return DevExpress.Ui.GridBaseInterop.SelectRowsByIndexes(dxTarget, indexes).Result;
	}
	public void ShowColumnChooser() {
		DevExpress.Ui.GridBaseInterop.ShowColumnChooser(dxTarget);
	}
	public object State() {
		return DevExpress.Ui.GridBaseInterop.State(dxTarget).Result;
	}
	public void State(object state) {
		DevExpress.Ui.GridBaseInterop.State(dxTarget, state);
	}
	public void UndeleteRow(float rowIndex) {
		DevExpress.Ui.GridBaseInterop.UndeleteRow(dxTarget, rowIndex);
	}
	public void UpdateDimensions() {
		DevExpress.Ui.GridBaseInterop.UpdateDimensions(dxTarget);
	}
	public void Dispose() {
		DevExpress.Ui.GridBaseInterop.AdaptiveDetailRowPreparing -= GridBase_AdaptiveDetailRowPreparing;
		DevExpress.Ui.GridBaseInterop.DataErrorOccurred -= GridBase_DataErrorOccurred;
		DevExpress.Ui.GridBaseInterop.InitNewRow -= GridBase_InitNewRow;
		DevExpress.Ui.GridBaseInterop.KeyDown -= GridBase_KeyDown;
		DevExpress.Ui.GridBaseInterop.RowCollapsed -= GridBase_RowCollapsed;
		DevExpress.Ui.GridBaseInterop.RowCollapsing -= GridBase_RowCollapsing;
		DevExpress.Ui.GridBaseInterop.RowExpanded -= GridBase_RowExpanded;
		DevExpress.Ui.GridBaseInterop.RowExpanding -= GridBase_RowExpanding;
		DevExpress.Ui.GridBaseInterop.RowInserted -= GridBase_RowInserted;
		DevExpress.Ui.GridBaseInterop.RowInserting -= GridBase_RowInserting;
		DevExpress.Ui.GridBaseInterop.RowRemoved -= GridBase_RowRemoved;
		DevExpress.Ui.GridBaseInterop.RowRemoving -= GridBase_RowRemoving;
		DevExpress.Ui.GridBaseInterop.RowUpdated -= GridBase_RowUpdated;
		DevExpress.Ui.GridBaseInterop.RowUpdating -= GridBase_RowUpdating;
		DevExpress.Ui.GridBaseInterop.RowValidating -= GridBase_RowValidating;
		DevExpress.Ui.GridBaseInterop.SelectionChanged -= GridBase_SelectionChanged;
		DevExpress.Ui.GridBaseInterop.ToolbarPreparing -= GridBase_ToolbarPreparing;
	}
}
