@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.AspNetCore.Blazor
@implements IDisposable
@inherits DxBlazorCompoment<DevExpress.Ui.WidgetOptions>

<div id="@Id" ref="dxTarget"></div>

@functions {
	ElementRef dxTarget;
	public Widget() : base("Widget") { }
	protected override DevExpress.Ui.WidgetOptions CreateOptions() {
		return new DevExpress.Ui.WidgetOptions {
			accessKey = accessKey,
			activeStateEnabled = activeStateEnabled,
			disabled = disabled,
			focusStateEnabled = focusStateEnabled,
			hint = hint,
			hoverStateEnabled = hoverStateEnabled,
			tabIndex = tabIndex,
			visible = visible,
			onContentReadyEnabled = onContentReadyEnabled,
		};
	}
	protected override void Init(DevExpress.Ui.WidgetOptions options) {
		DevExpress.Ui.WidgetInterop.Init(dxTarget, options);
	}
	string accessKey;
	[Parameter]
	string AccessKey {
		get => isInitialized ? DevExpress.Ui.WidgetInterop.GetAccessKey(dxTarget) : accessKey;
		set {
			if (isInitialized) {
				DevExpress.Ui.WidgetInterop.SetAccessKey(dxTarget, value);
			} else {
				this.accessKey = value;
			}
		}
	}
	bool? activeStateEnabled;
	[Parameter]
	bool? ActiveStateEnabled {
		get => isInitialized ? DevExpress.Ui.WidgetInterop.GetActiveStateEnabled(dxTarget) : activeStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.WidgetInterop.SetActiveStateEnabled(dxTarget, value);
			} else {
				this.activeStateEnabled = value;
			}
		}
	}
	bool? disabled;
	[Parameter]
	bool? Disabled {
		get => isInitialized ? DevExpress.Ui.WidgetInterop.GetDisabled(dxTarget) : disabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.WidgetInterop.SetDisabled(dxTarget, value);
			} else {
				this.disabled = value;
			}
		}
	}
	bool? focusStateEnabled;
	[Parameter]
	bool? FocusStateEnabled {
		get => isInitialized ? DevExpress.Ui.WidgetInterop.GetFocusStateEnabled(dxTarget) : focusStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.WidgetInterop.SetFocusStateEnabled(dxTarget, value);
			} else {
				this.focusStateEnabled = value;
			}
		}
	}
	string hint;
	[Parameter]
	string Hint {
		get => isInitialized ? DevExpress.Ui.WidgetInterop.GetHint(dxTarget) : hint;
		set {
			if (isInitialized) {
				DevExpress.Ui.WidgetInterop.SetHint(dxTarget, value);
			} else {
				this.hint = value;
			}
		}
	}
	bool? hoverStateEnabled;
	[Parameter]
	bool? HoverStateEnabled {
		get => isInitialized ? DevExpress.Ui.WidgetInterop.GetHoverStateEnabled(dxTarget) : hoverStateEnabled;
		set {
			if (isInitialized) {
				DevExpress.Ui.WidgetInterop.SetHoverStateEnabled(dxTarget, value);
			} else {
				this.hoverStateEnabled = value;
			}
		}
	}
	float? tabIndex;
	[Parameter]
	float? TabIndex {
		get => isInitialized ? DevExpress.Ui.WidgetInterop.GetTabIndex(dxTarget) : tabIndex;
		set {
			if (isInitialized) {
				DevExpress.Ui.WidgetInterop.SetTabIndex(dxTarget, value);
			} else {
				this.tabIndex = value;
			}
		}
	}
	bool? visible;
	[Parameter]
	bool? Visible {
		get => isInitialized ? DevExpress.Ui.WidgetInterop.GetVisible(dxTarget) : visible;
		set {
			if (isInitialized) {
				DevExpress.Ui.WidgetInterop.SetVisible(dxTarget, value);
			} else {
				this.visible = value;
			}
		}
	}
	bool? onContentReadyEnabled;
	[Parameter]
	bool? OnContentReadyEnabled {
		get => onContentReadyEnabled;
		set => this.onContentReadyEnabled = value;
	}
	protected override async Task OnInitAsync() {
		await base.OnInitAsync();
		DevExpress.Ui.WidgetInterop.ContentReady += Widget_ContentReady;
	}
	[Parameter]
	Action ContentReady { get; set; }
	void Widget_ContentReady(object sender, JQueryEventArgs e) {
		if (e.Identifier == Id) {
			ContentReady?.Invoke();
		}
	}
	public void Focus() {
		DevExpress.Ui.WidgetInterop.Focus(dxTarget);
	}
	public void RegisterKeyHandler(string key, object handler) {
		DevExpress.Ui.WidgetInterop.RegisterKeyHandler(dxTarget, key, handler);
	}
	public void Repaint() {
		DevExpress.Ui.WidgetInterop.Repaint(dxTarget);
	}
	public void Dispose() {
		DevExpress.Ui.WidgetInterop.ContentReady -= Widget_ContentReady;
	}
}
